{% comment %}
  Replace the text below with the handle of your add-on product.
{% endcomment %}

{% assign product = all_products[all] %}

{% unless cart.item_count == 0 or product.empty? or product.variants.first.available == false %}

    {% assign variant_id = product.variants.first.id %}

    <script>
        console.log('cart-apply-discount is connected');
        (function($) {

            var cartItems = {{ cart.items | json }},
                qtyInTheCart = 0,
                cartUpdates = {};

            for (var i=0; i<cartItems.length; i++) {
                if ( cartItems[i].id === {{ variant_id }} ) {
                    qtyInTheCart = cartItems[i].quantity;
                    break;
                }
            }

            if ( ( cartItems.length === 1 ) && ( qtyInTheCart > 0 ) ) {
                cartUpdates = { {{ variant_id }}: 0 }
            }
            else if ( ( cartItems.length >= 1 ) && ( qtyInTheCart !== 1 ) ) {
                cartUpdates = { {{ variant_id }}: 1 }
            }
            else {
                return;
            }

            var params = {
                type: 'POST',
                url: '/cart/update.js',
                data: { updates: cartUpdates },
                dataType: 'json',
                success: function(stuff) {
                    window.location.href = '/cart';
                }
            };

            $.ajax(params);

        })(jQuery);
    </script>

{% endunless %}