  <!-- /snippets/collection-sorting.liquid -->
<div class="md--dn--table full--w lg--up--self--end">

  {% if tags_enabled and sorting_enabled == false %}
  <div class="md--dn--table-cell md--dn--one-half md--dn--align--top">
    <div class="lg--up--hide {{ global__basic_font_size }} mxn1">
      <a class="lg--up--hide px1 inline-block pointer" data-tag-filter-mobile-trigger>
        <div class="inline-block">
        {{ 'collections.general.filter' | t }}
        <span class="font-size--xxxxs inline-block align--middle">
          <span class="chevron-down">{% include 'svg' | icon: 'icon-chevron-down' %}</span>
          <span class="chevron-up hide">{% include 'svg' | icon: 'icon-chevron-up' %}</span>
        </span>
        </div>
      </a>
      <div class="p1 md--dn--hide" data-tag-list>
        <ul class="list--reset m0">
          {% include 'collection__tag-items' %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}

  {% if sorting_enabled %}
  <div class="md--dn--table-cell md--dn--one-half md--dn--align--middle">
    <div class="form-horizontal sortings">
      {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
      <label class="sm--hide {{ global__basic_font_size }}  mr1 sorting" for="SortBy">{{ 'collections.sorting.title' | t }}</label>
      <select name="SortBy" id="SortBy" class="bg--transparent border--{{ section_color }}-text color--{{ section_color }}-text p1 inline-block {{ global__basic_font_size }} pr3">
        <option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>Featured</option>
                <option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>New Arrivals</option>

        <option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
        <option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>Price: Low to High</option>
        <option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>Price: High to Low</option>
      </select>
    </div>
  </div>
  {% endif %}
</div>

