{%- assign section_color = section.settings.color_scheme -%}
{%- include 'global-variables' -%}

{%- assign tags_enabled = section.settings.enable_tag_filter -%}
{%- assign sorting_enabled = section.settings.enable_sort_filter -%}
{%- assign posts_per_row_mobile = section.settings.posts_per_row_mobile -%}
{%- assign posts_per_row_desktop = section.settings.posts_per_row_desktop -%}

<section class="collection {{ global__section_with_padding_class }} color--{{ section_color }}-text bg--{{ section_color }}-background" data-section-type="collection" data-section-id="{{ section.id }}" data-fade-in="{{ fade_in }}">
  <div class="max-site-width px2 lg--up--px3">

    {% assign layout = '' %}
    {% if template contains 'grid' or 'alternate' %}
      {% assign layout = 'grid' %}
    {% endif %}

    {% paginate collection.products by section.settings.no_posts %}

      {% include 'collection__header' %}

      <div class="grid mt3 lg--up--mt4">

        {% if tags_enabled %}
          {% assign expanded = false %}
          {% assign count = 0 %}
          {% for tag in collection.all_tags %}
            {% if current_tags contains tag and count > 10 %}
              {% assign expanded = true %}
            {% endif %}
            {% assign count = count | plus: 1 %}
          {% endfor %}
          <div class="collection__sticky-tags grid__item lg--up--one-seventh {% unless expanded %}lg--up--sticky{% endunless %} top--0 {{ global__basic_font_size }} {% if sorting_enabled == false %}md--dn--hide{% endif %}">
            <a class="lg--up--hide p1 inline-block mxn1 mb1 pointer color--{{ section_color }}-text" data-tag-filter-mobile-trigger>
              <div class="inline-block">
              {{ 'collections.general.filter' | t }}
              <span class="font-size--xxxxs inline-block align--middle">
                <span class="chevron-down">{% include 'svg' | icon: 'icon-chevron-down' %}</span>
                <span class="chevron-up hide">{% include 'svg' | icon: 'icon-chevron-up' %}</span>
              </span>
              </div>
            </a>
            {% comment %}
            <ul class="list--reset m0 mtn1 pb3 lg--up--pb0 lg--up--pt3 md--dn--hide {{ global__basic_font_size }} {% if section.settings.capitalize_tags %}capitalize{% endif %}" data-tag-list>
              {% include 'collection__tag-items' %}
            </ul>
            {% endcomment %}
          </div>
        {% endif %}

        <div class="grid__item pt1 {% if section.settings.enable_tag_filter %}lg--up--one-whole{% endif %}">
          {% if collection.all_products_count > 0 %}
            {% if layout == 'grid' %}
              {% include 'collection__grid-products' %}
            {% else %}
              {% include 'collection__list-products' %}
            {% endif %}
          {% else %}
            <p class="mt2">{{ 'collections.general.no_matches' | t }}</p>
          {% endif %}

          {% if paginate.pages > 1 %}
            {% include 'pagination' %}
          {% endif %}
        </div>
      </div>

    {% endpaginate %}

  </div>
</section>