{%- assign section_color = section.settings.color_scheme -%}
{%- include 'global-variables' -%}

{%- assign tags_enabled = section.settings.enable_tag_filter -%}
{%- assign sorting_enabled = section.settings.enable_sort_filter -%}
{%- assign posts_per_row_mobile = section.settings.posts_per_row_mobile -%}
{%- assign posts_per_row_desktop = section.settings.posts_per_row_desktop -%}

<section class="collection {{ global__section_with_padding_class }} color--{{ section_color }}-text bg--{{ section_color }}-background" data-section-type="collection" data-section-id="{{ section.id }}" data-fade-in="{{ fade_in }}">
  <div class="max-site-width px2 lg--up--px3" id="thisbecomesticky">

    {% assign layout = 'list' %}
    {% if template contains 'grid' %}
      {% assign layout = 'grid' %}
    {% endif %}

    {% paginate collection.products by section.settings.no_posts %}

       <header role="banner">
        <div class="md--up--flex">
          {% if collection.image and section.settings.show_collection_image %}
          <div class="md--up--two-fifths">
            {% assign image = collection.image  %}
            {% capture img_id %}ItemImage-{{ image.id }}{% endcapture %}
            {% capture wrapper_id %}ItemImageWrapper-{{ image.id }}{% endcapture %}
            {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <div id="{{ wrapper_id }}" class="resp-img-wrapper js kba">
              <div style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
                <img id="{{ img_id }}"
                     class="resp-img lazyload maaaz"
                     data-src="{{ img_url }}"
                     data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                     data-aspectratio="{{ image.aspect_ratio }}"
                     data-sizes="auto"
                     alt="{{ image.alt | escape }}">
                 <img id="{{ img_id }}"
                      class="resp-img-placeholder maz"
                      src="{{ image | img_url: '1x1' }}"
                      width="{{ image.width }}"
                      height="{{ image.height }}"
                      alt="{{ image.alt | escape }}">
              </div>
            </div>
            <noscript>
              <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" class="item--image">
            </noscript>
          </div>
          {% endif %}
          <div class="lg--up--one-half lg--up--self--end">
            <div class="lg--up--one-whole lg--up--self--center">
               <h1 id="bc-sf-filter-collection-header" class="f--heading  font-size--xxl line-height-6 wd--font-size--xxxl m0 pb1">
                <span class="">{{ collection.title }}</span>
              </h1>
              {% if collection.description != blank %}
                 <div id="bc-sf-filter-collection-description" class="m0 f--main {{ global__basic_font_size }}">
                  {{ collection.description }}
                </div>
              {% endif %}
            </div>

          </div>
          <div class=" mt3 lg--up--mt0 lg--up--one-half lg--up--flex lg--up--text-align--right">
                <!-- /snippets/collection-sorting.liquid -->
                <div class="md--dn--table full--w lg--up--self--end">
                  {% if tags_enabled and sorting_enabled == false %}
                  <div class="md--dn--table-cell md--dn--one-half md--dn--align--top">
                    <div class="lg--up--hide {{ global__basic_font_size }} mxn1">
                      <a class="lg--up--hide px1 inline-block pointer" data-tag-filter-mobile-trigger>
                        <div class="inline-block">
                        {{ 'collections.general.filter' | t }}
                        <span class="font-size--xxxxs inline-block align--middle">
                          <span class="chevron-down">{% include 'svg' | icon: 'icon-chevron-down' %}</span>
                          <span class="chevron-up hide">{% include 'svg' | icon: 'icon-chevron-up' %}</span>
                        </span>
                        </div>
                      </a>
                      <div class="p1 md--dn--hide" data-tag-list>
                        <ul class="list--reset m0">
                          {% include 'collection__tag-items' %}
                        </ul>
                      </div>
                    </div>
                  </div>
                  {% endif %}

                  {% if sorting_enabled %}
                  <div class="md--dn--table-cell md--dn--one-half md--dn--align--middle filter-hide-old">
                    <div class="form-horizontal" id="bc-sf-filter-top-sorting">
                      {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                      <label class="sm--hide {{ global__basic_font_size }} mr1" for="SortBy">{{ 'collections.sorting.title' | t }}</label>
                      <select name="SortBy" id="SortBy" class="bg--transparent border--{{ section_color }}-text color--{{ section_color }}-text p1 inline-block {{ global__basic_font_size }} pr3">
                        <option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
                        <option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
                         <option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
                        <option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
                        <option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
                         <option value="created-ascending"{% if sort_by == "created-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
                      </select>
                    </div>
                  </div>
                  {% endif %}
                </div>


            </div>
          </div>
         
        </header>
    
    <div class="mobile-filter-wrap">
      <div class="g-f-row">
        <div class="g-col-6">
          <div class="form-horizontal" id="bc-sf-filter-top-sorting">
               {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
               <label class="sm--hide {{ global__basic_font_size }} mr1" for="SortBy">{{ 'collections.sorting.title' | t }}</label>
               <select name="SortBy" id="SortBy" class="bg--transparent border--{{ section_color }}-text color--{{ section_color }}-text p1 inline-block {{ global__basic_font_size }} pr3">
                 <option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
                 <option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
                 <option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
                 <option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
                 <option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
                 <option value="created-ascending"{% if sort_by == "created-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
               </select>
            </div>
        </div>
        <div class="g-col-6">
          <button id="bc-sf-filter-tree-mobile-button" class="border--primary-text filter-btn" type="button">Filter by:</button>
            
        </div>
      </div>
    </div>

      <div class="grid {% comment %}mt3{% endcomment %} lg--up--mt4">

        {% if tags_enabled %}
          {% assign expanded = false %}
          {% assign count = 0 %}
          {% for tag in collection.all_tags %}
            {% if current_tags contains tag and count > 10 %}
              {% assign expanded = true %}
            {% endif %}
            {% assign count = count | plus: 1 %}
          {% endfor %}
          <div class="collection__sticky-tags grid__item lg--up--one-seventh {% unless expanded %}lg--up--sticky{% endunless %} top--0 {{ global__basic_font_size }} {% if sorting_enabled == false %}md--dn--hide{% endif %}">
            <a class="lg--up--hide p1 inline-block mxn1 mb1 pointer color--{{ section_color }}-text" data-tag-filter-mobile-trigger>
              <div class="inline-block">
              {{ 'collections.general.filter' | t }}
              <span class="font-size--xxxxs inline-block align--middle">
                <span class="chevron-down">{% include 'svg' | icon: 'icon-chevron-down' %}</span>
                <span class="chevron-up hide">{% include 'svg' | icon: 'icon-chevron-up' %}</span>
              </span>
              </div>
            </a>
            <ul class="list--reset m0 mtn1 pb3 lg--up--pb0 lg--up--pt3 md--dn--hide {{ global__basic_font_size }} {% if section.settings.capitalize_tags %}capitalize{% endif %}" data-tag-list>
              {% include 'collection__tag-items' %}
            </ul>
          </div>
        {% endif %}

        <div class="grid__item pt1 {% if section.settings.enable_tag_filter %}lg--up--six-sevenths{% endif %}">
          <div id="bc-sf-filter-tree-mobile">
            {% include 'bc-sf-filter-skeleton', type: 'button' %}
          </div>
          <div id="bc-sf-filter-tree">
                 <div class="vwo_filterHeader"><h3>Filters</h3></div>      
            {% include 'bc-sf-filter-tree-placeholder' %}
            
          </div>
          <div class="bc-sf-filter-tree-collection" id="bc-sf-filter-tree-h">
            {% include 'bc-sf-filter-tree-placeholder-h' %}
          </div>
 
          {% if collection.all_products_count > 0 %}
            {% if layout == 'grid' %}
              <div class="grid grid--uniform sm--grid--half-gutter mtn3 lg--up--mtn4" id="bc-sf-filter-products">
                {% for product in collection.products %}
                  <div class="product-grid-item grid__item sm--{{ posts_per_row_mobile }} md--up--{{ posts_per_row_desktop }} mt3 lg--up--mt4">
                      {% include 'product-grid-item', text_color: section.settings.section_color %}
                  </div>
                {% endfor %}
              </div>
            {% else %}
              <div class="collection-cascade" data-collection-cascade>
                <div class="items" id="bc-sf-filter-products">
                  <div>abc</div>
                  <div class="item-sizer"></div>
                  <div class="column-sizer"></div>

                  {% assign col_count_desktop = 1 %}
                  {% for product in collection.products %}
                    {% assign block_width_mobile = 'full' %}
                    {% assign block_width_desktop = 'third' %}
                    {% capture mobile_count %}{% cycle '1', '2' %}{% endcapture %}

                    <div class="item item--large-gap item--desktop--half item--mobile--full {% if forloop.first %}item--first{% endif %}  {% if last_col %}item--last{% endif %}  {% if fade_in %}fade-in{% endif %}">
                      <div class="item__inner {% if mobile_count == '1' %}md--dn--pr4{% else %}md--dn--pl4{% endif %} {% if col_count_desktop == 2 or col_count_desktop == 3 %}lg--up--five-sixths lg--up--mx--auto{% endif %}">
                        {% include 'product-grid-item', text_color: section.settings.section_color %}
                      </div>
                    </div>

                    {% assign col_count_desktop = col_count_desktop | plus: 2 %}
                    {% if col_count_desktop == 5 %}
                      {% assign col_count_desktop = 1 %}
                    {% endif %}
                  {% endfor %}

                </div>
              </div>
            {% endif %}
          {% else %}
            <p class="mt2">{{ 'collections.general.no_matches' | t }}</p>
          {% endif %}

          {% if paginate.pages > 1 %}
          <div class="pagination {{ global__basic_font_size }}" id="bc-sf-filter-bottom-pagination"></div>
          <div id="bc-sf-filter-load-more"></div>
          {% endif %}
        </div>
      </div>

    {% endpaginate %}

  </div>
</section>


<script>
  // Declare bcSfFilterConfig variable
  var bcSfFilterConfig = {
    label: {
      sorting: {% assign temp = 'collections.sorting.title' | t  %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Sorting" {% endunless %},
      sorting_best_selling: {% assign temp = 'collections.sorting.best_selling' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Best Selling" {% endunless %},
      sorting_featured: {% assign temp = 'collections.sorting.featured' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Featured" {% endunless %},
      sorting_price_ascending: {% assign temp = 'collections.sorting.price_ascending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Lowest Price" {% endunless %},
      sorting_price_descending: {% assign temp = 'collections.sorting.price_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Highest Price" {% endunless %},
      sorting_date_ascending: {% assign temp = 'collections.sorting.date_ascending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Date, Old to New" {% endunless %},
      sorting_date_descending: {% assign temp = 'collections.sorting.date_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Date, New to Old" {% endunless %},
      sorting_sale_descending: {% assign temp = 'collections.sorting.sale_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "% Off" {% endunless %},
      sorting_relevance: {% assign temp = 'collections.sorting.relevance' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Relevance" {% endunless %},
      search_general_title: {% assign temp = 'product_filter_search.search_general_title' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} 'Search' {% endunless %},
      search_result_header: {% assign temp = 'product_filter_search.search_result_header' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} {% raw %}'Search Results for "{{ terms }}"'{% endraw %} {% endunless %},
      search_result_empty: {% assign temp = 'product_filter_search.search_result_empty' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} {% raw %}'Your search for "{{ terms }}"" didn\'t match any results'{% endraw %} {% endunless %},
      search_result_number: {% assign temp = 'product_filter_search.search_result_number' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} {% raw %}'Showing {{ count }} results for "{{ terms }}"'{% endraw %} {% endunless %},
      
      sold_out: {{ 'products.product.sold_out' | t | json }},
      from: {{ 'products.product.from_text_html' | t | json}},
      from_price: {{ 'products.product.from_text_html' | t | json}},
    },
    custom: {
      hoverImages: {%if settings.products_show_second_image_on_hover  %} true {%else%} false {%endif%},
      products_per_page: {% if section.settings.no_posts %} {{ section.settings.no_posts }} {% else %} 12 {% endif %},
      products_per_row_desktop: {% if section.settings.posts_per_row_desktop %} {{ section.settings.posts_per_row_desktop | json }} {% else %} 'one-third' {% endif %},
      products_per_row_mobile: {% if section.settings.posts_per_row_mobile %} {{ section.settings.posts_per_row_mobile | json }} {% else %} 'one-half' {% endif %},
      layout: {% if layout %} {{ layout | json }} {% else %} 'list' {% endif %},
      fade_in: {% if fade_in %} {{ fade_in | json }} {% else %} true {% endif %},
      col_count_desktop : {% if col_count_desktop %} {{ col_count_desktop }} {% else %} 1 {% endif %},
      section_color : {% if section_color %} {{ section_color | json }} {% else %} 'primary' {% endif %},
      global__basic_font_size: {% if global__basic_font_size %} {{ global__basic_font_size | json }} {% else %} "font-size--sm line-height--4 wd--font-size--m wd--line-height--4" {% endif %},
    }
  };
</script>

<style>
  .resp-img-wrapper.js .resp-img, .resp-img-wrapper.js .resp-img-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
</style>