<div class="index-collections cs-{{ forloop.index }} {% if fade_in%}fade-in{% endif %}">
  <div class="item__inner ">
    {% if placeholder %}
      {% assign local_color = 'primary' %}
      {% include 'cascade__collection-placeholder' %}
    {% else %}
   	  {% include 'custom-collecion-loop' %}
    {% endif %}
  </div>
</div>

{%- assign index = index | plus: 1 -%}