{%- if collection.image -%}
{%- assign image = collection.image -%}
{%- assign image2 = block.settings.image -%}
{%- else -%}
{%- for product in collection.products limit:1 -%}
{%- assign image = product.featured_image.src -%}
{%- endfor -%}
{%- endif -%}

<div class="image-with-text__container relative collectionss">
  <a href="{{ collection.url }}">
    <div class="image-with-text__image">
      {% assign image_ratio = block.settings.image.aspect_ratio  | plus: 0 %}
      <div class="image-holder">
        {% capture img_id %}ItemImage-{{ image.id }}{% endcapture %}
        {% capture wrapper_id %}ItemImageWrapper-{{ image.id }}{% endcapture %}
        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
         {%- assign img_url2 = image2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <div id="{{ wrapper_id }}" class="resp-img-wrapper js">
          <div style="">
            <img  
                 class="resp-img lazyload"
                  src="{{ block.settings.image| img_url: 'original' }}"
                 data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                 data-aspectratio="{{ image2.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ image2.alt | escape }}">
        
            
          </div>
        </div>
        <noscript>
          <img src="{{ block.settings.image| img_url: 'original' }}" alt="{{ image2.alt | escape }}" class="item--image">
        </noscript>
      </div>
    </div>
    <div class="image-with-text__content absolute left--0 z2 coll-title">
      <h1 class="caps">{{ collection.title }}</h1>
      <div class="heading_deco"></div>
      <p class="vwo_catAbt">{{block.settings.text}}</p>
    </div>
  </a>
</div>