<div class="hover_bkgr_fricc" id="dev_first_bkgrFricc">
  <span class="dev_helper"></span>
  <span class="helper"></span>
  <div>
    <div class="popupCloseButton">X</div>
    <div class="dev_content">
      <img src="{{ settings.first_img | img_url:'master' }}">
      <div class="dev_popupDeatails" id="dev_firstPopup">
        <h1> {{ settings.popup_heading }}</h1>
        <div class="dev_popText">
          {{ settings.popup_text }}
        </div>
        <form method="post" action="/contact#contact_form1" id="contact_form1" accept-charset="UTF-8" class="contact-form"><input type="hidden" name="form_type" value="customer">
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
        <p class="form--success f--main">{{ 'general.newsletter_form.confirmation' | t }}</p>
        {% else %}
        <div class="input-group border--{{ section_color }}-text">
          <input type="hidden" name="contact[tags]" value="newsletter">
          <label for="Email" class="hide">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
          <input type="email"
                 name="contact[email]"
                 id="firstEmail"
                 class="input-group-field px2 py1 bg--transparent color--{{ section_color }}-text font-size--s"
                 value="{% if customer %}{{ customer.email }}{% endif %}"
                 autocorrect="off"
                 autocapitalize="off">
          <!--span class="input-group-btn">
            <button type="submit" class="btn border--none newsletter__submit px2 py1 font-size--s bg--transparent border--{{ section_color }}-text color--{{ section_color }}-text--overlay {{ global__hover_bg_border }}" name="commit" id="Subscribe">
              <span class="newsletter__submit"><img class="align--middle" src="{{ 'newsletter-arrow-right.png' | asset_url }}"> {% comment %}{{ 'general.newsletter_form.submit' | t }}{% endcomment %}</span>
            </button>
          </span-->
        </div>
        {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>

