 <div class="hover_bkgr_fricc" id="dev_third_bkgrFricc">
  <span class="dev_popupOverlay2"></span>
  <span class="helper"></span>
  <div>
    <div class="dev_closeBtn2">X</div>
    <div class="dev_content ">
      <div class="dev_img">
        <img src="{{ settings.third_img | img_url:'master' }}" class="desk-show">
        <img src="{{ settings.third_img_mobile | img_url:'master' }}" class="mobile-sho">
      </div>
      <div class="dev_popupDeatails" id="dev_thirdPopup">
        <div class="dev_popupDeatails_inner">
        <h1> {{ settings.popup_heading }}</h1>
        <div class="dev_popText">
          {{ settings.popup_text }}
        </div>
       
        
        <form class="mc-embedded-subscribe-formm" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
  <input type="hidden" name="g" value="HkWnqb">
          <div class="input-group border--{{ section_color }}-text clearfix klaviyo_field_group klaviyo_form_actions">
 
    <input type="email" placeholder="Email" name="email" id="k_id_email" class="input-group-field px2 py1 bg--transparent color--{{ section_color }}-text font-size--s " aria-label="Email" autocorrect="off" autocomplete="off"
                 autocapitalize="off">
    
        <span class="input-group-btn buttn">
            <button type="submit" class="btn border--none newsletter__submit px2 py1 font-size--s bg--transparent border--{{ section_color }}-text color--{{ section_color }}-text--overlay {{ global__hover_bg_border }}" name="commit" id="Subscribe">
              <span class="newsletter__submit"><img class="align--middle hhgma" src="{{ 'newsletter-arrow-right.png' | asset_url }}"> {% comment %}{{ 'general.newsletter_form.submit' | t }}{% endcomment %}</span>
            </button>
          </span>   
          </div>
  <div class="klaviyo_messages">
    <div class="success_message" style="display:none;">
    <div class='coupon-code'>
                              <div class='w70'><p class='thank-msg'> Thanks for Subscription </p>
                               
                            </div>
    </div>
    <div class="error_message" style="display:none;"></div>
  </div>
          </div>
</form>
<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
<script type="text/javascript">
  KlaviyoSubscribe.attachToForms('.mc-embedded-subscribe-formm', {
    hide_form_on_success: true,
    custom_success_message: true
  });
  
</script>
      </div>
      </div>
    </div>
  </div>
</div>