<div class="grid__item {% unless single_linklist %}one-half{% endunless %} text-center">
  <p class="linklist_heading">{{ link_list }}</p>
  <ul class="{{ global__basic_font_size }} list--reset p0 m0 mxn1 mtn1 {% if single_linklist %}flex justify--start flex--wrap{% endif %}">
    {% for link in linklists[link_list].links %}
      <li class="">
        <a href="{{ link.url }}" class="footer__nav-link inline-block mobile-nav__link color--{{ section_color }}-text ">
          <span class="footer__nav-link-span">{{ link.title }}</span>
        </a>
      </li>
    {% endfor %}
    {% if link_list == block.settings.main_linklist %}
      {% if section.settings.phone != blank %}
        <li>
          <a class="footer__nav-link inline-block mobile-nav__link color--{{ section_color }}-text" href="tel:{{section.settings.phone}}">
            <span class="footer__nav-link-span">Call Now: {{section.settings.phone}}<br>(6AM - 9PM PST)<br>Online support (website, emails, social) - 24/7</span>
          </a>
        </li>
      {% endif %}
    {% endif %}
  </ul>
</div>