{%- assign section_color = 'active' -%}
{%- include 'global-variables' -%}

<div class="header__active lg--up--relative color--{{ section_color }}-text" data-header-active>

  <div class="max-site-width px2 pt3 lg--up--px3 lg--up--pt3">

    {% comment %}
    Navigation
    {% endcomment %}
    <div class="hide" data-active-name="navigation" data-active-section>
      <div class="lg--up--hide">
        {% include 'navigation__mobile' %}
      </div>
      <div class="md--dn--hide">
        {% include 'navigation__desktop' %}
      </div>
    </div>

    {% comment %}
    Cart
    {% endcomment %}
    <script type="text/html" id="spinner">
      <div class="mt5 relative">
        <div class="spinner color--{{ section_color }}-text"></div>
      </div>
    </script>
    <div class="hide" data-active-name="cart" data-active-section>
      <div id="CartContainer" class="{{ global__basic_font_size }}">
        <div class="mt5 relative">
          <div class="spinner color--{{ section_color }}-text"></div>
        </div>
      </div>
    </div>
    {% comment %}
    Search
    {% endcomment %}
    <div class="hide" data-active-name="search" data-active-section>
      <div class="mx--auto lg--up--one-half">
        <form action="/search" method="get" class="input-group search" role="search">
          {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
          <label for="search" class="hide">{{ 'general.search.submit' | t }}</label>
          <input id="search" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="py1 search__input input-group-field border--none bg--transparent border-bottom--{{ section_color }}-text font-size--xl color--active-text" aria-label="{{ 'general.search.placeholder' | t }}" data-search-input data-desktop-active-first-item>
          <span class="input-group-btn search-btn">
            <button type="submit" class="block font-size--xl bg--transparent color--{{ section_color }}-text border--none" data-desktop-active-last-item>
              {% include 'svg', icon: 'icon-search' %}
            </button>
          </span>
        </form>
        <!-- <span class="srchFormPopupClose header__close " data-close-header="">Cancel</span> -->
      </div>
      <div class="srchResultsBlocks clearfix">
      <h2>Trending Searches</h2>
    <a href="https://germankabirski.com/collections/best-sellers">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 64 64">
            <g fill-rule="evenodd">
                <path d="M36.387 38.162L51.98 56.473l3.027-2.502L39.413 35.66z"></path>
                <path
                    d="M27.592 11.14c-7.49 0-13.582 6.323-13.582 14.097 0 7.774 6.092 14.098 13.582 14.098 7.49 0 13.583-6.324 13.583-14.098 0-7.774-6.093-14.098-13.583-14.098m0 32.542c-9.922 0-17.993-8.274-17.993-18.444S17.67 6.793 27.592 6.793c9.922 0 17.993 8.274 17.993 18.444s-8.071 18.444-17.993 18.444"
                ></path>
            </g>
        </svg>
        Bestsellers
    </a>
    <a href="https://germankabirski.com/collections/new-year-wish-list">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 64 64">
            <g fill-rule="evenodd">
                <path d="M36.387 38.162L51.98 56.473l3.027-2.502L39.413 35.66z"></path>
                <path
                    d="M27.592 11.14c-7.49 0-13.582 6.323-13.582 14.097 0 7.774 6.092 14.098 13.582 14.098 7.49 0 13.583-6.324 13.583-14.098 0-7.774-6.093-14.098-13.583-14.098m0 32.542c-9.922 0-17.993-8.274-17.993-18.444S17.67 6.793 27.592 6.793c9.922 0 17.993 8.274 17.993 18.444s-8.071 18.444-17.993 18.444"
                ></path>
            </g>
        </svg>
        Gifts Section
    </a>
    <a href="https://germankabirski.com/collections/ruby-is-love">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 64 64">
            <g fill-rule="evenodd">
                <path d="M36.387 38.162L51.98 56.473l3.027-2.502L39.413 35.66z"></path>
                <path
                    d="M27.592 11.14c-7.49 0-13.582 6.323-13.582 14.097 0 7.774 6.092 14.098 13.582 14.098 7.49 0 13.583-6.324 13.583-14.098 0-7.774-6.093-14.098-13.583-14.098m0 32.542c-9.922 0-17.993-8.274-17.993-18.444S17.67 6.793 27.592 6.793c9.922 0 17.993 8.274 17.993 18.444s-8.071 18.444-17.993 18.444"
                ></path>
            </g>
        </svg>
        Love for Ruby
    </a>
    <a href="https://germankabirski.com/collections/precious-stones">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 64 64">
            <g fill-rule="evenodd">
                <path d="M36.387 38.162L51.98 56.473l3.027-2.502L39.413 35.66z"></path>
                <path
                    d="M27.592 11.14c-7.49 0-13.582 6.323-13.582 14.097 0 7.774 6.092 14.098 13.582 14.098 7.49 0 13.583-6.324 13.583-14.098 0-7.774-6.093-14.098-13.583-14.098m0 32.542c-9.922 0-17.993-8.274-17.993-18.444S17.67 6.793 27.592 6.793c9.922 0 17.993 8.274 17.993 18.444s-8.071 18.444-17.993 18.444"
                ></path>
            </g>
        </svg>
        Precious Stones
    </a>
    <a href="https://germankabirski.com/collections/pendants">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 64 64">
            <g fill-rule="evenodd">
                <path d="M36.387 38.162L51.98 56.473l3.027-2.502L39.413 35.66z"></path>
                <path
                    d="M27.592 11.14c-7.49 0-13.582 6.323-13.582 14.097 0 7.774 6.092 14.098 13.582 14.098 7.49 0 13.583-6.324 13.583-14.098 0-7.774-6.093-14.098-13.583-14.098m0 32.542c-9.922 0-17.993-8.274-17.993-18.444S17.67 6.793 27.592 6.793c9.922 0 17.993 8.274 17.993 18.444s-8.071 18.444-17.993 18.444"
                ></path>
            </g>
        </svg>
        Pendants
    </a>
    <a href="https://germankabirski.com/pages/faq">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 64 64">
            <g fill-rule="evenodd">
                <path d="M36.387 38.162L51.98 56.473l3.027-2.502L39.413 35.66z"></path>
                <path
                    d="M27.592 11.14c-7.49 0-13.582 6.323-13.582 14.097 0 7.774 6.092 14.098 13.582 14.098 7.49 0 13.583-6.324 13.583-14.098 0-7.774-6.093-14.098-13.583-14.098m0 32.542c-9.922 0-17.993-8.274-17.993-18.444S17.67 6.793 27.592 6.793c9.922 0 17.993 8.274 17.993 18.444s-8.071 18.444-17.993 18.444"
                ></path>
            </g>
        </svg>
        Help Center
    </a>
</div>

    </div>

  </div>
</div>