{% if settings.enable_cockroach_animation %} 
<script>
  //Animation of Logo randomly on screen 
  function rainit(){
    var  picture = document.getElementById("image_animate");
    var  spaceW = screen.height - picture.height - 100;
    var  spaceH = screen.width - picture.width;
    
 var moveit = 0;
    
    setInterval(function(){
    
      var randomleft =  Math.round(Math.random() * spaceH);
      var randomtop = Math.round(Math.random() * spaceW)
      picture.style.top = randomtop + "px";
      picture.style.left = randomleft + "px";
      var originalleft = randomleft + "px";
      var originaltop = randomtop + "px";
      var newright = (randomleft + 15) + "px";
      var newleft = (randomleft - 15) + "px"; 
      var newtop = (randomtop - 10) + "px"; 
      var newbottom = (randomtop + 10) + "px";
      var newlleft = (randomleft - 30) + "px";

      setTimeout(function(){ 
      if(moveit == 0){
        $('#image_animate').animate({opacity:1}, 0);
     //    console.log('0 moveit '+moveit);
        $('#image_animate').animate({top: newtop, left: newleft}, 600);
        $('#image_animate').animate({top: originaltop, left: originalleft}, 600);
        $('#image_animate').animate({top: newtop, left: newright}, 600);
        $('#image_animate').animate({opacity:0}, 0);
      }
      
      else if(moveit == 1){
        $('#image_animate').animate({opacity:1}, 0);
     //    console.log('1 moveit '+moveit);
        $('#image_animate').animate({top: newbottom, left: newleft}, 600);	 
        $('#image_animate').animate({top: originaltop, left: newlleft}, 600);
        $('#image_animate').animate({opacity:0}, 0);
        
      }
      
      else if(moveit == 2){
        $('#image_animate').animate({opacity:1}, 0);
      //   console.log('2 moveit '+moveit);
        $('#image_animate').animate({top: newtop, left: newright}, 600);	 
        $('#image_animate').animate({top: originaltop, left: originalleft}, 600);
        $('#image_animate').animate({top: newtop, left: newleft}, 600);
        $('#image_animate').animate({top: originaltop, left: originalleft}, 600);
        $('#image_animate').animate({opacity:0}, 0);

      }
        
      if( moveit > 1){
        moveit =  0;
      }else{
        moveit = moveit+1;
      }
    
      },100);

    }, 5000);
  }
</script> 
{% endif %}

{% if template contains 'product' %}
<script>
  var modal = document.getElementById("myModal");
  var btn = document.getElementById("myBtn");
  var span = document.getElementsByClassName("close")[0];
  btn.onclick = function() {
    modal.style.display = "block";
  }
  span.onclick = function() {
    modal.style.display = "none";
  }
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>
{% endif %}