{% case media.media_type %}

    {% when 'image' %}

        <div class="items" data-ver="{{ media.image | product_img_url: 'small'}}">

            <a href="{{ media.image.src | img_url: 'master' }}" class="MagicZoomPlus" data-options="zoomOn: click" data-ver="{{ media.image | product_img_url: 'small'}}" >
                <img id="image{{ forloop.index }}"  src="{{ media.image.src | img_url: 'master' }}" alt="{{ media.image.alt | escape }}" class="img-fluid" id="" height="500" width="500">
            </a>
        </div>


    {% when 'external_video' %}
        <div class="product-single__media" style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100}}%;" data-media-id="{{ media.id }}">
            {{ media | external_video_tag }}
        </div>
    {% when 'video' %}
        <div class="product-single__media " data-media-id="{{ media.id }}">
            {{ media | video_tag:  image_size: "100" , loop: true, autoplay: true, muted: true , controls: true   }}
        </div>
    {% when 'model' %}
        <div class="product-single__media" style="padding-top: 100%" data-media-id="{{ media.id }}">
            {{ media | model_viewer_tag }}
        </div>
    {% else %}
        <div class="product-single__media" style="padding-top: 100%;" data-media-id="{{ media.id }}">
            {{ media | media_tag }}
        </div>
{% endcase %}

