 {% if section.settings.show_announcement %}
        {% capture class %}block caps full--w bg--{{ section.settings.announcement_color }}-background color--{{ section.settings.announcement_color }}-text px2 py1  font-size--sm text-align--center {% endcapture %}
      {% capture classtop %}block caps full--w bg--{{ section.settings.announcement_color }}-background color--{{ section.settings.announcement_color }}-text px2 font-size--sm text-align--center {% endcapture %}
        {% capture class1 %}block caps  md--up--grid__item md--up--one-third  color--{{ section.settings.announcement_color }}-text px2 py1  font-size--sm text-align--left {% endcapture %}
      {% capture class2 %} {% endcapture %}
    
		<li class="mobile-announce">
  		 {% if section.settings.announcetextleft != blank %}
<!--             <div class="mob-announce">
              <p class="m0 announcement-bar__message">{{ section.settings.announcetextleft | escape }}</p>
            </div> -->
            <div class="block caps color--{{ section.settings.announcement_color }}-text px2 py1  font-size--sm complimentary">
              <a class="" href="{{ section.settings.link }}"><span class="m0 announcement-bar__message ">{{ section.settings.text | escape }}</span></a> <!-- underline -->
            </div>
      	  </li>
        {% endif %}
      {% endif %}