

<div class="image-with-text__container relative collectionss">
    <a href="{{ block.settings.collection_btn_url }}">
        <div class="collection-heading">
            <h1 >{{ heading }}</h1>
        </div>
        <div class="image-with-text__image">

            {% assign image_ratio = block.settings.image.aspect_ratio  | plus: 0 %}
            <div class="image-holder">
                {% capture img_id %}ItemImage-{{ image.id }}{% endcapture %}
                {% capture wrapper_id %}ItemImageWrapper-{{ image.id }}{% endcapture %}
                {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                {%- assign img_url2 = image2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <div id="{{ wrapper_id }}" class="resp-img-wrapper js">
                    <div style="">
                        <img
                                class="resp-img lazyload"
                                src="{{ block.settings.image| img_url: 'original' }}"
                                data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                                data-aspectratio="{{ image2.aspect_ratio }}"
                                data-sizes="auto"
                                alt="{{ image2.alt | escape }}">
                    </div>
                    <div class="button-block">
                        <a href="{{ block.settings.collection_btn_url }}" class="btn border--none bg--tertiary-text p1 color--white-text ">{{ block.settings.collection_btn_text }}</a>
                    </div>

                </div>
                <noscript>
                    <img src="{{ block.settings.image| img_url: 'original' }}" alt="{{ image2.alt | escape }}" class="item--image">
                </noscript>
            </div>
        </div>

    </a>

</div>

<style>

    .modern-collection .image-with-text__container.relative.collectionss{
        width:100%;
    }
    .image-with-text__container:first-child{
        margin: 0 3px 0 0;
    }
    .modern-collection .button-block a{
        text-transform: uppercase;
        position:absolute;
        left:5%;
        bottom:5%;
        padding:5px 15px;
    }
    .modern-collection .collection-heading h1{
        font-size: 35px;
        font-family: 'Brawler', serif!important;
        margin:0;
    }
    @media(max-width:1100px) {
        .modern-collection .collection-heading h1{
            font-size: 22px;
        }
    }
    @media(max-width:750px) {

        .modern-collection_container{
            flex-direction: column;
        }
        .modern-collection .button-block a{
            padding:5px 10px;
        }
        .modern-collection .collection-heading h1{
            font-size: 27px;
            margin: 10px 0;
        }

    }


</style>