<div class="lg--up--seven-eighths mx--auto page-contact">
  <div class="grid">
    <div class="grid__item lg--up--one-half">
      <h1 class="{{ global__heading_font_size }} m0">{{ page.title }}</h1>
      <div class="rte mt2  {{ global__basic_font_size }}">
        {{ page.content }}
      </div>
    </div>
    <div style="margin-top: 40px;" class="grid__item lg--up--one-half  mt3 lg--up--mt0">

      {% form 'contact' %}

        {% if form.posted_successfully? %}
          <p class="form-success">
            {{ 'contact.form.post_success' | t }}
          </p>
        {% endif %}

        {{ form.errors | default_errors }}

       
        <input type="text"
          class="block mt1 full--w px2 py1 bg--transparent border--{{ section_color }}-text"
          name="contact[name]"
          id="ContactFormName"
          placeholder="{{ 'contact.form.name' | t }}"
          value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">

       
        <input type="email"
          class="block mt1 full--w  px2 py1 bg--transparent border--{{ section_color }}-text"
          name="contact[email]"
          id="ContactFormEmail"
          placeholder="{{ 'contact.form.email' | t }}"
          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
          spellcheck="false"
          autocomplete="off"
          autocapitalize="off">

       
        <input type="tel"
          class="block mt1 full--w px2 py1 bg--transparent border--{{ section_color }}-text"
          name="contact[phone]"
          id="ContactFormPhone"
          placeholder="{{ 'contact.form.phone' | t }}"
          value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}"
          pattern="[0-9\-]*">

        
        <textarea rows="10"
          class="block mt1 full--w  px2 py1 bg--transparent border--{{ section_color }}-text"
          name="contact[body]"
          id="ContactFormMessage"
          placeholder="Message">Message
          {% if form.body %}
            {{ form.body }}
          {% endif %}
        
        </textarea>

        <input style="text-transform: uppercase;
    font-family: 'Maison Neue Mono',sans-serif;" type="submit" class="block full--w max-width--1 btn border--none mt3 px2 py1 bg--{{ section_color }}-text color--{{ section_color }}-text--overlay {{ global__hover_bg }}" value="{{ 'contact.form.send' | t }}">

      {% endform %}

    </div>
  </div>
</div>