<div class="mx--auto ">
  <div  class="grid">
    <div class="grid__item lg--up--full">
      <h1 class="{{ global__heading_font_size }} m0">{{ page.title }}</h1>
    </div>
    <div style="margin-top: 30px;" class="grid__item lg--up--full">
      <div class="rte {{ global__basic_font_size }}">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>