{% include 'breadcrumb' %}

{% unless product.tags contains "wk_auction" %}
    <div class="{% if product.images.size > 1 %}lg--up--one-whole{% endif %} mx--auto">
        <div class="grid">
            <div class="grid__item md--up--four-sixths lg--up--seven-tenths custom-sticky">
                <div class="product__images relative md--up--text-align--right font-size--0">
                    <div class="product_img_wrap">

                        {% assign product_tags = product.tags %}
                        {% assign product_url =  product.url | within: collection  %}
                        {% assign bfcm = false %}
                        {% assign sale25 = false %}
                        {% assign discount_code = '' %}


                       {% comment %} {% if product_url contains 'sale-collection-2021' %}

                            {% if product.tags contains "GK2021" %}
                                {% assign discount_code = 'GK45OFF' %}
                                {% assign bfcm = true %}

                            {% endif %}

                        {% endif %}{% endcomment %}



                      {% comment %}  {% if product.tags contains "BFCM BS <225" %}
                            {% assign discount_code = 'BFB25OFF' %}
                        {% endif %}

                        {% if product.tags contains "BFCM BS 225-550" %}
                            {% assign discount_code = 'BFE25OFF' %}
                        {% endif %}

                        {% if product.tags contains "BFCM_under_500" %}
                            {% assign discount_code = 'BFBEST25OFF' %}
                        {% endif %}{% endcomment %}


                      {% comment %}  {% if product.tags contains "sale-w35"
                        or product.tags contains "sale-w34"
                        or product.tags contains "sale-w33"
                        or product.tags contains "sale-w36"
                        or product.tags contains "sale-w37"
                        or product.tags contains "sale-w38"
                        %}
                            {% assign sale25 = true %}
                        {% endif %}{% endcomment %}


                        {% if sale25 == true %}

                            {% assign newDividedPrice = product.price | divided_by: 4 %}
                            {% assign newPrice = product.price | minus: newDividedPrice %}

                        {% endif %}

                        {% if bfcm == true %}
                            <!--
                            100/ 4 = 25%
                            100/ 5 = 20% discount
                            100/ 2.857142857142857 = 35% discount
                             100/ 2.2 = 45% discount
                            -->
                            {% assign newDividedPrice = product.price | divided_by: 2.22222 | round: 2 %}
                            {% assign newPrice = product.price | minus: newDividedPrice %}
                        {% endif %}

                        {% if product_tags contains 'Handmade' %}
                            <div class="product-tag-label">
                                <div class="">handmade</div>
                            </div>
                        {% endif %}

                        {% if product_tags contains "limitededition" %}
                            <div class="product-tag-label">
                                <div class="handmade-tag sign-toggle">Limited</div>
                            </div>
                            <div class="product-tag-des">
                                <span class="close-button"><img src="{{ 'close-button.svg' | asset_url }}" alt=""></span>
                                <p>These pieces may never happen again. Pieces created by the master in moments of inspiration.</p>
                            </div>
                        {% endif %}

                        {% if product_tags contains 'exclusive' or  product_tags contains 'Exclusive'%}
                            <div class="product-tag-label">
                                <div class="handmade-tag sign-toggle">Signature</div>
                            </div>
                            <div class="product-tag-des">
                                <span class="close-button"><img src="{{ 'close-button.svg' | asset_url }}" alt=""></span>
                                <p>This is unique freak from exclusive collection created only one time in one size for one person.</p>
                            </div>
                        {% endif %}

                        <div class="main-image" id="main-gallery">

                            {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
                            {% assign featured_alt = product.selected_or_first_available_variant.option1 %}

                            {% for media in product.media %}
                                {% include 'media' %}
                            {% endfor %}

                            {% comment %}{% for image in product.images %}
                                <div class="items" data-ver="{{ image | product_img_url: 'small'}}">
                                     <a href="{{ image.src | img_url: 'master' }}" class="MagicZoomPlus" data-options="zoomOn: click" data-ver="{{ image | product_img_url: 'small'}}" >
                                         <img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}" class="img-fluid" id="" height="500" width="500">
                                     </a>
                                 </div>
                            {% endfor %}{% endcomment %}

                        </div>
                        <div class="product-previews-wrapper">
                            <div class="product-previews-carousel" id="sub-gallery">
                                {% for image in product.images %}

                                    <div data-ver="{{ image | product_img_url: 'small'}}" >
                                        <img src="{{ image.src | img_url: 'master' }}" class="img-fluid" height="500" width="500">
                                    </div>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %}   product redirect{% endcomment %}

            {% if product.title == 'Iria Ruby Ring' %}
                <script>
                    window.location.href = "/collections/best-sellers"
                </script>
            {% endif %}

            <div class="product-grid-mobile grid__item md--up--four-twelfths lg--up--three-tenths text-section-thumb custom_desc_container">
                <div class="{% unless description_under_add_to_cart %}wd--pt3 lg--up--pl3 wd--pl4 {% endunless %} ">
                    <div class=" md--up--pt0 lg--up--px3 text-center">


                        {%- if feature_product -%}
                            <a class="color--{{ section_color }}-text" href="{{ product.url }}"><h2 class="{{ global__heading_font_size }} m0 mb1">{{ product.title }}</h2></a>
                        {%- else -%}
                            <h1 class="f--heading {{ global__heading_font_size_product }} m0 mb1 my-position">

                                {{ product.title }}  -

                                {% unless bfcm == true %}
                                    <span class="limoniapps-discountninja-productprice" {% if product.compare_at_price_max > product.price %}class="color--{{ section_color }}-accent"{% endif %} data-product-price>

                                    {{ current_variant.price | money  | remove: '.00' }}
                              </span>
                                {% endunless %}
                                {% comment %} {% if bfcm == false %}
                                  <span class="limoniapps-discountninja-productprice" {% if product.compare_at_price_max > product.price %}class="color--{{ section_color }}-accent"{% endif %} data-product-price>
                                    {% comment %}- {{ current_variant.price | money | remove: '.00'}}{% endcomment %}
                                      - {{ current_variant.price | money }}
                                  </span>
                                  {% endif %}{% endcomment %}

                                {% if bfcm == true %}
                                    <div class="sale-price">
                                        <span style="color:#181818;font-size:0.6em">Old price <s>{{ product.price | money | remove: '.00' }}</s></span>
                                        <span style="color:#fff;background:#181818;padding:3px;">{{newPrice | money | remove: '.00'}}</span>
                                        <p class="sale-text">Use code {{ discount_code }} to get this special price</p>
                                    </div>
                                {% endif %}

                            </h1>
                        {%- endif -%}
                        <div id="wk-auction" prod-id="{{ product.id }}" cust-id="{{ customer.id }}"></div>

                        {% comment %}
                                  <div class="font-size--ml" data-price-wrapper>
                                    <span {% if product.compare_at_price_max > product.price %}class="color--{{ section_color }}-accent"{% endif %} data-product-price>
                                      {{ current_variant.price | money }}
                                    </span>
                                    {% if product.compare_at_price_max > product.price %}
                                      <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                                      <s class="ml1 inline-block" data-compare-price>
                                        {% if current_variant.compare_at_price > current_variant.price %}
                                          {{ current_variant.compare_at_price | money }}
                                        {% endif %}
                                      </s>
                                    {% endif %}
                                  </div>
                        {% endcomment %}
                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                            <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                            <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

                            <div id="AddToCartForm--{{ section_id }}" class="form-vertical finsle">
                                {% form 'product', product %}

                                {% unless product.has_only_default_variant %}
                                {% for option in product.options_with_values %}
                                    <div class="selector-wrapper js mt2 font-size--m">
                                        {% unless hide_drop_down_labels %}
                                            <label class="block" for="SingleOptionSelector-{{ forloop.index0 }}">
                                                {{ option.name }}
                                            </label>
                                        {% endunless %}
                                        <select
                                                class="single-option-selector bg--transparent border--{{ section_color }}-text color--{{ section_color }}-text p1 block full--w font-size--sm mt1"
                                                id="SingleOptionSelector-{{ forloop.index0 }}"
                                                data-single-option-selector
                                                data-index="option{{ option.position }}">
                                            {% for value in option.values %}
                                                <option
                                                        value="{{ value | escape }}"
                                                        {% if option.selected_value == value %}selected="selected"{% endif %}>
                                                    {{ value }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endfor %}
                                {% endunless %}

                                    <select name="id" class="no-js combined-selector" data-product-select>
                                        {% for variant in product.variants %}
                                            <option data-image="{{ variant.image | product_img_url: 'small'}}"
                                                    {% if variant == current_variant %}selected="selected"{% endif %}
                                                {% unless variant.available %}disabled="disabled"{% endunless %}
                                                    value="{{ variant.id }}">{{ variant.title }}</option>
                                        {% endfor %}
                                    </select>
                                {% comment %}{% if bfcm == true %}
                                    <input id="discount" type="hidden"  name="properties[DiscountCode]"  value="{{ discount_code }}">
                                {% endif %}{% endcomment %}
                                {% if template == 'product.made_to_order' %}

                                    <input id="orderone" type="hidden" {% if current_variant.inventory_quantity <= 0%} name=properties[Order-type] {% endif %} value="MADE TO ORDER">
                                    {% if product.available %}
                                        {% for option in product.options %}
                                            {% include 'swatch' with option %}
                                        {% endfor %}
                                    {% endif %}
                                {% else %}
                                    {% if product.available %}
                                        {% for option in product.options %}
                                            {% include 'swatch' with option %}
                                        {% endfor %}
                                    {% endif %}

                                {% endif %}

                                    <script>
                                        var inv_qty = {};
                                        {% for var in product.variants %}
                                        inv_qty[{{- var.id -}}] = {{ var.inventory_quantity }};
                                        {% endfor %}
                                    </script>

                               {% comment %} {% if template == 'product.made_to_order' %}
                                    <p class="avi"><strong>Availability:</strong> <span class="instock" {% if current_variant.inventory_quantity > 0%} {% else %}style="display:none" {% endif %}>In-Stock</span><span class="zerostock" {% if current_variant.inventory_quantity <= 0%} {% else %}style="display:none" {% endif %}> Pre-Order </span></p>
                                    <p class="de instock" {% if current_variant.inventory_quantity > 0%} {% else %}style="display:none" {% endif %}>USA - 2/3 business days<br>International - 5/10  business days</p>
                                    <p class="de zerostock" {% if current_variant.inventory_quantity <= 0%} {% else %}style="display:none" {% endif %}>Delivery within 5 weeks worldwide</p>
                                {% endif %}{% endcomment %}



                                 {% comment %}   if template == 'product.made_to_order'{% endcomment %}

                                          <p class="avi" >
                                                  <span class="instock" {% if current_variant.inventory_quantity > 0%} {% else %}style="display:none" {% endif %} >
                                                       <strong >Availability:</strong>
                                                     <span>In-Stock</span>
                                                  </span>

                                             {% comment %} for mto{% endcomment %}
                                                 {% comment %}<span {% if current_variant.inventory_quantity <= 0%} {% else %} style="display:none" {% endif %}>
                                                     <strong >Availability:</strong> <span class="zerostock">Made to Order</span>
                                                 </span>{% endcomment %}

                                          </p>

                                            <p class="de instock"
                                                  {% if current_variant.inventory_quantity > 0 %}
                                                    {% else %}style="display:none" {% endif %}>
                                                USA/Canada - 5/10 business days<br>International - 10/20  business days
                                           </p>

                                          {% comment %}for mto{
                                          <p  class="de zerostock" {% if current_variant.inventory_quantity <= 0%} {% else %}style="display:none" {% endif %}>Delivery within 5 weeks worldwide</p>
                                          {% endcomment %}
                                {% comment %}    endif {% endcomment %}

                                {% if show_quantity %}
                                    <div class="mt2 font-size--m flex items--center">
                                        <div class="pr2">
                                            <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                                        </div>
                                        <div class="flex--1 js-qty-wrapper color--{{ section_color }}-text">
                                            <input class="bg--transparent border--{{ section_color }}-text p1 font-size--sm mt1" type="number" id="Quantity" name="quantity" value="1" min="1">
                                        </div>
                                    </div>
                                {% endif %}

                                    <div class="add-to-cart-container mt3 {% unless current_variant.available %}hide-pay-buttons{% endunless %}  " data-add-to-cart-container>
                                        {% unless product.tags contains "on_auction" %}
                                            <button
                                                    class="btn wk_hide_element border--none btn--add-to-cart color-scheme--{{ section_color }} border--none bg--{{ section_color }}-text color--{{ section_color }}-text--overlay {{ global__hover_bg }} p1 full--w block"
                                                    type="submit"
                                                    style='display: none'
                                                    name="add"
                                                    id="AddToCart--{{ section_id }}"
                                                    data-add-to-cart
                                                    {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                                                    <span data-add-to-cart-text>
                                                      {% if current_variant.available %}
                                                          {{ 'products.product.add_to_cart' | t }}
                                                      {% else %}
                                                          {{ 'products.product.sold_out' | t }}
                                                      {% endif %}
                                                    </span>
                                            </button>
                                            {% if product.available %}
                                                <div class="payment-terms">
                                                    {{ form | payment_terms }}
                                                </div>
                                            {% endif %}
                                        {% endunless %}
                                        <div class="celebrity_tag">

                                            {% case handle %}
                                                {% when "k105310-adelinde-amethyst-ring" %}
                                                    <a href="/pages/press/#grimes">The choice of Grimes</a>
                                                {% when "hm40001-sp-aten-spinel-bangle" %}
                                                    <a href="/pages/press/#jenner">The choice of Kelly Jenner</a>
                                                {% when "ec10128-mevrien-sapphire-and-garnet-ring" %}
                                                    <a href="/pages/press/#danileigh">The choice of Danileigh</a>
                                                {% when "ec10060-flavia-chrisoberil-and-yellow-sapphire-ring" %}
                                                    <a href="/pages/press/#danileigh">The choice of Danileigh</a>
                                                {% when "ec40008-elendil-lemon-quartz-bangle" %}
                                                    <a href="/pages/press/#minaj">The choice of Nikki Minaj</a>
                                                {% when "k106011-paradisa-ruby-ring" %}
                                                    <a href="/pages/press/#gaga">The choice of Lady Gaga</a>
                                                {% when "k207001-calvina-amethyst-earrings" %}
                                                    <a href="/pages/press/#gaga">The choice of Lady Gaga</a>
                                                {% when "ec40001-sirenia-green-amethyst-bangle" %}
                                                    <a href="/pages/press/#gaga">The choice of Lady Gaga</a>
                                                {% when "k205339-nabila-amethyst-earrings" %}
                                                    <a href="/pages/press/#selena_gomez">The choice of Selena Gomez</a>
                                                {% when "ec10119-eydis-mixed-sapphire-ring" %}
                                                    <a href="/pages/press/#joey_king">The choice of Joey King</a>
                                                {% when "k205346-florana-pearl-earrings" %}
                                                    <a href="/pages/press/#joey_king">The choice of Joey King</a>
                                                {% when "k104101-raina-amethyst-ring" %}
                                                    <a href="/pages/press/#maye_musk">The choice of Maye Musk</a>
                                                {% when "k104005-gilda-amethyst-ring" %}
                                                    <a href="/pages/press/#cassie">The choice of Cassie</a>
                                                {% when "ec10109-kori-morganite-ring" %}
                                                    <a href="/pages/press/#julia_garner">The choice of Julia Garner</a>
                                                {% when "ecg10001-cyren-black-diamond-ring" %}
                                                    <a href="/pages/press/#janelle_monae">The choice of Janelle Monae</a>
                                                {% when "k204246-edda-pearl-earrings" %}
                                                    <a href="/pages/press/#mickelson">The choice of Meredith Mickelson</a>
                                                {% when "k104007-anala-amethyst-ring" %}
                                                    <a  href="/pages/press/#purplehaze">Styled by PurpleHaze</a>
                                                {% when "hm21006-cd-ivalyn-chrome-diopside-earrings" %}
                                                    <a href="/pages/press/#gaga_new">The choice of Lady Gaga</a>
                                                {% else %}

                                            {% endcase %}
                                        </div>

                                        {% if enable_payment_button %}
                                            <div class="mt2 payment-button-wrapper color--{{ section_color }}">{{ form | payment_button }}</div>

                                        {% endif %}
                                    </div>

                                {% endform %}
                            </div>
                        </div>

                    </div>

                    {% comment %}Clarna message{% endcomment %}
                    {%  include 'shipping-returns-warranty' %}

                    <div class="px2 max-width--2 md--up--pt0 lg--up--px3">
                        {% if description_under_add_to_cart %}
                            {% if product.description != empty or product.description != '' %}
                                <div class="mt3 rte {{ global__basic_font_size }} pb2 product_description" data-product-description>
                                    <h4 class="product_description_title">Description</h4>
                                    {{ product.description }}
                                </div>
                            {% endif %}
                        {% endif %}

                        {% if show_share_links %}
                            <div {% unless enable_payment_button %}class="mt3"{% endunless %}>
                                {% include 'page-share' %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div> <!-- end grid item -->
        </div> <!-- end grid -->
    </div>
{% endunless %}


<div id="myModal" class="modal ring_page">

    <!-- Modal content -->
    <div class="modal-content ring_page_all_info">
        <span class="close ring_icon">&times;</span>

        {% assign page_handle = section.settings.page_link %}
        {%  assign page_handle = page_handle | split: '/' | last %}
        <h1>{{pages[page_handle].title}}</h1>
        {{pages[page_handle].content}}

    </div>

</div>


<script>
    // var modal = document.getElementById("myModal");
    // var btn = document.getElementById("myBtn");
    // var span = document.getElementsByClassName("close")[0];
    // btn.onclick = function() {
    //   modal.style.display = "block";
    // }
    // span.onclick = function() {
    //   modal.style.display = "none";
    // }
    // window.onclick = function(event) {
    //   if (event.target == modal) {
    //     modal.style.display = "none";
    //   }
    // }
</script>

<script>

    //open filters first item
    function eventFire(el, etype){
        if (el.fireEvent) {
            el.fireEvent('on' + etype)
        } else {
            var evObj = document.createEvent('Events')
            evObj.initEvent(etype, true, false)
            el.dispatchEvent(evObj)
        }
    }
    console.log('not ready')
    //instock/out-of-stock fix
    jQuery(document).ready(function(){

        /*
        jQuery('.add-to-cart-container').after(
            "<div class='not-available-notification'><p>Want your unavailable size to be restocked? Please submit your email and receive an update. </p></div>"
        );
        */
        console.log('ready')

        setTimeout( () => {
            console.log('3000')
            const clickOption = jQuery('.bc-sf-filter-option-block.bc-sf-filter-option-block-list.bc-sf-filter-option-block-style')[0]
            eventFire(clickOption, 'click')
        }, 3000)

//     if ( window.location.href.indexOf('rings') !== -1 ) {
//       if (jQuery('.available ')) {
//         jQuery('.instock').css('display', 'inline-block')
//         jQuery('.zerostock').css('display', 'none')
//       }
//     }
    })

</script>

<style>
    @media(max-width: 520px)
    {
       .product .breadcrumbs ol{
            margin-left:1%;
        }
        .breadcrumbs {
            margin: 1rem 0 1rem 1rem;
        }
        .product-tag-des{
            width: 100%!important;
        }
        .product-tag-des .close-button{
            display:block!important;
            text-align:right;
        }
    }
    .product-tag-des {
        position: absolute;
        padding: 25px;
        background: #fff;
        font-size: 13px;
        text-align: left;
        width: 40%;
        cursor: pointer;
        top: -17px;
        display: none;
        transition: .5s ease all;
        right: 0;
        z-index:10;
    }
    .product-tag-des .close-button{
        display:none;
    }
    .product-tag-des p{margin-bottom:0;}
    .breadcrumbs {
        font-size: .85em;
    }

    .breadcrumbs ol {
        list-style-type: none;
        margin-left:11.5%;
        padding: 0;
    }

    .breadcrumbs li {
        display: inline-block;
    }

    .breadcrumbs a {
        text-decoration: underline;
    }

    .breadcrumbs li:not(:last-child):after {
        content: ">\00a0";
        display: inline-block;
        speak: none;
    }

    .breadcrumbs [aria-current="page"] {
        color: inherit;
        font-weight: normal;
        text-decoration: none;
    }

    .breadcrumbs [aria-current="page"]:hover,
    .breadcrumbs [aria-current="page"]:focus {
        text-decoration: underline;
    }

    .payment-terms{
        font-size:12px;
       padding:1rem 0;
    }
    .my-position{
        position:relative;
    }
    .limited{
        display: inline-block;
        background: #000;
        color: white;
        text-transform: capitalize;
        font-family: "Maison Neue Mono",sans-serif;
        font-size: 18px;
        padding: 2px 20px;
        line-height: 2rem;
    }
    .sale-price{
        margin:1rem 0;
    }
    .sale-text{
        font-family: 'Maison Neue Mono', "Helvetica Neue", Arial, Helvetica, sans-serif;
        text-align: center;
        color: #17120f;
        font-size: 12px!important;
        font-weight: 400;
    }
    .celebrity_tag a{
        display:block;
        padding-top:15px;
        font-family: 'Maison Neue';
        font-size:16px;
        text-decoration: underline;
        font-weight: 400;
    }
    .not-available-notification
    {
        text-align:left;
        margin:1rem 0;
    }
    div#shopify-section-header {
        z-index: 999;
    }
    .add-to-cart-container.mt3 {
        margin: 8px 4px;
    }

    span.instock span {
        border-bottom: 2px solid #dee33d;
    }

    span.zerostock {
        border-bottom: 2px solid #dee33d;
    }


    .custom_desc_container p.avi strong {
        font-family: "Maison Neue Mono",sans-serif;
    }
    p.avi {
        text-align: left;
        margin: 0;
    }
    p.de {
        font-size: 14px;
        text-align: left;
        margin-bottom: 24px;
    }
</style>