<!-- /snippets/related-products.liquid -->
<!-- Solution brought to you by Caroline Schnapp -->
<!-- See this: https://docs.shopify.com/support/your-store/products/can-i-recommend-related-products#finding-a-relevant-collecitons -->

{% comment %}
  Number of related items per row,
  and number of rows.
{% endcomment %}

{% assign number_of_related_products_per_row = 4 %}
{% assign number_of_rows = 1 %}

{% comment %}
  Heading.
  Leave blank if you don't need one.
{% endcomment %}


{% comment %}
  Set either or both to true, if you want
  to limit yourself to items with same vendor, and/or type.
{% endcomment %}

{% assign same_vendor = false %}
{% assign same_type = false %}

{% comment %}
  Collections to ignore.
  Never pick related items from those.
{% endcomment %}

{% assign exclusions = 'frontpage,all' | split: ',' %}

{% comment %}
  Looking for a relevant collection.
{% endcomment %}

{% if product.metafields.c_f['Related Products'] %}
  {% assign collection = collections[product.metafields.c_f['Related Products']] %}
{% endif %}

{% assign found_a_collection = false %}
{% if collection and collection.all_products_count > 1 %}
  {% unless exclusions contains collection.handle %}
    {% assign found_a_collection = true %}
  {% endunless %}
{% endif %}
{% unless found_a_collection %}
  {% for c in product.collections %}
    {% unless exclusions contains c.handle or c.all_products_count < 2 %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
      {% break %}
    {% endunless %}
  {% endfor %}
{% endunless %}


{% comment %}
  If we have a relevant collection.
{% endcomment %}

{% if found_a_collection %}

  {% assign counter = 0 %}
  {% assign break_at = number_of_rows | times: number_of_related_products_per_row %}
  {% assign current_product = product %}

  {% case number_of_related_products_per_row %}
    {% when 3 %}
      {% assign grid_item_width = 'lg--up--one-third' %}
    {% when 4 %}
      {% assign grid_item_width = 'lg--up--one-quarter' %}
    {% when 6 %}
      {% assign grid_item_width = 'lg--up--one-third' %}
    {% when 8 %}
      {% assign grid_item_width = 'lg--up--one-quarter' %}
    {% else %}
      {% assign grid_item_width = 'lg--up--one-third' %}
  {% endcase %}

  {% capture related_items %}
    {% for product in collection.products %}
      {% unless product.handle == current_product.handle %}
  {% if product.available %}
        {% unless same_vendor and current_product.vendor != product.vendor %}
           {% unless same_type and current_product.type != product.type %}
             <div class="product-grid-item grid__item one-half  md--one-half lg--up--grid__item {{ grid_item_width }} lg--up--mt3 mb2">
               <div class="px0 lg--up--px0">{% include 'product-grid-item' %}</div>
             </div>
             {% assign counter = counter | plus: 1 %}
             {% if counter == break_at %}
               {% break %}
             {% endif %}
           {% endunless %}
    {% endunless %}
        {% endif %}
      {% endunless %}
    {% endfor %}
  {% endcapture %}

  {% assign related_items = related_items | trim %}
  {% unless related_items == blank %}
  <div class="featured-collection spacing-custom {{ global__section_with_padding_class }} color--{{ section_color }}-text bg--{{ section_color }}-background" data-section-type="flickity-only" data-section-id="{{ section.id }}-related-products">
    <div class="max-site-width lg--up--px3 px2">
      {%- assign collection = collections[section.settings.collection] -%}
      <div class="lg--up--grid related-products">

        {% include 'nosto-element' with 'productpage-nosto-2' %}
{% comment %}
        <div class="lg--up--grid__item lg--up--one-whole related-product-heading">
          <div class="featured-collection__info pb2 pl2 pr2 lg--up--px0 text-center">
            <h2 class="{{ global__heading_font_size }}">You May Also Like</h2>
          </div>
        </div>
        <div class="lg--up--grid__item lg--up--one-whole">
          <div class="mobile-flickity1 relative">
            <div class="grid--uniform  mobile-flickity__slides1 pb3 lg--up--grid grid md--px0 md--dn--px0 lg--up--mtn3">
              {{ related_items }}
            </div>

            <div class="lg--up--hide">
              <div class="spacer pt1"></div>
              <div class='mobile-flickity__button-container absolute bottom--0 right--0 pt1 pr2'>
                <button class="btn border--none bg--transparent btn--next color--{{ section_color }}-text hv--{{ section_color }}-accent font-size--sm">{% include 'icon-next' %}</button>
              </div>
            </div>

          </div>
        </div>{% endcomment %}
      </div>
    </div>
  </div>

{% endunless %}
{% endif %}