<div class="px2 max-width--1 md--up--pt0 lg--up--px3 mt1">
  <div class="shipping_returns_info">
    {% if section.settings.img_text1 != blank %}
    <div class="shipping_returns_info_common free_shipping">
      <div class="ship_svg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="512" height="512"><path d="M400.352 215.31a6.06 6.06 0 0 1 0-12.119h99.66a6.06 6.06 0 0 1 0 12.12zm-68.23 36.923a6.06 6.06 0 0 1-.001-12.12h145.227a6.06 6.06 0 0 1 0 12.12zM73.094 342.924a48.214 48.214 0 0 1 47.689-39.67c23.834 0 43.629 17.008 47.669 39.388l126.887.262a48.214 48.214 0 0 1 47.688-39.65c25.43 0 46.295 19.37 48.234 44.013h20.26a17.431 17.431 0 0 0 17.612-17.25v-50.556a6.06 6.06 0 0 1 12.12 0v50.556c0 16.24-13.331 29.37-29.733 29.37h-20.824a48.234 48.234 0 0 1-47.649 39.386c-25.328 0-46.153-19.229-48.213-43.75l-125.797-.242c-1.939 24.642-22.824 44.012-48.234 44.012-25.329 0-46.153-19.249-48.214-43.75H35.203c-16.058 0-29.268-12.099-29.268-27.288v-66.312c0-6.766.404-10.765 2.303-15.734.808-2.06 1.818-4.04 3.838-6.807l66.473-65.504a30.096 30.096 0 0 1 23.026-10.442h26.178v-22.582c0-14.947 11.553-27.167 25.975-27.167H419.54c14.422 0 25.975 12.24 25.975 27.167v32.863a6.06 6.06 0 0 1-12.119 0v-32.863c0-8.383-6.302-15.048-13.876-15.048H153.708c-7.555 0-13.836 6.665-13.836 15.048v68.877a6.06 6.06 0 1 1-12.12 0v-34.197h-26.177a18.36 18.36 0 0 0-14.139 6.545l-66.09 65.019a16.623 16.623 0 0 0-1.777 3.434c-1.212 3.17-1.515 6.019-1.515 11.391v66.312c0 8.241 7.555 15.15 17.149 15.15h37.892zm83.966 8.08c0-19.653-16.22-35.63-36.277-35.63-20.037 0-36.256 15.977-36.256 35.65 0 19.653 16.22 35.65 36.256 35.65 20.057 0 36.277-15.997 36.277-35.65zm222.244 0c0-19.653-16.22-35.63-36.277-35.63-20.037 0-36.256 15.977-36.256 35.65 0 19.653 16.22 35.65 36.256 35.65 20.057 0 36.277-15.997 36.277-35.65z"></path></svg>
      </div>
      <p class="free_info">{{section.settings.img_text1}}</p>
    </div>
    {% endif %}
    {% if section.settings.img_text2 != blank %}
    <div class="shipping_returns_info_common return_data">
      <div class="return_svg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="512" height="512"><path d="M407.949 174.85l-27.018-74.713c-2.145-5.293-6.314-8.479-10.774-8.479H287.45v83.19zm12.133 5.108a8.611 9.308 0 0 1 .918 4.179v213.58c0 18.2-13.433 32.99-30.043 32.99H121.043c-16.61 0-30.043-14.788-30.043-32.99V184.135a10.054 10.054 0 0 1 .535-3.226l-.057-.022c5.205-11.789 9.185-21.304 17.949-42.733l.115-.267c8.707-21.263 12.726-30.903 17.969-42.756 3.73-8.436 11.08-13.837 19.175-13.837h223.47c8.382 0 15.94 5.792 19.615 14.893zm-315.399-5.109H224.13V91.638h-77.441c-4.288 0-8.344 2.98-10.545 7.964-5.186 11.727-9.185 21.303-17.853 42.463l-.118.27c-6.142 15.058-9.949 24.262-13.488 32.514zm129.014 0H277.9V91.638h-44.204zm-133.11 193.829v29.04c0 12.536 9.185 22.649 20.475 22.649h269.894c11.29 0 20.478-10.114 20.478-22.649V185.19H100.566v173.145H329.34c20.283-2.172 36.184-21.076 36.184-44.1 0-24.487-17.986-44.303-40.128-44.303l-115.39.165 18.486 15.307a4.783 5.17 0 1 1-5.797 8.211l-34.905-28.854 34.923-28.853a4.783 5.17 0 0 1 5.798 8.21l-18.925 15.638 115.83-.165v4.695-4.695c27.48 0 49.695 24.49 49.695 54.645 0 28.317-19.575 51.627-44.7 54.4v.042h-.612a46.112 48.824 0 0 1-4.383.205v-.207H100.568z"></path></svg>
      </div>
      <p class="free_info">{{section.settings.img_text2}}</p>
    </div>
    {% endif %}
    {% if section.settings.img_text3 != blank %}
    <div class="shipping_returns_info_common warrnty">
      <div class="war_svg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="512" height="512"><path d="M320.163 192.832a6.516 6.517 0 0 1 10.498 7.723l-82.525 112.134-48.734-47.682a6.51 6.512 0 0 1 9.108-9.307l38.02 37.204zm-62.42 264.789h-3.47c-54.871-15.163-98.01-65.146-131.215-139.532-22.383-50.133-37.52-104.648-46.738-153.978a18.87 18.873 0 0 1 16.266-22.193c45.742-5.64 99.225-39.178 147.72-81.653a23.836 23.841 0 0 1 31.361 0c48.496 42.475 101.98 76.035 147.742 81.653 10.845 1.301 18.262 11.562 16.266 22.193-9.218 49.33-24.356 103.845-46.738 153.978-33.205 74.409-76.343 124.369-131.215 139.532zm119.33-144.846c21.907-49.027 36.784-102.652 45.829-151.05a5.878 5.88 0 0 0-5.054-6.9c-49.19-6.03-104.366-40.652-154.725-84.776a10.823 10.824 0 0 0-14.23 0c-50.358 44.124-105.533 78.746-154.745 84.798a5.856 5.857 0 0 0-5.031 6.877c9.043 48.398 23.942 102.002 45.827 151.05 31.405 70.374 71.571 117.319 121.064 131.81 49.472-14.491 89.66-61.436 121.066-131.81z"></path></svg>
      </div>
      <p class="free_info">{{section.settings.img_text3}}</p>
    </div>
    {% endif %}
  </div>
</div>