{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}

{% if swatch == blank %}
<div class="swatch error">
  <p>You must include the snippet swatch-real.liquid with the name of a product option.</p>
  <p>Use: <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
</div>
{% else %}

{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}

{% for option in product.options %}
  {% if option == swatch %}
    {% assign found_option = true %}
    {% assign option_index = forloop.index0 %}
    <style>
      label[for="product-select-option-{{ option_index }}"] { display: none; }
      #product-select-option-{{ option_index }} { display: none; }
      #product-select-option-{{ option_index }} + .custom-style-select-box { display: none !important; }
    </style>
    <script>$(window).load(function() { $('.selector-wrapper:eq({{ option_index }})').hide(); 
          var selectornew = $('#SingleOptionSelector-{{ option_index }}').val();
          jQuery('.swatch[data-option-index="'+{{ option_index }}+'"]').find('.header div').text(selectornew);
       });</script>
    {% assign downcased_option = swatch | downcase %}
    {% if downcased_option contains 'metal tone' or downcased_option contains 'Metal Tone'  or downcased_option contains 'Stone Color' or downcased_option contains 'stone color'  %}
      {% assign is_color = true %}
    {% endif %}
  {% endif %}
{% endfor %}

{% unless found_option %}
<div class="swatch error">
  <p>You included the snippet swatch-real.liquid with the name of a product option — <code>'{{ swatch }}'</code> — that does not belong to your product.</p>
  <p>Use <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
  <p><strong>This is case-sensitive!</strong> Do not put in <code>'color'</code> if your product option name is <code>'Color'</code>.</p>
</div>
{% else %}
<div class="swatch clearfix" data-option-index="{{ option_index }}">
  <div class="header header-{{ swatch }}">{% if swatch == 'Size' %}<span>{{ swatch }}:</span>{% endif %} {% if swatch == 'Color' or swatch == 'Colour' %}<div class="swatch-selected-colour"></div>{% endif %}{% if swatch == 'Size' %}<div class="swatch-selected-size"></div>{% endif %}
    {% if swatch == 'Size' %}{% for tag in product.tags %}{% assign tag1 = tag | downcase  %}{% if tag1 == 'ring' %}
    {% if section.settings.size_txt %}<span id="myBtn">{{section.settings.size_txt}}</span>{% endif %}
    {% endif %}{% endfor %}{% endif %}
  </div>
  {% unless is_color %}
    {% if collection.handle contains 'rings' %}
<!--   <div class="size_guide_chart"><span class="size_guide">Size guide</span></div> -->
  {% endif %}
  {% if collection.handle contains 'best-sellers' %}
<!--   <div class="size_guide_chart"><span class="size_guide">Size guide</span></div> -->
  {% endif %}
  {% if product.title contains 'ring' or product.title contains 'Ring' %}
  <div class="size_guide_chart"><span class="size_guide">Size guide</span></div>
  
  <script>

    setTimeout(() => {
      let sizeChart = jQuery('.size_guide_chart')[0]

      if (sizeChart) {
        jQuery('.swatch-element').each((i, item) => {
          //console.log('en im grac itemna ' + i);
          jQuery(item).children('label').trigger('click')
          if (!jQuery(item).hasClass('soild')) {
            if (jQuery(item).is(":visible") !== false) {
              console.log(jQuery(item).is(":visible"))
              jQuery(item).children('label').trigger('click')
              jQuery(item).children('label').addClass('toclick')
              return false
            }
          }

        })
      }
    }, 3000)

  </script>
  
  {% endif %}
  {% endunless %}
  <div class="clearfix"></div>
  {% assign values = '' %}
  <div class="combine-options {% if product.title contains 'ring' or product.title contains 'Ring' %}dev_ringProduct{% endif %}">
    <label class="option-label">{{ product.options[option_index] }}: <span id="{{ product.options[option_index] | handle }}"></span></label>
  {% for variant in product.variants %}
    
    {% assign value = variant.options[option_index] %}
    {% unless values contains value %}
      {% assign values = values | join: ',' %}
      {% assign values = values | append: ',' | append: value %} 
      {% assign values = values | split: ',' %}
  	  {% assign second = value | split: ' ' %}
    
      <div data-value="{{ value | escape }}" class="swatch-element {% if is_color %} color {% endif %} {{value | handle }}{{second[1] | handle }}-{{ value | split:" " | last | handle }} {% if variant.available %}available{% else %}soldout{% endif %} dev_{{value | handle }}{% if variant.inventory_quantity <= 0%} soild {% endif %}"
      >
        {% if is_color %}
          <script>

            setTimeout(() => {
              let itemColors = jQuery('.color')[0]
              if (itemColors) {
                jQuery('.swatch-element').each((i, item) => {
                  console.log('en im grac itemna ' + i);
                  jQuery(item).children('label').trigger('click')
                  if (!jQuery(item).hasClass('soild')) {
                    if (jQuery(item).is(":visible") !== false) {
                      console.log(jQuery(item).is(":visible"))
                      jQuery(item).children('label').trigger('click')
                      jQuery(item).children('label').addClass('toclick')
                      return false
                    }
                  }

                })
              }
            }, 3000)

          </script>
          <div class="tooltip">{{ value }}</div>
        {% endif %}
        <input id="swatch-{{ option_index }}-{{ value | handle }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} {% unless variant.available %}{% endunless %} />
        {% if is_color %}
          <label
            class="{{ value | handle }}
            {{ swatch }} "
            for="swatch-{{ option_index }}-{{ value | handle }}"
            style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.' | append: file_extension | asset_url }})">
            <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />
          </label>
        {% else %}
         {% if swatch == 'Size' or swatch == 'SIZE' %}
            <label for="swatch-{{ option_index }}-{{ value | handle }}" class="{{ swatch }}{% if value contains '.' %} swatch-with-dot{% endif %}">
              {% if value contains '.' %}{{ value | split: '.' | first }}<span class="half-size"><span class="half-size-one">1</span><span class="half-size-two">2</span></span> {% else %}{{ value }}{% endif %}
             
            </label>
          {% else %} 
            <label for="swatch-{{ option_index }}-{{ value | handle }}" class="{{ swatch }}">
              {{ value }}
              <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />
            </label>
          {% endif %}
        {% endif %}
      </div>
    {% endunless %}
    {% if variant.available %}
      <script>
        jQuery('.swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
      </script>
    {% endif %}
  {% endfor %}
  </div>
</div>

{% endunless %}
{% endif %}