{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}

{% if swatch == blank %}

  <div class="swatch error">
    <p>You must include the snippet swatch-real.liquid with the name of a product option.</p>
    <p>Use: <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
    <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
  </div>

{% else %}

  {% assign found_option = false %}
  {% assign is_color = false %}
  {% assign option_index = 0 %}

  {% for option in product.options %}

    {% if option == swatch %}
      {% assign found_option = true %}
      {% assign option_index = forloop.index0 %}

      <style>
        label[for="product-select-option-{{ option_index }}"] { display: none; }
        #product-select-option-{{ option_index }} { display: none; }
        #product-select-option-{{ option_index }} + .custom-style-select-box { display: none !important; }
      </style>
      <script>
        $(window).load(function() { $('.selector-wrapper:eq({{ option_index }})').hide();
          var selectornew = $('#SingleOptionSelector-{{ option_index }}').val();
          jQuery('.swatch[data-option-index="'+{{ option_index }}+'"]').find('.header div').text(selectornew);
        });
      </script>

      {% assign downcased_option = swatch | downcase %}
      {% if downcased_option contains 'metal tone' or downcased_option contains 'Metal Tone'  or downcased_option contains 'Stone Color' or downcased_option contains 'stone color'  %}
        {% assign is_color = true %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% unless found_option %}

    <div class="swatch error">
      <p>You included the snippet swatch-real.liquid with the name of a product option — <code>'{{ swatch }}'</code> — that does not belong to your product.</p>
      <p>Use <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
      <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
      <p><strong>This is case-sensitive!</strong> Do not put in <code>'color'</code> if your product option name is <code>'Color'</code>.</p>
    </div>
  {% else %}
    <div class="swatch clearfix" data-option-index="{{ option_index }}">
      <div class="header header-{{ swatch }}">{% if swatch == 'Size' %}<span>{{ swatch }}:</span>{% endif %} {% if swatch == 'Color' or swatch == 'Colour' %}<div class="swatch-selected-colour"></div>{% endif %}{% if swatch == 'Size' %}<div class="swatch-selected-size"></div>{% endif %}
        {% if swatch == 'Size' %}{% for tag in product.tags %}{% assign tag1 = tag | downcase  %}{% if tag1 == 'ring' %}
          {% if section.settings.size_txt %}<span id="myBtn">{{section.settings.size_txt}}</span>{% endif %}
        {% endif %}{% endfor %}{% endif %}
      </div>
      {% unless is_color %}
        {% if collection.handle contains 'rings' %}
          <!--   <div class="size_guide_chart"><span class="size_guide">Size guide</span></div> -->
        {% endif %}
        {% if collection.handle contains 'best-sellers' %}
          <!--   <div class="size_guide_chart"><span class="size_guide">Size guide</span></div> -->
        {% endif %}
       {% comment %} product.title contains 'ring' or
        product.title contains 'Ring' or
        product.title contains 'Pendant' or
        product.title contains 'Necklace' or
        product.title contains 'Bangle'{% endcomment %}

        {% if swatch == 'Size' or swatch == 'SIZE' %}
          <script>
            setTimeout(() => {
              let sizeChart = jQuery('.size_guide_chart')[0]
              if (sizeChart) {
                jQuery('.select-option ').each((i, item) => {
                  //console.log('en im grac itemna ' + i);
                  jQuery(item).children('label').trigger('click')
                  if (!jQuery(item).hasClass('soild')) {
                    if (jQuery(item).is(":visible") !== false) {
                      console.log(jQuery(item).is(":visible"))
                      jQuery(item).children('label').trigger('click')
                      jQuery(item).children('label').addClass('toclick')
                      return false
                    }
                  }
                })
              }

            }, 2000)

          </script>
        {% endif %}
      {% endunless %}
      <div class="clearfix"></div>
      {% assign values = '' %}
      {% if swatch == 'Size' or swatch == 'SIZE' %}
          <div class="combine-options {% if product.title contains 'ring' or product.title contains 'Ring' %}dev_ringProduct{% endif %}">
        <div class="select-size_container">
          <div class="select_size-section">
            <div class="pick_size">Pick Size</div>

            <div  class="dropdown_container  {% if product.title contains 'ring' or product.title contains 'Ring' %}dev_ringProduct{% endif %}">
              <div  class="dropdown {% if product.title contains 'ring' or product.title contains 'Ring' %}dev_ringProduct{% endif %}">
                <input name="select_value" type="hidden" id="selectedValue">
                <div class="display-value" id="displayValue" onclick="toggleOptions(event)">
                  <div class="value-text" id="valueText"></div>
                  <span class="arrow" id="arrowControl">
                                <img src="{{ 'arrow-select.svg' | asset_url }}" alt="">
                            </span>

                </div>
                <ul class="dropdown-menu select-container" id="selectContainer" onblur="toggleOptions(event)">
                  {% for variant in product.variants %}
                    {% assign value = variant.options[option_index] %}
                  {% unless values contains value %}
                    {% assign values = values | join: ',' %}
                    {% assign values = values | append: ',' | append: value %}
                    {% assign values = values | split: ',' %}
                    {% assign second = value | split: ' ' %}

                    <li   values="{{ value | escape }}" data-value="{{ value | escape }}"
                          class="select-option {% if is_color %} color {% endif %} {{value | handle }}{{second[1] | handle }}-{{ value | split:" " | last | handle }} {% if variant.available %}available{% else %}soldout{% endif %} dev_{{value | handle }}{% if variant.inventory_quantity <= 0%} soild {% endif %}"
                    >
                      {% if swatch == 'Size' or swatch == 'SIZE' %}
                        <label onclick='selected(this)'  for="swatch-{{ option_index }}-{{ value | handle }}" class="{{ swatch }}{% if value contains '.' %} swatch-with-dot{% endif %}">
                          {% if value contains '.' %}{{ value | split: '.' | first }}<span class="half-size"><span class="half-size-one">1</span><span class="half-size-two">2</span></span> {% else %}{{ value }}{% endif %}
                        </label>
                      {% else %}
                        <label for="swatch-{{ option_index }}-{{ value | handle }}" class="{{ swatch }}">
                          {{ value }}
                          <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />
                        </label>
                      {% endif %}

                      {% comment %}<label for="swatch-{{ option_index }}-{{ value | handle }}" class="{{ swatch }}{% if value contains '.' %} swatch-with-dot{% endif %}">
                          {% if value contains '.' %}
                              {{ value | split: '.' | first }}<span class="half-size"><span class="half-size-one">1</span><span class="half-size-two">2</span></span>
                          {% else %}
                              {{ value }}
                          {% endif %}
                      </label>{% endcomment %}

                    </li>
                  {% endunless %}
                  {% if variant.available %}
                    <script>
                      jQuery('.swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
                    </script>
                  {% endif %}
                    <div style="display:none!important;">
                      <input style="opacity: 0!important;" id="swatch-{{ option_index }}-{{ value | handle }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} {% unless variant.available %}{% endunless %} />
                    </div>
                  {% endfor %}


                </ul>
              </div>


            </div>
          </div>
          <div class="size_guide_chart"><span class="size_guide">Size guide</span></div>
        </div>
        </div>

      {% else %}

          {% assign values = '' %}
          <div class="combine-options {% if product.title contains 'ring' or product.title contains 'Ring' %}dev_ringProduct{% endif %}">
              <label class="option-label">{{ product.options[option_index] }}: <span id="{{ product.options[option_index] | handle }}"></span></label>
              {% for variant in product.variants %}

                  {% assign value = variant.options[option_index] %}
              {% unless values contains value %}
                  {% assign values = values | join: ',' %}
                  {% assign values = values | append: ',' | append: value %}
                  {% assign values = values | split: ',' %}
                  {% assign second = value | split: ' ' %}

                  <div data-value="{{ value | escape }}" class="swatch-element {% if is_color %} color {% endif %} {{value | handle }}{{second[1] | handle }}-{{ value | split:" " | last | handle }} {% if variant.available %}available{% else %}soldout{% endif %} dev_{{value | handle }}{% if variant.inventory_quantity <= 0%} soild {% endif %}"
                  >
                      {% if is_color %}
                          <script>

                              setTimeout(() => {
                                  let itemColors = jQuery('.color')[0]
                                  if (itemColors) {
                                      jQuery('.swatch-element').each((i, item) => {
                                          console.log('en im grac itemna ' + i);
                                          jQuery(item).children('label').trigger('click')
                                          if (!jQuery(item).hasClass('soild')) {
                                              if (jQuery(item).is(":visible") !== false) {
                                                  console.log(jQuery(item).is(":visible"))
                                                  jQuery(item).children('label').trigger('click')
                                                  jQuery(item).children('label').addClass('toclick')
                                                  return false
                                              }
                                          }

                                      })
                                  }
                              }, 3000)

                          </script>
                          <div class="tooltip">{{ value }}</div>
                      {% endif %}
                      <input id="swatch-{{ option_index }}-{{ value | handle }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} {% unless variant.available %}{% endunless %} />
                      {% if is_color %}
                          <label
                                  class="{{ value | handle }}
            {{ swatch }} "
                                  for="swatch-{{ option_index }}-{{ value | handle }}"
                                  style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.' | append: file_extension | asset_url }})">
                              <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />
                          </label>
                      {% else %}
                          {% if swatch == 'Size' or swatch == 'SIZE' %}
                              <label for="swatch-{{ option_index }}-{{ value | handle }}" class="{{ swatch }}{% if value contains '.' %} swatch-with-dot{% endif %}">
                                  {% if value contains '.' %}{{ value | split: '.' | first }}<span class="half-size"><span class="half-size-one">1</span><span class="half-size-two">2</span></span> {% else %}{{ value }}{% endif %}

                              </label>
                          {% else %}
                              <label for="swatch-{{ option_index }}-{{ value | handle }}" class="{{ swatch }}">
                                  {{ value }}
                                  <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" />
                              </label>
                          {% endif %}
                      {% endif %}
                  </div>
              {% endunless %}
              {% if variant.available %}
                  <script>
                      jQuery('.swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
                  </script>
              {% endif %}
              {% endfor %}
          </div>

      {% endif %}


    </div>

  {% endunless %}
{% endif %}
<script>
  /*    jQuery('.dropdown ul li.custom-option').click(function() {
        //  jQuery(this).siblings().addBack().children().remove();
          var a = $(this).siblings().toggle();
          jQuery(this).parents('.custom-select-wrapper').find('.arrow').toggle();
          var myUL = $(this).siblings().toggleClass("showme");
          jQuery(this).parent().prepend(this);
      })*/

  var isOpen = false;

  function toggleOptions(e) {

    isOpen = !isOpen;
    if (isOpen) {
      $('#arrowControl').css('transform','rotate(180deg')
      $('#selectContainer').css('display','block')
      document.getElementById('selectContainer').focus();

    } else {
      $('#arrowControl').css('transform','rotate(0deg')
      document.getElementById('selectContainer').blur();
      $('#selectContainer').css('display','none')
    }

  }

  function selected(val) {

    document.getElementById('valueText').innerHTML = val.innerHTML;
    document.getElementById('selectedValue').val = val;
    toggleOptions();
  }


</script>

<style>
  .soild label{
    color: #7b7b7b;
  }

  .display-value {
    display: flex;
    width: 100%;
    align-items: center;
  }
  span#arrowControl{
    margin-left: 1rem;
  }
  div#valueText{
    display: flex;
  }
  .arrow.arrow-up {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid black;
  }
  .arrow.arrow-down {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid black;
  }
  #selectContainer{display:none;}
  .select-container {
    width: 100%;
    padding: 0px;
    position: absolute;
    margin: 0px;
    left: 0;
    border: 1px solid;
    background-color: #f7f3ef;
    top: 37px;
    text-align: left;
    z-index:2;
  }
  .select-container:focus {
    outline:none;
  }
  .select-option {
    font-weight: 600;
    display: inline-block;
    font-family: "Roboto Mono";
    align-items: center;
    color: #000;
  }
  .select-option:hover {
    background-color: #000;
    color: #f7f3ef;
  }
</style>
<style>
  .dropdown ul li.custom-option:hover {
    background-color: #B8B8B8;
  }
  .dropdown ul li.custom-option {
    background-color: #f7f3ef;
    z-index: 1;
    display: none;
    list-style: none;
    padding: 5px;
  }
  .dropdown ul li.custom-option.state-selected{
    display:block!important;
  }

  .showme{
    display:block;
    width:100%!important;
  }

  .dropdown ul li {
    cursor: default;
  }

</style>

<style>
  .select-size_container{
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position:relative;
  }
  .custom-select-wrapper{
    max-width: 70px;
    width: 100%;
    position: absolute;
    right: 0;
    z-index: 5;
    border: 1px solid;
    padding:.5px 8px;
    align-items: center;
    display:flex;
    background: #f7f3ef;
  }
  .select-container .swatch-with-dot{
    display: flex;
    flex-direction: row;
  }
  .select-container .half-size {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 22px;
    position: relative;
    left: 5px;
    top:5px;
  }
  #displayValue .half-size{
    top:0;
  }
  .select_size-section{
    display: flex;
    justify-content: space-around;
    width: 250px;
    cursor:pointer;
    align-items: center;
    border:1px solid;
  }
  .pick_size{
    padding: 5px 25px;
    border-right: 1px solid;

  }
  .select-size_container .select-option label {
    padding: 0 10px;
  }
  .swatch .custom-select-wrapper label{
    height: auto!important;
    font-size: 16px;
    text-transform: none;
    width: 100%;
    line-height: normal;
    float: none;
  }
  .select_size-section .select_size{
    border:none;
    color:#000;
    background-color: #f7f3ef;
    width: auto;
    padding: 5px 35px 5px 5px;
  }
  .size_guide_chart{
    width:auto;
  }

</style>
