{% assign section_color = 'primary' %}
{% include 'global-variables' %}

<section class="page {{ global__section_with_padding_class }} color--{{ section_color }}-text bg--{{ section_color }}-background">
  <div class="max-site-width px2 lg--up--px3">

    <div class="max-width--2 lg--up--max-width--4 mx--auto">

      <div class="grid">
        <div class="grid__item lg--up--one-third">

          <h1 class="{{ global__heading_font_size }}">{{ 'customer.account.title' | t }}</h1>

          <p class="{{ global__basic_font_size }}"><a href="/account">{{ 'customer.account.return' | t }}</a></p>


          <h3 class="font-size--m mt3">{{ 'customer.order.billing_address' | t }}</h3>

          <div class="font-size--s">
            <p>{{ 'customer.order.payment_status' | t }}: {{ order.financial_status_label }}</p>
            {{ order.billing_address | format_address }}
          </div>


          <h3 class="font-size--m mt3">{{ 'customer.order.shipping_address' | t }}</h3>

          <div class="font-size--s">
            <p>{{ 'customer.order.fulfillment_status' | t }}: {{ order.fulfillment_status_label }}</p>
            {{ order.shipping_address | format_address }}
          </div>

          {% include 'account__logout' %}

        </div>
        <div class="grid__item lg--up--two-thirds mt3 lg--up--mt0">

            <h2 class="font-size--l m0">{{ 'customer.order.title' | t: name: order.name }}</h2>

            <p class="font-size--s m0 mt1 ">{{ 'customer.order.date' | t: date: order.created_at | date: "%B %d, %Y %I:%M%p" }}</p>

            {% if order.cancelled %}
              {%- assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" -%}
              <p>{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
              <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
            {% endif %}

            <table class="responsive-table full font-size--sm mt3">
              <thead>
                <tr>
                  <th class="text-align--left pb1">{{ 'customer.order.product' | t }}</th>
                  <th class="text-align--left pb1">{{ 'customer.order.sku' | t }}</th>
                  <th class="text-align--left pb1">{{ 'customer.order.price' | t }}</th>
                  <th class="text-align--left pb1">{{ 'customer.order.quantity' | t }}</th>
                  <th class="text-align--right pb1">{{ 'customer.order.total' | t }}</th>
                </tr>
              </thead>
              <tbody>
                {% for line_item in order.line_items %}
                  <tr id="{{ line_item.key }}" class="responsive-table-row">
                    <td class="lg--up--line-height--8" data-label="{{ 'customer.order.product' | t }}">
                      <a class="border-bottom--{{ section_color }}-text" href="{{ line_item.product.url }}">{{ line_item.title }}</a>
                      {% if line_item.fulfillment %}
                        <dl>
                          <dt>{{ 'customer.order.fulfilled_at' | t }}</dt>
                          <dd>{{ line_item.fulfillment.created_at | date: format: 'month_day_year' }}</dd>

                          {% if line_item.fulfillment.tracking_url %}
                            <dt>{{ 'customer.order.tracking_url' | t }}</dt>
                            <dd>
                              <a href="{{ line_item.fulfillment.tracking_url }}">
                                {{ 'customer.order.track_shipment' | t }}
                              </a>
                            </dd>
                          {% endif %}

                          <dt>{{ 'customer.order.tracking_company' | t }}</dt>
                          <dd>{{ line_item.fulfillment.tracking_company }}</dd>

                          {% if line_item.fulfillment.tracking_number %}
                            <dt>{{ 'customer.order.tracking_number' | t }}</dt>
                            <dd>{{ line_item.fulfillment.tracking_number }}</dd>
                          {% endif %}
                        </dl>
                      {% endif %}
                    </td>
                    <td  class="lg--up--line-height--8"  data-label="{{ 'customer.order.sku' | t }}">{{ line_item.sku }}</td>
                    <td  class="lg--up--line-height--8" data-label="{{ 'customer.order.price' | t }}">{{ line_item.price | money }}</td>
                    <td  class="lg--up--line-height--8" data-label="{{ 'customer.order.quantity' | t }}">{{ line_item.quantity }}</td>
                    <td  class="lg--up--line-height--8 text-align--right" data-label="{{ 'customer.order.total' | t }}">{{ line_item.quantity | times: line_item.price | money }}</td>
                  </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr class="responsive-table-row">
                  <td colspan="4" class="sm--hide pt3">{{ 'customer.order.subtotal' | t }}</td>
                  <td class="text-align--right pt3"data-label="{{ 'customer.order.subtotal' | t }}">{{ order.subtotal_price | money }}</td>
                </tr>

                {% for discount in order.discounts %}
                  <tr>
                    <td colspan="4" class="sm--hide pt1">{{ discount.code }} {{ 'customer.order.discount' | t }}</td>
                    <td class="text-align--right" data-label="{{ 'customer.order.discount' | t }}">{{ discount.savings | money }}</td>
                  </tr>
                {% endfor %}

                {% for shipping_method in order.shipping_methods %}
                  <tr>
                    <td colspan="4" class="sm--hide pt1">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</td>
                    <td class="text-align--right" data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</td>
                  </tr>
                {% endfor %}

                {% for tax_line in order.tax_lines %}
                  <tr>
                    <td colspan="4" class="sm--hide pt1">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
                    <td class="text-align--right" data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</td>
                  </tr>
                {% endfor %}

                <tr>
                  <td colspan="4" class="sm--hide pt1">{{ 'customer.order.total' | t }}</td>
                  <td class="text-align--right" data-label="{{ 'customer.order.total' | t }}">{{ order.total_price | money }} {{ order.currency }}</td>
                </tr>
              </tfoot>
            </table>

        </div>
      </div>

    </div>
  </div>
</section>


{% comment %}
  The data-label attributes on <td> elements are mobile-friendly
  helpers used for responsive-table labels
{% endcomment %}

