<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
<meta name="google-site-verification" content="a76oWu9SwTkISoP0ciIv8R0EaBZ1lSreS7PXamrQ5cU" />
  <!-- Global site tag (gtag.js) - Google Ads: 665977761 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-665977761"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-665977761');
</script>
{% include 'limespot' %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_body_bg }}">
  <link rel="canonical" href="{{ canonical_url }}">
  
  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ content_for_header }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  {{ 'custom.scss.css' | asset_url | stylesheet_tag }}
  {{ 'slick-theme.css' | asset_url | stylesheet_tag }}
  {{ 'devst-styles.scss.css' | asset_url | stylesheet_tag }}
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = {
      data: {
        "cartMethod": "{{ settings.ajax_cart_method }}"
      },
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        cartEmpty: {{ 'cart.general.empty' | t | json }},
        cartCookie: {{ 'cart.general.cookies_required' | t | json }},
        cartSavings: {{ 'cart.general.savings_html' | t: price: '[savings]' | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}
  {% if template contains 'product' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  {% endif %}
  {% comment %}We are having updated theme.min.js and theme.js as on 28 june 2019{% endcomment %}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'theme.min.js' | asset_url }}"></script><![endif]-->
  <script src="{{ 'custom.js' | asset_url }}"></script>
  

<!--begin-bc-sf-filter-css-->
  {% include 'bc-sf-filter-style' %}
<!--end-bc-sf-filter-css-->
  {% if template contains 'product' %}
    {{ 'magiczoomplus.css' | asset_url | stylesheet_tag }}
   <script src="{{ 'magiczoomplus.js' | asset_url }}"></script>
    {{'slick-theme.css' | asset_url | stylesheet_tag }}
  
    {{'slick.min.js' | asset_url | script_tag }}
    {% endif %}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {% section 'header' %}

  <main role="main" id="MainContent" class="{% if template contains 'product' %}main-product-page{% endif %}">
    {{ content_for_layout }}
    <limespot></limespot>
    
    {% if settings.enable_cockroach_animation %} 
    <img id="image_animate" src="//cdn.shopify.com/s/files/1/0026/2599/4801/files/GK-small-black.png?16494">
 	{% endif %}
  </main>

  {% section 'footer' %}

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.ajax_cart_method == "modal" %}
    {% include 'ajax-cart-template' %}
  {% endif %}
  
  
  {% include 'index-additional-scripts' %}
  {% include 'swymSnippet' %}
  <script>
//     $('.swym-add-to-wishlist').on('click',function(){
// setTimeout(function(){      
//   $("span.swym-anchor-badge.show-badge").css({"background-color":"#eb3131","border":"1px solid #eb3131"});
// }, 2000);
//     });
</script>
 
   
 
<style>
  span.swym-anchor-badge.show-badge{
    background-color:#eb3131 !important;
    border:1px solid #eb3131 !important;
    
}
</style>



{% include 'linked-options' %}
<!--begin-bc-sf-filter-js-->
  {% include 'bc-sf-filter' %}
<!--end-bc-sf-filter-js-->
{% comment %} Init BC Action List {% endcomment %}
<!--start-bc-al-init-->
  {% include 'bc-al-init' %}
<!--end-bc-al-init-->
{% comment %} Init Recently Viewed Products {% endcomment %}
<!-- start-bc-recently-viewed-product-init -->
  {% include 'bc-recently-viewed-product-init' %}
<!-- end-bc-recently-viewed-product-init -->
{% comment %} Init Most Popular Widgets {% endcomment %}
<!--start-bc-most-popular-product-init-->
  {% include 'bc-most-popular-product-init' %}
<!--end-bc-most-popular-product-init-->
  
  {% unless customer %}
 
  {% endunless %}
  
  
  
  

  
 <script> 

  </script>
  
  {{ 'devst-scripts.js' | asset_url | script_tag }}
  

  {% render 'spurit_po2_theme_snippet' %}

  <style>
    #swym-plugin #swym-anchor[data-position="bottom-right"], #swym-hosted-plugin #swym-anchor[data-position="bottom-right"] {
    right: 81px!important;
    }
    .lg--up--fixed {
    position: fixed;
}
@media only screen and (max-width: 767px) {
    .hv-bg--secondary-accent {
    background-color: #dee33d;
}
  button#Subscribe {
    padding-left: 0;
    padding-right: 0;
    width: 50px;
}
}
    .swym-btn-container .swym-fave-count {
   
    background: transparent!important;
    box-shadow: none!important;
    }
    {% if template contains 'product'%}
    @media only screen and (max-width: 767px) {
    header.site-header.full--w.has-announcement {
position: fixed;  
}
    }
    {% endif %}
    main#MainContent {
    padding-bottom: 40px;
}
    .grid.menu-newsletter-position input#Email {
    margin: 0;
}
    
    form.mc-embedded-subscribe-formm {
    position: relative;
}
  </style>
<!--BeginCFFPersistentCartCart-->
{% if customer %}
    <script>

        window.cffCustomer = {
            name: '{{customer.name}}',
            email: '{{customer.email}}',
            hasAccount: '{{customer.has_account}}',
            id: '{{customer.id}}'
        };


    </script>

{% endif %}

<script>
    window.cffPCLiquidPlaced = true
</script>

<!--EndCFFPersistentCartCart--></body>
</html>
