<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>  
<meta name="facebook-domain-verification" content="znjxti6xjtbu4lep04lab9ebaaid2f" />
<meta name="facebook-domain-verification" content="oq9i9rr336pp6ft23ubz7jbhz7mrio" />
<meta name="facebook-domain-verification" content="bp63o7antoef80r0of64rpkw2eagot" />
<meta name="google-site-verification" content="a76oWu9SwTkISoP0ciIv8R0EaBZ1lSreS7PXamrQ5cU" />
  <meta name="google-site-verification" content="pQaR6l-yMgJdLdjHPMMahnwUSADQVK0-6O8BbEI3enU" />
  
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Brawler&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet">
  
  
  <!-- Global site tag (gtag.js) - Google Ads: 665977761 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-665977761"></script>
{% unless template == 'index'%}
  {% include 'limespot' %}
{% endunless %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_body_bg }}">
    {% comment %}Nosto canonical url{% endcomment %}
    {% if product == blank and collection and collection.metafields.nosto != blank %}
        <link rel="canonical" href="{{shop.url}}/collections/{{collection.metafields.nosto.sourceHandle}}">
    {% else %}
        <link rel="canonical" href="{{ canonical_url }}">
    {% endif %}


  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}
 
  {{ content_for_header }}
 
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
 
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-665977761');
 
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = {
      data: {
        "cartMethod": "{{ settings.ajax_cart_method }}"
      },
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        cartEmpty: {{ 'cart.general.empty' | t | json }},
        cartCookie: {{ 'cart.general.cookies_required' | t | json }},
        cartSavings: {{ 'cart.general.savings_html' | t: price: '[savings]' | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
 
 </script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(80988274, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
    });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/80988274" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Start VWO Async Smartcode -->
<script type='text/javascript'>
window._vwo_code = window._vwo_code || (function(){
var account_id=493673,
settings_tolerance=2000,
library_tolerance=2500,
use_existing_jquery=false,
is_spa=1,
hide_element='body',

/* DO NOT EDIT BELOW THIS LINE */
f=false,d=document,code={use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){
window.settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);var a=d.createElement('style'),b=hide_element?hide_element+'{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}':'',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);this.load('https://dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&f='+(+is_spa)+'&r='+Math.random());return settings_timer; }};window._vwo_settings_timer = code.init(); return code; }());
</script>
<!-- End VWO Async Smartcode -->
  
<script>
window.VWO = window.VWO || [];
{% assign _vis_opt_revenue = total_price | money_without_currency %}
window.VWO.push(['track.revenueConversion','{{ _vis_opt_revenue }}']);
</script>
<!-- End VWO Async Smartcode -->
  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}




  <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js" ></script>
 
  {% comment %}We are having updated theme.min.js and theme.js as on 28 june 2019{% endcomment %}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.min.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'theme.min.js' | asset_url }}"></script><![endif]-->
  {{ 'custom.js' | asset_url | script_tag }} 
  

<!--begin-bc-sf-filter-css-->
  {% include 'bc-sf-filter-style' %}
<!--end-bc-sf-filter-css-->

<!--Nosto new tag   -->
<script type="text/javascript">
    (function(){var name="nostojs";window[name]=window[name]||function(cb){(window[name].q=window[name].q||[]).push(cb);};})();
</script>
<script src="//connect.nosto.com/include/shopify-2625994801" async></script>



    {% if template contains 'product' %}
    {{ 'magiczoomplus.css' | asset_url | stylesheet_tag }}
   <script src="{{ 'magiczoomplus.js' | asset_url }}"></script>
    {{'slick-theme.css' | asset_url | stylesheet_tag }}

    {{'slick.min.js' | asset_url | script_tag }}
    {% endif %}

    <style>

 @media screen and (max-width: 767px)
 {
     .vwo_sortOptions {
    display: none!important;
}
  .vwo_filterHeader {
    padding: 8px;
    border-bottom: 1px solid #dccec1;
}
   .vwo_btnArea {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
   .vwo_filterClose {
    width: 100%;
    background: #000;
    color: #fff;
    padding: 10px 0;
    border: none;
    font-size: 14px;
    cursor: pointer;
    display: block;
}
   #bc-sf-filter-tree .bc-sf-filter-selection-wrapper {
    display: none!important;
    }
     /*stone filter scrollbar  mobile */
     .bc-sf-filter-option-block-stone .bc-sf-filter-block-content ul li:last-child{
         padding-bottom:7rem;
     }
 }
@media screen and (min-width: 991px)
{
  .vwo_mainOffer p a {
    text-decoration: underline;
}
  .announcement-bar.md--dn--hide {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  .announcement-bar.md--dn--hide > .md--up--grid__item.text-align--right, .announcement-bar.md--dn--hide > .md--up--grid__item.text-align--left {
    max-width: 25%;
    width: 25%;
    flex: 25% 0 1;
    white-space: nowrap;
}
  .vwo_mainOffer {
    order: 2;
    text-align: center;
    padding: 0 10px;
    flex: 50% 0 1;
    max-width: 50%;
}
  .vwo_mainOffer p {
    margin: 0;
    font-size: 14px;
    line-height: normal;
}
 .announcement-bar.md--dn--hide > .md--up--grid__item.text-align--right {
    order: 3;
}
}
  #bc-sf-filter-tree-h .bc-sf-filter-option-block.bc-sf-filter-option-block-size .bc-sf-filter-block-content {
    height: auto;
    max-height: 260px !important;
    overflow-y: auto;
}
 iframe#chat-button{
     bottom:10%;
 }
 /*stone filter scrollbar  desktop */
 #bc-sf-filter-block-content-stone{
     height: auto;
     max-height: 260px !important;
     overflow-y: auto;
 }



    .swatch-element.color label {
    position: relative;
}
  .size_guide_chart {
    width: 100%;
    text-align: right;
}
  .size_guide_chart .size_guide {
    font-size: 18px;
    font-family: "Prospectus Pro S",serif;
    color: black;
    text-decoration: underline;
    cursor: pointer;
}
    .sizeGuidePopup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    display: none;
    background: rgba(0,0,0,0.3);
}
    .sizeGuidePopup .sizeGuide {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        padding: 10px;
        width: 95%;
        background: #F6F3EF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
        max-width: 1000px;
    }
.sizeGuidePopup .sizeGuide .closeBtn {
    position: absolute;
    right: 0;
    top: -40px;
    z-index: 9999;
    line-height: normal;
}
.sizeGuidePopup .sizeGuide .closeBtn .closeSizePopup {
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
}
.sizeGuidePopup .sizeGuide .closeBtn .closeSizePopup:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
      background: url({{'close-button.png' | asset_url}}}}) no-repeat center;
    background-size: contain;
}
.sizeGuidePopup .sizeGuide .sizeOptions {
    width: 100%;
    position: relative;
    overflow-y: auto;
    max-width: 1000px;
    height: auto;
    max-height: 85vh;
    border: none;
    padding: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#sizeTable {
  overflow: scroll;
}
  
table {
  border-collapse: collapse;
}

td, th {
  border: solid 1px #cccccc
}
td:nth-child(odd) {
  background-color: #f7f3ef;
}
td {
  padding: 10px;
  font-size: 14px;
  text-align: center;
}
.sizeGuidePopup:hover {
  cursor: default;
}
.sizeTable-switch-holder {
  height: 40px;
  padding: 8px 10px;
}
         
.sizeTable-switch:hover {
  cursor: pointer;
  text-decoration: underline;
}
         
.sizeTable-switch-active {
  text-decoration: underline;
}
     
.no-scroll {
  overflow: hidden;
}
         
@media only screen and (max-width: 950px){

/*   table,
  tr {
    width: 100%;
  }
  
  td {
  	display: none;
    width: 100%;
  }
  
  .sizeTable-td-root {
  	display: block !important;
  } */

}
         
.sizeTable-description {
  padding: 20px
}
  
.sizeTable-description li {
  margin-bottom: 10px !important
}
  
.sizeTable-description{
  display: block !important;
}
  
h2 {
  font-size: 20px !important
}
  
h6 {
  font-size: 18px !important
}
  
ul li, p {
  font-size: 16px !important
}

</style>

    {% include "manychat-header" %}

</head>
<div style="display:none;">
  <div id="sizeTable">
    <div class="sizeTable-description">

          {% section 'ring-size-calculator-popup' %} 
    </div>
  </div>
</div>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {% section 'header' %}

  <main role="main" id="MainContent" class="{% if template contains 'product' %}main-product-page{% endif %}">
    {{ content_for_layout }}

    
    {% if settings.enable_cockroach_animation %} 
    <img id="image_animate" src="//cdn.shopify.com/s/files/1/0026/2599/4801/files/GK-small-black.png?16494">
 	{% endif %}
  </main>


  {% section 'footer' %}

 
  {% if settings.ajax_cart_method == "modal" %}
    {% include 'ajax-cart-template' %}
  {% endif %}

  

  {% include 'index-additional-scripts' %}
  {% include 'swymSnippet' %}
 

{% include 'linked-options' %}
  
<!--begin-bc-sf-filter-js-->
  {% include 'bc-sf-filter' %}


  {% include 'bc-al-init' %}
<!--end-bc-al-init-->
{% comment %} Init Recently Viewed Products {% endcomment %}
<!-- start-bc-recently-viewed-product-init -->
  {% include 'bc-recently-viewed-product-init' %}
<!-- end-bc-recently-viewed-product-init -->
{% comment %} Init Most Popular Widgets {% endcomment %}
<!--start-bc-most-popular-product-init-->
  {% include 'bc-most-popular-product-init' %}
<!--end-bc-most-popular-product-init-->

  {% unless customer %}
   {% include 'Devthird-popup'%}
  {% endunless %}
  

  {{ 'devst-scripts.js' | asset_url | script_tag }}

    {% if template contains 'product'%}
        <style>

          
            @media only screen and (max-width: 767px) {
              header.site-header.full--w.has-announcement {
                position: fixed;  
              }
            }

      </style>
    {% endif %}

  
  {% include 'footbar' %}
  
  
  {% unless template == 'index'%}
  <script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} window.KlarnaThemeGlobals.data_purchase_amount={{product.first_available_variant.price}};window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>
<script >if(loggedIn) {zE(function() {zE.show();});}</script>
  {% endunless %}
  
  <!-- Start of germankabirski Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=ae554e67-fa53-4270-b252-1a1c26f47a33"> </script>
<!-- End of germankabirski Zendesk Widget script -->
  
  <button  class="zens" onclick="zE.activate();"><img src="{{'tchat.png' | asset_url}}"></button> 
  
  <script>

    $(document).ready(function(){
  $('ul li a').click(function(){
    $('li a').removeClass("active");
    $(this).addClass("active");
});
});
    
       manageInstagramSection();
    function manageInstagramSection(){
  if(!$('.vwo_shopInstagramBtn').length){
    $('#rap__med__instagram').addClass('max-site-width px3');
     var findInstaPost = setInterval(function(){
      if($('#rap__med__insta > div').length){
        $('#rap__med__insta > div:first-child').wrapAll('<div class="vwo_singleGrid"></div>');
        $('#rap__med__insta > div:not(:first-child)').wrapAll('<div class="vwo_fourGrid"></div>');
        clearInterval(findInstaPost);
      }
    },100);
  }
}
   
  </script>
{% comment %}  <style>
    @media screen and (min-width: 768px)
 {
 .vwo_singleGrid #rap__med__instabox > a .rap__med__insta-img {
    height: 100%;
}

    }
  </style>{% endcomment %}
   
 <script>
 
   $(document).ready(function(){
     jQuery('#handmade-collection #MainContent')
     .prepend(
      "<div class=' header-banner'>" +
        "<img class='img-desktop' src='https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Desktop6-min.JPG?v=1614186483' alt=''> " +
         "<img class='img-mobile' src='https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Mobile6-min.JPG?v=1614186482' alt=''>" +
      "</div>",
      );
       jQuery('#precious-freedom #MainContent')
           .prepend(
               "<div class='header-banner'>" +
               "<img class='img-desktop' src='https://cdn.shopify.com/s/files/1/0026/2599/4801/files/30-06-desktop-1-min.jpg?v=1625057258' alt=''> " +
               "<img class='img-mobile' src='https://cdn.shopify.com/s/files/1/0026/2599/4801/files/30-06-mobile-min.jpg?v=1625055842' alt=''>" +
               "</div>",
           );
	
	$('.country-label').click(function(){
		var tab_id = $(this).attr('data-tab');

		$('.country-label').removeClass('active');
		$('.tab').removeClass('tab-active');

		$(this).addClass('active');
		$("#"+tab_id).addClass('tab-active');
	})

});
  
   {% if template contains 'collection'%}

      manageFilterSection();
      addFiltersEventListeners();

   {% endif %}

function addFilterSortWrapper(){
  if(!$('.vwo_bottomWrapper').length){
    $('body').append('<div class="vwo_bottomWrapper"><div class="flexRow"><div class="vwo_sortWrap vwo_col"><span class="vwo_sortSelected" style="display:none;"></span></div><div class="vwo_filterWrap vwo_col"></div></div></div>');
    $('#bc-sf-filter-top-sorting').appendTo('.vwo_sortWrap');
    $('#bc-sf-filter-tree-mobile').appendTo('.vwo_filterWrap');
    setSelectedSortValue();
  }
}
function setSelectedSortValue(){
  var selectedSortVal = $('#bc-sf-filter-top-sorting select option:selected').text();
  $('.vwo_sortSelected').text(selectedSortVal).show();
  //hiding this for no solution in case of custom layout for sorting
  $('.vwo_sortSelected').hide();
  //$('.vwo_sortSelected + #bc-sf-filter-top-sorting').hide();
}
function addSortOptionsWrapper(){
  if(!$('.vwo_sortOptions').length){
    var sortHtml = '<span class="vwo_overlay" onclick="closeOpenedPopups()"></span><div class="vwo_sortOptions"><div class="vwo_header">Sorty By<span class="vwo_sortclose" onclick="closeOpenedPopups()"></span></div><div class="vwo_body"><ul>';
    $('#bc-sf-filter-top-sorting select option').each(function(){
      sortHtml += '<li data-val="'+$(this).val()+'">'+$(this).text()+'</li>';
    });
    sortHtml += '</ul></div></div>';
    $(sortHtml).appendTo('body');
    //add click on custom sort options
    $('.vwo_sortOptions li[data-val]').click(function(){
      var thisVal = $(this).attr('data-val');
      $('#bc-sf-filter-top-sorting select').val(thisVal);
      var locationRef = location.href;
      var newLocationRef = '';
      if(locationRef.indexOf('?') != -1 && locationRef.indexOf('?sort') <= -1){
        newLocationRef += locationRef+'&sort='+thisVal;
      } else if(locationRef.indexOf('?sort') != -1){
        newLocationRef += location.pathname+'?sort='+thisVal;
      } else{
        newLocationRef += locationRef+'?sort='+thisVal;
      }
      history.replaceState({page:1}, "", newLocationRef);
      history.go(1);
      closeOpenedPopups();
      setSelectedSortValue();
    });
  }
}
function addSortEventListeners(){
  $('.vwo_sortSelected').click(function(){
    $('body').addClass('vwo_sortOptionsOpen');
  });
}
function closeOpenedPopups(){
  $('body').removeClass('vwo_sortOptionsOpen');
  $('#bc-sf-filter-tree').removeClass('bc-sf-filter-tree-mobile-open');
  $('body').removeClass('vwo_filterOptionsOpen');
}
function manageFilterSection(){
  if(!$('.vwo_filterClose').length && !$('.vwo_filterHeader').length){
    $('#bc-sf-filter-tree').prepend('<div class="vwo_filterHeader"><h3>Filters</h3></div>');
    $('#bc-sf-filter-tree').append('<div class="vwo_btnArea"><button class="vwo_filterClose" onclick="closeOpenedPopups()">Close & Apply</button></div>');
  }
  $(document).on('click', '#bc-sf-filter-tree-mobile-button', function(){
    $('body').addClass('vwo_filterOptionsOpen');
  });
  //making first filter option active if not tile is active

  if(!$('#bc-sf-filter-tree .bc-sf-filter-option-block .bc-sf-filter-block-title > a.bc-sf-filter-clear').length){
    $('#bc-sf-filter-tree .bc-sf-filter-option-block:first-child').addClass('active');
  }
  else{
    var activeElsLength = $('#bc-sf-filter-tree .bc-sf-filter-option-block .bc-sf-filter-block-title > a').length - 1;
    var lastActiveElement = $('#bc-sf-filter-tree .bc-sf-filter-option-block .bc-sf-filter-block-title > a').parents('.bc-sf-filter-option-block:eq('+activeElsLength+')');
    $(lastActiveElement).addClass('active');
  }
  $('#bc-sf-filter-tree .bc-sf-filter-option-block .bc-sf-filter-block-title').click(function(){
    $(this).parent('.bc-sf-filter-option-block').addClass('active');
    $('.bc-sf-filter-option-block').not($(this).parent('.bc-sf-filter-option-block')).removeClass('active');
  });
}
function addFiltersEventListeners(){
  checkIfFiltersApplied();
  $(document).on('click', '#bc-sf-filter-tree *', function(){
    var findVwoElements = setInterval(function(){
      if(!$('.vwo_filterClose').length){
        manageFilterSection();
        checkIfFiltersApplied();
        clearInterval(findVwoElements);
      }
    },100);
  });
}
function checkIfFiltersApplied(){
  $('.vwo_filtersApplied').remove();
  var findAppliedFiltersSec = setInterval(function(){
    if($('#bc-sf-filter-tree .bc-sf-filter-selection-wrapper').length && !$('.vwo_filtersApplied').length){
      $('#bc-sf-filter-tree .bc-sf-filter-selection-wrapper').clone().insertBefore('#bc-sf-filter-tree').addClass('vwo_filtersApplied');
      $('body').addClass('filtersApplied');
      attachClickOnAppliedFilters();
      clearInterval(findAppliedFiltersSec);
    }
    else{
      $('.vwo_filtersApplied').remove();
      $('body').removeClass('filtersApplied');
    }
  },100);
  setTimeout(function(){
    clearInterval(findAppliedFiltersSec);
  },10000);
}
function attachClickOnAppliedFilters(){
  $('.vwo_filtersApplied .selected-item a').click(function(e){
    e.preventDefault();
    console.log($(this));
    var thisText = $(this).find('.selected-type strong').text();
    $('#bc-sf-filter-tree .bc-sf-filter-selection-wrapper a:contains('+thisText+')').click();
    history.replaceState({}, "", $(this).attr('href'));
    history.back();
  });
}

function setInStockActive() {
      if(!jQuery('.custom_desc_container .avi .instock').is(':visible') && jQuery('.swatch .swatch-element input:checked').length){
        jQuery('.swatch .swatch-element').each(function(i){
          if(jQuery(this).is(':visible') && !jQuery(this).hasClass('soild')){
            jQuery(this).find('input').click();
            console.log('abc_' + i);
            return false;
          }
        });
      }
    }
setInStockActive();

    if(!jQuery(".sizeGuidePopup").length){
      const sizeTable = jQuery("#sizeTable").html()
//       jQuery("body").append('<div class="sizeGuidePopup"><div class="sizeGuide"><div class="closeBtn"><span class="closeSizePopup"></span></div><div class="sizeOptions"><img src="https://useruploads.visualwebsiteoptimizer.com/useruploads/176372/images/d69ab98f6557ab338a0e9d1d4a8ec8e4_sizeguidechart.png" alt="" /></div></div></div>');
      jQuery("body").append('<div class="sizeGuidePopup"><div class="sizeGuide"><div class="closeBtn"><span class="closeSizePopup"></span></div><div class="sizeOptions">' + sizeTable + '</div></div></div>');
      
    }
    jQuery(document).on("click", ".size_guide_chart .size_guide", function(e){
      e.preventDefault();
      jQuery(".sizeGuidePopup").fadeIn();
      jQuery("body").addClass("no-scroll");
     
      return false;
    });
    jQuery('.sizeGuidePopup, .sizeGuidePopup .sizeGuide .closeBtn .closeSizePopup').on('click', function(e) {
      if (e.target !== this)
        return;
      jQuery(".sizeGuidePopup, .sizeGuideOverlay").fadeOut();
      jQuery("body").removeClass("no-scroll");
    });
   
   jQuery(".sizeTable-td-root").click(function(){
     if( jQuery(window).width() <= 950 ) {
       if( !jQuery(this).hasClass("sizeTable-td-root-active") ) {
       	jQuery(this).addClass("sizeTable-td-root-active")
     	jQuery("td").css("display", "none")
		jQuery(this).parent("tr").children("td").css("display", "block")
       } else {
       	jQuery(this).removeClass("sizeTable-td-root-active")
        jQuery(this).parent("tr").children("td").css("display", "none")
       }
     }
   })
   
   jQuery(".sizeTable-switch-inch").click(function(){
     	jQuery("tr").css("display", "none")
		jQuery(".sizeTable-tr-inch").css("display", "table-row")
        jQuery(".sizeTable-switch").removeClass("sizeTable-switch-active")
        jQuery(this).addClass("sizeTable-switch-active")
   })
   
   jQuery(".sizeTable-switch-mm").click(function(){
     	jQuery("tr").css("display", "none")
		jQuery(".sizeTable-tr-mm").css("display", "table-row")
        jQuery(".sizeTable-switch").removeClass("sizeTable-switch-active")
        jQuery(this).addClass("sizeTable-switch-active")
   })
   
   jQuery(".sizeTable-switch-all").click(function(){
     	jQuery("tr").css("display", "table-row")
        jQuery(".sizeTable-tr-inch").css("display", "none")
        jQuery(".sizeTable-tr-us").css("display", "table-row")
        jQuery(".sizeTable-tr-inch-all").css("display", "table-row")
        jQuery(".sizeTable-switch").removeClass("sizeTable-switch-active")
        jQuery(this).addClass("sizeTable-switch-active")
   })
   

    $(document).ready(function(){
      if (YMaps.location){
        let country = YMaps.location.country
        if (country === "США") {
          jQuery( ".sizeTable-switch-inch" ).trigger( "click" )
        } else {
          jQuery( ".sizeTable-switch-all" ).trigger( "click" )
        }
      } else {
        console.log('Region can not be detected')
      }
    })

 
</script>


<script>
    window.cffPCLiquidPlaced = true
</script>



{% include 'nosto-tagging' %}

  <!--
     <script>
      (function() {
          var name="nostojs";
          window[name]=window[name]||function(cb){(window[name].q=window[name].q||[]).push(cb);};

      })();
  </script>

   -->





<!--BeginCFFPersistentCartCart-->
{% if customer %}
<script>

    window.cffCustomer = {
        name: '{{customer.name}}',
        email: '{{customer.email}}',
        hasAccount: '{{customer.has_account}}',
        id: '{{customer.id}}'
    };


</script>

{% endif %}

<script>
    window.cffPCLiquidPlaced = true
</script>

<!--EndCFFPersistentCartCart--><!--Gorgias Chat Widget Start--><script id="gorgias-chat-widget-install">!function(_){_.GORGIAS_CHAT_APP_ID="2758",_.GORGIAS_CHAT_BASE_URL="us-east1-898b.production.gorgias.chat",_.GORGIAS_API_BASE_URL="config.gorgias.chat";var e=new XMLHttpRequest;e.open("GET","https://config.gorgias.chat/applications/2758",!0),e.onload=function(t){if(4===e.readyState)if(200===e.status){var n=JSON.parse(e.responseText);if(!n.application||!n.bundleVersion)throw new Error("Missing fields in the response body - https://config.gorgias.chat/applications/2758");if(_.GORGIAS_CHAT_APP=n.application,_.GORGIAS_CHAT_BUNDLE_VERSION=n.bundleVersion,n&&n.texts&&(_.GORGIAS_CHAT_TEXTS=n.texts),n&&n.sspTexts&&(_.GORGIAS_CHAT_SELF_SERVICE_PORTAL_TEXTS=n.sspTexts),!document.getElementById("gorgias-chat-container")){var o=document.createElement("div");o.id="gorgias-chat-container",document.body.appendChild(o);var r=document.createElement("script");r.setAttribute("defer",!0),r.src="https://storage.googleapis.com/gorgias-chat-production-client-builds/{bundleVersion}/static/js/main.js".replace("{bundleVersion}",n.bundleVersion),document.body.appendChild(r)}}else console.error("Failed request GET - https://config.gorgias.chat/applications/2758")},e.onerror=function(_){console.error(_)},e.send()}(window||{});</script><script id="gorgias-chat-shopify-install">!function(_){_.SHOPIFY_PERMANENT_DOMAIN="{{shop.permanent_domain}}",_.SHOPIFY_CUSTOMER_ID="{{customer.id}}",_.SHOPIFY_CUSTOMER_EMAIL="{{customer.email}}"}(window||{});</script><!--Gorgias Chat Widget End-->

  {% include 'limoniapps-discountninja-body' %}
  <style>
    .announcment-mobile-text.px2 a {
    text-decoration: underline;
}
  </style>

 
<script async type="text/javascript" id="stamped-script-widget" data-api-key="pubkey-0h9bZw76WB736p81se4vQYz17GU5Vw" src="https://cdn1.stamped.io/files/widget.min.js"></script>
 
 
</body>
</html>
