{%- assign section_color = section.settings.color_scheme -%}
{%- include 'global-variables' -%}

{%- assign font_size = 'font-size--sm md--up--font-size--m line-height--3' -%}
{%- assign font_size = global__basic_font_size -%}

<section class="cascade {{ global__section_with_padding_class }} color--{{ section_color }}-text bg--{{ section_color }}-background" data-section-type="cascade" data-section-id="{{ section.id }}" data-fade-in="{{ fade_in }}" data-first-item="{{ section.settings.first_item }}">
  <div class="max-site-width px2 lg--up--px3">
    <div class="cascading-content px1 md--up--px2">
      <div class="items overflow--hidden">
        <div class="item-sizer"></div>
        <div class="column-sizer"></div>

        {%- assign col_count_desktop = '' -%}
        {%- assign col_count_mobile = '' -%}

        {%- for block in section.blocks -%}

          {%- assign first_col_desktop = false -%}
          {%- assign first_col_mobile = false -%}

          {%- assign block_width_mobile = block.settings.block_width_mobile -%}
          {%- assign block_width_desktop = block.settings.block_width -%}

          {%- if block.type == 'product_feature' -%}
            {%- assign block_width_mobile = 'full' -%}
            {%- assign block_width_desktop = 'full' -%}
          {%- endif -%}


          {% comment %}
          First check if it's the first post of the loop and it isn't full width %}
          {% endcomment %}
          {%- if forloop.first and block_width_desktop == 'half' -%}
            {%- assign first_col_desktop = true -%}
            {%- assign col_count_desktop = 1 -%}
          {%- endif -%}

          {%- if forloop.first and block_width_mobile == 'half' -%}
            {%- assign first_col_mobile = true -%}
            {%- assign col_count_mobile = 1 -%}
          {%- endif -%}

          {% comment %}
          Now check to see if last block is full width, and this block isn't.
          {% endcomment %}
          {%- if last_block_width_desktop == 'full' and block_width_desktop == 'half' -%}
            {%- assign first_col_desktop = true -%}
            {%- assign col_count_desktop = 1 -%}
          {%- endif -%}

          {%- if last_block_width_mobile == 'full' and block_width_mobile == 'half' -%}
            {%- assign first_col_mobile = true -%}
            {%- assign col_count_mobile = 1 -%}
          {%- endif -%}


          {% comment %}
          Assign class for last item
          {% endcomment %}
          {%- if forloop.last -%}
            {%- assign last_col = true -%}
          {%- endif -%}

          <div
            class="item item--desktop--{{ block_width_desktop }} item--mobile--{{ block_width_mobile }} item--{{ block.id }} {% if forloop.first %}item--first{% endif %} {% if first_col_desktop %}first-col--desktop{% endif %} {% if first_col_mobile %}first-col--mobile{% endif %} {% if last_col %}item--last{% endif %} {% if fade_in%}fade-in{% endif %} {% if block.type == 'image' %}custom_img_padding{% endif %}"
            data-width="{{ block_width_desktop }}"
            data-block-id="{{ block.id }}"
            >
            <div class="item__inner {% if block_width_mobile == 'full' %}one-whole mx--auto{% endif %} {% if block_width_desktop == 'full' %}lg--up--five-sixths lg--up--mx--auto{% else %}lg--up--one-whole{% endif %}" {{ block.shopify_attributes }}>

              {% comment %}
              /* ============================================================================
                Image
              ============================================================================== *
              {% endcomment %}

              {% if block.type == 'image' %}
                {% if block.settings.image %}
                  {% assign image = block.settings.image %}
                  {% assign image_ratio = block.settings.image.aspect_ratio  | plus: 0 %}
                  <div class="image-holder {% if col_count_mobile == 2 or col_count_mobile == 3 %}one-whole mx--auto{% endif %} {% if col_count_desktop == 2 or col_count_desktop == 3 %}lg--up--one-whole lg--up--mx--auto{% endif %} pl2">
                    {% capture img_id %}ItemImage-{{ image.id }}{% endcapture %}
                    {% capture wrapper_id %}ItemImageWrapper-{{ image.id }}{% endcapture %}
                    {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    <div id="{{ wrapper_id }}" class="resp-img-wrapper js">
                      <div style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
                        <img id="{{ img_id }}"
                             class="resp-img lazyload"
                             src="{{ image | img_url: '300x' }}"
                             data-src="{{ img_url }}"
                             data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                             data-aspectratio="{{ image.aspect_ratio }}"
                             data-sizes="auto"
                             alt="{{ image.alt | escape }}">
                         <img id="{{ img_id }}"
                              class="resp-img-placeholder"
                              src="{{ image | img_url: '1x1' }}"
                              width="{{ image.width }}"
                              height="{{ image.height }}"
                              alt="{{ image.alt | escape }}">
                          <img id="{{ img_id }}"
                             class="resp-imghover lazyload"
                             src="https://cdn.shopify.com/s/files/1/0026/2599/4801/collections/rings.png?v=1583992199"
                             data-src="https://cdn.shopify.com/s/files/1/0026/2599/4801/collections/rings.png?v=1583992199"
                             data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                             data-aspectratio="{{ image.aspect_ratio }}"
                             data-sizes="auto"
                             alt="{{ image.alt | escape }}">
                      </div>
                    </div>
                    <noscript>
                      <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" class="item--image">
                    </noscript>
                  </div>
                {% else %}
                  <div class="onboarding-image">
                    <div class="placeholder-img-wrapper {{ placeholder_bg }}">
                      <div style="padding-top:{% cycle '66.6', '133.33', '100' %}%;" class="relative">
                        {{ 'image' | placeholder_svg_tag }}
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endif %}

              {% comment %}
              /* ============================================================================
                Image with Text
              ============================================================================== *
              {% endcomment %}

              {% if block.type == 'image_text_overlay' %}
                {% assign heading = block.settings.heading %}
                {% assign cta_text = block.settings.cta_text %}
                {% assign cta_url = block.settings.cta_url %}
                {% assign local_color = block.settings.section_color %}
                <div class="image-with-text__container relative  {% if col_count_mobile == 2 or col_count_mobile == 3 %}seven-eighths mx--auto{% endif %} {% if col_count_desktop == 2 or col_count_desktop == 3 %}lg--up--five-sixths lg--up--mx--auto{% endif %}">
                  <div class="image-with-text__image">
                    {% assign image = block.settings.image %}
                    {% if image %}
                      <div class="image-holder">
                        {% capture img_id %}ItemImage-{{ image.id }}{% endcapture %}
                        {% capture wrapper_id %}ItemImageWrapper-{{ image.id }}{% endcapture %}
                        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        <div id="{{ wrapper_id }}" class="resp-img-wrapper js">
                          <div style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
                            <img id="{{ img_id }}"
                                 class="resp-img lazyload"
                                 src="{{ image | img_url: '300x' }}"
                                 data-src="{{ img_url }}"
                                 data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                                 data-aspectratio="{{ image.aspect_ratio }}"
                                 data-sizes="auto"
                                 alt="{{ image.alt | escape }}">
                             <img id="{{ img_id }}"
                                  class="resp-img-placeholder"
                                  src="{{ image | img_url: '1x1' }}"
                                  width="{{ image.width }}"
                                  height="{{ image.height }}"
                                  alt="{{ image.alt | escape }}">
                          </div>
                        </div>
                        <noscript>
                          <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" class="item--image">
                        </noscript>
                      </div>
                    {% else %}
                      <div class="onboarding-image {{ placeholder_bg }} color--border">
                        <span class="opacity--1">{{ 'image' | placeholder_svg_tag }}</span>
                      </div>
                    {% endif %}
                  </div>
                  <div class="image-with-text__content absolute full top--0 left--0 p1 z1">
                    {% if cta_url != blank %}
                    <a href="{{ cta_url }}" class="block full color--{{ section_color }}-text">
                    {% endif %}
                      <div class="table full">
                        <div class="table-cell text-align--center align--middle">
                          <div class="inline-block  align--middle">
                            {% if block_width_mobile == 'full' %}
                              {% assign heading_class = heading_fontsize__mobile_full %}
                            {% else %}
                              {% assign heading_class = heading_fontsize__mobile_half %}
                            {% endif %}
                            {% if heading != blank %}
                            <h2 class=" m0 {{ heading_class }} color--{{ local_color }}-text">{{ heading }}</h2>
                            {% endif %}
                            {% if cta_text != blank %}
                              <p class="{% if block_width_mobile == 'half' %}sm--hide{% endif %} m0 lg--up--mt1 inline-block {{ font_size }} link-underline f--accent color--{{ local_color }}-text border-bottom--{{ local_color }}-text hv--{{ local_color }}-accent hv--border-bottom--{{ local_color }}-accent" href="" target="_blank" >
                                {{ cta_text }}
                              </p>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    {% if cta_url != blank %}
                    </a>
                    {% endif %}

                  </div>
                </div>
              {% endif %}

              {% comment %}
              /* ============================================================================
                Video
              ============================================================================== *
              {% endcomment %}
              {% if block.type == 'video' %}
                <div class="video-holder {% if col_count_mobile == 2 or col_count_mobile == 3 %}seven-eighths mx--auto{% endif %} {% if col_count_desktop == 2 or col_count_desktop == 3 %}lg--up--five-sixths lg--up--mx--auto{% endif %}">
                  {% if block.settings.video_url %}
                    {% if block.settings.video_url.type == 'youtube' %}
                      {% capture image_url_mq %}//img.youtube.com/vi/{{ block.settings.video_url.id }}/mqdefault.jpg{% endcapture %}
                      {% if block.settings.use_high_res_image %}
                      {% capture image_url_max %}//img.youtube.com/vi/{{ block.settings.video_url.id }}/maxresdefault.jpg{% endcapture %}
                      {% else %}
                      {% capture image_url_max %}//img.youtube.com/vi/{{ block.settings.video_url.id }}/hqdefault.jpg{% endcapture %}
                      {% endif %}
                      <div class="resp-img-wrapper js">
                        <div style="padding-top: 56.25%;">
                          <img
                               class="resp-img lazyload"
                               data-srcset="{{ image_url_mq }} 320w,
                                            {{ image_url_max }}"
                               data-sizes="auto"
                               >
                        </div>
                        <a href="//www.youtube.com/embed/{{ block.settings.video_url.id }}?autoplay=1&showinfo=0&controls=1" class="absolute top--0 left--0 full pointer modaal z1" data-modaal-type="video">
                          <div class="full flex items--center justify--center color--white-text font-size--xl md--up--font-size--xxl lg--up--font-size--xxxxxl">
                            {% include 'svg' | icon: 'icon-play' %}
                          </div>
                        </a>
                      </div>
                      <noscript>
                        <img src="{{ image_url_max }}">
                      </noscript>
                    {% endif %}
                    {% if block.settings.video_url.type == 'vimeo' %}
                      <div class="resp-img-wrapper js">
                        <div style="padding-top: 56.25%;">
                          <img
                               class="resp-img vimeo-thumbnail"
                               data-src=""
                               data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                               data-aspectratio="{{ image.aspect_ratio }}"
                               data-sizes="auto"
                               data-vimeo-id='{{ block.settings.video_url.id }}'
                               data-vimeo-thumb
                               >
                        </div>
                        <a href="//player.vimeo.com/video/{{ block.settings.video_url.id }}?autoplay=1%color={{ settings.color_primary }}&title=0&byline=0" class="absolute top--0 left--0 full pointer modaal z1" data-modaal-type="video">
                          <div class="full flex items--center justify--center color--white-text font-size--xl md--up--font-size--xxl lg--up--font-size--xxxxxl">
                            {% include 'svg' | icon: 'icon-play' %}
                          </div>
                        </a>
                      </div>
                    {% endif %}
                  {% else %}
                    <div class="resp-img-wrapper js">
                      <div style="padding-top: 56.25%;">
                       <div class="placeholder-img-wrapper {{ placeholder_bg }}">
                         <div style="padding-top:56.25%;" class="relative">
                           {{ 'lifestyle-1' | placeholder_svg_tag }}
                         </div>
                       </div>
                      </div>
                      <a class="absolute top--0 left--0 full pointer z1">
                        <div class="full flex items--center justify--center color--white font-size--xl md--up--font-size--xxl lg--up--font-size--xxxxxl">
                          {% include 'svg' | icon: 'icon-play' %}
                        </div>
                      </a>
                    </div>
                    <noscript>
                      <img src="{{ image_url_max }}">
                    </noscript>
                  {% endif %}
                </div>
              {% endif %}

              {% comment %}
              /* ============================================================================
                Rich Text
              ============================================================================== *
              {% endcomment %}
              {% if block.type == 'rich_text' or block.type == 'heading' or block.type == 'text' %}
              <div class="rich-text rich-text--{{ block.id }} {{ block.settings.text_align}}">
                <div class="one-whole mx--auto pm--one-whole wd--two-thirds">
                  {% if block.settings.heading != blank   %}
                    {% if block_width_mobile == 'full' %}
                      {% assign heading_class = heading_fontsize__mobile_full %}
                    {% else %}
                      {% assign heading_class = heading_fontsize__mobile_half %}
                    {% endif %}
                    {% if block.type == 'heading' and block.settings.font_size == 'large' %}
                      {% if block_width_mobile == 'full' %}
                        {% assign heading_class = 'f--heading font-size--xxxl line-height--8 pm--font-size--xxxxxl pm--line-height--11 wd--font-size--xxxxxxl wd--line-height--13' %}
                      {% else %}
                        {% assign heading_class = 'f--heading font-size--xxl line-height--7 pm--font-size--xxxxl pm--line-height--11 wd--font-size--xxxxxxl wd--line-height--13' %}
                      {% endif %}
                    {% endif %}
                    <h1 class=" m0 {{ heading_class }} pb2">
                      {{ block.settings.heading }}
                    </h1>
                    {% if block.settings.sub_heading != blank  %}
                    <h3>{{ block.settings.sub_heading }}</h3>
                    {% endif %}
                  {% endif %}
                  {% if block.settings.rich_text != blank  %}
                  <div class="richtext font-size--m line-height--6 wd--font-size--m wd--line-height--6 {% if block.settings.heading != blank or block.settings.sub_heading != blank %}mt4 mb2{% endif %}">
                    {{ block.settings.rich_text }}
                  </div>
                  {% endif %}
                  {% if block.settings.cta_url != blank %}
                  <a class="btn border--none bg--tertiary-text p1 block btn-max inline-block {{ global__homepage_more_link }} {{ font_size }}{% comment %} {{ global__link_underline }} {{ global__hover_underline }} {% endcomment %}" href="{{ block.settings.cta_url }}" >
                    {{ block.settings.cta_text }}
                  </a>
                  {% endif %}
                </div>
              </div>
              {% endif %}

              {% comment %}
              /* ============================================================================
                Collection
              ============================================================================== *
              {% endcomment %}
              {% if block.type == 'collection' %}
                {% assign local_color = block.settings.text_color %}
                {% if block.settings.collection and block.settings.collection != '' %}
                  {% assign collection = collections[block.settings.collection] %}
                  {% if collection.image %}
                    {% assign image = collection.image  %}
                  {% else %}
                    {% for product in collection.products limit:1 %}
                      {% assign image = product.featured_image.src  %}
                    {% endfor %}
                  {% endif %}
                  <div class="image-with-text__container relative  {% if col_count_mobile == 2 or col_count_mobile == 3 %}seven-eighths mx--auto{% endif %} {% if col_count_desktop == 2 or col_count_desktop == 3 %}lg--up--five-sixths lg--up--mx--auto{% endif %}">
                    <div class="image-with-text__image">
                      {% assign image_ratio = block.settings.image.aspect_ratio  | plus: 0 %}
                      <div class="image-holder">
                        {% capture img_id %}ItemImage-{{ image.id }}{% endcapture %}
                        {% capture wrapper_id %}ItemImageWrapper-{{ image.id }}{% endcapture %}
                        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        <div id="{{ wrapper_id }}" class="resp-img-wrapper js">
                          <div style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
                            <img id="{{ img_id }}"
                                 class="resp-img lazyload"
                                 src="{{ image | img_url: '300x' }}"
                                 data-src="{{ img_url }}"
                                 data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                                 data-aspectratio="{{ image.aspect_ratio }}"
                                 data-sizes="auto"
                                 alt="{{ image.alt | escape }}">
                             <img id="{{ img_id }}"
                                  class="resp-img-placeholder"
                                  src="{{ image | img_url: '1x1' }}"
                                  width="{{ image.width }}"
                                  height="{{ image.height }}"
                                  alt="{{ image.alt | escape }}">
                          </div>
                        </div>
                        <noscript>
                          <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" class="item--image">
                        </noscript>
                      </div>
                    </div>
                    <div class="image-with-text__content absolute full top--0 left--0 p1 z1">
                      <a href="{{ collection.url }}" class="block full">
                        <div class="table full">
                          <div class="table-cell text-align--center align--middle">
                            <div class="inline-block  align--middle">
                              {% if block_width_mobile == 'full' %}
                                {% assign heading_class = heading_fontsize__mobile_full %}
                              {% else %}
                                {% assign heading_class = heading_fontsize__mobile_half %}
                              {% endif %}
                              <h2 class=" m0 {{ heading_class }} color--{{ local_color }}-text">{{ collection.title }}</h2>
                              {% if block.settings.show_collection_link %}
                                <p class="{% if block_width_mobile == 'half' %}sm--hide{% endif %} m0 lg--up--mt1 inline-block {{ font_size }} link-underline f--accent color--{{ local_color }}-text border-bottom--{{ local_color }}-text hv--{{ local_color }}-accent hv--border-bottom--{{ local_color }}-accent" href="" target="_blank" >
                                  {{ block.settings.cta_text }}
                                </p>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                {% else %}
                  {% include 'cascade__collection-placeholder' %}
                {% endif %}
              {% endif %}


              {% comment %}
              /* ============================================================================
                Article
              ============================================================================== *
              {% endcomment %}

              {% if block.type == 'article' %}
                {% assign local_color = block.settings.text_color %}
                {% if block.settings.article and block.settings.article != '' %}
                  {% assign article = articles[block.settings.article] %}
                  <div class="grid">
                    <div class="grid__item {% if block_width_desktop == 'full' %}lg--up--four-sevenths{% endif %}">
                      <a href="{{ article.url  }}">
                      {% if article.image %}
                        {% assign image = article.image %}
                        {% assign image_ratio = block.settings.image.aspect_ratio  | plus: 0 %}
                        <div class="image-holder">
                          {% capture img_id %}ItemImage-{{ image.id }}{% endcapture %}
                          {% capture wrapper_id %}ItemImageWrapper-{{ image.id }}{% endcapture %}
                          {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                          <div id="{{ wrapper_id }}" class="resp-img-wrapper js">
                            <div style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
                              <img id="{{ img_id }}"
                                   class="resp-img lazyload"
                                   src="{{ image | img_url: '300x' }}"
                                   data-src="{{ img_url }}"
                                   data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                                   data-aspectratio="{{ image.aspect_ratio }}"
                                   data-sizes="auto"
                                   alt="{{ image.alt | escape }}">
                             <img id="{{ img_id }}"
                                  class="resp-img-placeholder"
                                  src="{{ image | img_url: '1x1' }}"
                                  width="{{ image.width }}"
                                  height="{{ image.height }}"
                                  alt="{{ image.alt | escape }}">
                            </div>
                          </div>
                          <noscript>
                            <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" class="item--image">
                          </noscript>
                        </div>
                      {% endif %}
                      </a>
                    </div>
                    <div class="grid__item {% if block_width_desktop == 'full' %}lg--up--three-sevenths lg--up--pt3{% endif %}">
                      <div class="seven-eighths pm--three-quarters {% if settings.list_and_grid_align %}mx--auto{% else %}pl1 lg--up--pl2 {% endif %} t--list-and-grid">
                        <a href="{{ article.url  }}"  class="color--{{ section_color }}-text">

                          {% if block_width_mobile == 'full' %}
                            {% assign heading_class = heading_fontsize__mobile_full %}
                          {% else %}
                            {% assign heading_class = heading_fontsize__mobile_half %}
                          {% endif %}
                          <h2 class=" m0 {{ heading_class }} {% if article.image %}mt2 pm--mt3{% endif %}">
                            {{ article.title }}
                          </h2>

                          <div class="mt1 lg--up--mt2 {{ font_size }}">
                            {% if block.settings.show_excerpt %}
                            {% if article.excerpt.size > 0 %}
                              {{ article.excerpt }}
                            {% else %}
                              {{ article.content | strip_html | truncatewords: 20 }}
                            {% endif %}
                            {% endif %}
                          </div>

                          <p class="mt1 lg--up--mt2 inline-block {{ font_size }} {{ global__link_underline }} {{ global__hover_underline }}" target="_blank" >
                            {{ 'blogs.article.read_more' | t }}
                          </p>

                        </a>
                      </div>
                    </div>
                  </div>
                {% else %}
                  {% include 'cascade__article-placeholder' %}
                {% endif %}
              {% endif %}


              {% comment %}
              /* ============================================================================
                Product - Simple
              ============================================================================== *
              {% endcomment %}
              {% if block.type == 'product_simple' %}
              <div class="product product--{{ block.id }} {% if col_count_mobile == 2 or col_count_mobile == 3 %}seven-eighths mx--auto{% endif %} {% if col_count_desktop == 2 or col_count_desktop == 3 %}lg--up--five-sixths lg--up--mx--auto{% endif %}">
                {%- assign product = all_products[block.settings.product] -%}
                {% if product == empty %}
                  {% include 'product-grid-item__onboarding' %}
                {% else %}
                  {% assign feature_product = true %}
                  {% include 'product-grid-item' %}
                {% endif %}
              </div>
              {% endif %}

              {% comment %}
              /* ============================================================================
                Product - Feature
              ============================================================================== *
              {% endcomment %}

              {% if block.type == 'product_feature' %}
              <div class="product product--{{ block.id }}">
                {%- assign product = all_products[block.settings.product] -%}
                {%- assign current_variant = product.selected_or_first_available_variant -%}
                {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
                {%- assign hide_drop_down_labels = block.settings.hide_drop_down_labels -%}
                {%- assign show_quantity = block.settings.show_quantity -%}
                {%- assign enable_payment_button = block.settings.enable_payment_button -%}
                {%- assign section_id = block.id -%}
                <div id="shopify-section-{{ block.id }}" class="shopify-section" data-product-block>
                  <section data-section-id="{{ block.id }}" data-section-type="product" itemscope itemtype="//schema.org/Product" data-product-block>
                    {% assign feature_product = true %}
                    {% if product == empty %}
                      {% include 'product__onboarding' %}
                    {% else %}
                      {% assign section_id = block.id %}
                      {% include 'product__top-section' %}
                      <script type="application/json" data-product-json>
                        {{ product | json }}
                      </script>
                    {% endif %}
                  </section>
                </div>
              </div>
              {% endif %}

            </div>
          </div>

          {%- assign last_block_width_desktop = block_width_desktop -%}
          {%- assign last_block_width_mobile = block_width_mobile -%}
          {%- assign col_count_desktop = col_count_desktop | plus: 1 -%}
          {%- assign col_count_mobile = col_count_mobile | plus: 1 -%}

          {%- if col_count_desktop == 5 -%}
            {%- assign col_count_desktop = 1 -%}
          {%- endif -%}

          {%- if col_count_mobile == 5 -%}
            {%- assign col_count_mobile = 1 -%}
          {%- endif -%}

        {%- endfor -%}

      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Cascading content",
  "settings": [
    {
       "type": "select",
       "id": "first_item",
       "label": "First block position",
       "options": [
          { "value": "left", "label": "Top left"},
          { "value": "right ", "label": "Top right"}
       ]
    },
    {
       "type": "select",
       "id": "color_scheme",
       "label": "Color scheme",
       "options": [
          { "value": "primary", "label": "Primary"},
          { "value": "secondary ", "label": "Secondary"},
          { "value": "tertiary", "label": "Tertiary"}
       ]
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Size"
          },
          {
            "type": "select",
            "id": "block_width_mobile",
            "options": [
              { "value": "half", "label": "Half width"},
              { "value": "full", "label": "Full width"}
            ],
            "label": "Mobile"
          },
          {
            "type": "select",
            "id": "block_width",
            "options": [
              { "value": "half", "label": "Half width"},
              { "value": "full", "label": "Full width"}
            ],
            "label": "Desktop"
          }
      ]
    },
    {
      "type": "image_text_overlay",
      "name": "Image with Text Overlay",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Image with Text"
        },
        {
          "type": "url",
          "id": "cta_url",
          "label": "Optional: Call to action link"
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "Call to action link text",
          "default": "Shop Now"
        },
        {
           "type": "select",
           "id": "section_color",
           "label": "Text color",
           "options": [
             { "value": "primary", "label": "Primary text"},
             { "value": "secondary", "label": "Secondary text"},
             { "value": "tertiary", "label": "Tertiary text"},
             { "value": "white", "label": "White"}
           ]
        },
        {
          "type": "header",
          "content": "Size"
        },
        {
          "type": "select",
          "id": "block_width_mobile",
          "options": [
            { "value": "half", "label": "Half width"},
            { "value": "full", "label": "Full width"}
          ],
          "label": "Mobile"
        },
        {
          "type": "select",
          "id": "block_width",
          "options": [
            { "value": "half", "label": "Half width"},
            { "value": "full", "label": "Full width"}
          ],
          "label": "Desktop"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "id": "heading",
          "type": "text",
          "label": "Heading",
          "default": "Heading or impact text goes here."
        },
        {
           "type": "select",
           "id": "text_align",
           "label": "Text alignment",
           "options": [
             {
               "value": "text-align--left",
               "label": "Left"
             },
             {
               "value": "text-align--center",
               "label": "Center"
             },
             {
               "value": "text-align--right",
               "label": "Right"
             }
           ],
           "default":   "text-align--left"
         },
         {
            "type": "select",
            "id": "font_size",
            "label": "Font size",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "large",
                "label": "Large"
              }
            ],
            "default":   "default"
          },
         {
           "type": "header",
           "content": "Size"
         },
         {
           "type": "select",
           "id": "block_width_mobile",
           "options": [
             { "value": "half", "label": "Half width"},
             { "value": "full", "label": "Full width"}
           ],
           "label": "Mobile"
         },
         {
           "type": "select",
           "id": "block_width",
           "options": [
             { "value": "half", "label": "Half width"},
             { "value": "full", "label": "Full width"}
           ],
           "label": "Desktop"
         }
      ]
    },
    {
      "type": "rich_text",
      "name": "Heading with text",
      "settings": [
        {
          "type": "header",
          "content": "Heading"
        },
        {
          "id": "heading",
          "type": "text",
          "label": "Heading",
          "default": "Heading or impact text goes here."
        },
		{
          "type": "header",
          "content": "Sub Text"
        },
        {
          "id": "sub_heading",
          "type": "text",
          "label": "Text",
          "default": "Sub Heading goes here."
        },
        {
          "type": "header",
          "content": "Text"
        },
        {
          "id": "rich_text",
          "type": "richtext",
          "label": "Text",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "header",
          "content": "Call to Action"
        },
        {
          "type": "url",
          "id": "cta_url",
          "label": "Optional: Call to action link"
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "Call to action link text",
          "default": "Shop now"
        },
        {
           "type": "select",
           "id": "text_align",
           "label": "Text alignment",
           "options": [
             {
               "value": "text-align--left",
               "label": "Left"
             },
             {
               "value": "text-align--center",
               "label": "Center"
             },
             {
               "value": "text-align--right",
               "label": "Right"
             }
           ],
           "default":   "text-align--left"
         },
         {
           "type": "header",
           "content": "Size"
         },
         {
           "type": "select",
           "id": "block_width_mobile",
           "options": [
             { "value": "half", "label": "Half width"},
             { "value": "full", "label": "Full width"}
           ],
           "label": "Mobile"
         },
         {
           "type": "select",
           "id": "block_width",
           "options": [
             { "value": "half", "label": "Half width"},
             { "value": "full", "label": "Full width"}
           ],
           "label": "Desktop"
         }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "id": "rich_text",
          "type": "richtext",
          "label": "Text",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "header",
          "content": "Call to Action"
        },
        {
          "type": "url",
          "id": "cta_url",
          "label": "Optional: Call to action link"
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "Call to action link text",
          "default": "Shop now"
        },
        {
           "type": "select",
           "id": "text_align",
           "label": "Text alignment",
           "options": [
             {
               "value": "text-align--left",
               "label": "Left"
             },
             {
               "value": "text-align--center",
               "label": "Center"
             },
             {
               "value": "text-align--right",
               "label": "Right"
             }
           ],
           "default":   "text-align--left"
         },
         {
           "type": "header",
           "content": "Size"
         },
         {
           "type": "select",
           "id": "block_width_mobile",
           "options": [
             { "value": "half", "label": "Half width"},
             { "value": "full", "label": "Full width"}
           ],
           "label": "Mobile"
         },
         {
           "type": "select",
           "id": "block_width",
           "options": [
             { "value": "half", "label": "Half width"},
             { "value": "full", "label": "Full width"}
           ],
           "label": "Desktop"
         }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "id": "video_url",
          "type": "video_url",
          "label": "Video link",
          "accept": ["youtube", "vimeo"],
          "info": "Accepts URLs from YouTube or Vimeo",
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
        {
          "type": "checkbox",
          "id": "use_high_res_image",
          "label": "Use high resolution image",
          "info": "Not all YouTube videos have high resolution images, disable this to use default image size.",
          "default": true
        },
        {
          "type": "header",
          "content": "Size"
        },
        {
          "type": "select",
          "id": "block_width_mobile",
          "options": [
            { "value": "half", "label": "Half width"},
            { "value": "full", "label": "Full width"}
          ],
          "label": "Mobile"
        },
        {
          "type": "select",
          "id": "block_width",
          "options": [
            { "value": "half", "label": "Half width"},
            { "value": "full", "label": "Full width"}
          ],
          "label": "Desktop"
        }
      ]
    },
    {
      "type": "product_feature",
      "name": "Product - Feature",
      "settings": [
        {
           "type": "product",
           "id": "product",
           "label": "Choose product:"
        },
        {
          "type": "checkbox",
          "id": "enable_payment_button",
          "label": "Show dynamic checkout button",
          "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_quantity",
          "label": "Show quantity"
        }
      ]
    },
    {
      "type": "product_simple",
      "name": "Product - Simple",
      "settings": [
        {
         "type": "product",
         "id": "product",
         "label": "Choose product:"
        },
        {
          "type": "header",
          "content": "Size"
        },
        {
          "type": "select",
          "id": "block_width_mobile",
          "options": [
            { "value": "half", "label": "Half width"},
            { "value": "full", "label": "Full width"}
          ],
          "label": "Mobile"
        },
        {
          "type": "select",
          "id": "block_width",
          "options": [
            { "value": "half", "label": "Half width"},
            { "value": "full", "label": "Full width"}
          ],
          "label": "Desktop"
        }
      ]
    },
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
           "type": "collection",
           "id": "collection",
           "label": "Choose collection:"
        },
        {
           "type": "select",
           "id": "text_color",
           "label": "Text color",
           "options": [
             { "value": "primary", "label": "Primary text"},
             { "value": "secondary", "label": "Secondary text"},
             { "value": "tertiary", "label": "Tertiary text"},
             { "value": "white", "label": "White"}
           ]
        },
        {
          "type": "checkbox",
          "id": "show_collection_link",
          "label": "Show link to collection",
          "default": true
        },
        {
          "id": "cta_text",
          "type": "text",
          "label": "Link text",
          "default": "Shop now"
        },
        {
          "type": "header",
          "content": "Size"
        },
        {
          "type": "select",
          "id": "block_width_mobile",
          "options": [
            { "value": "half", "label": "Half width"},
            { "value": "full", "label": "Full width"}
          ],
          "label": "Mobile"
        },
        {
          "type": "select",
          "id": "block_width",
          "options": [
            { "value": "half", "label": "Half width"},
            { "value": "full", "label": "Full width"}
          ],
          "label": "Desktop"
        }
      ]
    },
    {
      "type": "article",
      "name": "Article",
      "settings": [
        {
         "type": "article",
         "id": "article",
         "label": "Article"
        },
        {
          "type": "checkbox",
          "id": "show_excerpt",
          "label": "Show excerpt",
          "default": true,
          "info": "Will show excerpt if article has one"
        },
        {
          "type": "header",
          "content": "Size"
        },
        {
          "type": "select",
          "id": "block_width_mobile",
          "options": [
            { "value": "half", "label": "Half width"},
            { "value": "full", "label": "Full width"}
          ],
          "label": "Mobile"
        },
        {
          "type": "select",
          "id": "block_width",
          "options": [
            { "value": "half", "label": "Half width"},
            { "value": "full", "label": "Full width"}
          ],
          "label": "Desktop"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Video with text and image",
      "category": "Cascading content",
      "blocks": [
        {
          "type": "video",
          "settings": {
            "block_width_mobile": "full",
            "block_width": "full"
          }
        },
        {
          "type": "rich_text"
        },
        {
          "type": "image"
        }
      ]
    },
    {
      "name": "Rich text with images",
      "category": "Cascading content",
      "blocks": [
        {
          "type": "rich_text"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    },
    {
      "name": "Heading with images and text",
      "category": "Cascading content",
      "blocks": [
        {
          "type": "heading",
          "settings": {
            "heading": "Heading or impact text goes here."
          }
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "text",
          "settings": {
            "rich_text": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          }
        }
      ]
    },
    {
      "name": "Product list",
      "category": "Cascading content",
      "blocks": [
        {
          "type": "product_simple"
        },
        {
          "type": "product_simple"
        },
        {
          "type": "product_simple"
        },
        {
          "type": "product_simple"
        }
      ]
    }
  ]
}
{% endschema %}
