{%- assign section_color = section.settings.color_combination -%}
{%- include 'global-variables' -%}
<style>
.btn.border--none.bg--tertiary-text.p1.block.btn-max.caps:hover {
  border:1px solid #181818
}
.combine-options.dev_ringProduct .option-label,  
.swatch.clearfix .header.header-Size {display:none;}
  
.vwo_celebSection h3{
  text-align:center;
  margin-bottom: 35px;
}  
.celebSlider{
  display:flex;
}
.slideBox {
  flex:25% 0 1; 
  padding:0 10px;
}
.slideBox img {
  width: 100%;
}  
.btnArea{
  text-align:center;
  margin-top:10px;
}
.btnArea a.instagram-link{
  margin:0 auto;
  float:none;
}
@media screen and (max-width:749px){
  .celebSlider{
    overflow: hidden;
    overflow-x: scroll;
    margin:0 -10px;
    -webkit-overflow-scrolling:touch;
  }
  .slideBox{
    width: calc(60% - 10px);
    margin-right: 8px;
    padding: 0;
    flex: none;
  }
  .btnArea{
    padding-left:1.25rem;
    padding-right:1.25rem;
  }
  .btnArea a.instagram-link{
    max-width:none;
  }
}
</style>
<script async charset="utf-8" src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript"></script>
<script async>
/*! lazysizes - v4.1.1 */ !function(a,b){var c=b(a,a.document);a.lazySizes=c,"object"==typeof module&&module.exports&&(module.exports=c)}(window,function(a,b){"use strict";if(b.getElementsByClassName){var c,d,e=b.documentElement,f=a.Date,g=a.HTMLPictureElement,h="addEventListener",i="getAttribute",j=a[h],k=a.setTimeout,l=a.requestAnimationFrame||k,m=a.requestIdleCallback,n=/^picture$/i,o=["load","error","lazyincluded","_lazyloaded"],p={},q=Array.prototype.forEach,r=function(a,b){return p[b]||(p[b]=new RegExp("(\\s|^)"+b+"(\\s|$)")),p[b].test(a[i]("class")||"")&&p[b]},s=function(a,b){r(a,b)||a.setAttribute("class",(a[i]("class")||"").trim()+" "+b)},t=function(a,b){var c;(c=r(a,b))&&a.setAttribute("class",(a[i]("class")||"").replace(c," "))},u=function(a,b,c){var d=c?h:"removeEventListener";c&&u(a,b),o.forEach(function(c){a[d](c,b)})},v=function(a,d,e,f,g){var h=b.createEvent("CustomEvent");return e||(e={}),e.instance=c,h.initCustomEvent(d,!f,!g,e),a.dispatchEvent(h),h},w=function(b,c){var e;!g&&(e=a.picturefill||d.pf)?(c&&c.src&&!b[i]("srcset")&&b.setAttribute("srcset",c.src),e({reevaluate:!0,elements:[b]})):c&&c.src&&(b.src=c.src)},x=function(a,b){return(getComputedStyle(a,null)||{})[b]},y=function(a,b,c){for(c=c||a.offsetWidth;c<d.minSize&&b&&!a._lazysizesWidth;)c=b.offsetWidth,b=b.parentNode;return c},z=function(){var a,c,d=[],e=[],f=d,g=function(){var b=f;for(f=d.length?e:d,a=!0,c=!1;b.length;)b.shift()();a=!1},h=function(d,e){a&&!e?d.apply(this,arguments):(f.push(d),c||(c=!0,(b.hidden?k:l)(g)))};return h._lsFlush=g,h}(),A=function(a,b){return b?function(){z(a)}:function(){var b=this,c=arguments;z(function(){a.apply(b,c)})}},B=function(a){var b,c=0,e=d.throttleDelay,g=d.ricTimeout,h=function(){b=!1,c=f.now(),a()},i=m&&g>49?function(){m(h,{timeout:g}),g!==d.ricTimeout&&(g=d.ricTimeout)}:A(function(){k(h)},!0);return function(a){var d;(a=a===!0)&&(g=33),b||(b=!0,d=e-(f.now()-c),0>d&&(d=0),a||9>d?i():k(i,d))}},C=function(a){var b,c,d=99,e=function(){b=null,a()},g=function(){var a=f.now()-c;d>a?k(g,d-a):(m||e)(e)};return function(){c=f.now(),b||(b=k(g,d))}};!function(){var b,c={lazyClass:"lazyload",loadedClass:"lazyloaded",loadingClass:"lazyloading",preloadClass:"lazypreload",errorClass:"lazyerror",autosizesClass:"lazyautosizes",srcAttr:"data-src",srcsetAttr:"data-srcset",sizesAttr:"data-sizes",minSize:40,customMedia:{},init:!0,expFactor:1.5,hFac:.8,loadMode:2,loadHidden:!0,ricTimeout:0,throttleDelay:125};d=a.lazySizesConfig||a.lazysizesConfig||{};for(b in c)b in d||(d[b]=c[b]);a.lazySizesConfig=d,k(function(){d.init&&F()})}();var D=function(){var g,l,m,o,p,y,D,F,G,H,I,J,K,L,M=/^img$/i,N=/^iframe$/i,O="onscroll"in a&&!/(gle|ing)bot/.test(navigator.userAgent),P=0,Q=0,R=0,S=-1,T=function(a){R--,a&&a.target&&u(a.target,T),(!a||0>R||!a.target)&&(R=0)},U=function(a,c){var d,f=a,g="hidden"==x(b.body,"visibility")||"hidden"!=x(a.parentNode,"visibility")&&"hidden"!=x(a,"visibility");for(F-=c,I+=c,G-=c,H+=c;g&&(f=f.offsetParent)&&f!=b.body&&f!=e;)g=(x(f,"opacity")||1)>0,g&&"visible"!=x(f,"overflow")&&(d=f.getBoundingClientRect(),g=H>d.left&&G<d.right&&I>d.top-1&&F<d.bottom+1);return g},V=function(){var a,f,h,j,k,m,n,p,q,r=c.elements;if((o=d.loadMode)&&8>R&&(a=r.length)){f=0,S++,null==K&&("expand"in d||(d.expand=e.clientHeight>500&&e.clientWidth>500?500:370),J=d.expand,K=J*d.expFactor),K>Q&&1>R&&S>2&&o>2&&!b.hidden?(Q=K,S=0):Q=o>1&&S>1&&6>R?J:P;for(;a>f;f++)if(r[f]&&!r[f]._lazyRace)if(O)if((p=r[f][i]("data-expand"))&&(m=1*p)||(m=Q),q!==m&&(y=innerWidth+m*L,D=innerHeight+m,n=-1*m,q=m),h=r[f].getBoundingClientRect(),(I=h.bottom)>=n&&(F=h.top)<=D&&(H=h.right)>=n*L&&(G=h.left)<=y&&(I||H||G||F)&&(d.loadHidden||"hidden"!=x(r[f],"visibility"))&&(l&&3>R&&!p&&(3>o||4>S)||U(r[f],m))){if(ba(r[f]),k=!0,R>9)break}else!k&&l&&!j&&4>R&&4>S&&o>2&&(g[0]||d.preloadAfterLoad)&&(g[0]||!p&&(I||H||G||F||"auto"!=r[f][i](d.sizesAttr)))&&(j=g[0]||r[f]);else ba(r[f]);j&&!k&&ba(j)}},W=B(V),X=function(a){s(a.target,d.loadedClass),t(a.target,d.loadingClass),u(a.target,Z),v(a.target,"lazyloaded")},Y=A(X),Z=function(a){Y({target:a.target})},$=function(a,b){try{a.contentWindow.location.replace(b)}catch(c){a.src=b}},_=function(a){var b,c=a[i](d.srcsetAttr);(b=d.customMedia[a[i]("data-media")||a[i]("media")])&&a.setAttribute("media",b),c&&a.setAttribute("srcset",c)},aa=A(function(a,b,c,e,f){var g,h,j,l,o,p;(o=v(a,"lazybeforeunveil",b)).defaultPrevented||(e&&(c?s(a,d.autosizesClass):a.setAttribute("sizes",e)),h=a[i](d.srcsetAttr),g=a[i](d.srcAttr),f&&(j=a.parentNode,l=j&&n.test(j.nodeName||"")),p=b.firesLoad||"src"in a&&(h||g||l),o={target:a},p&&(u(a,T,!0),clearTimeout(m),m=k(T,2500),s(a,d.loadingClass),u(a,Z,!0)),l&&q.call(j.getElementsByTagName("source"),_),h?a.setAttribute("srcset",h):g&&!l&&(N.test(a.nodeName)?$(a,g):a.src=g),f&&(h||l)&&w(a,{src:g})),a._lazyRace&&delete a._lazyRace,t(a,d.lazyClass),z(function(){(!p||a.complete&&a.naturalWidth>1)&&(p?T(o):R--,X(o))},!0)}),ba=function(a){var b,c=M.test(a.nodeName),e=c&&(a[i](d.sizesAttr)||a[i]("sizes")),f="auto"==e;(!f&&l||!c||!a[i]("src")&&!a.srcset||a.complete||r(a,d.errorClass)||!r(a,d.lazyClass))&&(b=v(a,"lazyunveilread").detail,f&&E.updateElem(a,!0,a.offsetWidth),a._lazyRace=!0,R++,aa(a,b,f,e,c))},ca=function(){if(!l){if(f.now()-p<999)return void k(ca,999);var a=C(function(){d.loadMode=3,W()});l=!0,d.loadMode=3,W(),j("scroll",function(){3==d.loadMode&&(d.loadMode=2),a()},!0)}};return{_:function(){p=f.now(),c.elements=b.getElementsByClassName(d.lazyClass),g=b.getElementsByClassName(d.lazyClass+" "+d.preloadClass),L=d.hFac,j("scroll",W,!0),j("resize",W,!0),a.MutationObserver?new MutationObserver(W).observe(e,{childList:!0,subtree:!0,attributes:!0}):(e[h]("DOMNodeInserted",W,!0),e[h]("DOMAttrModified",W,!0),setInterval(W,999)),j("hashchange",W,!0),["focus","mouseover","click","load","transitionend","animationend","webkitAnimationEnd"].forEach(function(a){b[h](a,W,!0)}),/d$|^c/.test(b.readyState)?ca():(j("load",ca),b[h]("DOMContentLoaded",W),k(ca,2e4)),c.elements.length?(V(),z._lsFlush()):W()},checkElems:W,unveil:ba}}(),E=function(){var a,c=A(function(a,b,c,d){var e,f,g;if(a._lazysizesWidth=d,d+="px",a.setAttribute("sizes",d),n.test(b.nodeName||""))for(e=b.getElementsByTagName("source"),f=0,g=e.length;g>f;f++)e[f].setAttribute("sizes",d);c.detail.dataAttr||w(a,c.detail)}),e=function(a,b,d){var e,f=a.parentNode;f&&(d=y(a,f,d),e=v(a,"lazybeforesizes",{width:d,dataAttr:!!b}),e.defaultPrevented||(d=e.detail.width,d&&d!==a._lazysizesWidth&&c(a,f,e,d)))},f=function(){var b,c=a.length;if(c)for(b=0;c>b;b++)e(a[b])},g=C(f);return{_:function(){a=b.getElementsByClassName(d.autosizesClass),j("resize",g)},checkElems:g,updateElem:e}}(),F=function(){F.i||(F.i=!0,E._(),D._())};return c={cfg:d,autoSizer:E,loader:D,init:F,uP:w,aC:s,rC:t,hC:r,fire:v,gW:y,rAF:z}}});

window.requestAnimationFrame = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame || function(timeOutFn){return setTimeout(timeOutFn, 1000 / 60);};
window['germanKabirski2461'] = function(){
  if(typeof jQuery == 'function' && (typeof BCSfFilter == 'function' && typeof BCSfFilter.prototype.buildDefaultPaginationEvent == 'function' && typeof BCSfFilter.prototype.buildProductListData == 'function' && typeof bcsffilter.initFilter == 'function') && jQuery('#bc-sf-filter-products > .product-grid-item').length && !document.getElementsByClassName('germanKabirski2461').length){
    document.body.classList.add('germanKabirski2461');
    jQuery('#bc-sf-filter-bottom-pagination').after('<div class="loadMoreNewPaging"></div>');
    //console.log('totalItem = ', jQuery('#bc-sf-filter-products > .product-grid-item').length);
    //jQuery('#bc-sf-filter-products > .product-grid-item').last().addClass('lastItemInPage');
    BCSfFilter.prototype.buildDefaultPaginationEvent = function(a) {
      var b = this
      , c = this.getSelector("pagination");
      jQ(c).find("a").unbind("click"),
        jQ(c).find("a").on("click", function(a) {
        a.preventDefault(),
          b.internalClick = !0;
        var c = jQ(this).attr("href");
        b.onChangeData(c, "page");
        if(!jQ('.loadMoreNewPaging').hasClass('nextPageLoadingActive')){
          jQ("body,html").animate({scrollTop: jQ(b.getSelector("products")).position().top}, 600);
        }
      });
      console.log('Build Default Paging...');
    };

    BCSfFilter.prototype.buildProductListData = function(data, eventType) {

      var $ = jQuery;
      if (this.getSettingValue('general.paginationType') == 'default' || (this.getSettingValue('general.paginationType') != 'default' && eventType != 'page')) {
        if(!jQ('.loadMoreNewPaging').hasClass('nextPageLoadingActive')){
          jQ(this.getSelector('products')).html('');
        }
        jQ(window).unbind('scroll');
      }
      var itemsHtml = '';
      var totalProduct = data.length;

      if (this.queryParams.display == 'list') {

        itemsHtml = '<div class="item-sizer"></div><div class="column-sizer"></div>' + itemsHtml;

      }
      for (var i = 0; i < totalProduct; i++) {
        switch(this.queryParams.display) {
          case 'list': var itemHtml = this.buildProductListItem(data[i], i + 1, totalProduct); break;
          case 'collage': var itemHtml = this.buildProductCollageItem(data[i], i + 1, totalProduct); break;
          default: var itemHtml = this.buildProductGridItem(data[i], i + 1, totalProduct); break;
        }
        itemsHtml += this.buildProductItemAdvanced(data[i], itemHtml);
      }
      //$('.loadMoreNewPaging').addClass('nextPageLoadingActive');
      $('.product-grid-item').removeClass('lastItemInPage');
      jQuery('#bc-sf-filter-products > .product-grid-item').last().addClass('lastItemInPage');
	
      //console.log( 'abcdf = ', jQ('.loadMoreNewPaging').hasClass('nextPageLoadingActive') );
      
      if(this.queryParams.display == 'list'){
        var $newMasonryContent = $(itemsHtml);
        $(this.getSelector('products')).append($newMasonryContent).masonry('prepended', $newMasonryContent );
      } else {
        $(this.getSelector('products')).append(itemsHtml);
      }
      setTimeout(function(){
        if($('.lastItemInPage').length){
          /*$("body,html").animate({scrollTop: ($('.lastItemInPage').offset().top + $('.lastItemInPage').innerHeight()) - 150}, 600, function(){
            $('.product-grid-item').removeClass('lastItemInPage');
            $('.loadMoreNewPaging').removeClass('nextPageLoadingActive');
          });*/
          $('.product-grid-item').removeClass('lastItemInPage');
          $('.loadMoreNewPaging').removeClass('nextPageLoadingActive');
        }else{
          $("body,html").scrollTop(jQ("#bc-sf-filter-products").offset().top - 120);
          $('.loadMoreNewPaging').removeClass('nextPageLoadingActive');
        }
      }, 500);
      console.log('Build Product List Data...');
    };
    jQuery.fn.isInViewport = function() {
      if(!jQuery(this).length) return;
      var elementTop = jQuery(this).offset().top;
      var elementBottom = elementTop + jQuery(this).outerHeight();
      var viewportTop = jQuery(window).scrollTop();
      var viewportBottom = viewportTop + jQuery(window).height();
      return elementBottom > viewportTop && elementTop < viewportBottom;
    };
    jQuery(window).scroll(function(){
      var scrollTop = jQuery(this).scrollTop(),
          winH =  jQuery(window).height(),
          loadMoreStrip = jQuery('.loadMoreNewPaging'),
          activePage = jQuery('#bc-sf-filter-bottom-pagination a span.border-bottom--primary-text').parent();
      if(loadMoreStrip.isInViewport() && !loadMoreStrip.hasClass('nextPageLoadingActive')) {
        console.log('loadingInView.........');
        if(activePage.next('a').length) {
          loadMoreStrip.addClass('nextPageLoadingActive');
          activePage.next('a')[0].click();
        }
      }else{
        console.log('loadingNotInViewNow.........');
      }
    });
	
    bcsffilter.initFilter();
    
    console.log('Main Function Running v1. (2461)');
  }else if(!document.getElementsByClassName('germanKabirski2461').length){
    window.requestAnimationFrame(germanKabirski2461);
  }
};
window.germanKabirski2461();

window.requestAnimationFrame = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame || function(timeOutFn){return setTimeout(timeOutFn, 1000 / 60);};
window['germanKabirski2461'] = function(){

  if(typeof jQuery == 'function' && (typeof BCSfFilter == 'function' && typeof BCSfFilter.prototype.buildDefaultPaginationEvent == 'function' && typeof BCSfFilter.prototype.buildProductListData == 'function' && typeof bcsffilter.initFilter == 'function') && jQuery('#bc-sf-filter-products > .product-grid-item').length && !document.getElementsByClassName('germanKabirski2461').length){

    document.body.classList.add('germanKabirski2461');

    jQuery('#bc-sf-filter-bottom-pagination').after('<div class="loadMoreNewPaging"></div>');
    //console.log('totalItem = ', jQuery('#bc-sf-filter-products > .product-grid-item').length);
    //jQuery('#bc-sf-filter-products > .product-grid-item').last().addClass('lastItemInPage');
    BCSfFilter.prototype.buildDefaultPaginationEvent = function(a) {
      var b = this
      , c = this.getSelector("pagination");
      jQ(c).find("a").unbind("click"),
        jQ(c).find("a").on("click", function(a) {
        a.preventDefault(),
          b.internalClick = !0;
        var c = jQ(this).attr("href");
        b.onChangeData(c, "page");
        if(!jQ('.loadMoreNewPaging').hasClass('nextPageLoadingActive')){
          jQ("body,html").animate({scrollTop: jQ(b.getSelector("products")).position().top}, 600);
        }
      });
      console.log('Build Default Paging...');
    };
    BCSfFilter.prototype.buildProductListData = function(data, eventType) {
      var $ = jQuery;
      if (this.getSettingValue('general.paginationType') == 'default' || (this.getSettingValue('general.paginationType') != 'default' && eventType != 'page')) {
        if(!jQ('.loadMoreNewPaging').hasClass('nextPageLoadingActive')){
          jQ(this.getSelector('products')).html('');
        }
        jQ(window).unbind('scroll');
      }
      var itemsHtml = '';
      var totalProduct = data.length;
      if (this.queryParams.display == 'list') {
        itemsHtml = '<div class="item-sizer"></div><div class="column-sizer"></div>' + itemsHtml;
      }
      for (var i = 0; i < totalProduct; i++) {
        switch(this.queryParams.display) {
          case 'list': var itemHtml = this.buildProductListItem(data[i], i + 1, totalProduct); break;
          case 'collage': var itemHtml = this.buildProductCollageItem(data[i], i + 1, totalProduct); break;
          default: var itemHtml = this.buildProductGridItem(data[i], i + 1, totalProduct); break;
        }
        itemsHtml += this.buildProductItemAdvanced(data[i], itemHtml);
      }
      //$('.loadMoreNewPaging').addClass('nextPageLoadingActive');
      $('.product-grid-item').removeClass('lastItemInPage');
      jQuery('#bc-sf-filter-products > .product-grid-item').last().addClass('lastItemInPage');
	
      //console.log( 'abcdf = ', jQ('.loadMoreNewPaging').hasClass('nextPageLoadingActive') );
      
      if(this.queryParams.display == 'list'){
        var $newMasonryContent = $(itemsHtml);
        $(this.getSelector('products')).append($newMasonryContent).masonry('prepended', $newMasonryContent );
      } else {
        $(this.getSelector('products')).append(itemsHtml);
      }
      setTimeout(function(){
        if($('.lastItemInPage').length){
          /*$("body,html").animate({scrollTop: ($('.lastItemInPage').offset().top + $('.lastItemInPage').innerHeight()) - 150}, 600, function(){
            $('.product-grid-item').removeClass('lastItemInPage');
            $('.loadMoreNewPaging').removeClass('nextPageLoadingActive');
          });*/
          $('.product-grid-item').removeClass('lastItemInPage');
          $('.loadMoreNewPaging').removeClass('nextPageLoadingActive');
        }else{
          $("body,html").scrollTop(jQ("#bc-sf-filter-products").offset().top - 120);
          $('.loadMoreNewPaging').removeClass('nextPageLoadingActive');
        }
      }, 500);
      console.log('Build Product List Data...');
    };
    jQuery.fn.isInViewport = function() {
      if(!jQuery(this).length) return;
      var elementTop = jQuery(this).offset().top;
      var elementBottom = elementTop + jQuery(this).outerHeight();
      var viewportTop = jQuery(window).scrollTop();
      var viewportBottom = viewportTop + jQuery(window).height();
      return elementBottom > viewportTop && elementTop < viewportBottom;
    };

    jQuery(window).scroll(function(){
      var scrollTop = jQuery(this).scrollTop(),
          winH =  jQuery(window).height(),
          loadMoreStrip = jQuery('.loadMoreNewPaging'),
          activePage = jQuery('#bc-sf-filter-bottom-pagination a span.border-bottom--primary-text').parent();
      if(loadMoreStrip.isInViewport() && !loadMoreStrip.hasClass('nextPageLoadingActive')){
        console.log('loadingInView.........');
        if(activePage.next('a').length){
          loadMoreStrip.addClass('nextPageLoadingActive');
          activePage.next('a')[0].click();
        }
      }else{
        console.log('loadingNotInViewNow.........');
      }
    });
	
    bcsffilter.initFilter();
    
    console.log('Main Function Running v1. (2461)');
  }else if(!document.getElementsByClassName('germanKabirski2461').length){
    window.requestAnimationFrame(germanKabirski2461);
  }
};
//window.germanKabirski2461();

  
</script>
<script>

  /* BURN BY FIRE AFTER BLACK FRIDAY WEEK
  -->start
  */
  function drawSales(){

      jQuery('.priceToCheck').each(function(){

        let originalPriceStr = jQuery(this).text()
        if (originalPriceStr.includes('From')) originalPriceStr = originalPriceStr.slice(5)
        let priceToChange = originalPriceStr

        priceToChange = priceToChange.slice(1)
        priceToChange = priceToChange.slice(0, -3)
        let priceToInt = parseInt(priceToChange, 10)
        //for 45% discount
        priceToInt = priceToInt - ( priceToInt / 2.22222)
        let priceToRound = Math.round(priceToInt);
        priceToChange = priceToRound.toString()

        if ( priceToChange.charAt( priceToChange.length - 1) == '0' || priceToChange.length == 3 ) {
        	priceToChange = '$' + priceToChange + '.00'
        } else {
        	priceToChange = '$' + priceToChange + '0'
        }

        let priceStringComplete = '<span style="color:#181818">Old price <s>' + originalPriceStr + '</s></span><br><span style="color:#fff;background:#181818;padding:3px;">' + priceToChange  + '</span>'

        if (originalPriceStr.length < 8 ) {
          jQuery(this).html(priceStringComplete)
        }
      })
  }

  var autodata = [];
  jQuery(document).ready(function() {

    let pathname = window.location.pathname;

/*    if (pathname === '/collections/sale-collection-2021') {
      setTimeout(() => {
        drawSales()
      }, 500)
    }*/

  })

  {% for tag  in collections.black-friday.product %}
    {% if product.tags == 'BlackFriday21' %}
          autodata.push('{{ tag }}');
     {% endif %}
  {% endfor %}


  jQuery(document).ready(function(){
    let pathname = window.location.pathname;
    jQuery(document).scroll(function(){

/*      if (pathname === '/collections/sale-collection-2021')
      {
        setTimeout(()=>{
            drawSales()
        }, 500)
      }*/
    })
  
  })
  
  /* BURN BY FIRE AFTER BLACK FRIDAY WEEK
  -->end
  */
  
</script>
<script>
  
   $(window).scroll(function() {    
      var scroll = $(window).scrollTop();

      if (scroll >= 10) {
          $(".mobile-filter-wrap").css('bottom',0);
          $(".header__main").addClass("sticky_header_bg");
       
      } else {
       // $(".mobile-filter-wrap").css('top','27%');
          $(".header__main").removeClass("sticky_header_bg");
      }
	});

setTimeout(() => {
    if (document.getElementById('new-review-form_')) {
      let div = document.createElement('div')
          div.className = "sw-agreement"
          div.innerHTML = "By submitting review I give the company my consent to use my content."
      document.getElementById('new-review-form_').append(div)
      
  	}
  
    let uniqSize = jQuery('.unique-size')[0]
    let sizeChart = jQuery('.size_guide_chart')[0]

    if (uniqSize && sizeChart) {
      jQuery('.size_guide_chart').css('display', 'none')
    }

}, 5000)
  
setTimeout(() => {

    let uniqSize = jQuery('.unique-size')[0]
    let sizeChart = jQuery('.size_guide_chart')[0]

    if (uniqSize && sizeChart) {
      jQuery('.size_guide_chart').css('display', 'none')
    }

}, 500)

 setTimeout(() => {
   jQuery('#limited-edition .resp-img-wrapper').prepend('<div class="label-container"><div class="label-tag">Limited</div></div>');
 }, 2000)

function addCelebSection() {
  let celebSection = jQuery('.vwo_celebSection')
  let toAppend = '<div class="shopify-section vwo_celebSection"><section class="py4"><div class="max-site-width px1 lg--up--px3"><h3 class="f--heading font-size--xxxl line-height--8 wd--font-size--xxxxl wd--line-height--11">Be Inspired By Celebrities Wearing German Kabirski</h3><div class="clearfix celebSlider"><div class="slideBox"><a href="https://germankabirski.com/products/k105310-adelinde-amethyst-ring"><img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/1-grimes-min.jpg?v=1622227846"></a></div><div class="slideBox"><a href="https://germankabirski.com/products/hm40001-sp-aten-spinel-bangle"><img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/2-kelly_jenner-min.jpg?v=1622227845"></a></div><div class="slideBox"><a href="https://germankabirski.com/products/ec10060-flavia-chrisoberil-and-yellow-sapphire-ring"><img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/3-danileugh-min.jpg?v=1622227845"></a></div><div class="slideBox"><a href="https://germankabirski.com/products/ec40008-elendil-lemon-quartz-bangle"><img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/4-nickiminaj-min.jpg?v=1622227845"></a></div></div><div class="btnArea"><a class="instagram-link inline-block underline caps mt2 lg--up--mt3 inline-block font-size--sm line-height--4 wd--font-size--m wd--line-height--4" href="https://germankabirski.com/pages/press">Explore More</a></div></div></section></div>'
  let isMain = jQuery('#german-kabirski-artisan-crafted-raw-amp-rough-stone-jewelry')

  let sectionInstagram = jQuery('.section-instagram')

  if (celebSection.length === 0 && isMain.length > 0) sectionInstagram.after(toAppend)
}

function switchDescriptionDetails() {
  let ddBlock = $('.product_description').html()
  if (ddBlock) {
    ddBlock = ddBlock.replace('<b>Details:</b>','<div class="product_details"><h4 class="product_description_title">Details:</h4>')
    ddBlock = ddBlock + '</div>'
    $('.product_description').html(ddBlock)

    let detailsBlock = $('.product_details').html()
    $('.product_details').remove()
    $('.product_description').prepend(detailsBlock)
  }
}

  jQuery(document).ready( () => {
    //Collection Limited Edition
    jQuery('#limited-edition #MainContent').prepend('<div class="ggp-fullwidth"><div class="ggp-fullwidth-inner"> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/mobile_800x800_2a36f11e-9283-413e-9237-6ed35cc698b1.jpg?v=1630507171" class="img-mobile" alt=""> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/12312.jpg?v=1630515596" alt="" class="img-desktop"> </div><div>');

    //Collection Freaks
    jQuery('#freak-theatre-is-over-final-sale #MainContent').prepend('<div class="ggp-fullwidth"><div class="ggp-fullwidth-inner"> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/1440_500.jpg?v=1632736505" class="img-mobile" alt=""> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/1440_500.jpg?v=1632736505" alt="" class="img-desktop"> </div><div>');

    //christmas collection
    jQuery('#christmas-sale #MainContent').prepend('<div class="ggp-fullwidth"><div class="ggp-fullwidth-inner"> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/800_800_christmas.jpg?v=1639512237" class="img-mobile" alt=""> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/2880_1000_christmas.jpg?v=1639512217" alt="" class="img-desktop"> </div><div>');

    //new year collection
    jQuery('#new-year-sale #MainContent').prepend('<div class="ggp-fullwidth"><div class="ggp-fullwidth-inner"> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/800_800_christmas_1.jpg?v=1640362193" class="img-mobile" alt=""> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/2880_1000_new_year_sale.jpg?v=1640362194" alt="" class="img-desktop"> </div><div>');

    //sale-collection-2021
    jQuery('#sale-collection-2021 #MainContent').prepend('<div class="ggp-fullwidth"><div class="ggp-fullwidth-inner"> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/1440_500_1.jpg?v=16427825666" class="img-mobile" alt=""> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/1440_500_-min.jpg?v=1642781710" alt="" class="img-desktop"> </div><div>');

    //Sale COllections
    jQuery('#special-collection-500 #MainContent').prepend('<div class="ggp-fullwidth"><div class="ggp-fullwidth-inner"> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Mob_500.jpg?v=1640963913" class="img-mobile" alt=""> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/1440_500_500.jpg?v=1640963914" alt="" class="img-desktop"> </div><div>');
    jQuery('#special-collection-300-500 #MainContent').prepend('<div class="ggp-fullwidth"><div class="ggp-fullwidth-inner"> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Mob_300-500.jpg?v=1640963913" class="img-mobile" alt=""> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/1440_500_300-500.jpg?v=1640963913" alt="" class="img-desktop"> </div><div>');
    jQuery('#special-collection-200-300 #MainContent').prepend('<div class="ggp-fullwidth"><div class="ggp-fullwidth-inner"> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Mob_200-300.jpg?v=1640963913" class="img-mobile" alt=""> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/1440_500_200-300.jpg?v=1640963914" alt="" class="img-desktop"> </div><div>');
    jQuery('#special-collection-under-200 #MainContent').prepend('<div class="ggp-fullwidth"><div class="ggp-fullwidth-inner"> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Mob_Under_200.jpg?v=1640963913" class="img-mobile" alt=""> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/1440_500_Under_200.jpg?v=1640963914" alt="" class="img-desktop"> </div><div>');

    //Other collections
    jQuery('#star-collection #MainContent').prepend('<div class="ggp-fullwidth"><div class="ggp-fullwidth-inner"> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Frame_9.jpg?v=1636471124" class="img-mobile" alt=""> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Star_collection_vertion_2.jpg?v=1636469148" alt="" class="img-desktop"> </div><div>');
    jQuery('#this-black-black-friday #MainContent').prepend('<div class="ggp-fullwidth"><div class="ggp-fullwidth-inner"> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/BESTSELLERS_UNDER_250_2.jpg?v=1636534837" class="img-mobile" alt=""> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/BESTSELLERS-UNDER-_250.jpg?v=1636469185" alt="" class="img-desktop"> </div><div>');
    jQuery('#let-s-shine-on-black-friday #MainContent').prepend('<div class="ggp-fullwidth"><div class="ggp-fullwidth-inner"> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/BESTSELLERS__BETWEEN_225-_550_2.jpg?v=1636534837" class="img-mobile" alt=""> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/BESTSELLERS_-BETWEEN-_225-_550.jpg?v=1636469185" alt="" class="img-desktop"> </div><div>');
    jQuery('#bestsellers-under-500 #MainContent').prepend('<div class="ggp-fullwidth"><div class="ggp-fullwidth-inner"> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/WhatsApp_Image_2021-11-09_at_19.09.34.jpg?v=1636471024" class="img-mobile" alt=""> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Frame_6_1.jpg?v=1636470954" alt="" class="img-desktop"> </div><div>');
    jQuery('#black-friday #MainContent').prepend('<div class="ggp-fullwidth"><div class="ggp-fullwidth-inner"> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Black-Friday-selection-_1.jpg?v=1637583992" class="img-mobile" alt=""> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Black-Friday-selection_b9d90b59-7767-49ef-9e4b-f775d91f8e14.jpg?v=1637583992" alt="" class="img-desktop"> </div><div>');
    jQuery('#cyber-monday #MainContent').prepend('<div class="ggp-fullwidth"><div class="ggp-fullwidth-inner"> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/CYBER-MONDAY-_1.jpg?v=1637583992" class="img-mobile" alt=""> <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/CYBER-MONDAY_18b60372-8308-4786-a55a-cd3dcba54971.jpg?v=1637583992" alt="" class="img-desktop"> </div><div>');


    $('.bc-sf-filter-clear').on('click', function() {
      console.log('reloaded');
      location.reload();
    })

    if (jQuery('#ProductImageWrapper-14776522735689')){
      jQuery('#ProductImageWrapper-14776522735689').height(jQuery('#ProductImageWrapper-14776540954697').height())
    }

	if ( jQuery('.thank-msg') ) {
      jQuery('.thank-msg').html("<p>Thank you for subscribing. We have sent you an email, please check your inbox. Make sure to check your spam or junk folder if you can't find it. </p>")
      jQuery('.klaviyo_messages').css('margin-top', '-40px')
    }

    jQuery('.zens').css('display', 'none')

    if ( jQuery(window).width() > 800 ) {
      /*if( jQuery( ".sticky_header_bg" ) ) {
        jQuery('.header__main').prepend('<div style="text-align:center;background:#f7f3ef;font-size:14px;font-style:italic;padding:10px 0;margin-bottom:8px;">Dear customer, to order jewelry as a gift in time for February 14, please place your order before:<br/>February 10 for US & Canada, and February 4 outside the US and Canada.</div>')
      }*/
      jQuery('#under-250 #MainContent').prepend('<div style="width:100%; height: 600px; background: url(https://cdn.shopify.com/s/files/1/0026/2599/4801/files/under_250.jpg?v=1606207320) center center no-repeat; background-size: 100%;"></div>')
      jQuery('#bestsellers-under-550 #MainContent').prepend('<div style="width:100%; height: 600px; background: url(https://cdn.shopify.com/s/files/1/0026/2599/4801/files/550_bestsellers_3.jpg?v=1606207320) center center no-repeat; background-size: 100%;"></div>')
      jQuery('#under-550 #MainContent').prepend('<div style="width:100%; height: 600px; background: url(https://cdn.shopify.com/s/files/1/0026/2599/4801/files/under_55033.jpg?v=1606233046) center center no-repeat; background-size: 100%;"></div>')
      jQuery('#25-off-on-rarities #MainContent').prepend('<div style="width:100%; height: 600px; background: url(https://cdn.shopify.com/s/files/1/0026/2599/4801/files/333.jpg?v=1606736961) center center no-repeat; background-size: 100%;"></div>')
    } else {
     /* if( !document.querySelector('.sticky_header_bg') ) {
        jQuery('.header__main').prepend('<div style="text-align:center;background:#f7f3ef;font-size:8px;font-style:italic;padding:5px 0;margin-bottom:0px;">Dear customer, to order jewelry as a gift in time for February 14, please place your order before:<br/>February 10 for US & Canada, and February 4 outside the US and Canada.</div>')
      }*/
      jQuery('#under-250 #MainContent').prepend('<div style="width:100%; height: 400px; background: url(https://cdn.shopify.com/s/files/1/0026/2599/4801/files/3_1.jpg?v=1606331762) center center no-repeat; background-size: 100%;"></div>')
      jQuery('#bestsellers-under-550 #MainContent').prepend('<div style="width:100%; height: 400px; background: url(https://cdn.shopify.com/s/files/1/0026/2599/4801/files/1_1.jpg?v=1606331762) center center no-repeat; background-size: 100%;"></div>')
      jQuery('#under-550 #MainContent').prepend('<div style="width:100%; height: 400px; background: url(https://cdn.shopify.com/s/files/1/0026/2599/4801/files/4_1.jpg?v=1606331762) center center no-repeat; background-size: 100%;"></div>')
      jQuery('#25-off-on-rarities #MainContent').prepend('<div style="width:100%; height: 400px; background: url(https://cdn.shopify.com/s/files/1/0026/2599/4801/files/6e6de4f99f2ffa3ea2b756f521f24310.jpg?v=1606736961) top center no-repeat; background-size: 100%;"></div>')
    }
    
//     jQuery('.mobile-flickity1 .product-item-hover').css('opacity', '1', '!important')
  switchDescriptionDetails()
                         
  setTimeout(() => {
    let sizeChart = jQuery('.size_guide_chart')[0]
//     addCelebSection()

    if (sizeChart) {
      jQuery('.swatch-element').each((i, item) => {
        jQuery(item).children('label').trigger('click')
        if (!jQuery(item).hasClass('soild')) {
          if (jQuery(item).is(":visible") !== false) {
            console.log(jQuery(item).is(":visible"))
            jQuery(item).children('label').trigger('click')
            jQuery(item).children('label').addClass('toclick')
            return false
          }
        }
        
      })
    }
  }, 2200)
  
})

</script>

<style>
  .label-container{
    position: absolute;
    z-index: 9;
    top: -17px;
    right: 10px;
  }
  .label-container .label-tag{
    font-size: 15px;
    padding: 0 10px;
    cursor: pointer;
    border: solid 1px;
    display: inline-block;
  }
  .ggp-fullwidth {
    width: 100%;
  }
  .img-desktop{
    width:100%;
    display:block;
  }
  .img-mobile{
    display:none;
  }
  @media(max-width: 950px) {
    .img-desktop{
      display:none;
    }
    .img-mobile{
      width:100%;
      display:block;
    }
  }
.grid__item #bc-sf-filter-bottom-pagination {
  display: none !important;
}
.loadMoreNewPaging {
  clear: both;
  width: 100%;
  height: 50px;
  background: url(https://useruploads.visualwebsiteoptimizer.com/useruploads/176372/images/90bd822296be8393e1afb40431a1535f_30.gif) no-repeat center;
  background-size: 0px;
  margin: 40px 0 0;
}

.loadMoreNewPaging.nextPageLoadingActive {
  background-size: auto;
}
  
label.Denominations {
  color: #181818 !important;
}
  
  .sw-agreement {
  	float: right;
    display: block;
    margin-top: -20px;
    margin-bottom: 20px;
    background: #d7d7d7;
    padding: 5px 20px;
    border-radius: 5px;
  }
</style>
<style>
  
  .ajaxcart__price--strikethrough, .ajaxcart__savings.text-center {display:none}
  
  @media(min-width: 768px) {
    .insta-title {
      text-transform: uppercase;
      font-size:41px;
      font-weight: normal;
      color: #181818;
    }
  
    .insta-title:before {
    /* 	display: none; */
      color: #181818
    }
  }
  
  #shopify-section-footer .bg--primary-background {background-color: #181818 !important; color: #ccc !important;}
  #shopify-section-footer .footer__nav-link-span {color: #ccc}
  #shopify-section-footer .footer__credit a {color: #ccc}
  
  .site-header.active .header__logo {
    visibility: visible !important
  }
  .overflow--hidden .header-table {
  	opacity: 1 !important
  }

</style>
<script async>
  function eventFire(el, etype){
    if (el.fireEvent) {
      el.fireEvent('on' + etype)
    } else {
      var evObj = document.createEvent('Events')
      evObj.initEvent(etype, true, false)
      el.dispatchEvent(evObj)
    }
  }

  jQuery(document).ready(function(){

    setInterval( () => {
                 
      if (jQuery('.ajaxcart__product-meta')) {
        jQuery('.ajaxcart__product-meta').each(function(){
          if (jQuery(this).text() === 'Order-type: MADE TO ORDER') {
            if (jQuery('.mto-msg').length === 0) {
              jQuery('.grid__item.md--up--one-half.md--up--text-align--right.mt3.md--up--mt0').prepend('<div class="mto-msg" style="border:1px solid #181818;text-align:left;padding:15px;">As your cart contains made to order item(s), all items will be manufactured together and shipped to you within 5 weeks. If you would like to receive the item(s) currently in stock sooner, please make a separate order</div>')
            }
          }
          
        })
      }
                
    }, 1000)
    
    setTimeout(() => {
      if (window.location.href.toString().indexOf('/cart') !== -1) {
        jQuery("#CartLink").trigger("click")
      }
    }, 100);
    
//     setTimeout(() => {
//       const clickOption = jQuery('.bc-sf-filter-option-block.bc-sf-filter-option-block-list.bc-sf-filter-option-block-style')[0]
//       eventFire(clickOption, 'click')
//       jQuery('.bc-sf-filter-option-item').each(function(){
//         if (jQuery(this).attr('data-id') === 'pf_opt_size' && jQuery(this).attr('data-value') < 4.5) {
//           jQuery(this).parent().remove()
//         }
//       })
      
//     }, 3000)
  })
</script>
<footer class="pt4 lg--up--pt4 color--{{ section_color }}-text bg--{{ section_color }}-background">
  <div class="max-site-width lg--up--px3">
    <div class="grid px2 lg--up--px1 ">
      <div class="grid__item mb3 md--up--one-whole lg--up--one-seventh">
        <div class="grid">
          <div class="grid__item one-whole text-center lg--up--one-whole">
            <a href="/" class="font-size--xl f--heading color--{{ section_color }}-text">
              {% assign logo_max_width = 100 %}
              {% if section.settings.logo != blank %}
                {% capture image_size %}{{ logo_max_width }}x{% endcapture %}
                <img src="{{ section.settings.logo | img_url: image_size }}"
                     srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                     alt="{{ section.settings.logo.alt | default: shop.name }}"
                     >
              {% else %}
                {{ shop.name }}
              {% endif %}
            </a>
          </div>
        </div>
      </div>
      <div class="grid__item mb3 md--up--one-whole lg--up--six-sevenths">
        <div class="grid menu-newsletter-position">

        {% case section.blocks.size %}
          {% when 1 %}
            {% assign footer_grid_width = 'md--up--one-whole lg--up--one-whole' %}
          {% when 2 %}
            {% assign footer_grid_width = 'md--up--one-half lg--up--one-half' %}
          {% when 3 %}
            {% assign footer_grid_width = 'md--up--one-whole lg--up--one-third' %}
          {% else %}
            {% assign footer_grid_width = 'md--up--one-whole lg--up--one-whole' %}
        {% endcase %}

          {% for block in section.blocks %}
          <div class="grid__item {{ global__basic_font_size }} {{ footer_grid_width }} mb3 lg-up--mb0">

            {% if block.type == 'menus' %}

              {% assign single_linklist = false %}

              {% if block.settings.main_linklist == blank and block.settings.secondary_linklist != blank %}
                {% assign single_linklist = true %}
              {% endif %}

              {% if block.settings.main_linklist != blank and block.settings.secondary_linklist == blank %}
                {% assign single_linklist = true %}
              {% endif %}

              <div class="grid">
                {% if block.settings.main_linklist  != blank %}
                  {% assign link_list = block.settings.main_linklist %}
                  {% include 'footer__linklist' %}
                {% endif %}
                {% if block.settings.secondary_linklist  != blank %}
                  {% assign link_list = block.settings.secondary_linklist %}
                  {% include 'footer__linklist' %}
                {% endif %}
              </div>
            {% endif %}

            {% if block.type == 'richtext' %}
              <div class="three-quarters lg--up--one-whole richtext">
                {{ block.settings.text }}
              </div>
              {% endif %}

            {% if block.type == 'newsletter' %}
              {% if block.settings.text != blank %}
                  <div class="newsbrdesk line-height--3 {{ global__basic_font_size }} md--up--text-left text-center">
                    {{ block.settings.text }}
                  </div>
                  <div class="newsbrmob line-height--3 {{ global__basic_font_size }} md--up--text-left text-center">
                    {{ block.settings.text | remove:'<br>' }}
                  </div>
                {% endif %}
                {% form 'customer' %}
                  {{ form.errors | default_errors }}
                  {% if form.posted_successfully? %}
                    <p class="form--success f--main">{{ 'general.newsletter_form.confirmation' | t }}</p>
                  {% else %}
                    <div class="input-group border--{{ section_color }}-text">
                      <input type="hidden" name="contact[tags]" value="newsletter">
                      <label for="Email" class="hide">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
                      <input type="email"
                        name="contact[email]"
                        id="Email"
                        class="input-group-field px2 py1 bg--transparent color--{{ section_color }}-text font-size--s"
                        value="{% if customer %}{{ customer.email }}{% endif %}"
                        placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}"
                        autocorrect="off"
                        autocapitalize="off">
                      <span class="input-group-btn">
                        <button type="submit" class="btn border--none newsletter__submit px2 py1 font-size--s bg--transparent border--{{ section_color }}-text color--{{ section_color }}-text--overlay {{ global__hover_bg_border }}" name="commit" id="Subscribe">
                          <span class="newsletter__submit ">
                            {% include 'icon-arrow' %}
                            {% comment %}{{ 'general.newsletter_form.submit' | t }}{% endcomment %}
                          </span>
                        </button>
                      </span>
                    </div>
                  {% endif %}
                {% endform %}
                <div class="dev_socialLinklist">
                  {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
                  <ul class="list--reset p0 m0 mxn1">
                    {% for social in social_accounts %}
                    {%- assign social_handle = social | handleize -%}
                    {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
                    {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

                    {% if settings[social_link] != blank %}
                    <li class="inline-block dev_socialIcon">
                      <a target="_blank" class="color--{{ section_color }}-text px1 font-size--xxs mb1 block" href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                        {% include social_icon %}
                        <span class="icon-fallback-text">{{ social }}</span>
                      </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                  </ul>
                </div>
            {% endif %}
          </div>
          {% endfor %}

        </div>
      </div>
    </div>

    <div class="grid {% if section.settings.show_payment_icons and shop.enabled_payment_types != empty %}grid--rev{% endif %} px2 mt2 lg--up--px1">

      {% if section.settings.show_payment_icons %}
        {% unless shop.enabled_payment_types == empty %}
        <div class="grid__item lg--up--one-whole mb3 lg--up--mb0">
          <div class="text-align--left lg--up--text-align--right">
            <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
            <ul class="payment-icons m0 p0 list--reset font-size--xl mxn1">
              {% for type in shop.enabled_payment_types %}
                <li class="inline-block">
                  {{ type | payment_type_svg_tag: class:'payment-icon' }}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endunless %}
      {% endif %}

      <div class="grid__item lg--up--one-whole text-center">
        <div class="footer__credit">
          <p><a href="/pages/terms-conditions" class="color--{{ section_color }}-text">TERMS & CONDITIONS</a> - <a class="color--{{ section_color }}-text" href="/pages/privacy-policy">PRIVACY POLICY</a> - &copy;{{ 'now' | date: "%Y" }} <a href="/" class=" color--{{ section_color }}-text">{{ shop.name }}</a></p>
         {% comment %} <p class="font-size--xs powered-by mb1 color--{{ section_color }}-text powered_by_link">
            {{ powered_by_link }}
          </p>{% endcomment %}
            {% if section.settings.show_theme_credit %}
            <p class="theme-credit font-size--xs m0">
              {{ 'layout.footer.theme_credit_html' | t: section_color: section_color }}
            </p>
          {% endif %}
        </div>
      </div>

    </div>
  </div>
</footer>


<script>

window.requestAnimationFrame = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame || function(timeOutFn){return setTimeout(timeOutFn, 1000 / 60);};
window['GK_2390_V1'] = function(){
  if(typeof $ !== typeof undefined && $('.stamped-reviews').length && typeof $.fn.slick !== typeof undefined && !document.querySelectorAll('.GK_2390_V1').length){
    if(!$('.stamped-reviews').html().length){
      updateChanges_GK_2390_V1();
      document.querySelector('body').classList.add('GK_2390_V1');
    }
  }else if(!document.getElementsByClassName('GK_2390_V1').length){
    window.requestAnimationFrame(GK_2390_V1);
  }
};
window.GK_2390_V1();       
function updateChanges_GK_2390_V1(){
  addReviewsElement();
  initReviewsSlider();
  $(document).ajaxComplete(function(){
    $('.vwo_reviewsSlider').html('').removeClass('vwo_reviewsSlider slick-initialized slick-slider slick-dotted');
    addReviewsElement();
    initReviewsSlider();
  });
}
function addReviewsElement(){
  if(!$('.vwo_reviewsSlider > .stamped-review').length){
    $('.stamped-tabs > li[data-type="reviews"], .stamped-container, .stamped-summary, .stamped-summary-ratings, .stamped-summary-ratings > .summary-rating:first-child, .stamped-summary-text, .stamped-summary-text-1').attr('data-count', '4');
    $('.stamped-starrating > i.stamped-fa-star-o').removeClass('stamped-fa-star-o').addClass('stamped-fa-star');
    $('.stamped-summary-text-1[data-rating="0.0"]').attr('data-rating', '5.0').text('5.0');
    $('.stamped-summary-text').text('Based on 4 Reviews');
    $('.stamped-summary-ratings > .summary-rating:first-child .summary-rating-bar-content').css('width', '100%');
    $('.stamped-summary-ratings > .summary-rating:first-child .summary-rating-count').text('4');
    var reviewsHtml = '';
    reviewsHtml += '<div class="stamped-review" data-rating="5" data-verified="buyer"> <div class="stamped-review-header"> <div class="stamped-review-avatar" style="padding:0;" data-avatar="false"> <div class="stamped-review-avatar-content"> TS </div></div><strong class="author">Tetyana S.</strong> <span class="stamped-verified-badge" data-type="buyer" data-verified-label="Verified Buyer"></span> <div class="review-location"><span class="stamped-location-flag"><img class="stamped-lazyload stamped-lazyload-loaded" data-src="https://cdn.stamped.io/cdn/flags/us.svg" width="15" alt="United States" onerror="this.style.display=&quot;none&quot;;" src="https://cdn.stamped.io/cdn/flags/us.svg" data-was-processed="true"></span> <span data-location="United States">United States</span></div><div></div><span class="stamped-starratings stamped-review-header-starratings" data-rating="5"> <i class="stamped-fa stamped-fa-star "></i><i class="stamped-fa stamped-fa-star "></i><i class="stamped-fa stamped-fa-star "></i><i class="stamped-fa stamped-fa-star "></i><i class="stamped-fa stamped-fa-star "></i> </span> </div><div class="stamped-review-content"> <div class="stamped-review-recommend" data-is-recommend="true">I recommend this product</div><div class="stamped-review-options"></div><div class="stamped-review-body"> <div class="stamped-review-header-title">Absolutely gorgeous</div><p class="stamped-review-content-body">Not only it is show stopping ring, but also it is sooo comfortable to wear! You still my soul.</p></div></div></div><div class="stamped-review" data-rating="5" data-verified="buyer"> <div class="stamped-review-header"> <div class="stamped-review-avatar" style="padding:0;" data-avatar="false"> <div class="stamped-review-avatar-content"> ML </div></div><strong class="author">Marina L.</strong> <span class="stamped-verified-badge" data-type="buyer" data-verified-label="Verified Buyer"></span> <div class="review-location"><span class="stamped-location-flag"><img class="stamped-lazyload stamped-lazyload-loaded" data-src="https://cdn.stamped.io/cdn/flags/us.svg" width="15" alt="United States" onerror="this.style.display=&quot;none&quot;;" src="https://cdn.stamped.io/cdn/flags/us.svg" data-was-processed="true"></span> <span data-location="United States">United States</span></div><div></div><span class="stamped-starratings stamped-review-header-starratings" data-rating="5"> <i class="stamped-fa stamped-fa-star "></i><i class="stamped-fa stamped-fa-star "></i><i class="stamped-fa stamped-fa-star "></i><i class="stamped-fa stamped-fa-star "></i><i class="stamped-fa stamped-fa-star "></i> </span> </div><div class="stamped-review-content"> <div class="stamped-review-recommend" data-is-recommend="true">I recommend this product</div><div class="stamped-review-options"></div><div class="stamped-review-body"> <div class="stamped-review-header-title">Great ring</div><p class="stamped-review-content-body">Love it! Got so many compliments!</p></div></div></div><div class="stamped-review" data-rating="5" data-verified="buyer"> <div class="stamped-review-header"> <div class="stamped-review-avatar" style="padding:0;" data-avatar="false"> <div class="stamped-review-avatar-content"> CU </div></div><strong class="author">CAROLINE U.</strong> <span class="stamped-verified-badge" data-type="buyer" data-verified-label="Verified Buyer"></span> <div class="review-location"><span class="stamped-location-flag"><img class="stamped-lazyload stamped-lazyload-loaded" data-src="https://cdn.stamped.io/cdn/flags/us.svg" width="15" alt="United States" onerror="this.style.display=&quot;none&quot;;" src="https://cdn.stamped.io/cdn/flags/us.svg" data-was-processed="true"></span> <span data-location="United States">United States</span></div><div></div><span class="stamped-starratings stamped-review-header-starratings" data-rating="5"> <i class="stamped-fa stamped-fa-star "></i><i class="stamped-fa stamped-fa-star "></i><i class="stamped-fa stamped-fa-star "></i><i class="stamped-fa stamped-fa-star "></i><i class="stamped-fa stamped-fa-star "></i> </span> </div><div class="stamped-review-content"> <div class="stamped-review-recommend" data-is-recommend="true">I recommend this product</div><div class="stamped-review-options"></div><div class="stamped-review-body"> <div class="stamped-review-header-title">Natural beauty</div><p class="stamped-review-content-body">I feel like I am wearing something that was cut out of the side of cliff. The band reminds me of a cliff face and the stones are rough and natural and are exactly what I was looking for. Wearable art and unique!</p></div></div></div><div class="stamped-review" data-rating="5" data-verified="buyer"> <div class="stamped-review-header"> <div class="stamped-review-avatar" style="padding:0;" data-avatar="false"> <div class="stamped-review-avatar-content"> JC </div></div><strong class="author">JohAnna C.</strong> <span class="stamped-verified-badge" data-type="buyer" data-verified-label="Verified Buyer"></span> <div class="review-location"><span class="stamped-location-flag"><img class="stamped-lazyload stamped-lazyload-loaded" data-src="https://cdn.stamped.io/cdn/flags/us.svg" width="15" alt="United States" onerror="this.style.display=&quot;none&quot;;" src="https://cdn.stamped.io/cdn/flags/us.svg" data-was-processed="true"></span> <span data-location="United States">United States</span></div><div></div><span class="stamped-starratings stamped-review-header-starratings" data-rating="5"> <i class="stamped-fa stamped-fa-star "></i><i class="stamped-fa stamped-fa-star "></i><i class="stamped-fa stamped-fa-star "></i><i class="stamped-fa stamped-fa-star "></i><i class="stamped-fa stamped-fa-star "></i> </span> </div><div class="stamped-review-content"> <div class="stamped-review-recommend" data-is-recommend="true">I recommend this product</div><div class="stamped-review-options"></div><div class="stamped-review-body"> <div class="stamped-review-header-title">Amazing!</div><p class="stamped-review-content-body">I was looking forward to the arrival of my ring. It did not disappoint! When you open the little black box you know you are in for something special! The ring is striking!! It fit perfectly! I love the individuality of their pieces and the affordable price range. No need to feel guilty about treating yourself. You deserve it. But it. I’ve already got my sights on another piece.</p></div></div></div>';
    $('.stamped-reviews').html(reviewsHtml).addClass('vwo_reviewsSlider');
  }
}      
function initReviewsSlider(){
  $('.vwo_reviewsSlider').slick({
    infinite: false,
    slidesToShow: 3,
    slidesToScroll: 1,
    dots: false,
    adaptiveHeight:false,
    arrows:true,
    responsive:[
      {
        breakpoint:1023,
        settings:{
          slidesToShow: 2,
          dots: true,
          arrows:false
        }
      },
      {
        breakpoint:767,
        settings:{
          slidesToShow: 1,
          adaptiveHeight:true,
          dots: true,
          arrows:false
        }
      }
    ]
  });
}

  
</script>

<style>

.GK_2390_V1 .vwo_reviewsSlider .slick-track{
  display:flex;
}
.GK_2390_V1 .stamped-container[data-count="0"][data-widget-language=""] .stamped-empty-state{
  display:none!important;
} 
.GK_2390_V1 .vwo_reviewsSlider.slick-initialized .slick-slide{
  margin:0 15px;
} 
.GK_2390_V1 #stamped-reviews-filter{
  display:none!important;
} 
.GK_2390_V1 .vwo_reviewsSlider .slick-slide img {
  display: inline-block;
}
.GK_2390_V1 .vwo_reviewsSlider .slick-dots{
  left: 0;
}
.GK_2390_V1 .vwo_reviewsSlider .slick-dots li{
  margin:0;
}
.GK_2390_V1 .vwo_reviewsSlider .slick-dots li button:before{
  font-size:38px;
  line-height:20px;
}
@media screen and (max-width:1024px){
  .GK_2390_V1 .vwo_reviewsSlider .slick-dots li:not(.slick-active) button:hover:before, .GK_2390_V1 .vwo_reviewsSlider .slick-dots li:not(.slick-active) button:focus:before{
    opacity:0.25;
  }
}
  
</style>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
       {
        "type": "text",
        "id": "phone",
        "label": "Phone Number"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_theme_credit",
        "label": "Show theme credit",
        "default": true
      },
      {
        "type":      "header",
        "content":   "Color"
      },
      {
         "type": "select",
         "id": "color_combination",
         "label": "Combination",
         "options": [
            { "value": "primary", "label": "Primary"},
            { "value": "secondary ", "label": "Secondary"},
            { "value": "tertiary", "label": "Tertiary"}
         ]
      }
    ],
    "blocks": [
      {
        "type": "menus",
        "name": "Menus",
        "limit": 1,
        "settings": [
          {
            "type": "link_list",
            "id": "main_linklist",
            "label": "Menu",
            "default": "footer",
            "info": "This menu won't show dropdown items"
          },
          {
            "type": "link_list",
            "id": "secondary_linklist",
            "label": "Secondary Menu",
            "info": "This menu won't show dropdown items"
          }
        ]
      },
      {
        "type": "richtext",
        "name": "Rich text",
        "limit": 1,
        "settings": [
          {
            "id": "text",
            "type": "richtext",
            "label": "Text",
            "default": "<p>Use this to add additional information about your store, e.g. address / contact details.</p>"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter",
        "limit": 1,
        "settings": [
          {
            "type": "textarea",
            "id": "text",
            "label": "Text",
            "default": "<p>Receive special offers and first look at new products.</p>"
          }
        ]
      }
    ]
  }

{% endschema %}
