<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>

<!-- or the reference on CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">

<section class="cascade index-sync-slider py3 md--up--py4 color--{{ section_color }}-text bg--{{ section_color }}-background" data-section-type="cascade" data-section-id="{{ section.id }}"  data-fade-in="{{ fade_in }}" >
    <div class="max-site-width px0 md--up--px3 carousel-main" {% if section.settings.auto_rotate %} data-autoplay="true" {% else %}  data-autoplay="false" {% endif %} data-slide-speed="{{ section.settings.slide_speed }}">
        {% for block in section.blocks %}
            {% if block.settings.first_image != blank and block.settings.second_image != blank %}
                <div class="lg--up--px2 px0">
                    <div class="md--grid__item md--one-whole py2 px3 md--up--hide">
                        {% if block.settings.heading != blank %}<h1>{{ block.settings.heading }}</h1>{% endif %}
                        {% if block.settings.text != blank %} <h3>{{ block.settings.text }}</h3>{% endif %}
                    </div>
                    <div class="md--up--grid__item md--up--six-tenths px0 py2 ten-twelfths md--up--py4">
                        <a href="{{block.settings.first_image_link}}">
                            <img class="sync-first-img lazyload" data-src="{{ block.settings.first_image | img_url:'1024x' }}">
                        </a>
                    </div>
                    <div class="md--up--grid__item md--up--four-tenths">
                        <div>
                            <div class="slide-desc py2 md-down-hidden">
                                {% if block.settings.heading != blank %}<h1>{{ block.settings.heading }}</h1>{% endif %}
                                {% if block.settings.text != blank %} <h3>{{ block.settings.text }}</h3>{% endif %}
                                {% if block.settings.cta_text != blank and block.settings.cta_url != blank %}<a class="btn border--none bg--tertiary-text p1 block btn-max caps" href="{{ block.settings.cta_url }}">{{ block.settings.cta_text }}</a>{% endif %}
                            </div>
                            <div class="mobile-second-img">
                                <a href="{{block.settings.second_image_link}}">
                                    <img class="slide-desc-image lazyload" data-src="{{ block.settings.second_image | img_url:'1024x' }}">
                                </a>
                            </div>
                            <div class="md--up--hide mx2">
                                {% if block.settings.cta_text != blank and block.settings.cta_url != blank %}<a class="btn border--none bg--tertiary-text p1 my2 mx--auto block btn-max caps" href="{{ block.settings.cta_url }}">{{ block.settings.cta_text }}</a>{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>

<div class="vwo_powerLines m-show vwo_section">
    {% for block in section.blocks %}
    {% if block.settings.first_image != blank and block.settings.second_image != blank %}
    <div class="md--grid__item md--one-whole px2 md--up--hide">

        <h1>{{ block.settings.heading }} <a class="caps underline" href="{{ block.settings.cta_url }}">{{ block.settings.cta_text }}</a></h1>
        <h3>{{ block.settings.text }}</h3>
    </div>
    {% if block.settings.heading == "Weekly drop" %}
        <div class="splide splide2">

            <div class="vwo_powerLinesSlider vwo_customSlider splide__track">
                <ul class="splide__list">
                    {% if block.settings.second_image1 != blank %}
                        <div class="slide_p splide__slide">
                            <a href="{{block.settings.imagelink1}}">
                                <img class="lazyload" data-src="{{ block.settings.second_image1 | img_url:'1024x' }}" />
                            </a>
                        </div>
                    {% endif %}
                    {% if block.settings.second_image2 != blank %}
                        <div class="slide_p splide__slide">
                            <a href="{{block.settings.imagelink2}}">
                                <img class="lazyload" data-src="{{ block.settings.second_image2 | img_url:'1024x' }}" />
                            </a>
                        </div>
                    {% endif %}
                    {% if block.settings.second_image3 != blank %}
                        <div class="slide_p splide__slide">
                            <a href="{{block.settings.imagelink3}}">
                                <img class="lazyload" data-src="{{ block.settings.second_image3 | img_url:'1024x' }}" />
                            </a>
                        </div>
                    {% endif %}
                    {% if block.settings.second_image4 != blank %}
                        <div class="slide_p splide__slide">
                            <a href="{{block.settings.imagelink4}}">
                                <img class="lazyload" data-src="{{ block.settings.second_image4 | img_url:'1024x' }}" />
                            </a>
                        </div>
                    {% endif %}
                    {% if block.settings.second_image5 != blank %}
                        <div class="slide_p splide__slide">
                            <a href="{{block.settings.imagelink5}}">
                                <img class="lazyload" data-src="{{ block.settings.second_image5 | img_url:'1024x' }}" />
                            </a>
                        </div>
                    {% endif %}
                </ul>
            </div>

        </div>
    {% else %}
        <div class="splide">

            <div class="vwo_powerLinesSlider vwo_customSlider splide__track">
                <ul class="splide__list">
                    {% if block.settings.second_image1 != blank %}
                        <div class="slide_p splide__slide">
                            <a href="{{block.settings.imagelink1}}">
                                <img class="lazyload" data-src="{{ block.settings.second_image1 | img_url:'1024x' }}" />
                            </a>
                        </div>
                    {% endif %}
                    {% if block.settings.second_image2 != blank %}
                        <div class="slide_p splide__slide">
                            <a href="{{block.settings.imagelink2}}">
                                <img class="lazyload" data-src="{{ block.settings.second_image2 | img_url:'1024x' }}" />
                            </a>
                        </div>
                    {% endif %}
                    {% if block.settings.second_image3 != blank %}
                        <div class="slide_p splide__slide">
                            <a href="{{block.settings.imagelink3}}">
                                <img class="lazyload" data-src="{{ block.settings.second_image3 | img_url:'1024x' }}" />
                            </a>
                        </div>
                    {% endif %}
                    {% if block.settings.second_image4 != blank %}
                        <div class="slide_p splide__slide">
                            <a href="{{block.settings.imagelink4}}">
                                <img class="lazyload" data-src="{{ block.settings.second_image4 | img_url:'1024x' }}" />
                            </a>
                        </div>
                    {% endif %}
                    {% if block.settings.second_image5 != blank %}
                        <div class="slide_p splide__slide">
                            <a href="{{block.settings.imagelink5}}">
                                <img class="lazyload" data-src="{{ block.settings.second_image5 | img_url:'1024x' }}" />
                            </a>
                        </div>
                    {% endif %}
                </ul>
            </div>

        </div>
    {% endif %}

</div>
{% endif %}
{% endfor %}
</div>
<script>
    new Splide( '.splide', {
        lazyLoad: true,
        width: '100%',
        type  : 'fade',
        rewind: true,
        //pagination: false,
        'arrowPath': "M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"
    } ).mount();

    new Splide( '.splide2', {
        lazyLoad: true,
        width: '100%',
        type  : 'fade',
        rewind: true,
        //pagination: false,
        'arrowPath': "M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z"
    } ).mount();
</script>
<style>
    .splide__arrow{
        background:transparent;
    }
    .splide__arrow svg{
        width: 1.5em;
        height: 1.5em;
    }

</style>


{% schema %}
{
"name": "Sync Slider",
"settings": [
{
"type": "checkbox",
"id": "auto_rotate",
"label": "Auto-rotate slides"
},
{
"type": "select",
"id": "slide_speed",
"label": "Change slides every",
"options": [
{
"value": "1000",
"label": "1 Seconds"
},
{
"value": "2000",
"label": "2 Seconds"
},
{
"value": "3000",
"label": "3 Seconds"
},
{
"value": "4000",
"label": "4 Seconds"
},
{
"value": "5000",
"label": "5 Seconds"
},
{
"value": "6000",
"label": "6 Seconds"
},
{
"value": "7000",
"label": "7 Seconds"
},
{
"value": "8000",
"label": "8 Seconds"
},
{
"value": "9000",
"label": "9 Seconds"
},
{
"value": "10000",
"label": "10 Seconds"
}
]
}
],
"blocks": [
{
"type": "image",
"name": "Image",
"settings": [
{
"type": "image_picker",
"id": "first_image",
"label": "Image",
"info": "Recommended Size 780x670"
},
{
"type": "url",
"id": "first_image_link",
"label": "image link"
},
{
"type": "image_picker",
"id": "second_image",
"label": "Second Image",
"info": "Recommended Size 540x480"
},
{
"type": "url",
"id": "second_image_link",
"label": "image link"
},
{
"type": "image_picker",
"id": "second_image1",
"label": "Mobile Image 1",
"info": "Recommended Size 540x480"
},
{
"type": "image_picker",
"id": "second_image2",
"label": "Mobile Image 2",
"info": "Recommended Size 540x480"
},
{
"type": "image_picker",
"id": "second_image3",
"label": "Mobile Image 3",
"info": "Recommended Size 540x480"
},
{
"type": "image_picker",
"id": "second_image4",
"label": "Mobile Image 4",
"info": "Recommended Size 540x480"
},
{
"type": "image_picker",
"id": "second_image5",
"label": "Mobile Image 5",
"info": "Recommended Size 540x480"
},
{
"type": "url",
"id": "imagelink1",
"label": "image link 1"
},
{
"type": "url",
"id": "imagelink2",
"label": "image link 2"
},
{
"type": "url",
"id": "imagelink3",
"label": "image link 3"
},
{
"type": "url",
"id": "imagelink4",
"label": "image link 4"
},
{
"type": "url",
"id": "imagelink5",
"label": "image link 5"
},
{
"type": "textarea",
"id": "heading",
"label": "Heading",
"default": "Heading goes here"
},
{
"type": "textarea",
"id": "text",
"label": "Subheading",
"default": "Subheading goes here"
},
{
"type": "url",
"id": "cta_url",
"label": "Link"
},
{
"id": "cta_text",
"type": "text",
"label": "Link text",
"default": "Shop now"
}
]
}
],
"presets": [
{
"name": "Sync Slider",
"category": "Image",
"blocks": [
{
"type": "image"
}
]
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
