{%- assign section_color = section.settings.color_scheme -%}
{%- include 'global-variables' -%}

{%- assign font_size = 'font-size--sm md--up--font-size--m line-height--3' -%}
{%- assign font_size = global__basic_font_size -%}

<section class="cascade py3 lg--up--py3" data-section-type="cascade" data-section-id="{{ section.id }}" data-fade-in="{{ fade_in }}" data-first-item="{{ section.settings.first_item }}">
  <div class="max-site-width md--up--px2 px0 lg--up--px3">
    <div class="cascading-content md--up--px2 px0">
      <div class="items overflow--hidden">
        <div class="item-sizer"></div>
        <div class="column-sizer"></div>

        <div class="item item--desktop--full item--mobile--full item--{{ block.id }} {% if fade_in%}fade-in{% endif %}" data-width="full">
          <div class="item__inner one-whole mx--auto lg--up--one-whole lg--up--mx--auto flex items--center award-container">
            <div class="px2 grid__item one-whole md--up--grid__item md--up--one-quarter pl0 md--up--text-left text-center">
              <h3 class="award-title">{{ section.settings.heading }}</h3>
              <div class="award heading_deco mb2"></div>
            </div>
            <div class="grid__item one-whole md--up--grid__item md--up--three-quarters pl0 award-slider" {% if section.settings.auto_rotate %} data-autoplay="true" {% else %}  data-autoplay="false" {% endif %} data-slide-speed="{{ section.settings.slide_speed }}">
              {%- for block in section.blocks -%}
              <div class="px1 md--up--grid__item md--up--one-third text-center">
                <div class="award-mobile-item">
                  {% if block.settings.image %} <img class="pb2 mx--auto" src="{{ block.settings.image | img_url:'300x'}}">{% endif %}
                  {% if block.settings.year %}<p class="mb0">{{ block.settings.year }}</p>{% endif %}
                  {% if block.settings.content %}<p class="mb0 award-content">{{ block.settings.content }}</p>{% endif %}
                </div>
              </div>
              {%- endfor -%}
            </div>
          </div>
        </div>
        
    </div>
  </div>
  </div>
</section>





{% schema %}
  {
    "name": "Awards Section",
    "settings": [
	  {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Heading"
      },
      {
        "type": "checkbox",
        "id": "auto_rotate",
        "label": "Auto-rotate slides"
      },
      {
        "type": "select",
        "id": "slide_speed",
        "label": "Change slides every",
        "options": [
          {
            "value": "1000",
            "label": "1 Seconds"
          },
          {
            "value": "2000",
            "label": "2 Seconds"
          },
          {
            "value": "3000",
            "label": "3 Seconds"
          },
          {
            "value": "4000",
            "label": "4 Seconds"
          },
          {
            "value": "5000",
            "label": "5 Seconds"
          },
          {
            "value": "6000",
            "label": "6 Seconds"
          },
          {
            "value": "7000",
            "label": "7 Seconds"
          },
          {
            "value": "8000",
            "label": "8 Seconds"
          },
          {
            "value": "9000",
            "label": "9 Seconds"
          },
          {
            "value": "10000",
            "label": "10 Seconds"
          }
        ]
      }
	],
	"blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
		      {
            "type": "text",
            "id": "year",
            "label": "Heading",
            "default": "Heading goes here"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Subheading",
            "default": "Subheading goes here"
          },
          {
            "type": "url",
            "id": "cta_url",
            "label": "CTA Link"
          },
          {
            "id": "cta_text",
            "type": "text",
            "label": "CTA Text",
            "default": "More"
          }  
        ]
      }
    ],
   "presets": [
      {
        "name": "Awards Section",
        "category": "Image",
        "blocks": [
          {
            "type": "image"
          }
        ]
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
