{%- assign section_color = section.settings.color_scheme -%}
{%- include 'global-variables' -%}

{%- assign font_size = 'font-size--sm md--up--font-size--m line-height--3' -%}
{%- assign font_size = global__basic_font_size -%}

<section class="cascade vwo_artOfImpulseSection pt4 pb0 lg--up--py5  color--{{ section_color }}-text bg--{{ section_color }}-background" data-section-type="cascade" data-section-id="{{ section.id }}" data-fade-in="{{ fade_in }}" data-first-item="{{ section.settings.first_item }}">
  <div class="max-site-width px2 lg--up--px3">
    <div class="cascading-content px1 md--up--px2">
      <div class="items overflow--hidden">
        <div class="item-sizer"></div>
        <div class="column-sizer"></div>

        {%- assign col_count_desktop = '' -%}
        {%- assign col_count_mobile = '' -%}

        {%- for block in section.blocks -%}

          {%- assign first_col_desktop = false -%}
          {%- assign first_col_mobile = false -%}

          {%- assign block_width_mobile = block.settings.block_width_mobile -%}
          {%- assign block_width_desktop = block.settings.block_width -%}

          {%- if block.type == 'product_feature' -%}
            {%- assign block_width_mobile = 'full' -%}
            {%- assign block_width_desktop = 'full' -%}
          {%- endif -%}


          {% comment %}
          First check if it's the first post of the loop and it isn't full width %}
          {% endcomment %}
          {%- if forloop.first and block_width_desktop == 'half' -%}
            {%- assign first_col_desktop = true -%}
            {%- assign col_count_desktop = 1 -%}
          {%- endif -%}

          {%- if forloop.first and block_width_mobile == 'half' -%}
            {%- assign first_col_mobile = true -%}
            {%- assign col_count_mobile = 1 -%}
          {%- endif -%}

          {% comment %}
          Now check to see if last block is full width, and this block isn't.
          {% endcomment %}
          {%- if last_block_width_desktop == 'full' and block_width_desktop == 'half' -%}
            {%- assign first_col_desktop = true -%}
            {%- assign col_count_desktop = 1 -%}
          {%- endif -%}

          {%- if last_block_width_mobile == 'full' and block_width_mobile == 'half' -%}
            {%- assign first_col_mobile = true -%}
            {%- assign col_count_mobile = 1 -%}
          {%- endif -%}


          {% comment %}
          Assign class for last item
          {% endcomment %}
          {%- if forloop.last -%}
            {%- assign last_col = true -%}
          {%- endif -%}

          <div
            class="item item--desktop--{{ block_width_desktop }} {% if block.type == 'image' %} lg-down-hidden{% endif %} item--mobile--{{ block_width_mobile }} item--{{ block.id }} {% if forloop.first %}item--first{% endif %} {% if first_col_desktop %}first-col--desktop{% endif %} {% if first_col_mobile %}first-col--mobile{% endif %} {% if last_col %}item--last{% endif %} {% if fade_in%}fade-in{% endif %} {% if block.type == 'image' %}custom_img_padding{% endif %}"
            data-width="{{ block_width_desktop }}"
            data-block-id="{{ block.id }}"
            >
            <div class="item__inner {% if block_width_mobile == 'full' %}one-whole mx--auto{% endif %} {% if block_width_desktop == 'full' %}lg--up--five-sixths lg--up--mx--auto{% else %}lg--up--one-whole{% endif %}" {{ block.shopify_attributes }}>

              {% comment %}
              /* ============================================================================
                Image
              ============================================================================== *
              {% endcomment %}

              {% if block.type == 'image' %}
                {% if block.settings.image %}
                  {% assign image = block.settings.image %}
                  {% assign image_ratio = block.settings.image.aspect_ratio  | plus: 0 %}
                  <div class="image-holder {% if col_count_mobile == 2 or col_count_mobile == 3 %}one-whole mx--auto{% endif %} {% if col_count_desktop == 2 or col_count_desktop == 3 %}lg--up--one-whole lg--up--mx--auto{% endif %} pl2">
                    {% capture img_id %}ItemImage-{{ image.id }}{% endcapture %}
                    {% capture wrapper_id %}ItemImageWrapper-{{ image.id }}{% endcapture %}
                    {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    <div id="{{ wrapper_id }}" class="resp-img-wrapper js">
                      <div style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
                        <img id="{{ img_id }}"
                             class="resp-img lazyload"
                             src="{{ image | img_url: '300x' }}"
                             data-src="{{ img_url }}"
                             data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                             data-aspectratio="{{ image.aspect_ratio }}"
                             data-sizes="auto"
                             alt="{{ image.alt | escape }}">
                         <img id="{{ img_id }}"
                              class="resp-img-placeholder lazyload"
                              data-src="{{ image | img_url: '1x1' }}"
                              width="{{ image.width }}"
                              height="{{ image.height }}"
                              alt="{{ image.alt | escape }}">
                      </div>
                    </div>
                    <noscript>
                      <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" class="item--image">
                    </noscript>
                  </div>
                {% else %}
                  <div class="onboarding-image">
                    <div class="placeholder-img-wrapper {{ placeholder_bg }}">
                      <div style="padding-top:{% cycle '66.6', '133.33', '100' %}%;" class="relative">
                        {{ 'image' | placeholder_svg_tag }}
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endif %}

              {% comment %}
              /* ============================================================================
                Rich Text
              ============================================================================== *
              {% endcomment %}
              {% if block.type == 'rich_text' or block.type == 'heading' or block.type == 'text' %}
              <div class="rich-text rich-text--{{ block.id }} {{ block.settings.text_align}}">
                <div class="one-whole mx--auto pm--one-whole wd--two-thirds">
                  {% if block.settings.heading != blank   %}
                    {% if block_width_mobile == 'full' %}
                      {% assign heading_class = heading_fontsize__mobile_full %}
                    {% else %}
                      {% assign heading_class = heading_fontsize__mobile_half %}
                    {% endif %}
                    {% if block.type == 'heading' and block.settings.font_size == 'large' %}
                      {% if block_width_mobile == 'full' %}
                        {% assign heading_class = 'f--heading font-size--xxxl line-height--8 pm--font-size--xxxxxl pm--line-height--11 wd--font-size--xxxxxxl wd--line-height--13' %}
                      {% else %}
                        {% assign heading_class = 'f--heading font-size--xxl line-height--7 pm--font-size--xxxxl pm--line-height--11 wd--font-size--xxxxxxl wd--line-height--13' %}
                      {% endif %}
                    {% endif %}
                    <h1 class=" m0 {{ heading_class }} pb2">
                      {{ block.settings.heading }}
                    </h1>
                    {% if block.settings.sub_heading != blank  %}
                    <h3>{{ block.settings.sub_heading }}</h3>
                    {% endif %}
                  {% endif %}
                  
                  
                   
                  {% if block.settings.rich_text != blank  %}
                  <div class="richtext font-size--m line-height--6 wd--font-size--m wd--line-height--6 {% if block.settings.heading != blank or block.settings.sub_heading != blank %}md--up--mt4 mb2 mt1{% endif %}">
                    {{ block.settings.rich_text }}
                  </div>
                  {% endif %}
                  
                  <div class="mobile-richtext-image py1">
                  {% if block.settings.image-mob %}
                  {% assign image = block.settings.image-mob %}
                  {% assign image_ratio = block.settings.image-mob.aspect_ratio  | plus: 0 %}
                  <div class="image-holder {% if col_count_mobile == 2 or col_count_mobile == 3 %}one-whole mx--auto{% endif %} {% if col_count_desktop == 2 or col_count_desktop == 3 %}lg--up--one-whole lg--up--mx--auto{% endif %} pl3">
                    {% capture img_id %}ItemImage-{{ image.id }}{% endcapture %}
                    {% capture wrapper_id %}ItemImageWrapper-{{ image.id }}{% endcapture %}
                    {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    <div id="{{ wrapper_id }}" class="resp-img-wrapper js">
                      <div style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
                        <img id="{{ img_id }}"
                             class="resp-img lazyload"
                             src="{{ image | img_url: '300x' }}"
                             data-src="{{ img_url }}"
                             data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                             data-aspectratio="{{ image.aspect_ratio }}"
                             data-sizes="auto"
                             alt="{{ image.alt | escape }}">
                         <img id="{{ img_id }}"
                              class="resp-img-placeholder lazyload"
                              data-src="{{ image | img_url: '1x1' }}"
                              width="{{ image.width }}"
                              height="{{ image.height }}"
                              alt="{{ image.alt | escape }}">
                      </div>
                    </div>
                    <noscript>
                      <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" class="item--image">
                    </noscript>
                  </div>
                {% else %}
                  <div class="onboarding-image">
                    <div class="placeholder-img-wrapper {{ placeholder_bg }}">
                      <div style="padding-top:{% cycle '66.6', '133.33', '100' %}%;" class="relative">
                        {{ 'image' | placeholder_svg_tag }}
                      </div>
                    </div>
                  </div>
                {% endif %}
                  </div>
                  
                  {% if block.settings.cta_url != blank %}
                  <a class="btn btn-full border--none bg--tertiary-text p1 block btn-max inline-block {{ global__homepage_more_link }} {{ font_size }}{% comment %} {{ global__link_underline }} {{ global__hover_underline }} {% endcomment %}" href="{{ block.settings.cta_url }}" >
                    {{ block.settings.cta_text }}
                  </a>
                  {% endif %}
                </div>
              </div>
              {% endif %} 

            </div>
          </div>

          {%- assign last_block_width_desktop = block_width_desktop -%}
          {%- assign last_block_width_mobile = block_width_mobile -%}
          {%- assign col_count_desktop = col_count_desktop | plus: 1 -%}
          {%- assign col_count_mobile = col_count_mobile | plus: 1 -%}

          {%- if col_count_desktop == 5 -%}
            {%- assign col_count_desktop = 1 -%}
          {%- endif -%}

          {%- if col_count_mobile == 5 -%}
            {%- assign col_count_mobile = 1 -%}
          {%- endif -%}

        {%- endfor -%}

      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Cascading content",
  "settings": [
    {
       "type": "select",
       "id": "first_item",
       "label": "First block position",
       "options": [
          { "value": "left", "label": "Top left"},
          { "value": "right ", "label": "Top right"}
       ]
    },
    {
       "type": "select",
       "id": "color_scheme",
       "label": "Color scheme",
       "options": [
          { "value": "primary", "label": "Primary"},
          { "value": "secondary ", "label": "Secondary"},
          { "value": "tertiary", "label": "Tertiary"}
       ]
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Size"
          },
          {
            "type": "select",
            "id": "block_width_mobile",
            "options": [
              { "value": "half", "label": "Half width"},
              { "value": "full", "label": "Full width"}
            ],
            "label": "Mobile"
          },
          {
            "type": "select",
            "id": "block_width",
            "options": [
              { "value": "half", "label": "Half width"},
              { "value": "full", "label": "Full width"}
            ],
            "label": "Desktop"
          }
      ]
    },
    {
      "type": "rich_text",
      "name": "Heading with text",
      "settings": [
        {
          "type": "header",
          "content": "Heading"
        },
        {
          "id": "heading",
          "type": "text",
          "label": "Heading",
          "default": "Heading or impact text goes here."
        },
		{
          "type": "header",
          "content": "Sub Text"
        },
        {
          "id": "sub_heading",
          "type": "text",
          "label": "Text",
          "default": "Sub Heading goes here."
        },
		{
          "type": "header",
          "content": "Mobile Image"
        },
		{
            "type": "image_picker",
            "id": "image-mob",
            "label": "Image"
        },
        {
          "type": "header",
          "content": "Text"
        },
        {
          "id": "rich_text",
          "type": "richtext",
          "label": "Text",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "header",
          "content": "Call to Action"
        },
        {
          "type": "url",
          "id": "cta_url",
          "label": "Optional: Call to action link"
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "Call to action link text",
          "default": "Shop now"
        },
        {
           "type": "select",
           "id": "text_align",
           "label": "Text alignment",
           "options": [
             {
               "value": "text-align--left",
               "label": "Left"
             },
             {
               "value": "text-align--center",
               "label": "Center"
             },
             {
               "value": "text-align--right",
               "label": "Right"
             }
           ],
           "default":   "text-align--left"
         },
         {
           "type": "header",
           "content": "Size"
         },
         {
           "type": "select",
           "id": "block_width_mobile",
           "options": [
             { "value": "half", "label": "Half width"},
             { "value": "full", "label": "Full width"}
           ],
           "label": "Mobile"
         },
         {
           "type": "select",
           "id": "block_width",
           "options": [
             { "value": "half", "label": "Half width"},
             { "value": "full", "label": "Full width"}
           ],
           "label": "Desktop"
         }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rich text and image-Custom",
      "category": "Cascading content",
      "blocks": [
        {
          "type": "rich_text"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}