{% assign index = 1 %}

<section class="cascade vwo_categoriesSection py3 color--{{ section_color }}-text bg--{{ section_color }}-background" data-section-type="cascade" data-section-id="{{ section.id }}" data-fade-in="{{ fade_in }}" >
  <div class="max-site-width px1 lg--up--px3">
    <div class="">
      {% if section.settings.title != blank %}
      <div class="md--up--grid__item md--up--one-whole px2 md--dn--pb2 fn vwo_categoriesHeader">
        <div class="md--up--grid__item md--up--two-thirds px0 md--text-left md--dn--text-align--center">
          {% if section.settings.title != blank %}<h3 class="caps">{{ section.settings.title }}</h3>{% endif %}
        </div>
        <div class="md--up--grid__item md--up--one-third px0 md--text-right md--up--text-right md--dn--text-align--center">
          {% if section.settings.link != blank and section.settings.btntext != blank %}
          <a class="caps underline" href="{{ section.settings.link }}">{{ section.settings.btntext }}</a>
          {% endif %}
        </div>
      </div>
      {% endif %}

	  {% comment %}Desktop View{% endcomment %}
      <div class="vwo_horizontal">
      <div class="md--up--grid__item md--up--one-whole px2 justify-center flex md--one-whole md-down-hidden">
        {% for block in section.blocks %} 
        {% if block.settings.collection and block.settings.collection != '' %}
        {% assign collection = collections[block.settings.collection] %}
        {% assign title = collection.title %}
        {% assign show_cta = block.settings.show_collection_link %}
        {% assign cta_text = block.settings.cta_text %}
        {% include 'custom-list-collection-loop' %}  
        {% endif %}
        {% unless forloop.last == true  %}
        {% assign divi = forloop.index | modulo:4 %}
        {% if divi == 0 %}
      </div>
      <div class="md--up--grid__item md--up--one-whole md--up--px2 flex mt5  md--one-whole md-down-hidden">
        {% endif %}
        {% endunless %}
        {% endfor %}
      </div>
      </div>
	  {% comment %} Mobile View{% endcomment %}
      <div class="md--grid__item md--one-whole vwo_horizontal  px1 flex md--up--hide">
        {% for block in section.blocks %} 
        {% if block.settings.collection and block.settings.collection != '' %}
        {% assign collection = collections[block.settings.collection] %}
        {% assign title = collection.title %}
        {% assign show_cta = block.settings.show_collection_link %}
        {% assign cta_text = block.settings.cta_text %}
        {% include 'custom-list-collection-loop' %}  
        {% endif %}
        {% unless forloop.last == true  %}
        {% assign divi = forloop.index | modulo:2 %}
        {% if divi == 0 %}
      </div>
      <div class="md--grid__item md--one-whole vwo_horizontal px1  flex md--up--mt5  md--up--hide">
        {% endif %}
        {% endunless %}
        {% endfor %}
      </div>

    </div>
  </div>
</section>

{% schema %}
{
  "name": "Custom Collection list",
  "max_blocks": 12,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Collection list"
    },
	{
      "type": "text",
      "id": "btntext",
      "label": "CTA Text",
      "default": "Shop"
    },
	{
      "type": "url",
      "id": "link",
      "label": "CTA Link"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
           "type": "collection",
           "id": "collection",
           "label": "Choose collection:"
        },
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
 {
           "type": "textarea",
           "id": "text",
           "label": "text"
        },
        {
           "type": "select",
           "id": "text_color",
           "label": "Overlay text color",
           "options": [
             { "value": "primary", "label": "Primary text"},
             { "value": "secondary", "label": "Secondary text"},
             { "value": "tertiary", "label": "Tertiary text"},
             { "value": "white", "label": "White"}
           ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Collection list",
      "category": "Collection",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
