{%- assign section_color = section.settings.color_scheme -%}
{%- include 'global-variables' -%}

{%- assign grid_item_width = 'lg--up--one-third' -%}


<section class="featured-collection   color--primary-text bg--primary-background color--{{ section_color }}-text bg--{{ section_color }}-background"
        data-accesstoken="{{ section.settings.instagram_access_token | escape }}"
        data-noposts="4"
        data-section-type="instagram"
        data-section-id="{{ section.id }}"
        {% if section.settings.crop_as_square %}data-crop-square="true"{% endif %}
        {% if section.settings.show_caption %}data-show-caption="true"{% endif %}
        {% if section.settings.show_instagram_link %}data-show-link="true"{% endif %}
        {% if section.settings.instagram_access_token and section.settings.title == blank %}data-show-title="true"{% endif %}>
  <div class="max-site-width lg--up--px3">

    {%- assign collection = collections[section.settings.collection] -%}

    <div class="lg--up--grid lg--up--px2 md--px3 px0">
      <div class="lg--up--grid__item lg--up--one-whole">
        <div class="pb3 pl2 pr2 md--up--pl2  md--up--pr4 lg--up--px0">
		 <div class="lg--up--grid__item lg--up--one-quarter md--up--text-left md--grid__item md--two-quarters pl0 grid__item one-whole text-center">
          {% if section.settings.title == blank %}
            {% if section.settings.instagram_access_token != '' %}
              <h3 class="instagram-title {{ global__heading_font_size }}"></h3>
            {% else %}
              <h3 class="instagram-title {{ global__heading_font_size }}">{{ 'homepage.onboarding.collection_title' | t }}</h3>
            {% endif %}
          {% else %}
            <h3 class="insta-title">{{ section.settings.title }}</h3>
           <div class="insta heading_deco"></div>
          {% endif %}

          {% if section.settings.subheading != blank %}
            <div class="{{ global__basic_font_size }}">
              {{ section.settings.subheading }}
            </div>
          {% endif %}
          </div>
          <div class="lg--up--grid__item lg--up--three-quarters md--grid__item md--two-quarters md--text-right pl0 md-down-hidden">
          {% if section.settings.show_instagram_link and section.settings.instagram_access_token != '' %}
          <a class="instagram-link inline-block underline caps {{ global__homepage_more_link }} {{ global__basic_font_size }} " href="" target="_blank" >
          {{ 'layout.social.follow' | t: platform: 'Instagram' }}
          </a>
          {% endif %}
          </div>

        </div>
      </div>
     
     
    </div>

  </div>
</section>
 <div id="rap__med__instagram" class="clearfix"></div>
<div class="clearfix m-hide">
 <a class="instagram-link inline-block underline caps {{ global__homepage_more_link }} {{ global__basic_font_size }} " href="" target="_blank" >
          {{ 'layout.social.follow' | t: platform: 'Instagram' }}
          </a>
</div>
<script>
$( "#rap__med__instabox" ).wrap( "<div class='vwo_singleGrid'></div>" );
</script>
{% schema %}
{
  "name": "Instagram",
  "class": "section-instagram",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Instagram",
      "info": "Leave blank, username of Instagram account will be shown."
    },
    {
      "id": "subheading",
      "type": "text",
      "label": "Subheading",
      "default": "Use this text to share instagram posts with your customers."
    },
    {
      "type": "checkbox",
      "id": "show_instagram_link",
      "label": "Show link to Instagram account",
      "default": true
    },
    {
       "type": "text",
       "id": "instagram_access_token",
       "label": "Instagram access token",
       "info": "See: [Grab your Instagram Access Token](http://www.switchthemes.co/instagram)"
    },
 
    {
      "type": "checkbox",
      "id": "show_caption",
      "label": "Show caption",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "crop_as_square",
      "label": "Crop images to square",
      "default": false
    },
    {
      "type":      "header",
      "content":   "Color"
    },
    {
       "type": "select",
       "id": "color_scheme",
       "label": "Color scheme",
       "options": [
          { "value": "primary", "label": "Primary"},
          { "value": "secondary ", "label": "Secondary"},
          { "value": "tertiary", "label": "Tertiary"}
       ]
    }
  ],
  "presets": [
    {
      "name": "Instagram feed",
      "category": "Social media"
    }
  ]
}
{% endschema %}
<style>
    .vwo_singleGrid #rap__med__insta-img{
        height:100%;
    }
</style>
<script src="https://theraptormedia.com/instagram/embed.js" data-id="germankabirski-store.myshopify.com" defer="defer"></script>