<section class="measure_you_finger">
  <div class="row_video">
    <div class="col_text">
      <div class="title">{{section.settings.title}}</div>
      {% for block in section.blocks %}
      {% if block.settings.text != blank %}
      <div class="block_step">
        <div class="step">Step {{forloop.index}}:</div>
        <div class="text">{{block.settings.text}}</div>
      </div>
      {%  endif %}
      {% endfor%}
      {% if section.settings.tip_text != blank %}
      <div class="Tip">{{section.settings.tip_text}}</div>
      {%endif%}  
      <div class="result_block">
        <h2 class="title">{{section.settings.title2}}</h2>
        <div class="units_wrapper">
          <button type='button' class="measure active" data-units="mm" data-type="finger">mm</button>
          <button type='button' class="measure" data-units="inch" data-type="finger">inch</button>
        </div>
        <div class="result_inputs">
            <div class="result_form">
              <input placeholder="0.00" type="text" >
              <button type='button'  class="resault_size" data-calculate-size><img alt="icon" src="https://cdn.shopify.com/s/files/1/0502/3553/9615/files/Vector_4.png?v=1629107051"/></button>
            </div>
          <div class="size_result_div"><span class="size_result">Your ring size:</span> <span class="result_us"></span></div>
        </div>
      </div>
    </div>
    <div class="col_video">
      <div class="video_wrapper">
        <video data-section-play-video="{{section.id}}-video"  id="{{section.id}}-video"     poster="{{ section.settings.bg | img_url: 'master'}}">
          <source  src="https://cdn.shopify.com/s/files/1/0502/3553/9615/files/How_to_measure_the_circumference_of_a_finger_1.mp4?v=1629377858" type="video/mp4">
        </video>
        <div class="btn-ok"><img src="https://cdn.shopify.com/s/files/1/0502/3553/9615/files/Group_1062.png?v=1628873775" alt="play"/></div>
        <div class="btn-stop"><img src="https://cdn.shopify.com/s/files/1/0502/3553/9615/files/Group_1065.png?v=1628873775" alt="stop"/></div>
      </div>
    </div>
  </div>
</section>
<script>
const btnOk = document.querySelector('.btn-ok');
const btnOk_img = document.querySelector('.btn-ok img');
const btnStop = document.querySelector('.btn-stop');
const btnStop_img = document.querySelector('.btn-stop img');
const wrapperVideo = document.querySelector('[data-section-play-video="{{section.id}}-video"]');

 function stopVideo1() {
  btnStop.style.display = "none";
  btnOk.style.display = "block";
  btnStop_img.style.display = "none";
}   
  
 function playVideo1() {
  btnOk_img.style.display = "none";
  btnStop.style.display = "none";     
  btnOk.style.display = "none";
  btnStop.style.display = "block";
}   
                                                                                         
 btnOk.addEventListener('click',function(){
 btnStop_img.style.display = "none";
 btnOk_img.style.display = "block";
 wrapperVideo.setAttribute("controls", "controls"); 
 setTimeout(playVideo1, 500);
 wrapperVideo.play();
  
  
});

btnStop.addEventListener('click',function(){
  btnStop_img.style.display = "block";
  setTimeout(stopVideo1, 500); 
  wrapperVideo.pause();
});
</script>
{% schema %}
  {
    "name": "Section name",
    "settings": [
 {
      "type": "image_picker",
      "id": "bg",
      "label": "Video Image"
    },
{
      "type": "text",
      "id": "url",
      "label": "Video url"
    }
,
{
      "type": "text",
      "id": "title",
      "label": "Title"
    },
{
      "type": "text",
      "id": "tip_text",
      "label": "Tip Text"
    }
    ,
{
      "type": "text",
      "id": "title2",
      "label": "Result"
    }
],
  "blocks": [
    {
      "type": "stap",
      "name": "Stap",
      "settings": [
        {
           "type": "text",
           "id": "text",
           "label": "Text"
        }
]
}
]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
