{% assign index = 1 %}

<section class="modern-collection cascade vwo_categoriesSection py3 color--{{ section_color }}-text bg--{{ section_color }}-background" data-section-type="cascade" data-section-id="{{ section.id }}" data-fade-in="{{ fade_in }}" >
  <div class="max-site-width px1 lg--up--px3">
    <div class="">
	  {% comment %}Desktop View{% endcomment %}
      <div class="vwo_horizontal">
      <div class="modern-collection_container md--up--grid__item md--up--one-whole px2 flex md--one-whole ">
        {% for block in section.blocks %} 

        {% assign collection = collections[block.settings.collection] %}
        {% assign heading = block.settings.collection_heading %}
        {% assign show_cta = block.settings.show_collection_link %}
        {% assign cta_text = block.settings.cta_text %}
          {% include 'modern-collection-template' %}

        {% unless forloop.last == true  %}
        {% assign divi = forloop.index | modulo:4 %}
        {% if divi == 0 %}
      </div>
      <div class="md--up--grid__item md--up--one-whole md--up--px2 flex mt5  md--one-whole md-down-hidden">
        {% endif %}
        {% endunless %}
        {% endfor %}
      </div>
      </div>
	  {% comment %} Mobile View{% endcomment %}
      {% comment %}<div class="md--grid__item md--one-whole vwo_horizontal  px1 flex md--up--hide">
        {% for block in section.blocks %} 
        {% if block.settings.collection and block.settings.collection != '' %}
        {% assign collection = collections[block.settings.collection] %}
        {% assign title = collection.title %}
        {% assign show_cta = block.settings.show_collection_link %}
        {% assign cta_text = block.settings.cta_text %}
        {% include 'custom-list-collection-loop' %}  
        {% endif %}
        {% unless forloop.last == true  %}
        {% assign divi = forloop.index | modulo:2 %}
        {% if divi == 0 %}
      </div>
      <div class="md--grid__item md--one-whole vwo_horizontal px1  flex md--up--mt5  md--up--hide">
        {% endif %}
        {% endunless %}
        {% endfor %}
      </div>{% endcomment %}

    </div>
  </div>
</section>

{% schema %}
{
  "name": "Modern Collection list",
  "max_blocks": 12,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Collection list"
    },
	{
      "type": "text",
      "id": "btntext",
      "label": "CTA Text",
      "default": "Shop"
    },
	{
      "type": "url",
      "id": "link",
      "label": "CTA Link"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
        "type": "text",
        "id": "collection_heading",
        "label": "Heading Text"
        },
        {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
        },
        {
        "type": "text",
        "id": "collection_btn_text",
        "label": "Btn Text",
        "default": "Shop All"
        },
        {
        "type": "text",
        "id": "collection_btn_url",
        "label": "Btn Link"
        },

        {
           "type": "select",
           "id": "text_color",
           "label": "Overlay text color",
           "options": [
             { "value": "primary", "label": "Primary text"},
             { "value": "secondary", "label": "Secondary text"},
             { "value": "tertiary", "label": "Tertiary text"},
             { "value": "white", "label": "White"}
           ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Modern Collection list",
      "category": "Collection",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
