{%- assign section_color = section.settings.color_scheme -%}
{%- include 'global-variables' -%}
<section class="page {{ global__section_with_padding_class }} color--{{ section_color }}-text bg--{{ section_color }}-background">
<div class="max-site-width px2 lg--up--px3">
<div class="mx--auto lg--up--seven-eighths faq">
  <div class="grid">
    <div class="grid__item lg--up--three-fifths heading">
      <h1 class="{{ global__heading_font_size }} m0">{{ page.title }}</h1>
    </div>
    <div class="grid__item lg--up--three-fifths mt3 lg--up--mt0 content">
      <div class="rte {{ global__basic_font_size }}">
        <dl class="accordion faq-accordion">
         
          {% for block in section.blocks %}
          {% if block.type == 'faq' %}
          <dt>
            {% if block.settings.faq-heading != 'blank' %}
            <h4 class="caps">{{ block.settings.faq-heading }}</h4>
            {% endif %}
            </dt>
          <dd>
            {% if block.settings.faq-content != 'blank' %}
            <p>{{ block.settings.faq-content }}</p>
            {% endif %}
          </dd>
          {% endif %}
          {% endfor %}
        </dl>
      </div>
    </div>
  </div>
</div>
</div>
</section>

{% schema %}
  {
    "name": "FAQ",
    "settings": [
{
      "type":      "header",
      "content":   "Color"
    },
    {
       "type": "select",
       "id": "color_scheme",
       "label": "Color scheme",
       "options": [
          { "value": "primary", "label": "Primary"},
          { "value": "secondary ", "label": "Secondary"},
          { "value": "tertiary", "label": "Tertiary"}
       ]
    }
],
  "blocks": [
    {
      "type": "faq",
      "name": "faq",
      "settings": [
        {
           "type": "text",
           "id": "faq-heading",
           "label": "Heading"
        },
     {
           "type": "textarea",
           "id": "faq-content",
           "label": "Content"
      }
]
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
