 <div class="mx--auto ">
  <div  class="grid">
    <div class="grid__item lg--up--full">
      <h1 style="font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;" class="{{ global__heading_font_size }} m0">{{ page.title }}</h1>
    </div>
    <div style="margin-top: 30px;" class="grid__item lg--up--full">
      <div class="rte {{ global__basic_font_size }}">
         <div class="slides">
    {% for block in section.blocks %}
        <div  class="devst-blog-grid grid__item lg--up--one-half">
          
        {% if block.settings.slide != blank %}
          <div class="image-content">
            <div class="dev-img">
          <img src="{{ block.settings.slide | img_url: '1300x' }}"
            srcset="{{ block.settings.slide | img_url: '1300x' }} 1x, {{ block.settings.slide | img_url: '1300x', scale: 2 }} 2x" alt="{{ block.settings.slide.alt }}">
            </div> 
              <div class="devst-blog-btn"><h3>{{ block.settings.slide-button-text }}</h3></div>
    </div>
		<div class="content">
		
		<p class="block-details">{{ block.settings.desc-text }}</p>
              </div>
          {% endif %}
        </div>
    
    
    {% endfor %}
  </div>
      </div>
    </div>
  </div>
</div>




{% schema %}
  {
    "name": "Materials Page",
    "class": "materials block",
    "max_blocks": 30,
    "settings": [
        
            {
            "type": "text",
            "id": "page_text",
            "label": "Add Page Description"
			}
  
           ],
    "presets": [
      {
        "name": "Slideshow",
        "category": "Image",
        "blocks":[
          {
          "type": "image"
      
         }
        ]
      }
    ],
    "blocks" : [
      {
        "type": "image",
        "name": "Content",
        "settings": [
          {
            "type": "image_picker",
            "id": "slide",
            "label": "Image",
            "info":"1200 x 720px recommended"
          },
          
 {
            "type": "text",
            "id": "slide-button-text",
            "label": "Add Link Title"
			

          },
   {
            "type": "textarea",
            "id": "desc-text",
            "label": "Add Description"
			

          }
  
         
       
        ]
      }
    ]
  }
{% endschema %}