<div class="ggp-fullwidth">
    <div class="ggp-fullwidth-inner">
        <div class="banner_text-container">
            <h1 class="banner_text">{{ section.settings.banner_text }}</h1>
        </div>
    </div>
</div>
<p class="how">{{ section.settings.banner_text  | remove: "<br>"  }}</p>
{% if section.settings.description %}
    <div class="shop-page-wrapper">
        <div class="head">
            <p class="describe-text describe">
                {{ section.settings.description }}
            </p>
        </div>
    </div>

{% endif %}

<style>
    .shop-page-wrapper{
        width:60%;
        margin: 4% auto;
    }
    .ggp-fullwidth-inner{
        background-image: url({{ section.settings.img_desktop | img_url: '1920x600'}});
        width: 100%;
        height: 600px;
        background-size: cover;
    }
    .shop-page-wrapper .describe{
        text-align:center;
        font-size:28px!important;
    }
    .head{
        margin:5rem 8rem;
    }

    .banner_text{
        color: #000;
        font-family: Brawler;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 48px;
        margin-left: 4%;
        text-align: left;
        width: 50%;
        padding:10% 5%;
    }
    .how{
        display:none;
    }

    @media screen and (max-width: 768px) {
        .how{
            display:block;
            font-size:28px!important;
            font-family: Brawler;
            text-transform: uppercase;
            font-weight: 400;
            text-align:center;
            margin:0;
            padding-top:2rem;
        }
        .shop-page-wrapper{
            width:90%;
        }
        .ggp-fullwidth-inner{background-image: url({{ section.settings.img_mobile | img_url: '400x'}})}
        .banner_text{
            display:none;
        }
        .banner_text-container{
            padding: 40% 0 0 0;
        }
        .ggp-fullwidth-inner {
            height: 400px;
        }
        .head{
            margin:0;
        }
        .shop-page-wrapper .describe{
            text-align:center;
            font-size:20px!important;
        }
    }
</style>
<style>
    .ggp-fullwidth {
        width: 100%;
    }

    .img-desktop{
        display:block;
    }

    .img-mobile{
        display:none;
    }
    @media(max-width: 950px)
    {
        .img-desktop{
            display:none;
        }
        .img-mobile{
            display:block;
        }
    }
</style>
{% schema %}
{
"name": "Page Banner",
"settings": [

{
    "type": "text",
    "id": "banner_text",
    "label": "Banner Text"
},
{
    "type": "image_picker",
    "id": "img_desktop",
    "label": "Background"
},
{
    "type": "image_picker",
    "id": "img_mobile",
    "label": "Background Mobile"
},
{
    "type": "text",
    "id": "description",
    "label": "Description Text"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
