{% for block in section.blocks %}

    <section  class="section_container" id="{{ block.settings.block_id  }}" >

    <div class="main-grid">
        <div class="banner-featured-image">
            <a href="{{ block.settings.btn_link }}">
                <img src="{{ block.settings.img | img_url: '450x600' }}" class="img-mobile" alt="">
                <img src="{{ block.settings.img | img_url: '450x600' }}" alt="" class="img-desktop">
            </a>
        </div>
        <div class="product-grid-container grid-two">
            <p class="product-section-heading">
                {% if block.settings.title %}
                    {{ block.settings.title }}
                {% endif %}
            </p>
            <p class="product-section-subheading">
                {% if block.settings.title %}
                    {{ block.settings.sub }}
                {% endif %}
            </p>
            <div class="product-section-description">
                {% if block.settings.title %}
                    {{ block.settings.desc }}
                {% endif %}
            </div>
            <div  class="product-grid-items">
                 {% if block.settings.product-one %}
                    {% assign product = block.settings.product-one %}
                     <div class="product-grid-item ">
                         <a class="relative" href="{{ product.url }}">
                             <div class="relative">
                                 <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
                                 <div class="product-footer">
                                     <p class="product-title" >{{ product.title | escape  }}</p>
                                     <p class="product-price">{{ product.price | money  }}</p>
                                 </div>

                             </div>
                         </a>
                     </div>
                 {% endif %}
                 {% if block.settings.product-two %}
                     {% assign product = block.settings.product-two %}
                    <div class="product-grid-item ">
                        <a class="relative" href="{{ product.url }}">
                            <div class="relative">
                                <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
                                <div class="product-footer">
                                    <p class="product-title" >{{ product.title | escape  }}</p>
                                    <p class="product-price">{{ product.price | money  }}</p>
                                </div>

                            </div>
                        </a>
                    </div>
                {% endif %}
                 {% if block.settings.product-three %}
                     {% assign product = block.settings.product-three %}
                <div class="product-grid-item third ">
                    <a class="relative" href="{{ product.url }}">
                        <div class="relative">
                            <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
                            <div class="product-footer">
                                <p class="product-title" >{{ product.title | escape  }}</p>
                                <p class="product-price">{{ product.price | money  }}</p>
                            </div>

                        </div>
                    </a>
                </div>
            {% endif %}
            </div>
            {% if block.settings.btn_text %}
                <div class="vertical-button">
                    <a  class="" href="{{ block.settings.btn_link }}">{{ block.settings.btn_text }}</a>
                </div>
            {% endif %}
        </div>
    </div>


</section>
{% endfor %}
{% schema %}
{
"name": "Zodiac Products Section",

"blocks": [
    {
        "name": "Products Section",
        "type": "block",
        "settings": [
            {
            "type": "text",
            "id": "block_id",
            "label": "Block ID"
            },
            {
            "type": "image_picker",
            "id": "img",
            "label": "Section Banner"
            },
            {
            "type": "text",
            "id": "title",
            "label": "Section title"
            },
            {
            "type": "text",
            "id": "sub",
            "label": "Section Subtitle"
            },
            {
            "type": "text",
            "id": "desc",
            "label": "Section Description"
            },
            {
            "type": "product",
            "id": "product-one",
            "label": "Product 1"
            },
            {
            "type": "product",
            "id": "product-two",
            "label": "Product 2"
            },
            {
            "type": "product",
            "id": "product-three",
            "label": "Product 3"
            },
            {
            "type": "text",
            "id": "btn_text",
            "label": "Button Text"
            },
            {
            "type": "text",
            "id": "btn_link",
            "label": "Button Link"
            }
        ]
    }
]
}
{% endschema %}


