<section  class="ring_sizer_page-banner" >
  {% if section.settings.title_position != true %}
    <h1>{{section.settings.title}}</h1>     
  {% endif %}
</section>
  {% if section.settings.title_position == true %}
    <h1 class="ring_sizer_page-banner__title">{{section.settings.title}}</h1>     
  {% endif %}
<style>
  .ring_sizer_page-banner{background-image: url({{ section.settings.bg | img_url: '1650x'}})}
  @media screen and (max-width: 768px) {
    .ring_sizer_page-banner{background-image: url({{ section.settings.bg2 | img_url: '800x'}})}
  }
</style>
{% schema %}
  {
    "name": "Ring Banner",
    "settings": [
    {
      "type": "checkbox",
      "id": "title_position",
      "label": "Title under image",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "bg",
      "label": "Background"
    },
    {
      "type": "image_picker",
      "id": "bg2",
      "label": "Background Mobile"
    }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
