<div class="popup-ring-size">
  <div class="popup-ring-size__container">
      {% comment %}Title{% endcomment %}
    <h2 class="popup-ring-size__title">{{section.settings.title}}</h2>
      {% comment %}Buttons{% endcomment %}
    <div class="popup-ring-size__buttons">
      <div class="popup-ring-size__button popup-ring-size__button--finger active">MEASURE YOU FINGER</div>
      <div class="popup-ring-size__button popup-ring-size__button--ring">MEASURE EXISTING RING</div>
    </div>    
      {% comment %}Steps{% endcomment %}
    <div class="popup-ring-size__steps">
      {% comment %}Finger tab{% endcomment %}
      <div class="popup-ring-size__step popup-ring-size__step--finger active">
        <div class="popup-ring-size__step-block">          
          <div class="popup-ring-size__step-picture">
            <img src="{{section.settings.finger_step_1_image | img_url: '100x100'}}" alt="Step 1: {{section.settings.finger_step_1_title}}" class="popup-ring-size__step-icon">
          </div>
          <div class="popup-ring-size__step-title">
            <strong>Step 1:</strong> {{section.settings.finger_step_1_title}}
          </div>
        </div>
        <div class="popup-ring-size__step-block">          
          <div class="popup-ring-size__step-picture">
            <img src="{{section.settings.finger_step_2_image | img_url: '100x100'}}" alt="Step 2: {{section.settings.finger_step_2_title}}" class="popup-ring-size__step-icon">
          </div>
          <div class="popup-ring-size__step-title">
            <strong>Step 2:</strong> {{section.settings.finger_step_2_title}}
          </div>
        </div>
        <div class="popup-ring-size__step-block">          
          <div class="result_block popup-ring-size__step-form">
            <div class="units_wrapper">
              <button type="button" class="measure active" data-units="mm" data-type="finger">mm</button>
              <button type="button" class="measure" data-units="inch" data-type="finger">inch</button>
            </div>
            <div class="result_inputs">
              <div class="result_form">
                <input placeholder="0.00" type="text" class="popup-ring-size__step-input">
                <button type="button" class="resault_size popup-ring-size__step-button" data-calculate-size>
                  <img alt="icon" src="https://cdn.shopify.com/s/files/1/0502/3553/9615/files/Vector_4.png?v=1629107051"></button>
              </div>
            </div>
            {% comment %}<input class="popup-ring-size__step-input" placeholder="0.00" type="text">
            <button type="button" class="resault_size" data-calculate-size="">
              <img alt="icon" src="https://cdn.shopify.com/s/files/1/0502/3553/9615/files/Vector_4.png?v=1629107051">
            </button>{% endcomment %}
          </div>
          <div class="popup-ring-size__step-title">
            <strong>Step 3:</strong> {{section.settings.finger_step_3_title}}
          </div>
        </div>
      </div>
      {% comment %}Ring tab{% endcomment %}
      <div class="popup-ring-size__step popup-ring-size__step--ring">
        <div class="popup-ring-size__step-block">          
          <div class="popup-ring-size__step-picture">
            <img src="{{section.settings.ring_step_1_image | img_url: '100x100'}}" alt="Step 1: {{section.settings.ring_step_1_title}}" class="popup-ring-size__step-icon">
          </div>
          <div class="popup-ring-size__step-title">
            <strong>Step 1:</strong> {{section.settings.ring_step_1_title}}
          </div>
        </div>
        <div class="popup-ring-size__step-block">          
          <div class="popup-ring-size__step-picture">
            <img src="{{section.settings.ring_step_2_image | img_url: '100x100'}}" alt="Step 2: {{section.settings.ring_step_2_title}}" class="popup-ring-size__step-icon">
          </div>
          <div class="popup-ring-size__step-title">
            <strong>Step 2:</strong> {{section.settings.ring_step_2_title}}
          </div>
        </div>
        <div class="popup-ring-size__step-block">          
          <div class="result_block popup-ring-size__step-form">
            <div class="units_wrapper">
              <button type="button" class="measure active" data-units="mm" data-type="ring">mm</button>
              <button type="button" class="measure" data-units="inch" data-type="ring">inch</button>
            </div>
            <div class="result_inputs">
              <div class="result_form">
                <input placeholder="0.00" type="text" class="popup-ring-size__step-input">
                <button type="button" class="resault_size popup-ring-size__step-button" data-calculate-size>
                  <img alt="icon" src="https://cdn.shopify.com/s/files/1/0502/3553/9615/files/Vector_4.png?v=1629107051"></button>
              </div>
            </div>
            {% comment %}<input class="popup-ring-size__step-input" placeholder="0.00" type="text">
            <button type="button" class="resault_size" data-calculate-size="">
              <img alt="icon" src="https://cdn.shopify.com/s/files/1/0502/3553/9615/files/Vector_4.png?v=1629107051">
            </button>{% endcomment %}
          </div>
          <div class="popup-ring-size__step-title">
            <strong>Step 3:</strong> {{section.settings.ring_step_3_title}}
          </div>
        </div>
      </div>
    </div>
    <div class="popup-ring-size__two-half">
      {% comment %}TIP{% endcomment %}
      <div class="popup-ring-size__tip-block">
        <div class="popup-ring-size__tip-text">{{section.settings.tip_text}}</div>
      </div>
      {% comment %}Result{% endcomment %}    
      <div class="popup-ring-size__result-block">
        <span class="popup-ring-size__result-text">Your ring size:</span>
        <span class="popup-ring-size__result-size"></span>
      </div>      
    </div>
    {% comment %}TIP{% endcomment %}
    <div class="popup-ring-size__footer-block">
      <h2 class="popup-ring-size__footer-title">STILL UNSURE?</h2>
      <div class="popup-ring-size__footer-text">Check our {{ 'Ring Sizer Page.' | link_to: section.settings.size_page_link }}</div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Ring Size Popup",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "HOW TO FIND YOUR RING SIZE"
    },
    {
      "type": "header",
      "content": "MEASURE YOU FINGER"
    },
    {
      "type": "text",
      "id": "finger_step_1_title",
      "label": "Step 1 Title"
    },
    {
      "type": "image_picker",
      "id": "finger_step_1_image",
      "label": "Step 1 Icon"
    },
    {
      "type": "text",
      "id": "finger_step_2_title",
      "label": "Step 2 Title"
    },
    {
      "type": "image_picker",
      "id": "finger_step_2_image",
      "label": "Step 2 Icon"
    },
    {
      "type": "text",
      "id": "finger_step_3_title",
      "label": "Step 3 Title"
    },
    {
      "type": "header",
      "content": "MEASURE EXISTING RING"
    },
    {
      "type": "text",
      "id": "ring_step_1_title",
      "label": "Step 1 Title"
    },
    {
      "type": "image_picker",
      "id": "ring_step_1_image",
      "label": "Step 1 Icon"
    },
    {
      "type": "text",
      "id": "ring_step_2_title",
      "label": "Step 2 Title"
    },
    {
      "type": "image_picker",
      "id": "ring_step_2_image",
      "label": "Step 2 Icon"
    },
    {
      "type": "text",
      "id": "ring_step_3_title",
      "label": "Step 3 Title"
    },
    {
      "type": "header",
      "content": "Tip text"
    },
    {
      "type": "text",
      "id": "tip_text",
      "label": "Tip Text",
      "default": "Make sure you compare the internal diameter, not the outer part of the ring."
    },
    {
      "type": "url",
      "id": "size_page_link",
      "label": "Link to size page"
    }
  ]
}
{% endschema %}