<style type="text/css">
  #sizeTable.sizeTable-section {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
  #sizeTable.sizeTable-section table {
    border-collapse: collapse;
  }

  #sizeTable.sizeTable-section td, #sizeTable.sizeTable-section th {
    border: solid 1px #cccccc
  }

  #sizeTable.sizeTable-section td:nth-child(odd) {
    background-color: #f7f3ef;
  }
           
  #sizeTable.sizeTable-section td {
    padding: 10px;
    font-size: 14px;
    text-align: center;
  }
  @media screen and (max-width: 768px){
    #sizeTable.sizeTable-section {
      display: block;
    }
  }
</style>
<div id="sizeTable" class="sizeTable-section">
  <div class="sizeTable-switch-holder">
    <span class="sizeTable-switch sizeTable-switch-all">all</span> | <span class="sizeTable-switch sizeTable-switch-active sizeTable-switch-mm">mm</span> | <span class="sizeTable-switch sizeTable-switch-inch">inch</span>
  </div>
  <table>
    <tr class="sizeTable-tr-inch sizeTable-tr-inch-all">
      <td class="sizeTable-td-root">INTERNAL DIAMETER OF THE RING (inches)</td>
      <td>0.60</td>
      <td>0.62</td>
      <td>0.63</td>
      <td>0.65</td>
      <td>0.67</td>
      <td>0.68</td>
      <td>0.70</td>
      <td>0.72</td>
      <td>0.73</td>
      <td>0.74</td>
      <td>0.76</td>
      <td>0.78</td>
      <td>0.80</td>
      <td>0,81</td>
      <td>0,83</td>
      <td>0,84</td>
      <td>0.86</td>
      <td>0.88</td>
    </tr>
    <tr class="sizeTable-tr-inch sizeTable-tr-inch-all">
      <td class="sizeTable-td-root">CIRCUMFERENCE OF THE FINGER (inches)</td>
      <td>1.89</td>
      <td>1.94</td>
      <td>1.99</td>
      <td>2.04</td>
      <td>2.09</td>
      <td>2.14</td>
      <td>2.19</td>
      <td>2.25</td>
      <td>2.29</td>
      <td>2.34</td>
      <td>2.40</td>
      <td>2.45</td>
      <td>2.50</td>
      <td>2,55</td>
      <td>2,60</td>
      <td>2,64</td>
      <td>2,70</td>
      <td>2,74</td>
    </tr>
    <tr class="sizeTable-tr-mm">
      <td class="sizeTable-td-root">INTERNAL DIAMETER OF THE RING (mm)</td>
      <td>15.3</td>
      <td>15.7</td>
      <td>16.1</td>
      <td>16.5</td>
      <td>16.9</td>
      <td>17.4</td>
      <td>17.8</td>
      <td>18.2</td>
      <td>18.5</td>
      <td>18.9</td>
      <td>19.4</td>
      <td>19.8</td>
      <td>20.2</td>
      <td>20,68</td>
      <td>21,08</td>
      <td>21,49</td>
      <td>21,89</td>
      <td>22,33</td>
    </tr>
    <tr class="sizeTable-tr-mm">
      <td class="sizeTable-td-root">CIRCUMFERENCE OF THE FINGER (mm)</td>
      <td>47.9</td>
      <td>49.3</td>
      <td>50.6</td>
      <td>51.8</td>
      <td>53.1</td>
      <td>54.5</td>
      <td>55.7</td>
      <td>57.1</td>
      <td>58.2</td>
      <td>59.3</td>
      <td>60.9</td>
      <td>62.3</td>
      <td>63.4</td>
      <td>64,10</td>
      <td>65,31</td>
      <td>66,61</td>
      <td>67,91</td>
      <td>69,11</td>
    </tr>
    <tr class="sizeTable-tr-inch sizeTable-tr-us sizeTable-tr-mm">
      <td class="sizeTable-td-root">USA</td>
      <td>4½</td>
      <td>5</td>
      <td>5½</td>
      <td>6</td>
      <td>6½</td>
      <td>7</td>
      <td>7½</td>
      <td>8</td>
      <td>8½</td>
      <td>9</td>
      <td>9½</td>
      <td>10</td>
      <td>10½</td>
      <td>11,00</td>
      <td>11½</td>
      <td>12</td>
      <td>12½</td>
      <td>13,00</td>
    </tr>
    <tr class="sizeTable-tr-mm">
      <td class="sizeTable-td-root">RUSSIA</td>
      <td>15.5</td>
      <td>15¾</td>
      <td>16</td>
      <td>16.5</td>
      <td>17</td>
      <td>17¼</td>
      <td>17¾</td>
      <td>18</td>
      <td>18.5</td>
      <td>19</td>
      <td>19.5</td>
      <td>20</td>
      <td>20¼</td>
      <td>20¾</td>
      <td>21,00</td>
      <td>21¼</td>
      <td>21¾</td>
      <td>22</td>
    </tr>
    <tr class="sizeTable-tr-mm">
      <td class="sizeTable-td-root">UK</td>
      <td>I</td>
      <td>J</td>
      <td>K</td>
      <td>L</td>
      <td>M</td>
      <td>N</td>
      <td>O</td>
      <td>P</td>
      <td>Q</td>
      <td>R</td>
      <td>S</td>
      <td>T</td>
      <td>U</td>
      <td>V½</td>
      <td>w1½</td>
      <td>Y</td>
      <td>Z</td>
      <td>Z½</td>
    </tr>
    <tr class="sizeTable-tr-mm">
      <td class="sizeTable-td-root">JAPAN, CHINA, SOUTH AMERICA</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>13</td>
      <td>14</td>
      <td>15</td>
      <td>16</td>
      <td>17</td>
      <td>18</td>
      <td>19</td>
      <td>20</td>
      <td>22</td>
      <td>23,00</td>
      <td>24,00</td>
      <td>25,00</td>
      <td>26,00</td>
      <td>27,00</td>
    </tr>
  </table>
</div>