<div data-neeta="{{ section.settings.swatch1 | handle }}" background-color: {{ section.settings.color_value2 }}></div>

<style>
  .swatch-element.color.{{ section.settings.swatch1 | handle }} label{ background-color: {{ section.settings.color_value1 }} !important; }
  .swatch-element.color.{{ section.settings.swatch2 | handle }} label{ background-color: {{ section.settings.color_value2 }} !important; }
  .swatch-element.color.{{ section.settings.swatch3 | handle }} label{ background-color: {{ section.settings.color_value3 }} !important; }
  .swatch-element.color.{{ section.settings.swatch4 | handle }} label{ background-color: {{ section.settings.color_value4 }} !important; }
  .swatch-element.color.{{ section.settings.swatch5 | handle }} label{ background-color: {{ section.settings.color_value5 }} !important; }
  .swatch-element.color.{{ section.settings.swatch6 | handle }} label{ background-color: {{ section.settings.color_value6 }} !important; }
  .swatch-element.color.{{ section.settings.swatch7 | handle }} label
  { background-color: {{ section.settings.color_value7 }} !important; }
  .swatch-element.color.{{ section.settings.swatch8 | handle }} label
  { background-color: {{ section.settings.color_value8 }} !important; }
  .swatch-element.color.{{ section.settings.swatch9 | handle }} label
  { background-color: {{ section.settings.color_value9 }} !important; }
  .swatch-element.color.{{ section.settings.swatch10 | handle }} label
  { background-color: {{ section.settings.color_value10 }} !important; }
  .swatch-element.color.{{ section.settings.swatch11 | handle }} label
  { background-color: {{ section.settings.color_value11 }} !important; }
  .swatch-element.color.{{ section.settings.swatch12 | handle }} label
  { background-color: {{ section.settings.color_value12 }} !important; }
  .swatch-element.color.{{ section.settings.swatch13 | handle }} label
  { background-color: {{ section.settings.color_value13 }} !important; }
  .swatch-element.color.{{ section.settings.swatch14 | handle }} label
  { background-color: {{ section.settings.color_value14 }} !important; }
  .swatch-element.color.{{ section.settings.swatch15 | handle }} label
  { background-color: {{ section.settings.color_value15 }} !important; }
  .swatch-element.color.{{ section.settings.swatch16 | handle }} label
  { background-color: {{ section.settings.color_value16 }} !important; }
  .swatch-element.color.{{ section.settings.swatch17 | handle }} label
  { background-color: {{ section.settings.color_value17 }} !important; }
  .swatch-element.color.{{ section.settings.swatch18 | handle }} label
  { background-color: {{ section.settings.color_value18 }} !important; }
  .swatch-element.color.{{ section.settings.swatch19 | handle }} label
  { background-color: {{ section.settings.color_value19 }} !important; }
  .swatch-element.color.{{ section.settings.swatch20 | handle }} label
  { background-color: {{ section.settings.color_value20 }} !important; }
  .swatch-element.color.{{ section.settings.swatch21 | handle }} label
  { background-color: {{ section.settings.color_value21 }} !important; }
  .swatch-element.color.{{ section.settings.swatch22 | handle }} label
  { background-color: {{ section.settings.color_value22 }} !important; }
  .swatch-element.color.{{ section.settings.swatch23 | handle }} label
  { background-color: {{ section.settings.color_value23 }} !important; }
  .swatch-element.color.{{ section.settings.swatch24 | handle }} label
  { background-color: {{ section.settings.color_value24 }} !important; }
  .swatch-element.color.{{ section.settings.swatch25 | handle }} label
  { background-color: {{ section.settings.color_value25 }} !important; }
  .swatch-element.color.{{ section.settings.swatch26 | handle }} label
  { background-color: {{ section.settings.color_value26 }} !important; }
  .swatch-element.color.{{ section.settings.swatch27 | handle }} label
  { background-color: {{ section.settings.color_value27 }} !important; }
  .swatch-element.color.{{ section.settings.swatch28 | handle }} label
  { background-color: {{ section.settings.color_value28 }} !important; }
  .swatch-element.color.{{ section.settings.swatch29 | handle }} label
  { background-color: {{ section.settings.color_value29 }} !important; }
  .swatch-element.color.{{ section.settings.swatch30 | handle }} label
  { background-color: {{ section.settings.color_value30 }} !important; }
</style>

{% schema %}
  {
    "name": "Swatch Colours",
    "settings": [
	  { 
        "type" : "header",
        "content": "Colour 1"
      },
	  { 
        "type": "text",
        "id": "swatch1",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value1",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 2"
      },
	  { 
        "type": "text",
        "id": "swatch2",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value2",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 3"
      },
	  { 
        "type": "text",
        "id": "swatch3",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value3",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 4"
      },
	  { 
        "type": "text",
        "id": "swatch4",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value4",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 5"
      },
	  { 
        "type": "text",
        "id": "swatch5",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value5",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 6"
      },
	  { 
        "type": "text",
        "id": "swatch6",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value6",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 7"
      },
	  { 
        "type": "text",
        "id": "swatch7",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value7",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 8"
      },
	  { 
        "type": "text",
        "id": "swatch8",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value8",
        "label": "Code" 
      },
	  { 
        "type" : "header",
        "content": "Colour 9"
      },
	  { 
        "type": "text",
        "id": "swatch9",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value9",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 10"
      },
	  { 
        "type": "text",
        "id": "swatch10",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value10",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 11"
      },
	  { 
        "type": "text",
        "id": "swatch11",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value11",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 12"
      },
	  { 
        "type": "text",
        "id": "swatch12",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value12",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 13"
      },
	  { 
        "type": "text",
        "id": "swatch13",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value13",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 14"
      },
	  { 
        "type": "text",
        "id": "swatch14",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value14",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 15"
      },
	  { 
        "type": "text",
        "id": "swatch15",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value15",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 16"
      },
	  { 
        "type": "text",
        "id": "swatch16",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value16",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 17"
      },
	  { 
        "type": "text",
        "id": "swatch17",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value17",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 18"
      },
	  { 
        "type": "text",
        "id": "swatch18",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value18",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 19"
      },
	  { 
        "type": "text",
        "id": "swatch19",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value19",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 20"
      },
	  { 
        "type": "text",
        "id": "swatch20",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value20",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 21"
      },
	  { 
        "type": "text",
        "id": "swatch21",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value21",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 22"
      },
	  { 
        "type": "text",
        "id": "swatch22",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value22",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 23"
      },
	  { 
        "type": "text",
        "id": "swatch23",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value23",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 24"
      },
	  { 
        "type": "text",
        "id": "swatch24",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value24",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 25"
      },
	  { 
        "type": "text",
        "id": "swatch25",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value25",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 26"
      },
	  { 
        "type": "text",
        "id": "swatch26",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value26",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 27"
      },
	  { 
        "type": "text",
        "id": "swatch27",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value27",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 28"
      },
	  { 
        "type": "text",
        "id": "swatch28",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value28",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 29"
      },
	  { 
        "type": "text",
        "id": "swatch29",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value29",
        "label": "Code"
      },
	  { 
        "type" : "header",
        "content": "Colour 30"
      },
	  { 
        "type": "text",
        "id": "swatch30",
        "label": "Title"
      },
      { 
        "type" : "color",
        "id": "color_value30",
        "label": "Code"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}