<div class="zodiac-header-navigation">
    <div class="navigation">
       {% for block in section.blocks %}
           <div class="navigation_item">
               <a  href="#{{ block.settings.icon_url }}">
                   <img src="{{ block.settings.icon | img_url: '50x50' }}" alt="">
               </a>
           </div>
        {% endfor %}

    </div>
</div>

{% schema %}
{
"name": "Zodiac Navigation Block",

    "blocks": [
        {
        "name": "Navigation Icon",
        "type": "label",
        "settings": [
        {
        "type": "image_picker",
        "id": "icon",
        "label": "Navigation Icon"
        },
        {
        "type": "text",
        "id": "icon_url",
        "label": "Icon url"
        }
    ]
}
]
}
{% endschema %}