.image-content {
display: flex;
}
.image-content .dev-img{
width: 50%;

}
.devst-blog-btn h3 {
margin: 0px 20px;
    font-size: 20px;
  border-bottom: solid 1px #666666;
}
.devst-blog-grid{
margin-top: 30px;
}
.devst-blog-grid .content p{
font-size: 16px;
}

.devst-blog-grid .content h3{
text-decoration: underline;
    font-size: 18px;
}
.page-contact img{
width: 100%;
}
.table-ringsize .rte__table-wrapper {
    overflow: initial;
}
.table-ringsize table{
width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: auto;
}
.table-ringsize table td {
padding: 10px 20px;
}
.table-ringsize table td p{
  margin-bottom: 0px;
}

.table-ringsize table{
margin-top: 40px;
    padding-top: 50px; 
    border-top: dashed 2px;
}
.table-ringsize table tr:nth-child(even) {
  background-color: #ffffff;
}
.product-tag-label {
position: absolute;
    z-index: 9;
    top: -17px;
    right: 30px;
}
.product-tag-label .handmade-tag {
font-size: 15px;
    padding: 0px 10px; cursor:pointer;
    border: solid 1px;display:inline-block;
}
.product-tag-des {
    position: absolute;
    max-width: 265px;
    padding: 15px;
    background: #fff;
    font-size: 13px;
    text-align: left;
    width: 100%; cursor:pointer;
    top: 0;
    display: none;
     transition:0.5s ease all;
    min-width: 265px;
    right: 0;
}
.product-tag-des p{margin-bottom:0;}
.combine-options {
 
    border-bottom: solid 1px #333333;
    padding-bottom: 30px;
}
.btn--add-to-cart {
text-transform: uppercase;
    letter-spacing: 1px;
}
.swatch label.Color {
    display: inline-block;
    height: 35px !important;
    width: 35px;
    border-radius: 0;
}
.option-label{
  display: block;
    width: 100%;
    text-align: left !important;
    font-size: 16px !important;
}
.combine-options {
 
    width: 100%;
}
.swatch label.Color {
    display: inline-block;
    height: 35px !important;
    width: 35px;
    border-radius: 0%;
}

.bc-sf-filter-tree-collection {
    position: relative !important;
    display: flex !important;
    margin-bottom: 20px !important;
}
.bc-sf-filter-tree-collection .bc-sf-filter-option-block {
    margin: 0 !important;
    margin-bottom: 10px !important;
    display: inline-block !important;
    width: 200px !important;
    height: 50px !important;

}
.bc-sf-filter-tree-collection .bc-sf-filter-option-block .bc-sf-filter-block-content ul li {
    display: block !important;
    margin: 5px 0 0 !important;
  width: 100%  !important;
}

.bc-sf-filter-tree-collection .bc-sf-filter-block-content {
    top: 0px !important;
    margin-right: 10px !important;
    position: relative !important;
  max-width: 200px !important;
    max-height: 700px !important;
  width: calc(100% - 10px) !important;
  
}
.bc-sf-filter-tree-collection .bc-sf-filter-option-block .bc-sf-filter-block-content .bc-sf-filter-select-button {
    margin: auto !important;
    margin-left: 27% !important;
    margin-bottom: 20px !important;
    height: 30px !important;
    font-size: 12px !important;
    width: 80px !important;
}
.bc-sf-filter-tree-collection .bc-sf-filter-option-block .bc-sf-filter-block-title a {
    border: 0px !important;
    background: transparent !important;
    border-bottom: solid 1px !important;
}
.bc-sf-filter-tree-collection .bc-sf-filter-option-block .bc-sf-filter-block-title a.selected {
    border: 0px !important;
    background: #ffffff !important;
    border-bottom: 0px !important;
}
.bc-sf-filter-tree-collection .bc-sf-filter-option-block .bc-sf-filter-block-content {

     border: 0px #e3e3e3;
     border-bottom: solid 1px !important;
    z-index: 999;
}
#shopify-section-page-materials .slides{
    display: flex;
    flex-wrap: wrap;
}
.swatch{
margin: 0px;
}
.swatch .header {
    margin: 0 0;
}
.combine-options {
    padding-bottom: 10px;
}
.swatch label {
    text-transform: none;
}
.btn--add-to-cart {
  font-family: "Maison Neue Mono",sans-serif;
}


.page .f--heading {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.devst-blog-grid{
padding-left: 0px;
  padding-right: 70px;
}
.head-under {
text-decoration: underline;
      margin-bottom: 20px;
  text-transform: uppercase;
}
.uppercase {
text-align: center;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    font-family: Roboto;
    margin-bottom: 0px;
    letter-spacing: 1px;
}
.text-line {
width: 100%;
    height: 3px;
    border-top: dashed;
}
.page .f--heading {
    font-size: 36px;
}
.page .rte {
    font-size: 15px;
    line-height: 28px;
}
.text-line .line {
float: left;
    position: absolute;
padding-left: 7px;
    z-index: 9;
    margin-top: -15px;
    background: #f7f3ef;
}
.color--primary-text .rte a {
    color: black;
    border-bottom: 1px solid black;
}
.swatch input:checked+label {
    border: 1px solid #000;
}
.swatch input:checked+label.Color {
    border: 1px solid #000;
  box-shadow: none;
  max-height: 30px;
    width: 30px;
}
.product {
    margin-top: 50px;
}
.swatch label {
    height: 40px !important;
    font-size: 16px;
 
    text-transform: none;
}
.swatch-element label {
    padding: 0 9px;
}
.swatch .swatch-element {
    margin-right: 0px !important;
}
.bc-sf-filter-selection-wrapper {
    margin-top: 0px !important;
    margin-left: 20px;
}
#contact_form input, #contact_form textarea{
margin-top: 25px;
}
#contact_form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}
@media(max-width: 767px){
  .image-content .dev-img {
    width: 100%;
}
  .image-content {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding-top: 70px;
}
  .devst-blog-btn {
  position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
  }
.devst-blog-grid{
padding-left: 20px;
  padding-right: 20px;
}
 
 .page .grid__item {
    padding-left: 0px;
}
 .page .grid {
    margin-left: 0px;
  }

.table-ringsize table td p {
    font-size: 12px;
}
  .text-line {
    width: 100%;
    height: auto;
    border-top: none;
}
  .text-line .line {
    font-weight: 700;
    float: left;
    position: relative;
    padding-left: 0px;
    z-index: 99999;
    margin-top: 0px;
    background: #f7f3ef;
}
  .bottom-icon {
 
  }
  #bc-sf-filter-tree-h {
  
  display: none !important;
  }
  .product-grid-mobile {
  margin-top: 30px;
  }
}

#AddToCartForm--product {
margin-top: 30px;
}


/* New Job */


.dev_answer {
	display: none;
}

.dev_question p {
	margin-bottom: 20px;
}

.dev_faqBlock > p {
	margin: 0 0 30px;
	border-bottom: 1px solid #000;
	padding: 20px 0 ;
}

/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:default;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%; 
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.dev_helper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.dev_popupOverlay2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.dev_popupOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 850px;
    min-height: 100px;
    vertical-align: middle;
    width: 70%;
    position: relative;
    padding: 0;
}
.popupCloseButton {
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.dev_closeBtn2 {
 
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    line-height: 30px;
    width: 30px; z-index:2;
    height: 30px;
    text-align: center;
}
.dev_closeBtn2:hover {
   
}
.dev_closeBtn {
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.dev_closeBtn:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
.dev_content img {
	margin-bottom: -10px;
    height:535px;
    object-fit: cover;
    width: 100%;
}
.dev_popText p {
	margin-bottom: 0;
    font-size: 18px;
}
.dev_popupDeatails {
  position: absolute;
  width: 50%;
  text-align: left;
  h1 {
    text-transform: uppercase;
  }
  .input-group.border---text{
    display:block;
  }
  .input-group-field {
    border: 1px solid;
    padding: 1.25rem;
    max-width:100%; width:100%;
    display:block;
    padding-right:45px;
  }
  .border--primary-text {
    border: none;
    display: block;
  }
}
#dev_secondPopup {
  top: 60px;
  right: unset;
  bottom: 0;
  left: 60px;
  color:#ffffff;
  .input-group-field{
    border-color:#ffffff;
    color:#ffffff;
  }
  @media screen and (min-width:992px){
    h1 {
      margin-bottom: 100px;
    }
    .dev_popText {
      margin-bottom: 55px;
    }
  }
}
#dev_thirdPopup {
  position: relative;
  color:#ffffff;
  padding:40px 40px 30px 40px;
  width:50%;
  background:#000000;
  height:535px;
  .input-group-field{
    border-color:#ffffff;
    color:#ffffff;
  }
  @media screen and (min-width:992px){
    h1 {
      margin-bottom: 75px;
    }
    .dev_popText {
      margin-bottom: 65px;
    }
    .dev_popText p {
      font-size: 18px;
      display: inline;
    }
  }
}
#dev_third_bkgrFricc .dev_content img {
  margin-bottom: 0px;
  width: 50%;
  float: right;
}
#dev_firstPopup {
  top: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  left: 70%;
  color:#000000;
  .input-group-field{
    border-color:#000000;
    color:#000000;
  }
}

@media screen and (max-width:1321px) and (min-width:1200px){
  #dev_thirdPopup {
    padding: 40px 30px 30px 40px;
  }
}

@media screen and (max-width:1199px) and (min-width:992px){
  .dev_popupDeatails {
    width: 55%;
  }
  #dev_thirdPopup {
    padding: 40px 20px 30px 35px;
  }
  #dev_third_bkgrFricc>div {
    max-width: 80%;
    width: 80%;
  }
}

@media screen and (max-width:991px){
  .dev_popupDeatails {
    width: 100%;
    text-align: center;
    position: relative;
    transform: unset !important;
    left: unset !important;
    top: unset !important;
    right: unset !important;
    bottom: unset !important;
    padding: 20px 20px 30px;
    .input-group {
      display: block;
      border-collapse: separate;
      max-width: 285px;
      margin: 20px auto 0;
      position:relative;
    }
    
  }
  .dev_popupDeatails span.input-group-btn.buttn{top:6px;}
  .dev_content img {
   
  }
  #dev_secondPopup {
    background:#bc8f65;
  }
  #dev_firstPopup {
    background:#ffffff;
  }
  #dev_thirdPopup {
    padding: 20px 20px 30px;
    width: 100%;
    height: unset;
  }
  #dev_third_bkgrFricc .dev_content img {
    margin-bottom: -10px;
    width: 100%;
    float: none;
    object-fit: cover;
  }
}

@media screen and (max-width:559px){
  .hover_bkgr_fricc>div {
/*     max-width: 90%; */
    width: 90%;
    margin-right: 10px;
  }
}

@media screen and (max-width:455px){
  .dev_popupDeatails h1 {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .dev_popText p {
    font-size: 14px;
    display: inline;
  }
  .dev_popupDeatails .input-group-field {
    padding: 10px; padding-right:45px;
    margin-top: 20px;
  }
  .dev_popupDeatails span.input-group-btn.buttn {
    top: 15px;
}
}

/* Popup box END */

.dev_socialIcon img{
  max-width: 40px;
}

.dev_socialLinklist ul {
	text-align: left;
}

.dev_socialLinklist {
	margin-top: 25px;
}

.swatch .dev_ringProduct{
  .swatch-element.dev_3, .swatch-element.dev_3-5, .swatch-element.dev_4, .swatch-element.dev_2-5 {
	display: none !important;
  }
}


@media screen and (max-width:749px){
  
  .product-tag-label {
    position: absolute;
    z-index: 9;
   
    right: 30px;
}
  .dev_socialLinklist ul {
    text-align: center;
  }
}
.custom_desc_container p strong {
    /* font-size: 12px; */
    font-family: "Prospectus Pro S",serif;
}
.dev_closeBtn2 {
    color: white;
}

a.heartison {
    position: relative;
    top: 3px;
}
a.heartison img {
    width: 20px;
}
@media screen and (max-width:749px){
a.heartison {
    position: relative;
    top: 3px;
    left: 21px;
}
}

@media screen and (min-width: 992px)
  {
#dev_thirdPopup .dev_popText {
    margin-bottom: 80px;
    margin-right: 51px;
}
  }
@media screen and (max-width:992px){
#dev_thirdPopup {
    padding: 20px 20px 30px;
    width: 100%;
    height: unset; position:relative;
/*   background: url(//cdn.shopify.com/s/files/1/0026/2599/4801/files/Pop-up-Image.jpg?v=1588057257) no-repeat center;
    background-size: cover;
  min-height: 535px; */
    display: block;
/*     align-items: center;
    justify-content: center; */
    flex-direction: column; text-align:left;
  
}
  #dev_thirdPopup .dev_popupDeatails_inner{position:relative; z-index:2;}
/*   #dev_third_bkgrFricc .dev_img{display:none;} */
/*   div#dev_thirdPopup:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
} */
/*   #dev_thirdPopup, .dev_closeBtn2{color:#000;}
  span.newsletter__submit img {
    filter: invert(1);
} */
/*   #dev_thirdPopup .input-group-field {
    border-color: #000;
    color: #000;
} */
}
.mobile-sho{display:none;}
@media screen and (max-width: 991px){
  
  .dev_content img {
 
    height:auto;
    
}
.dev_popupDeatails .input-group {
    display: block;
    border-collapse: separate;
    max-width: 100%;
    margin: 20px 0 0;
    position: relative;
}
  .hover_bkgr_fricc{overflow-y:scroll;}
  .mobile-sho{display:block;}
  .desk-show{display:none;}
}
@media screen and (max-width:480px){
/* #dev_thirdPopup {
   
  min-height: 450px;
   
} */
}
a.inline-block.mt1.color--active-text.ajaxcart__qty-adjust.ajaxcart__qty--remove.pointer.hv--active-accent {
    display: none;
}