{%- assign section_color = 'primary' -%}
{%- include 'global-variables' -%}

<section class="featured-collection {{ global__section_with_padding_class }} color--{{ section_color }}-text bg--{{ section_color }}-background" data-mobile-flickity="true">
  <div class="max-site-width px2 lg--up--px3 text-align--center">
    <h1>{{ 'general.404.title' | t }}</h1>
    <p>{{ 'general.404.subtext_html' | t }}</p>
  </div>
</section>


<script id="esc-redirects-404-script" src="https://redirects.eastsideco.io/js/app.js"></script>
{% include 'nosto-element' with 'notfound-nosto-1' %}

{% include 'nosto-element' with 'notfound-nosto-2' %}

{% include 'nosto-element' with 'notfound-nosto-3' %}
