<script data-cfasync="false" type="text/javascript">
    if (typeof Shopify === "undefined") var Shopify = {}; Shopify.cart = {{ cart | json }};
</script>
<div id="sca-fg-owl-carousel">
  <div id="freegift_cart_container" class="sca-fg-cart-container" style="display: none;">
    <div id="freegift_message" class="owl-carousel"></div>
  </div> 
  <div id="sca-fg-slider-cart" style="display: none;">
    <div class="sca-fg-cart-title">
      <strong>Select your free gift (s)</strong>
    </div>
    <div id="sca_freegift_list" class="owl-carousel"></div>
  </div>
</div>
<div id="sca_fg_cart">

{% include 'global-variables' %}

<section class="cart {{ global__section_with_padding_class }} ">

  <div class="max-width--4 px2 lg--up--px3 mx--auto">

    {% if cart.item_count > 0 %}


      <form action="/cart" method="post" novalidate>

        <h2 class="f--heading md--up--hide">{{ 'cart.general.title' | t }}</h2>

        <div class="cart">

          <div class="cart__row sm--hide">
            <div class="grid">
              <div class="grid__item lg--up--three-fifths">
                <h2 class="f--heading">{{ 'cart.general.title' | t }}</h2>
              </div>
              <div class="grid__item lg--up--two-fifths">
                <div class="table full--w">
                  <div class="table-cell one-third">
                    <div class="js-qty-wrapper color--main">
                      {{ 'cart.label.quantity' | t }}
                    </div>
                  </div>
                  <div class="table-cell two-thirds text-align--right font-size--m">
                    {{ 'cart.label.total' | t }}
                  </div>
                </div>
              </div>
            </div>
            <hr class="hr bg--main mt2"/>
          </div>

          {% for item in cart.items %}
            <div class="cart__row font-size--sm mt3">
              <div class="grid relative">
                <div class="grid__item lg--up--three-fifths">
                  <div class="grid grid--full ">
                    <div class="grid__item one-quarter">
                      {% if item.image != blank %}
                        <a href="{{ item.url | within: collections.all }}">
                          {{ item | img_url: 'grande' | img_tag: item.title }}
                        </a>
                      {% endif %}
                    </div>
                    <div class="grid__item three-quarters">
                      <div class="pl2">

                        <div class="table full--w">
                          <div class="table-cell two-thirds">
                            <a class="f--heading font-size--m md--up--font-size--l" href="{{ item.url }}">{{ item.product.title }}</a>
                          </div>
                          <div class="table-cell text-align--right font-size--m one-third md--up--hide">
                            {{ item.line_price | money }}
                          </div>
                        </div>

                        {% unless item.product.has_only_default_variant %}
                          <p class="m0">{{ item.variant.title }}</p>
                        {% endunless %}

                        {% if settings.cart_vendor_enable %}
                        <p class="m0">{{ item.vendor }}</p>
                        {% endif %}

                        {%- assign property_size = item.properties | size -%}

                        {% if property_size > 0 %}
                          {% for p in item.properties %}
                            {% unless p.last == blank %}
                              {{ p.first }}:
                              {% if p.last contains '/uploads/' %}
                                <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                              {% else %}
                                {{ p.last }}
                              {% endif %}
                            {% endunless %}
                          {% endfor %}
                        {% endif %}

                        <div class="js-qty-wrapper color--main one-half md--up--hide">
                          {% comment %}
                          <input type="number"
                                 class="inline-block quantity-sync__{{ forloop.index }}"
                                 name="updates[]"
                                 id="updates_{{ item.key }}"
                                 value="{{ item.quantity }}"
                                 min="0"
                                 aria-label="{{ 'cart.general.item_quantity' | t }}">
                          {% endcomment %}
                        </div>

                        <a class="inline-block mt1" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                          <small>{{ 'cart.general.remove' | t }}</small>
                        </a>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="grid__item lg--up--two-fifths">
                  <div class="table full--w">
                    <div class="table-cell one-third">
                      <div class="js-qty-wrapper color--main cart-page__qty">
                        <input type="number"
                               class="inline-block quantity-sync__{{ forloop.index }}"
                               name="updates[]"
                               id="updates_{{ item.key }}"
                               value="{{ item.quantity }}"
                               min="0"
                               aria-label="{{ 'cart.general.item_quantity' | t }}">
                      </div>
                    </div>
                    <div class="table-cell two-thirds text-align--right font-size--m sm--hide ">
                      {{ item.line_price | money }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}

          <div class="cart__row">

            <hr class="hr bg--main my3"/>

            <div class="grid">
              <div class="grid__item md--up--one-half">
                <div class="md--up--pr4s">
                  {% if settings.cart_notes_enable %}
<!--                     <label class="inline-block mb1 font-size--sm" for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label> -->
                    <textarea class="bg--transparent border--main full--w" placeholder="Special instructions for seller" name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
                  {% endif %}
                </div>
              </div>

              <div class="grid__item md--up--one-half md--up--text-align--right mt3 md--up--mt0 {% unless settings.cart_notes_enable %}right{% endunless %}">
               <div class="table full--w font-size--m mt1 subtol">
                  <div class="table-cell text-align--left md--up--text-align--right">
                    <p>{{ 'cart.general.subtotal' | t }}</p>
                  </div>
                  <div class="table-cell text-align--right">
                    <p>{{ cart.total_price | money }}</p>
                    {% if cart.total_discounts > 0 %}
                      <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
                    {% endif %}
                  </div>
                </div>
                <div class="grid grid--half-gutter">
                  <!-- Route Code Edited 09/03/2021 -->
                  <div class="route-div" desktop-align="center"></div>
                  <!-- Route Code End -->
                  <div class="grid__item one-half">
                    <input type="submit" name="update" class="btn border--none p1 block full--w bg--transparent border--primary-text color--primary-text hv--border--primary-accent hv--primary-accent" value="{{ 'cart.general.update' | t }}">
                  </div>
                  <div class="grid__item one-half">
                    <input type="submit" name="checkout" class="btn border--primary-text p1 block full--w bg--primary-text color--primary-text--overlay hv--border--primary-accent hv--primary-accent--overlay hv-bg--primary-accent" value="{{ 'cart.general.checkout' | t }}">
                  </div>
                </div>
                 <p class="font-size--xs ship-text md--up--font-size--s m0">{{ 'cart.general.shipping_at_checkout' | t }}</p>
                
              </div>
            </div>

          </div>
        </div>
      </form>
    {% else %}
      <h1>{{ 'cart.general.title' | t }}</h1>

      {% comment %}
      Cart empty state
      {% endcomment %}
      <div class="supports-cookies">
        <p>{{ 'cart.general.empty' | t }}</p>
        <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
      </div>

      {% comment %}
      Cart no cookies state
      ---------------------
      Browser cookies are required to use the cart. If cookies aren't enabled in the
      browser a message is displayed prompting the user to enable them.
      {% endcomment %}
      <div class="supports-no-cookies">
        <p>{{ 'cart.general.cookies_required' | t }}</p>
      </div>
    {% endif %}

  </div>
</section>

</div>

{% comment %}{% include 'nosto-element' with 'cartpage-nosto-1' %}{% endcomment %}
{% comment %}{% endcomment %}
{% comment %}{% include 'nosto-element' with 'cartpage-nosto-2' %}{% endcomment %}
{% comment %}{% endcomment %}
{% comment %}{% include 'nosto-element' with 'cartpage-nosto-3' %}{% endcomment %}
