{% comment %}
  QR code is rendered in `#QrCode`

  `gift_card.pass_url` is true if apple wallet is enabled for the shop
{% endcomment %}

{% layout 'gift_card' %}

{% assign section_color = 'primary' %}
{% include 'global-variables' %}

<div class="max-width--2 mx--auto text-align--center">

  <header role="banner" class="py3">
    <div itemscope itemtype="http://schema.org/Organization">
      <h1 class="{{ global__heading_font_size }}" >
        <a href="{{ shop.url }}" itemprop="url" class="site-logo">
          <img src="{{'kabirski-logo.png' | asset_url}}"
                          alt="{{ section.settings.logo.alt | default: shop.name }}"itemprop="logo">
        </a>
      </h1>
    </div>
  </header>

  <main class="giftcard {% if gift_card.expired or gift_card.enabled != true %} giftcard--disabled{% endif %} pb4">

<!--     <h1>{{ 'gift_cards.issued.subtext' | t }}</h1> -->
    {% unless gift_card.enabled %}
      <span class="giftcard-tag">{{ 'gift_cards.issued.disabled' | t }}</span>
    {% endunless %}

    {%- assign gift_card_expiry_date = gift_card.expires_on | date: "%d/%m/%y" -%}

    {% if gift_card.expired and gift_card.enabled %}
      <span class="giftcard-tag">{{ 'gift_cards.issued.expired' | t: expiry: gift_card_expiry_date }}</span>
    {% endif %}

    {% if gift_card.expired != true and gift_card.expires_on and gift_card.enabled %}
      <span class="giftcard-tag giftcard-tag--active">{{ 'gift_cards.issued.active' | t: expiry: gift_card_expiry_date }}</span>
    {% endif %}

<!--<div class="relative">
      <img src="{{ 'gift-card/card.jpg' | shopify_asset_url }}" alt="Gift card illustration">
      {%- assign code_size = gift_card.code | format_code | size -%}
      <div class="giftcard__code absolute full--w text-align--center font-size--l">
        <div id="GiftCardDigits" class="inline-block p1 bg--white-text mx--auto">
          <div class="giftcard__dotted p1">{{ gift_card.code | format_code }}</div>
        </div>
      </div>
    </div> -->
    
     <div id="gkElem" class="gift-card">
      <div id="gkInner" class="gift-card-inner">
        <h2>gift card</h2>
        <h3 id="gkAmount">{% assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency %}{{formatted_initial_value}}</h3>
      </div>
    </div>
    <div class="text-gift">
      <h2>GIFT CARD</h2>
    </div>
    <div class="card-detail">
      <p>YOUR {{formatted_initial_value}} GIFT CARD FOR PURCHASE AT <br>GERMAN KABIRSKI STORE IS ACTIVE</p>
    </div>
    
    <div class="card-detail">
      <p>USE THIS CODE AT CHECKOUT <br> TO REDEEM YOUR GIFT CARD</p>
      <div class="code">
        <p>{{ gift_card.code | format_code }}</p>
      </div>
      <a href="#" class="btn btn-primary">START SHOPPING</a>
    </div>
    <div class="gift-footer  ">
      
      <p>IF YOU HAVE ANY QUESTIONS, <br> REPLY TO THIS EMAIL OR CONTACT US AT<br> <a href="#">SERVICE@GERMANKABIRSKI.COM </a></p>
       <img src="{{'footer-logo.png' | asset_url}}" class="gift-footer-logo">
       <p class="unsubsribe"><a href="#">MANAGE PREFERENCES</a> <a href="#">UNSUBSCRIBE</a></p>
      <address>
        <p>GERMAN KABIRSKI <br> 1720 Dan Kipper Drive <br> Riverside, California  <br> 92507 </p>
      </address>
      
      <div class="dev_socialLinklist">
        <ul class="list--reset p0 m0 mxn1">
                    
                    <li class="inline-block dev_socialIcon">
                      <a class="color--secondary-text px1 font-size--xxs mb1 block" href="https://www.facebook.com/germankabirskijewelry/" title="GERMAN KABIRSKI on Facebook" target="_blank">
                        <!--svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-facebook" viewBox="0 0 20 20"><path fill="#444" d="M18.05.811q.439 0 .744.305t.305.744v16.637q0 .439-.305.744t-.744.305h-4.732v-7.221h2.415l.342-2.854h-2.757v-1.83q0-.659.293-1t1.073-.342h1.488V3.762q-.976-.098-2.171-.098-1.634 0-2.635.964t-1 2.72V9.47H7.951v2.854h2.415v7.221H1.413q-.439 0-.744-.305t-.305-.744V1.859q0-.439.305-.744T1.413.81H18.05z"/></svg-->
<img src="//cdn.shopify.com/s/files/1/0026/2599/4801/t/39/assets/facebook.png?v=17695832971115591364">
                        <span class="icon-fallback-text">Facebook</span>
                      </a>
                    </li>
                    
                    
                    <li style="display:none" class="inline-block dev_socialIcon">
                      <a class="color--secondary-text px1 font-size--xxs mb1 block" href="https://twitter.com/GermanKabirski" title="GERMAN KABIRSKI on Twitter" target="_blank">
                        <!--svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-twitter" viewBox="0 0 20 20"><path fill="#444" d="M19.551 4.208q-.815 1.202-1.956 2.038 0 .082.02.255t.02.255q0 1.589-.469 3.179t-1.426 3.036-2.272 2.567-3.158 1.793-3.963.672q-3.301 0-6.031-1.773.571.041.937.041 2.751 0 4.911-1.671-1.284-.02-2.292-.784T2.456 11.85q.346.082.754.082.55 0 1.039-.163-1.365-.285-2.262-1.365T1.09 7.918v-.041q.774.408 1.773.448-.795-.53-1.263-1.396t-.469-1.864q0-1.019.509-1.997 1.487 1.854 3.596 2.924T9.81 7.184q-.143-.509-.143-.897 0-1.63 1.161-2.781t2.832-1.151q.815 0 1.569.326t1.284.917q1.345-.265 2.506-.958-.428 1.386-1.732 2.18 1.243-.163 2.262-.611z"/></svg-->
<img src="//cdn.shopify.com/s/files/1/0026/2599/4801/t/39/assets/twitter.png?v=12167889416371761434">
                        <span class="icon-fallback-text">Twitter</span>
                      </a>
                    </li>
                    

                    <li class="inline-block dev_socialIcon">
                      <a class="color--secondary-text px1 font-size--xxs mb1 block" href="https://www.pinterest.com/germankabirski/" title="GERMAN KABIRSKI on Pinterest" target="_blank">
                        <!--svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-pinterest" viewBox="0 0 20 20"><path fill="#444" d="M9.958.811q1.903 0 3.635.744t2.988 2 2 2.988.744 3.635q0 2.537-1.256 4.696t-3.415 3.415-4.696 1.256q-1.39 0-2.659-.366.707-1.147.951-2.025l.659-2.561q.244.463.903.817t1.39.354q1.464 0 2.622-.842t1.793-2.305.634-3.293q0-2.171-1.671-3.769t-4.257-1.598q-1.586 0-2.903.537T5.298 5.897 4.066 7.775t-.427 2.037q0 1.268.476 2.22t1.427 1.342q.171.073.293.012t.171-.232q.171-.61.195-.756.098-.268-.122-.512-.634-.707-.634-1.83 0-1.854 1.281-3.183t3.354-1.329q1.83 0 2.854 1t1.025 2.61q0 1.342-.366 2.476t-1.049 1.817-1.561.683q-.732 0-1.195-.537t-.293-1.269q.098-.342.256-.878t.268-.915.207-.817.098-.732q0-.61-.317-1t-.927-.39q-.756 0-1.269.695t-.512 1.744q0 .39.061.756t.134.537l.073.171q-1 4.342-1.22 5.098-.195.927-.146 2.171-2.513-1.122-4.062-3.44T.59 10.177q0-3.879 2.744-6.623T9.957.81z"/></svg-->
<img src="//cdn.shopify.com/s/files/1/0026/2599/4801/t/39/assets/Pinterest.png?v=1092241036724660341">
                        <span class="icon-fallback-text">Pinterest</span>
                      </a>
                    </li>
 
                    
                    <li class="inline-block dev_socialIcon">
                      <a class="color--secondary-text px1 font-size--xxs mb1 block" href="https://www.instagram.com/germankabirski/" title="GERMAN KABIRSKI on Instagram" target="_blank">
                        <!--svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-instagram" viewBox="0 0 512 512"><path d="M256 49.5c67.3 0 75.2.3 101.8 1.5 24.6 1.1 37.9 5.2 46.8 8.7 11.8 4.6 20.2 10 29 18.8s14.3 17.2 18.8 29c3.4 8.9 7.6 22.2 8.7 46.8 1.2 26.6 1.5 34.5 1.5 101.8s-.3 75.2-1.5 101.8c-1.1 24.6-5.2 37.9-8.7 46.8-4.6 11.8-10 20.2-18.8 29s-17.2 14.3-29 18.8c-8.9 3.4-22.2 7.6-46.8 8.7-26.6 1.2-34.5 1.5-101.8 1.5s-75.2-.3-101.8-1.5c-24.6-1.1-37.9-5.2-46.8-8.7-11.8-4.6-20.2-10-29-18.8s-14.3-17.2-18.8-29c-3.4-8.9-7.6-22.2-8.7-46.8-1.2-26.6-1.5-34.5-1.5-101.8s.3-75.2 1.5-101.8c1.1-24.6 5.2-37.9 8.7-46.8 4.6-11.8 10-20.2 18.8-29s17.2-14.3 29-18.8c8.9-3.4 22.2-7.6 46.8-8.7 26.6-1.3 34.5-1.5 101.8-1.5m0-45.4c-68.4 0-77 .3-103.9 1.5C125.3 6.8 107 11.1 91 17.3c-16.6 6.4-30.6 15.1-44.6 29.1-14 14-22.6 28.1-29.1 44.6-6.2 16-10.5 34.3-11.7 61.2C4.4 179 4.1 187.6 4.1 256s.3 77 1.5 103.9c1.2 26.8 5.5 45.1 11.7 61.2 6.4 16.6 15.1 30.6 29.1 44.6 14 14 28.1 22.6 44.6 29.1 16 6.2 34.3 10.5 61.2 11.7 26.9 1.2 35.4 1.5 103.9 1.5s77-.3 103.9-1.5c26.8-1.2 45.1-5.5 61.2-11.7 16.6-6.4 30.6-15.1 44.6-29.1 14-14 22.6-28.1 29.1-44.6 6.2-16 10.5-34.3 11.7-61.2 1.2-26.9 1.5-35.4 1.5-103.9s-.3-77-1.5-103.9c-1.2-26.8-5.5-45.1-11.7-61.2-6.4-16.6-15.1-30.6-29.1-44.6-14-14-28.1-22.6-44.6-29.1-16-6.2-34.3-10.5-61.2-11.7-27-1.1-35.6-1.4-104-1.4z"/><path d="M256 126.6c-71.4 0-129.4 57.9-129.4 129.4s58 129.4 129.4 129.4 129.4-58 129.4-129.4-58-129.4-129.4-129.4zm0 213.4c-46.4 0-84-37.6-84-84s37.6-84 84-84 84 37.6 84 84-37.6 84-84 84z"/><circle cx="390.5" cy="121.5" r="30.2"/></svg-->
<img src="//cdn.shopify.com/s/files/1/0026/2599/4801/t/39/assets/Instagram.png?v=4490516091831097358">
                        <span class="icon-fallback-text">Instagram</span>
                      </a>
                    </li>
                    
                    
                  </ul>
                </div>
    </div>

<!--     <p class="mt1">{{ 'gift_cards.issued.redeem' | t }}</p>

    <div class="py2 font-size--sm">
      {% assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency %}
      <h2>{{ 'gift_cards.issued.initial_value' | t: value: formatted_initial_value }}</h2>
      {% assign formatted_current_balance = gift_card.balance | money %}
      {% if gift_card.balance != gift_card.initial_value %}
        <p>{{ 'gift_cards.issued.remaining_html' | t: balance: formatted_current_balance }}</p>
      {% endif %}
    </div> -->

<!--     <div class="p2 bg--white-text inline-block">
      <div id="QrCode" class="giftcard-qr" data-identifier="{{ gift_card.qr_identifier }}"></div>
    </div> -->

    {% if gift_card.pass_url %}
      <a href="{{ gift_card.pass_url }}" class="apple-wallet">
        <img class="apple-wallet-image" src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}">
      </a>
    {% endif %}

<!--     <div class="py2">
      <a href="#" id="PrintGiftCard" class="print-giftcard px2 py1 border--primary-text color--primary-text inline-block">
        {{ 'gift_cards.issued.print' | t }}
      </a>
      &nbsp;
      <a href="{{ shop.url }}" class="px2 py1 bg--primary-text color--primary-text--overlay inline-block border--primary-text" target="_blank">{{ 'gift_cards.issued.shop_link' | t }}</a>
    </div>
 -->
  </main>
<script>
//   document.getElementById('gkAmount').innerText = '$500'
  
  let gkElem = document.getElementById('gkElem')
  let gkAmount = document.getElementById('gkAmount').innerText
  let gkInner = document.getElementById('gkInner')
  
  const imgByPrice = new Map([
    ['$25', 'https://cdn.shopify.com/s/files/1/0026/2599/4801/files/g_card25.png?v=1603895096'],
    ['$50', 'https://cdn.shopify.com/s/files/1/0026/2599/4801/files/g_card50.png?v=1603895110'],
    ['$75', 'https://cdn.shopify.com/s/files/1/0026/2599/4801/files/g_card75.png?v=1603895117'],
    ['$110', 'https://cdn.shopify.com/s/files/1/0026/2599/4801/products/110GK_GIFTCARD_header.png?v=1597480241'],
    ['$150', 'https://cdn.shopify.com/s/files/1/0026/2599/4801/products/150GK_GIFTCARD_header.png?v=1597480241'],
    ['$200', 'https://cdn.shopify.com/s/files/1/0026/2599/4801/products/200GK_GIFTCARD_header.png?v=1597480241'],
    ['$250', 'https://cdn.shopify.com/s/files/1/0026/2599/4801/products/250GK_GIFTCARD_header.png?v=1597480241'],
    ['$300', 'https://cdn.shopify.com/s/files/1/0026/2599/4801/products/300GK_GIFTCARD_header.png?v=1597480241'],
    ['$500', 'https://cdn.shopify.com/s/files/1/0026/2599/4801/products/500GK_GIFTCARD_header.png?v=1597480241'],
    ['$1400', 'https://cdn.shopify.com/s/files/1/0026/2599/4801/products/1400GK_GIFTCARD_header.png?v=1597480241']
  ])
  
  if (imgByPrice.has(gkAmount)) {
    gkElem.style.background = 'url("' + imgByPrice.get(gkAmount) + '")'
    gkElem.style.backgroundSize = 'cover'
    gkElem.style.padding = '19px'
    gkElem.style.marginBottom = '30px'
    gkInner.style.visibility = 'hidden'
  }
</script>

</div>
