{{ content_for_index }}

<script>
// vwo celeb slider start
"https://cdn.shopify.com/s/files/1/0026/2599/4801/files/2-kelly_jenner-min.jpg?v=1622227845"
  var celebsArray = [
  {img:'https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Billie-Eilish.jpg?v=1637940110', link:'https://germankabirski.com/collections/rings/products/k106040-haimi-blue-topaz-ring'},
  {img:'https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Lady-Gaga.jpg?v=1637940110', link:'https://germankabirski.com/products/hm21006-cd-ivalyn-chrome-diopside-earrings'},
  {img:'https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Maye-Musk.jpg?v=1637940110', link:'https://germankabirski.com/products/k104101-raina-amethyst-ring?variant=39298642280521'},
  {img:'https://cdn.shopify.com/s/files/1/0026/2599/4801/files/2-kelly_jenner-min.jpg?v=1637940398', link:'https://germankabirski.com/products/hm40001-sp-aten-spinel-bangle?variant=39298721775689'}
];
window.requestAnimationFrame = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame || function(timeOutFn){return setTimeout(timeOutFn, 1000 / 60);};
window['GK_2593_V3'] = function(){
  if(typeof $ !== typeof undefined && typeof $.fn.masonry !== typeof undefined && !document.querySelectorAll('.GK_2593_V3').length){
    updateChanges_GK_2593_V3();
    document.querySelector('body').classList.add('GK_2593_V3');
  }else if(!document.getElementsByClassName('GK_2593_V3').length){
    window.requestAnimationFrame(GK_2593_V3);
  }
};
window.GK_2593_V3();       
function updateChanges_GK_2593_V3(){
  addPressSection();
}
function addPressSection(){
  var celebHtml = '<div class="shopify-section vwo_celebSection">';
  celebHtml += '<section class="py4">';
  celebHtml += '<div class="max-site-width px1 lg--up--px3"><h3 class="f--heading font-size--xxxl line-height--8 wd--font-size--xxxxl wd--line-height--11">Be Inspired By Celebrities Wearing German Kabirski</h3>';
  celebHtml += '<div class="clearfix celebSlider">';
  for(var i=0; i<celebsArray.length; i++){
    var link = celebsArray[i].link;
    var img = celebsArray[i].img;
    celebHtml += '<div class="slideBox"><a href="'+link+'"><img src="'+img+'" /></a></div>';
  }
  celebHtml += '</div>';
  celebHtml += '<div class="btnArea"><a class="instagram-link inline-block underline caps mt2 lg--up--mt3 inline-block font-size--sm line-height--4 wd--font-size--m wd--line-height--4" href="https://germankabirski.com/pages/press">Explore More</a></div>';
  celebHtml += '</div>';
  celebHtml += '</section>';
  celebHtml += '</div>';
  if(!$('.vwo_celebSection').length){
    $('main#MainContent').append(celebHtml);
  }
}


// vwo celeb slider end
</script>






{% comment %}{% endcomment %}
{% comment %}{% include 'nosto-element' with 'frontpage-nosto-1' %}{% endcomment %}
{% comment %}{% endcomment %}
{% comment %}{% include 'nosto-element' with 'frontpage-nosto-2' %}{% endcomment %}
{% comment %}{% endcomment %}
{% comment %}{% include 'nosto-element' with 'frontpage-nosto-3' %}{% endcomment %}
{% comment %}{% endcomment %}
{% comment %}{% include 'nosto-element' with 'frontpage-nosto-4' %}{% endcomment %}
