<!-- {% section 'page-template' %}
{% if page.handle == 'sign-up'%}
<style>
  h1.f--heading.font-size--xxxl.line-height--8.wd--font-size--xxxxl.wd--line-height--11.m0 {
      display: none;
  }
</style>
{% endif %} -->
<style>
  .grid-2 {
    display: grid;
    margin: 30px auto 17px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4px;
  }
  .grid-3 {
    display: grid;
    margin: 30px auto 17px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4px;
  }
  .grid-3 .g-s-img {
    width:100%;
    padding:0;
  }
  .grid-2 .g-s-img {
    width:100%;
    padding:0;
  }
  .grid-3  > .g-s-img div{
    padding:0!important;
  }
  .grid-2  > .g-s-img div{
    padding:0!important;
  }
  .g-s-img img{
    padding:0!important;
  }
  .g-blog-img .g-s-img div{
    padding:2px;
  }
</style>

<div class="blog-banner-top">
  <div class="max-site-width">
    <h2>BE INSPIRED <br> BY CELEBRITIES WEARING <br> GERMAN KABIRSKI</h2>
  </div>
</div>
<div class="blog-f-img">
  <img src="{{'blog-img1.jpg' | asset_url}}" class="img-fluid">
</div>

<div class="g-small-conatiner lady-gaga-wrap joey-wrap">
  <div class="g-blog-section-head text-left">
    <h2 id="selena_gomez">Ashnikko</h2>
    <p class="">
      wearing German Kabirski rings on the red carpet of the 2021 VMA's.
      Styled by Holly Adamthwaite
    </p>
  </div>
  <div class="g-blog-img">
    <div class="g-s-img">
      <div style="padding:0px;">
        <a href="/collections/rings/products/k105344-galiena-pearl-ring">
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/ashnikko_241794804_415357576635406_1398589184166084095_n-_1.png?v=1634719712">
        </a>
      </div>
    </div>
  </div>
    <div class="grid-2" style="margin: 4px 0;">
      <div class="g-s-img">
        <div>
          <a href="/collections/rings/products/k105344-galiena-pearl-ring">
            <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/image-_5.png?v=1634719712">
          </a>
        </div>
      </div>
      <div class="g-s-img" >
        <div>
          <a href="/collections/rings/products/ec10027-idril-tourmaline-ring">
            <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/image-_7.png?v=1634719712">
          </a>
        </div>
      </div>
      <div class="g-s-img">
        <div>
          <a href="/collections/rings/products/k106040-haimi-blue-topaz-ring">
            <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/ashnikko_241867470_1228584824271828_8027921364186322825_n-_1.png?v=1634719712">
          </a>
        </div>
      </div>
      <div class="g-s-img" >
        <div>
          <a href="/collections/rings/products/hm10168-mellusina-white-sapphire-and-ruby-ring">
            <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/image-_6.png?v=1634719712">
          </a>
        </div>
      </div>

    </div>

</div>
<div class="g-small-conatiner lady-gaga-wrap joey-wrap">
  <div class="g-blog-section-head text-right">
    <h2 id="selena_gomez">Leslie Odom Jr.</h2>
    <p class="mx-auto">
      wearing German Kabirski ring for Flaunt Magazine's. Styled by Avo Yermagyan
    </p>
  </div>
  <div class="g-blog-img">
    <div class="g-s-img">
      <div style="padding:0px;">
        <a href="/collections/special-gold-gollection/products/ecg10001-cyren-black-diamond-ring">
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/177_TheMagicIssue_LeslieOdomJr_8.png?v=1634720999">
        </a>
      </div>
    </div>

  </div>
  <div class="g-blog-img">
    <div class="g-s-img">
    <div style="padding:0px;">
      <a href="/collections/special-gold-gollection/products/ecg10001-cyren-black-diamond-ring">
        <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/image_1.png?v=1634720999">
      </a>
    </div>
  </div>
  </div>
  <div class="g-blog-img">
    <div class="g-s-img">
    <div style="padding:0px;">
      <a href="/collections/special-gold-gollection/products/ecg10001-cyren-black-diamond-ring">
        <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/177_TheMagicIssue_LeslieOdomJr_4.png?v=1634720999">
      </a>
    </div>
  </div>
  </div>

</div>
<div class="g-small-conatiner  lady-gaga-wrap">
  <div class="g-blog-section-head text-left">
    <h2>BILLIE EILISH</h2>
    <p>
      WEARING THE HAIMI BLUE TOPAZ RING FOR HER ALBUM RELEASE PARTY, 'HAPPIER THAN EVER'.
    </p>
  </div>

  <div class="grid-2">
    <div class="g-s-img">
      <a href="/collections/rings/products/k106040-haimi-blue-topaz-ring">
      <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/billie_for_post.jpg?v=1631030423">
      </a>
    </div>
    <div class="g-s-img">
      <a href="/collections/rings/products/k106040-haimi-blue-topaz-ring">
      <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/item_billie_for_post.jpg?v=1631030423">

      </a>
    </div>
  </div>

</div>

<div class="g-small-conatiner lady-gaga-wrap joey-wrap">
  <div class="g-blog-section-head text-right">
    <h2 id="selena_gomez">TINASHE</h2>
    <p class="mx-auto">
      WEARING ELENDIL LEMON QUARTZ BANGLE AND AERIS AMETHYST BANGLE, BY GERMAN KABIRSKI FOR THE SPORTS ILLUSTRATED GALA.
    </p>
  </div>
  <div class="g-blog-img">
    <div class="g-s-img">
      <div style="padding:0px;">
        <a href="">
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/tinashee.jpg?v=1628680551">
        </a>
      </div>
    </div>
    <div class="grid-2" style="margin: 4px 0;">
      <div class="g-s-img">
        <div>
          <a href="https://germankabirski.com/collections/bangle/products/ec40008-elendil-lemon-quartz-bangle">
            <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/1440-2.jpg?v=1628688568">
          </a>
        </div>
      </div>
      <div class="g-s-img" >
        <div>
          <a href="https://germankabirski.com/collections/bangle/products/ec40009-aeris-amethyst-bangle">
            <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/1440-1.jpg?v=1628688568">
          </a>
        </div>
      </div>

    </div>

  </div>
</div>
<div class="g-small-conatiner lady-gaga-wrap joey-wrap">
  <div class="g-blog-section-head text-right">
    <h2 id="selena_gomez">SHENSEEA</h2>
    <p class="mx-auto">
      WEARING GERMAN KABIRSKI RINGS AND A BANGLE FOR HER MUSIC VIDEO “RUN RUN”. IN THE COLORFUL CHRISTIAN BRESLEUR-DIRECTED VISUALS,
      SHENSEEA PLAYS A FEMME FATALE WHO EXACTS REVENGE ON A MAN WHO DID HER WRONG, MAKING HER WAY THROUGH BRIGHT DESERTS,
      LUSH JUNGLES, AND THE LITERAL DEPTHS OF HELL TO FINISH THE JOB.

    </p>
  </div>
  <div class="g-blog-img">
    <div class="g-s-img">
      <div style="padding:0px;">
        <a href="">
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/shenseeaa_main.jpg?v=1627073844">
        </a>
      </div>

    </div>
    <div class="grid-3" style="margin: 4px 0;">
      <div class="g-s-img">
        <div>
          <a href="/products/ec10060-flavia-chrisoberil-and-yellow-sapphire-ring">
            <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/image1.png?v=1627073995">
          </a>
        </div>
      </div>
      <div class="g-s-img" >
        <div>
          <a href="/collections/all/products/ec40035-esild-citrine-and-tsavorite-and-black-spinel-bangle">
            <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/image2.jpg?v=1627073996">
          </a>
        </div>
      </div>
      <div class="g-s-img" >
        <div>
          <a href="">
            <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/image3.png?v=1627073996">
          </a>
        </div>
      </div>
    </div>

  </div>
  <div class="g-blog-img">
    <div class="g-s-img">
      <div style="padding:0px;">
        <a href="">
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/shenseea_second.jpg?v=1627073845">
        </a>
      </div>

    </div>
    <div class="grid-2" style="margin: 4px 0;">
      <div class="g-s-img">
        <div>
          <a href="/collections/rarities/products/ec10074-selma-citrine-ring">
            <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/image5-new.png?v=1627309370">
          </a>
        </div>
      </div>
      <div class="g-s-img" >
        <div>
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/image5.png?v=1627073996">
          </a>
        </div>
      </div>

    </div>

  </div>
</div>
<div class="g-small-conatiner  lady-gaga-wrap">
  <div class="g-blog-section-head text-left">
    <h2>Megan Thee Stallion </h2>
    <p>
      known for her track, ”Hot Girl Summer”, a song about women and men who are unabashedly being themselves and just having a great time,
      Megan is wearing a Selfish Sapphire Ring by German Kabirski in her latest post on Instagram.
    </p>
  </div>

  <div class="grid-2">
    <div class="g-s-img">
      {% comment %}<a href="/products/hm21006-cd-ivalyn-chrome-diopside-earrings">{% endcomment %}
        <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/theestallion.jpg?v=1624890307">
      {% comment %}</a>{% endcomment %}
    </div>
    <div class="g-s-img">
      {% comment %}<a href="/products/hm21006-cd-ivalyn-chrome-diopside-earrings">{% endcomment %}
        <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/gggg.jpg?v=1624891042">

      {% comment %}</a>{% endcomment %}
    </div>

  </div>

</div>


<div class="g-small-conatiner  lady-gaga-wrap">
  <div class="g-blog-section-head text-right">
    <h2 id="gaga_new">LADY GAGA</h2>
    <p>
      IS ADORNED WITH IVALYN CHROME DIOPSIDE EARRINGS BY GERMAN KABIRSKI ON THE SET OF FRIENDS:
      THE REUNION. SHE SANG A SHOW STOPPING DUET OF SMELLY CAT WITH PHOEBE BUFFAY.
    </p>
  </div>
  <div class="grid-2">
    <div class="g-s-img">
      <a href="/products/hm21006-cd-ivalyn-chrome-diopside-earrings">
        <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/p8ic.jpg?v=1622642802">
      </a>
    </div>
    <div class="g-s-img">
      <a href="/products/hm21006-cd-ivalyn-chrome-diopside-earrings">
        <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/192532762_319115109783275_4645234934729651917_n.jpg?v=1622641757">
      </a>
    </div>

  </div>

</div>

<div class="g-small-conatiner lady-gaga-wrap joey-wrap">
  <div class="g-blog-section-head text-left">
    <h2 id="purplehaze">PURPLEHAZE</h2>
    <p >
      INDEPENDENT FASHION & ART MAGAZINE PURPLEHAZE ACCESSORIZED THEIR MODEL IN PHOTO PROJECT “IMPERIAL” WITH ANALA AMETHYST RING.
    </p>
    <p>
      PRODUCTION TEAM:  PHOTOGRAPHER: TIAGO CHEDIAK // FASHION STYLIST: ANGELINA SCANTLEBURY // MAKEUP ARTIST: SHANE MONDEN // HAIRSTYLISTS: ROBERTO CAMPISI & SIMONE DOMIZI // SET DESIGNER: LAURA WOOLF // MODEL: QUINTANA ONE MANAGEMENT
    </p>
  </div>
  <div class="g-blog-img">
    <div class="g-s-img" >
      <div style="padding:0px;">
        <a href="/products/k104007-anala-amethyst-ring">
          <img  src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/purple-1.jpg?v=1617634655">
        </a>
      </div>
    </div>
    <div class="grid-2" style="margin: 4px 0;">
      <div class="g-s-img">
        <div >
          <a href="/products/k104007-anala-amethyst-ring">
            <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/asa-ak-min.png?v=1617639277">
          </a>
        </div>

      </div>
      <div class="g-s-img" style="background-color:#e0e0e0;">
        <div>
          <a href="/products/k104007-anala-amethyst-ring" >
            <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/products/K104007_2b1ad933-0514-4809-95a9-95a885bcb396.jpg?v=1607468704">
          </a>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="g-small-conatiner  lady-gaga-wrap" id="grimes">
  <div class="g-blog-section-head text-right">
    <h2>GRIMES</h2>
    <p >ACCESSORIZED HER LOOK WITH <a href="https://germankabirski.com/collections/best-sellers/products/k105310-adelinde-amethyst-ring">GERMAN KABIRSKI'S ADELINDE AMETHYST RING</a></p>
  </div>
  <div class="grid-2">
    <div class="g-s-img">
      <a href="/products/k105310-adelinde-amethyst-ring">
        <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/grimes.jpg?v=1617635396">
      </a>
    </div>
    <div class="g-s-img">
      <a href="/products/k105310-adelinde-amethyst-ring">
        <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/fugik-min.png?v=1617636967">
      </a>
    </div>

  </div>

</div>

<div class="g-small-conatiner  lady-gaga-wrap">
  <div class="g-blog-section-head text-center">
    <h2 id="jenner">KYLIE JENNER</h2>
    <p class="mx-auto"> WEARING
      <a href ="/products/hm40001-sp-aten-spinel-bangle?variant=31191902781513">A GERMAN KABIRSKI BRACELET WHILE ON VACATION </a>
    </p>
  </div>
  <div class="grid-2">
    <div class="g-s-img"  style="background-color:#e8e8e8;">
      <div >
        <a  href="/products/hm40001-sp-aten-spinel-bangle?variant=31191902781513">
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/ring-min.png?v=1611751695">
        </a>
      </div>
    </div>
    <div class="g-s-img"  style="background-color:#eaeaea;">
      <div >
        <a href="/products/hm40001-sp-aten-spinel-bangle?variant=31191902781513">
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/kyliejenner_1611252901_1.jpg?v=1611600704">
        </a>
      </div>

    </div>

    <div class="g-s-img"  style="background-color:#e8e8e8;">
      <div >
        <a  href="/products/hm40001-sp-aten-spinel-bangle?variant=31191902781513">
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/143639142_707767606596624_6860912496334282555_n.jpg?v=1612528361">
        </a>
      </div>
    </div>
    <div class="g-s-img"  style="background-color:#eaeaea;">
      <div>
        <a href="/products/hm40001-sp-aten-spinel-bangle?variant=31191902781513">
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/ring-min_1_-min_1.png?v=1612537526">
        </a>
      </div>

    </div>

  </div>

</div>

<div class="g-small-conatiner  lady-gaga-wrap" id="danileigh">
  <div class="g-blog-section-head text-left">
    <h2 >DANILEIGH</h2>
    <p >DANILEIGH WEARING <a href ="/products/ec10128-mevrien-sapphire-and-garnet-ring">SAPPHIRE AND GARNET RING AND FLAVIA CHRYSOBERYL AND YELLOW SAPPHIRE RING </a>
      FOR EUPHORIA MAGAZINE  </p>
  </div>
  <div class="grid-2">
    {% comment %} <div class="g-full-img">
       <a href="/products/ec10128-mevrien-sapphire-and-garnet-ring">
         <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/blue_ring.png?v=1611317931">
       </a>
     </div>{% endcomment %}
    <div class="g-s-img"  >
      <div>

        <a  href="/products/ec10128-mevrien-sapphire-and-garnet-ring">
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/scotlouie_1609976427_2.jpg?v=1611595035">
        </a>
      </div>

    </div>
    <div class="g-s-img"  style="background-color:#eaeaea;">
      <div >
        <a href="/products/ec10128-mevrien-sapphire-and-garnet-ring">
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/blue.jpg?v=1611595036">
        </a>
      </div>

    </div>

    <div class="g-s-img"  style="background-color:#e0e0e0;">
      <div >
        <a href="/products/ec10060-flavia-chrisoberil-and-yellow-sapphire-ring" >
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/yellow.jpg?v=1611595035">
        </a>
      </div>

    </div>
    <div class="g-s-img" >
      <div>
        <a href="/products/k205339-nabila-amethyst-earrings">
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/scotlouie_1609976427_1.jpg?v=1611595036">
        </a>
      </div>

    </div>

    {% comment %}<div class="g-full-img">{% endcomment %}
    {% comment %}<a href="/products/ec10060-flavia-chrisoberil-and-yellow-sapphire-ring">{% endcomment %}
    {% comment %}<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/yellow_ring.png?v=1611325472">{% endcomment %}
    {% comment %}</a>{% endcomment %}
    {% comment %}</div>{% endcomment %}
  </div>

</div>
<div class="g-small-conatiner  lady-gaga-wrap">
  <div class="g-blog-section-head text-right">
    <h2 id="mickelson">MEREDITH MICKELSON</h2>
    <p >MEREDITH WEARING <a href ="/products/k204246-edda-pearl-earrings">EDDA PEARL EARRINGS </a> BY GERMAN KABIRSKI FOR HARPER’S BAZAAR VIETNAM  </p>
  </div>
  <div class="g-blog-img">
    <div class="g-full-img">
      <a href="/products/k204246-edda-pearl-earrings">
        <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/harpers_bazaar_0f43f2c7-3df1-4770-984d-cc8cb6f6a8a9.png?v=1611315774">
      </a>
    </div>
  </div>

</div>

<div class="g-small-conatiner lady-gaga-wrap">
  <div class="g-blog-section-head text-left">
    <h2 id="janelle_monae">JANELLE MONÁE</h2>
    <p >WEARING CYREN BLACK DIAMOND RING FOR THE COVER OF ENTERTAINMENT WEEKLY.</p>
  </div>
  <div class="g-blog-img">
    <div style="width: 100%;" class="g-s-img">
      <a href="https://germankabirski.com/collections/all/products/ecg10001-cyren-black-diamond-ring">
        <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/JMforPRESS.png?v=1607093053">
      </a>
    </div>
  </div>
</div>

<div class="g-small-conatiner lady-gaga-wrap">
  <div class="g-blog-section-head text-right">
    <h2  id="minaj">NICKI MINAJ</h2>
    <p >WEARING A GERMAN KABIRSKI ELENDIL LEMON QUARTZ BANGLE FOR HER NEW MUSIC VIDEO.</p>
  </div>
  <div class="g-blog-img">
    <div style="width: 100%;" class="g-s-img">
      <a href="https://germankabirski.com/products/ec40008-elendil-lemon-quartz-bangle">
        <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/NKforPRESS.png?v=1607093052">
      </a>
    </div>
  </div>
</div>

<div class="g-small-conatiner lady-gaga-wrap">
  <div class="g-blog-section-head text-left">
    <h2 id="gaga">LADY GAGA</h2>
    <p>LADY GAGA ROCKED THE SIRENIA GREEN <a href ="https://germankabirski.com/products/ec40001-sirenia-green-amethyst-bangle">AMETHYST BANGLE</a> BY GERMAN KABIRSKI AT 2020 MTV VIDEO MUSIC AWARDS</p>
  </div>
  <div class="g-blog-img">
    <div class="g-s-img">
      <div >
        <a href="/products/ec40001-sirenia-green-amethyst-bangle">
          <img src="{{'blog-img2.jpg' | asset_url }}">
        </a>
      </div>

    </div>
    <div class="g-s-img">
      <div>
        <a href="/products/ec40001-sirenia-green-amethyst-bangle">
          <img src="{{'blog-img3.jpg' | asset_url}}">
        </a>
      </div>

    </div>
  </div>
  <div class="g-blog-section-head text-left">
    <p >LADY GAGA ACCESSORIZED HER LOOK WITH GERMAN KABIRSKI'S <a href ="https://germankabirski.com/products/k207001-calvina-amethyst-earrings"> CALVINA SKULL EARRINGS</a> AND  <a href="https://germankabirski.com/products/k106011-paradisa-ruby-ring">PARADISA CLAW-LIKE RING</a></p>
  </div>
  <div class="g-blog-img">
    <div class="g-s-img">
      <div style="padding: 2px 0;">
        <a href="/products/k106011-paradisa-ruby-ring">
          <img src="{{'blog-img4.jpg' | asset_url}}">
        </a>
      </div>

    </div>
    <div class="g-s-img">
      <div>
        <a href="/products/k106011-paradisa-ruby-ring">
          <img src="{{'blog-img5.jpg' | asset_url}}">
        </a>
      </div>
      <div>
        <a href="/products/k207001-calvina-amethyst-earrings">
          <img src="{{'blog-img6.jpg' | asset_url}}">
        </a>
      </div>

    </div>
  </div>
</div>
<div class="g-small-conatiner lady-gaga-wrap joey-wrap">
  <div class="g-blog-section-head text-right">
    <h2 id="selena_gomez">SELENA GOMEZ</h2>
    <p class="mx-auto">SELENA GOMEZ WEARING <a href ="/products/k205339-nabila-amethyst-earrings">NABILA AMETHYST EARRINGS</a>  BY GERMAN KABIRSKI FOR THE COVER OF ALLURE MAGAZINE</p>
  </div>
  <div class="g-blog-img">
    <div class="g-s-img" >
      <div style="padding:0px;">
        <a href="/products/k205339-nabila-amethyst-earrings">
          <img src="{{'image_2020_09_16T10_24_08_950Z.png' | asset_url }}">
        </a>
      </div>

    </div>
    <div class="grid-2" style="margin: 4px 0;">
      <div class="g-s-img">
        <div >
          <a href="/products/k205339-nabila-amethyst-earrings">
            <img src="{{'image_2020_09_16T10_24_27_196Z.png' | asset_url }}">
          </a>
        </div>

      </div>
      <div class="g-s-img" style="background-color:#e0e0e0;">
        <div>
          <a href="/products/k205339-nabila-amethyst-earrings" >
            <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/K205339_b54facb7-84ba-451f-b8dd-12e39a3e4290.jpg?v=1611341778">
          </a>
        </div>
      </div>
    </div>

  </div>

</div>
<div class="g-small-conatiner lady-gaga-wrap joey-wrap">
  <div class="g-blog-section-head text-left">
    <h2 id="joey_king">JOEY KING</h2>
    <p >JOEY KING WEARING <a href ="https://germankabirski.com/products/ec10119-eydis-mixed-sapphire-ring">EYDIS MIXED SAPPHIRE RING</a> AND <a href ="https://germankabirski.com/products/k205346-florana-pearl-earrings">FLORANA PEARL EARRINGS</a> BY GERMAN KABIRKSI FOR THE VIRTUAL PREMIERE OF HER NEW MOVIE "KISSING BOOTH 2"</p>
  </div>
  <div class="g-blog-img">
    <div class="g-s-img">
      <div>
        <a href="/products/k205346-florana-pearl-earrings">
          <img src="{{'blog-img7.jpg' | asset_url}}">
        </a>
      </div>

    </div>
    <div class="g-s-img">
      <div>
        <a href="/products/ec10119-eydis-mixed-sapphire-ring">
          <img src="{{'blog-img7.png' | asset_url }}">
        </a>
      </div>

    </div>
    <div class="g-s-img">
      <div>
        <a href="/products/k205346-florana-pearl-earrings">
          <img src="{{'blog-img8.png' | asset_url }}">
        </a>
      </div>

    </div>
    <div class="g-s-img">
      <div>
        <a href="/products/ec10119-eydis-mixed-sapphire-ring">
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/germankabirski_20200730-3.jpeg?v=1611342797">
        </a>
      </div>

    </div>
    <div class="g-s-img">
      <div>
        <a href="/products/k205346-florana-pearl-earrings">
          <img src="{{'blog-img11.jpg' | asset_url }}">
        </a>
      </div>

    </div>
  </div>

</div>

<div class="g-small-conatiner lady-gaga-wrap">
  <div class="g-blog-section-head text-right">
    <h2 id="maye_musk">MAYE MUSK</h2>
    <p >MAYE MUSK WEARING <a href ="https://germankabirski.com/products/k104101-raina-amethyst-ring">RAINA AMETHYST RING</a> BY GERMAN KABIRSKI</p>
  </div>
  <div class="g-blog-img">
    <div class="g-full-img">
      <div>
        <a href="/products/k104101-raina-amethyst-ring">
          <img src="{{'maye-img.png' | asset_url }}">
        </a>
      </div>

    </div>
    <div class="g-full-img">
      <div>
        <a href="/products/k104101-raina-amethyst-ring">
          <img src="{{'maye-img2.jpg' | asset_url }}">
        </a>
      </div>

    </div>

  </div>

</div>

<div class="g-small-conatiner lady-gaga-wrap ">
  <div class="g-blog-section-head text-left">
    <h2 id="julia_garner">JULIA GARNER</h2>
    <p >JULIA GARNER WEARING THE <a href ="https://germankabirski.com/products/ec10109-kori-morganite-ring">KORI MORGANITE RING</a> FOR THE HOLLYWOOD REPORTER, PUBLISHED ON AUG 12TH</p>
  </div>
  <div class="g-blog-img">
    <div class="g-full-img">   <a href="/products/ec10109-kori-morganite-ring">
        <img src="{{'juliya-img.jpg' | asset_url }}">
      </a>
    </div>
    <div class="g-full-img">
      <a href="/products/ec10109-kori-morganite-ring">
        <img src="{{'juliya-img2.jpg' | asset_url }}">
      </a>
    </div>

  </div>

</div>
<div class="g-small-conatiner bbn lady-gaga-wrap">
  <div class="g-blog-section-head text-right">
    <h2 id="cassie">CASSIE</h2>
    <p >CASSIE WEARING <a href ="/products/k104005-gilda-amethyst-ring">GILDA AMETHYST RING </a> BY GERMAN KABIRSKI FOR HER BDAY SHOOT. STYLED BY DEONTE NASH.</p>
  </div>
  <div class="g-blog-img">
    <div class="g-s-img">
      <a href="/products/k104005-gilda-amethyst-ring">
        <img src="{{'cassie.jpg' | asset_url }}">
      </a>
    </div>
    <div class="g-s-img">
      <a href="/products/k104005-gilda-amethyst-ring">
        <img src="{{'image_2020_09_16T10_23_30_900Z.png' | asset_url }}">
      </a>
    </div>
  </div>
</div>
