<style>
  
  body {
    overflow-x: hidden
  }
  
  .ggp-fullwidth {
  	width: 100%;
  }

  .ggp-fullwidth-inner {
  	width: 100%;
    height: 600px;
    background: #ccc;
    background: url('https://cdn.shopify.com/s/files/1/0026/2599/4801/files/25A5E374-0ACB-4D9B-B986-FD7FC0534B75_auto_x2_0aa17c73-446f-4c79-9b81-bf9a20a18efd.jpg?v=1606318809') center center no-repeat;
    background-size: cover;
  }

  .ggp-padding-width {
    padding:40px 40px 0 40px;
  }

  .ggp-describer {
    margin-top: 40px;
  }

  .ggp-pic-sm {
    width: 100%;
    height: 400px;
    /*     background: #ccc; */
    margin-top: 40px;
  }

  .ggp-menu {
    margin-top: 40px;
    list-style-type: none;
  }

  .ggp-menu li {
    /*   	font-weight: 600; */
  }

  .ggp-menu.fixed {
    position: fixed;
    top: 80px
  }

  .ggp-right {
    position: relative;
    width: 400px;
    display: none;
  }

  .ggp-wrapper {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
  }

  .product-holder {
    display: flex;
    margin: 150px 0;
  }

  .product-description-price {
    float: left;
  }

  .product-description-price.__toright {
    float: right;
  }
  .product-holder .__img-m-h{
    justify-content: flex-end;
  }
  .product-holder .__img-m-h img{
    margin:0;
  }
  .product-img {
    width: 50%;
    display: flex;
    justify-content: flex-start;
  }

  .product-description {
    width: 50%;
  }

  .product-img img {
    /*width: 80%;*/
    margin: 0;
    /*max-height: 350px;*/
  }

  .product-description-price,
  .ggp-header,
  .product-description--heading {
    font-weight: bold;
    margin-bottom: 35px;
  }

  .product-description-divider {
    height: 3px;
    background: #181818;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .product-description-btn {
    text-transform: uppercase;
    transition:.3s;
    float: left;
    border: 2px solid #181818;
    margin-left: 0;
    padding: 18px 115px;
    margin-top: 4rem;
    font-size: 32px;
  }

  .product-description-btn:hover, .product-description-btn:focus {
    background-color: #181818;
    color: #f7f3ef;
    border: 2px solid #181818;
    transition:.3s;
  }

  /*.product-description-btn.__toright {*/
  /*  float: right;*/
  /*  margin-right: 50px;*/
  /*}*/

  .__img-m {
    display: none;
  }


  @media(max-width: 950px) {
    .ggp-fullwidth-inner {
      height: 400px;
      background: url('https://cdn.shopify.com/s/files/1/0026/2599/4801/files/2_auto_x2_57276792-b301-4642-8bbb-bf5a3866f442.jpg?v=1606388757') top center no-repeat;
      background-size: 100%;
    }
    
    .__mob-mt-20 {
      margin-top: 20px;
    }
    
    /*.ggp-describer,*/
    /*.product-description {*/
    /*  padding: 0 20px*/
    /*}*/
    .ggp-padding-width{
      padding:20px;
    }

    
    .product-description-price.__toright,
    .product-description-btn.__toright {
      float: none;
      display: block
    }
    
    .product-grid-item {width: 100%;}
    .ggp-right {display: none;}
    .ggp-pic-sm {background-size: 100%; height: 100px}
/*     .ggp-fullwidth-inner {height: 180px} */
    .ggp-pic-sm-gc {background-size: cover;height: 300px;}
    
    .product-holder {
      width: 100%;
      display: block;
    }
    
    .product-img,
    .product-img img,
    .product-description {
      width: 100%;
    }
    
    .product-img img {
      height: auto;
      width: auto;
      margin: 0 auto;
      display: block;
    }
    
    /*#statement {*/
    /*  padding:40px 40px 0 40px;*/
    /*}*/
    
    .product-description-price {
      width: 100%;
      text-align: center;
      float: none;
    }
    
    .product-description-btn {
      float: none;
      margin: 0 auto;
      display: block;
      width: 100%;
      padding: 10px 20px;
      text-align: center;
      margin-top: 2rem;
    }
    
    .__img-m-h {
      display: none;
    }
    
    .__img-m {
      display: block;
    }
    

  }

</style>
<script>
$(window).bind('scroll', function () {
    if ($(window).scrollTop() > 550) {
        $('.ggp-menu').addClass('fixed');
    } else {
        $('.ggp-menu').removeClass('fixed');
    }
});
</script>

<div class="ggp-fullwidth">
  <div class="ggp-fullwidth-inner">
  </div>
</div>

<div class="ggp-wrapper">
  <div class="ggp-right">
    <ul class="ggp-menu">
      <li><a href="{{ page.url }}#statement">Statement</a></li>
      <li><a href="{{ page.url }}#delycate">Delicate</a></li>
      <li><a href="{{ page.url }}#halloween">Halloween</a></li>
      <li><a href="{{ page.url }}#christmas">Christmas</a></li>
      <li><a href="{{ page.url }}#under150">Under $150</a></li>
      <li><a href="{{ page.url }}#giftcard">Gift card</a></li>
    </ul>
  </div>
  <div class="ggp-left">
    <div id="statement" class="ggp-padding-width">
      <div class="ggp-header">Appreciate The Present</div>
      <div class="ggp-describer">
        Many celebrations and holidays were created to make money,
        but we believe that money is not just necessary... it must be spent to please yourself,
        or to please her. It gets us high on the really important thingsin life.
        Beauty, art, emotional saturation, feeding your imagination.
        Doing this at least every day will create an occasion for yourself and for her,
        so that life is big and full. Who needs these holidays!?
      </div>
      
      <div class="product-holder">
        <div class="product-img">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/image_3.png?v=1611253448">
        </div>
        <div class="product-description">
          <div class="product-description--heading">Statement</div>
          <div class="product-description--text">
            Tell her more often that she is her own most important thing, with products that emphasize her inner strength,
            and she will realise your importance to her.

          </div>
          {% comment %}<div class="product-description-divider"></div>{% endcomment %}
          {% comment %}<div class="product-description-price">$2,050</div>{% endcomment %}
          <a class="product-description-btn" href=" https://germankabirski.com/collections/style-statement/">shop all</a>
        </div>
      </div>
      
      <div class="product-holder">
        <div class="product-img __img-m">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/image_5.png?v=1611253448">
        </div>
        <div class="product-description">
          <div class="product-description--heading">Everyday</div>
          <div class="product-description--text">
            Every day, think about the beauty that surrounds you,
            with the products that will so easily become a part of her life,
            every morning, day by day.
          </div>
          {% comment %}<div class="product-description-divider"></div>{% endcomment %}
          {% comment %}<div class="product-description-price __toright">$1,210</div>{% endcomment %}
          <a class="product-description-btn __toright" href="https://germankabirski.com/collections/style-everyday/">shop all</a>
        </div>
        <div class="product-img __img-m-h">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/image_5.png?v=1611253448">
        </div>
      </div>
      
      <div class="product-holder">
        <div class="product-img">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/image_2.png?v=1611253448">
        </div>
        <div class="product-description">
          <div class="product-description--heading">Delicate</div>
          <div class="product-description--text">
            Ah, those fingers, the movement of the palm and the wrist,
            with a grace worthy of everyone who felt truly alive in this world.
            What could be better than the grace of her hands?

          </div>
          {% comment %}<div class="product-description-divider"></div>{% endcomment %}
          {% comment %}<div class="product-description-price">$1,050</div>{% endcomment %}
          <a class="product-description-btn" href="https://germankabirski.com/collections/style-delicate/">shop all</a>
        </div>
      </div>
      
      <div class="product-holder">
        <div class="product-img __img-m">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/image_6.png?v=1611253448">
        </div>
        <div class="product-description">
          <div class="product-description--heading">Fantasy</div>
          <div class="product-description--text">
            Your imagination creates everything, turns all into dust and brings all to life.
            Just think of these products that are created by the Dream World Itself.
          </div>
          {% comment %}<div class="product-description-divider"></div>{% endcomment %}
          {% comment %}<div class="product-description-price __toright">$1,050</div>{% endcomment %}
          <a class="product-description-btn __toright" href=" https://germankabirski.com/collections/style-fantasy/ "> shop all</a>
        </div>
        <div class="product-img __img-m-h">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/image_6.png?v=1611253448">
        </div>
      </div>
      
{% comment %}      <div class="product-holder">
        <div class="product-img">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/5.png?v=1605801270">
        </div>
        <div class="product-description">
          <div class="product-description--heading">Erlyan Garnet Bangle</div>
          <div class="product-description--text">Unique Black Rhodium and sparkles of gold keep a whole crowd of little children within this bangle. How come, you may ask? It is said that according to Chinese beliefs if one eats the seeds of garnet at their wedding they multiply their offspring. But be warned! Do not chew the Garnet out of the bangle! These are not seeds. </div>
          {% comment %}<div class="product-description-divider"></div>{% endcomment %}
          {% comment %}<div class="product-description-price">$1,050</div>{% endcomment %}
          <a class="product-description-btn" href="https://germankabirski.com/collections/all/products/ec40023-erlyan-garnet-bangle">shop all</a>
        </div>
      </div>
      
      <div class="product-holder">
        <div class="product-img __img-m">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/6.png?v=1605801270">
        </div>
        <div class="product-description">
          <div class="product-description--heading __mob-mt-20">Aerwyn Fancy Sapphire Pendant</div>
          <div class="product-description--text">What a celebration! Just read the details. There's no point describing all of that here using some fancy words. There's gold and silver, Sapphire rough and the one not so rough. There's Black Anthracite all over. A complete mosaic of everything one could possibly imagine. For you, highly enthusiastic ones.</div>
          {% comment %}<div class="product-description-divider"></div>{% endcomment %}
          {% comment %}<div class="product-description-price __toright">$1,050</div>{% endcomment %}
          <a class="product-description-btn __toright" href="https://germankabirski.com/collections/all/products/ec30028-aerwyn-mixed-sapphire-pendant">shop all</a>
        </div>
        <div class="product-img __img-m-h">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/6.png?v=1605801270">
        </div>
      </div>
      
      <div class="product-holder">
        <div class="product-img">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/7.png?v=1605801270">
        </div>
        <div class="product-description">
          <div class="product-description--heading __mob-mt-20">Cair Sapphire Bangle</div>
          <div class="product-description--text">You are under arrest and have the right to remain silent, even if you are eager to say "I want one". 925 sterling silver, sapphires and soft and elegant lines which will make these bangles become one with you for indeed a long time.</div>
          {% comment %}<div class="product-description-divider"></div>{% endcomment %}
          {% comment %}<div class="product-description-price">$1,000</div>{% endcomment %}
          <a class="product-description-btn" href="https://germankabirski.com/products/ec40053-cair-sapphire-bangle">shop all</a>
        </div>
      </div>
      
      <div class="product-holder">
        <div class="product-img __img-m">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/8.png?v=1605801270">
        </div>
        <div class="product-description">
          <div class="product-description--heading __mob-mt-20">Alvie Tourmaline Bangle</div>
          <div class="product-description--text">The sky above lake Loch Alvie in Inverness, Scotland looks quite similar, being reflected in it's waters. It seems to be covered with White Rhodium, but from time to time green, yellow and red tourmalines, as tiny little fish rise from the deep, breaking up the surface. I could just keep on comparing this bangle with them circles on the water forever. Or maybe I won't.</div>
          {% comment %}<div class="product-description-divider"></div>{% endcomment %}
          {% comment %}<div class="product-description-price __toright">$1,000</div>{% endcomment %}
          <a class="product-description-btn __toright" href="https://germankabirski.com/collections/all/products/ec40039-alvie-tourmaline-bangle">shop all</a>
        </div>
        <div class="product-img __img-m-h">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/8.png?v=1605801270">
        </div>
      </div>
      
      <div class="product-holder">
        <div class="product-img">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/9.png?v=1605801270">
        </div>
        <div class="product-description">
          <div class="product-description--heading">Myne Quartz and Zircon Bangle</div>
          <div class="product-description--text">Who crumpled this bangle? Oh, i see. It's a complete piece, it was meant to be like this. It's just like you and me. Quartz Rough and White Zircon merge with the top coat of White Rhodium creating an impression that this bangle was carver from the rock just like that. But who knows. Maybe it is what really happened. </div>
          {% comment %}<div class="product-description-divider"></div>{% endcomment %}
          {% comment %}<div class="product-description-price">$950</div>{% endcomment %}
          <a class="product-description-btn" href="https://germankabirski.com/collections/all/products/ec40051-myne-quartz-and-zircon-bangle">shop all</a>
        </div>
      </div>
      
      <div class="product-holder">
        <div class="product-img __img-m">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/10_2.png?v=1605801271">
        </div>
        <div class="product-description">
          <div class="product-description--heading">Ianthe Amethyst Pendant</div>
          <div class="product-description--text">That is the name of one of the 3000 Oceanids, by the way. The Children of the Ocean and Thetis. It was often mentioned in the world literature. By Byron, for instance, or by Percy B. Shelley - the husband of Mary Shelley the famous author of "Frankenstein: or, The Modern Prometheus" novel. It might have been an ocean wave that distorted the black rhodium, or it might be forcibly tightened by a strap between a large purple amethyst and a tiny blue sapphire dot. Just like Gothic literature goes. </div>
          {% comment %}<div class="product-description-divider"></div>{% endcomment %}
          {% comment %}<div class="product-description-price __toright">$950</div>{% endcomment %}
          <a class="product-description-btn __toright" href="https://germankabirski.com/collections/all/products/ec30010-ianthe-amethyst-pendant">shop all</a>
        </div>
        <div class="product-img __img-m-h">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/10_2.png?v=1605801271">
        </div>
      </div>{% endcomment %}
      
      
</div>

