<style>

#sizeTable {
  overflow: scroll;
}
  
table {
  border-collapse: collapse;
}

td, th {
  border: solid 1px #cccccc
}

td:nth-child(odd) {
  background-color: #f7f3ef;
}
         
td {
  padding: 10px;
  font-size: 14px;
  text-align: center;
}
         
.sizeGuidePopup:hover {
  cursor: default;
}

.sizeTable-switch-holder {
  height: 40px;
  padding: 8px 10px;
}
         
.sizeTable-switch:hover {
  cursor: pointer;
  text-decoration: underline;
}
         
.sizeTable-switch-active {
  text-decoration: underline;
}
     
.no-scroll {
  overflow: hidden;
}
         
@media only screen and (max-width: 950px){

/*   table,
  tr {
    width: 100%;
  }
  
  td {
  	display: none;
    width: 100%;
  }
  
  .sizeTable-td-root {
  	display: block !important;
  } */

}
  
.sizeTable-description li {
  margin-bottom: 10px !important
}
  
.sizeTable-description{
  display: block !important;
}
  
h2 {
  font-size: 20px !important
}
  
h6 {
  font-size: 18px !important
}
  
ul li, p {
  font-size: 16px !important
}
</style>

<script>
$(document).ready(function(){
  if (YMaps.location){
    let country = YMaps.location.country
    if (country === "США") {
      jQuery( ".sizeTable-switch-inch" ).trigger( "click" )
    } else {
      jQuery( ".sizeTable-switch-all" ).trigger( "click" )
    }
  } else {
  	console.log('Region can not be detected')
  }
})
</script>

<div style="max-width: 1200px" class="max-site-width px2 lg--up--px3">
    <div class="ring_size_wrap">
        <div class="ring_content_wrap">
          
          <div style="width:100%" class="ring-left-part grid__item sizeTable-description">
            {% section 'ring-size-calculator-popup' %}
            <h2>HOW TO FIND YOUR RING SIZE</h2>

            <p>Here are two ways to do it – measure the circumference of your finger or internal diameter of the existing ring.</p>


              <h6>MEASURE YOU FINGER</h6>
              <ul>
                  <li><strong>Step 1:</strong> Take either a length of string or floss and wrap around your finger. At the place where it overlaps, tie a knot.</li>
                  <li><strong>Step 2:</strong> Unwrap it and lie it flat beside a ruler or measuring tape. Measure circumference of your finger in inches or mm.</li>
                  <li><strong>Step 3:</strong> Use the below chart to determine your ring size.</li>
                  <li><strong>Tip:</strong> make sure you don't pull the thread or string too tightly, as it can be stretchy and then it may seem that you need a bigger ring size than you actually require.</li>
              </ul>
              <h6>MEASURE EXISTING RING</h6>
              <ul>
                  <li><strong>Step 1:</strong> Select an existing ring that fits the desired finger.</li>
                  <li><strong>Step 2:</strong> Measure the internal diameter of the ring (in inches or mm).</li>
                  <li><strong>Step 3:</strong> Use the below chart to determine your ring size.</li>
                  <li><strong>Tip:</strong> make sure you compare the internal diameter, not the outer part of the ring.</li>
              </ul>
           
          
            
              <div id="sizeTable">
                <div class="sizeTable-switch-holder">
                  <span class="sizeTable-switch sizeTable-switch-all">all</span> | <span class="sizeTable-switch sizeTable-switch-active sizeTable-switch-mm">mm</span> | <span class="sizeTable-switch sizeTable-switch-inch">inch</span>
                </div>
                <table>
                  <tr class="sizeTable-tr-inch sizeTable-tr-inch-all">
                      <td class="sizeTable-td-root">INTERNAL DIAMETER OF THE RING (inches)</td>
                      <td>0.60</td>
                      <td>0.62</td>
                      <td>0.63</td>
                      <td>0.65</td>
                      <td>0.67</td>
                      <td>0.68</td>
                      <td>0.70</td>
                      <td>0.72</td>
                      <td>0.73</td>
                      <td>0.74</td>
                      <td>0.76</td>
                      <td>0.78</td>
                      <td>0.80</td>
                  </tr>
                  <tr class="sizeTable-tr-inch sizeTable-tr-inch-all">
                      <td class="sizeTable-td-root">CIRCUMFERENCE OF THE FINGER (inches)</td>
                      <td>1.89</td>
                      <td>1.94</td>
                      <td>1.99</td>
                      <td>2.04</td>
                      <td>2.09</td>
                      <td>2.14</td>
                      <td>2.19</td>
                      <td>2.25</td>
                      <td>2.29</td>
                      <td>2.34</td>
                      <td>2.40</td>
                      <td>2.45</td>
                      <td>2.50</td>
                  </tr>
                  <tr class="sizeTable-tr-mm">
                      <td class="sizeTable-td-root">INTERNAL DIAMETER OF THE RING (mm)</td>
                      <td>15.3</td>
                      <td>15.7</td>
                      <td>16.1</td>
                      <td>16.5</td>
                      <td>16.9</td>
                      <td>17.4</td>
                      <td>17.8</td>
                      <td>18.2</td>
                      <td>18.5</td>
                      <td>18.9</td>
                      <td>19.4</td>
                      <td>19.8</td>
                      <td>20.2</td>
                  </tr>
                  <tr class="sizeTable-tr-mm">
                      <td class="sizeTable-td-root">CIRCUMFERENCE OF THE FINGER (mm)</td>
                      <td>47.9</td>
                      <td>49.3</td>
                      <td>50.6</td>
                      <td>51.8</td>
                      <td>53.1</td>
                      <td>54.5</td>
                      <td>55.7</td>
                      <td>57.1</td>
                      <td>58.2</td>
                      <td>59.3</td>
                      <td>60.9</td>
                      <td>62.3</td>
                      <td>63.4</td>
                  </tr>
                  <tr class="sizeTable-tr-inch sizeTable-tr-us sizeTable-tr-mm">
                      <td class="sizeTable-td-root">USA</td>
                      <td>4½</td>
                      <td>5</td>
                      <td>5½</td>
                      <td>6</td>
                      <td>6½</td>
                      <td>7</td>
                      <td>7½</td>
                      <td>8</td>
                      <td>8½</td>
                      <td>9</td>
                      <td>9½</td>
                      <td>10</td>
                      <td>10½</td>
                  </tr>
                  <tr class="sizeTable-tr-mm">
                      <td class="sizeTable-td-root">RUSSIA</td>
                      <td>15.5</td>
                      <td>15¾</td>
                      <td>16</td>
                      <td>16.5</td>
                      <td>17</td>
                      <td>17¼</td>
                      <td>17¾</td>
                      <td>18</td>
                      <td>18.5</td>
                      <td>19</td>
                      <td>19.5</td>
                      <td>20</td>
                      <td>20¼</td>
                  </tr>
                  <tr class="sizeTable-tr-mm">
                      <td class="sizeTable-td-root">UK</td>
                      <td>I</td>
                      <td>J</td>
                      <td>K</td>
                      <td>L</td>
                      <td>M</td>
                      <td>N</td>
                      <td>O</td>
                      <td>P</td>
                      <td>Q</td>
                      <td>R</td>
                      <td>S</td>
                      <td>T</td>
                      <td>U</td>
                  </tr>
                  <tr class="sizeTable-tr-mm">
                      <td class="sizeTable-td-root">JAPAN, CHINA, SOUTH AMERICA</td>
                      <td>8</td>
                      <td>9</td>
                      <td>10</td>
                      <td>11</td>
                      <td>13</td>
                      <td>14</td>
                      <td>15</td>
                      <td>16</td>
                      <td>17</td>
                      <td>18</td>
                      <td>19</td>
                      <td>20</td>
                      <td>22</td>
                  </tr>
                </table>
              </div>
          
          </div>
    
        </div>
    </div>
</div>

