<div class="container">
  {% section 'ring_sizer_page-banner'%}
  {%section 'measure_you_finger'%}
  {% section 'measure_exicting_ring'%}
  {% section 'size-table-section'%}

</div>

<script>
  function addEventListenerStamped(el, eventName, handler) { 
   if (el.addEventListener) { el.addEventListener(eventName, handler); }
   else { el.attachEvent('on' + eventName, function () { handler.call(el); }); } 
}

// Example
// Listening for reviews widget loaded event
addEventListenerStamped(document, 'stamped:reviews:loaded', function(e) {
 jQuery('.stamped-summary-actions-newreview').click();
});

</script>

  
  