<div class="max-site-width px2 lg--up--px3">
    <div class="ring_size_wrap">
        <div class="ring_content_wrap">
            <div class="ring-left-part grid__item ">
               <h2>RING SIZER</h2> 
              <ol>
                    <li>Select your country</li>
                    <li>Put the ring on display.</li>
                    <li>Scroll down to find your size.</li>
                </ol>
              <p>Make sure you compare the <a href="#">inside</a> circumference, not the outer part of the ring!</p>
              <h6>MEASURE YOU FINGER</h6>
              <p>The perfect ring must have the perfect fit. But what is the best way to make sure that you have measured your finger correctly? Our helpful guide is designed to assist you with achieving the perfect measurement with confidence.</p>
              <h6>BUT FIRST, SOME EXPERT TIPS</h6>
              <p>Your finger size can fluctuate, so measure multiple times, with warm hands. Consider going up a size for a thicker band. <br> We all have different sized hands so if your knuckles are larger, possibly go up a half size.</p>
            </div>
            <div class="ring-right-part grid__item">
              <div class="ring-mobile-head">
                <h2>RING SIZER</h2>
                <ol>
                    <li>1.Put the ring on display.</li>
                    <li>2.Scroll down to find your size.</li>
                </ol>
                <a href="#arr"><img src="{{'long-arrow-down.svg' | asset_url}}"></a>
                <p>Make sure you compare the <a href="#">inside</a> circumference, not the outer part of the ring!</p>
              </div>
              <div class="select-country" id="arr">
                <a  class="country-label active" data-tab="tab1">USA</a>
                <a  class="country-label" data-tab="tab2">Russia</a>
                <a  class="country-label " data-tab="tab3">UK Australia </a>
                <a  class="country-label" data-tab="tab4">Japan China</a>
              </div>
              <div class="tab tab-active" id="tab1" >
                

                <div class="g-size-chart">
                    <div class="g-size-head">
                        <div class="size-heading">INTERNAL DIAMETER (MM)</div>
                        <div class="size-heading size-before">SIZE</div>
                        <div class="size-heading">CIRCUMFERENCE (MM)</div>
                    </div>
                    <div class="g-size-detail">
                        <div class="internal-mm"><p>15.3</p></div>
                        <div class="size-mm"><div class="size-circle">4½</div></div>
                        <div class="internal-mm"><p>47.9</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>15.7</p></div>
                        <div><div class="size-circle size-j">5</div></div>
                        <div><p>49.3</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>16.1</p></div>
                        <div><div class="size-circle size-k">5½</div></div>
                        <div><p>50.6</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>16.5</p></div>
                        <div><div class="size-circle size-l">6</div></div>
                        <div><p>51.8</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>16.9</p></div>
                        <div><div class="size-circle size-m">6½</div></div>
                        <div><p>53.1</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>17.4</p></div>
                        <div><div class="size-circle size-n">7</div></div>
                        <div><p>54.5</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>17.8</p></div>
                        <div><div class="size-circle size-o">7½</div></div>
                        <div><p>55.7</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>18.2</p></div>
                        <div><div class="size-circle size-p">8</div></div>
                        <div><p>57.1</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>18.5</p></div>
                        <div><div class="size-circle size-q">8½</div></div>
                        <div><p>58.2</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>18.9</p></div>
                        <div><div class="size-circle size-r">9</div></div>
                        <div><p>59.3</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>19.4</p></div>
                        <div><div class="size-circle size-s">9½</div></div>
                        <div><p>60.9</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>19.8</p></div>
                        <div><div class="size-circle size-t">10</div></div>
                        <div><p>62.3</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>20.2</p></div>
                        <div><div class="size-circle size-u">10½</div></div>
                        <div><p>63.4</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>20.7</p></div>
                        <div><div class="size-circle size-v">11</div></div>
                        <div><p>63.9</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>21.1</p></div>
                        <div><div class="size-circle size-w">11½</div></div>
                        <div><p>66.2</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>21.5</p></div>
                        <div><div class="size-circle size-x">12</div></div>
                        <div><p>67.5</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>21.9</p></div>
                        <div><div class="size-circle size-y">12½</div></div>
                        <div><p>68.7</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>22.3</p></div>
                        <div><div class="size-circle size-z">13</div></div>
                        <div><p>70.1</p></div>
                    </div>
                </div>
                <div class="select-counter-name usa-t">USA</div>
                </div>
              <div class="tab" id="tab2" >
              

                <div class="g-size-chart">
                    <div class="g-size-head">
                        <div class="size-heading">INTERNAL DIAMETER (MM)</div>
                        <div class="size-heading size-before">SIZE</div>
                        <div class="size-heading">CIRCUMFERENCE (MM)</div>
                    </div>
                    <div class="g-size-detail">
                        <div class="internal-mm"><p>15.3</p></div>
                        <div class="size-mm"><div class="size-circle">15½</div></div>
                        <div class="internal-mm"><p>47.9</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>15.7</p></div>
                        <div><div class="size-circle size-j">15¾</div></div>
                        <div><p>49.3</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>16.1</p></div>
                        <div><div class="size-circle size-k">16</div></div>
                        <div><p>50.6</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>16.5</p></div>
                        <div><div class="size-circle size-l">16½</div></div>
                        <div><p>51.8</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>16.9</p></div>
                        <div><div class="size-circle size-m">17</div></div>
                        <div><p>53.1</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>17.4</p></div>
                        <div><div class="size-circle size-n">17½</div></div>
                        <div><p>54.5</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>17.8</p></div>
                        <div><div class="size-circle size-o">17¾</div></div>
                        <div><p>55.7</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>18.2</p></div>
                        <div><div class="size-circle size-p">18</div></div>
                        <div><p>57.1</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>18.5</p></div>
                        <div><div class="size-circle size-q">18½</div></div>
                        <div><p>58.2</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>18.9</p></div>
                        <div><div class="size-circle size-r">19</div></div>
                        <div><p>59.3</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>19.4</p></div>
                        <div><div class="size-circle size-s">19½</div></div>
                        <div><p>60.9</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>19.8</p></div>
                        <div><div class="size-circle size-t">20</div></div>
                        <div><p>62.3</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>20.2</p></div>
                        <div><div class="size-circle size-u">20¼</div></div>
                        <div><p>63.4</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>20.7</p></div>
                        <div><div class="size-circle size-v">20¾</div></div>
                        <div><p>63.9</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>21.1</p></div>
                        <div><div class="size-circle size-w">21</div></div>
                        <div><p>66.2</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>21.5</p></div>
                        <div><div class="size-circle size-x">21¼</div></div>
                        <div><p>67.5</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>21.9</p></div>
                        <div><div class="size-circle size-y">21¾</div></div>
                        <div><p>68.7</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>22.3</p></div>
                        <div><div class="size-circle size-z">22</div></div>
                        <div><p>70.1</p></div>
                    </div>
                </div>
                <div class="select-counter-name russia-t">RUSSIA</div>
                </div>
              <div class="tab " id="tab3" >
               

                <div class="g-size-chart">
                    <div class="g-size-head">
                        <div class="size-heading">INTERNAL DIAMETER (MM)</div>
                        <div class="size-heading size-before">SIZE</div>
                        <div class="size-heading">CIRCUMFERENCE (MM)</div>
                    </div>
                    <div class="g-size-detail">
                        <div class="internal-mm"><p>15.3</p></div>
                        <div class="size-mm"><div class="size-circle">I</div></div>
                        <div class="internal-mm"><p>47.9</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>15.7</p></div>
                        <div><div class="size-circle size-j">j</div></div>
                        <div><p>49.3</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>16.1</p></div>
                        <div><div class="size-circle size-k">k</div></div>
                        <div><p>50.6</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>16.5</p></div>
                        <div><div class="size-circle size-l">L</div></div>
                        <div><p>51.8</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>16.9</p></div>
                        <div><div class="size-circle size-m">m</div></div>
                        <div><p>53.1</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>17.4</p></div>
                        <div><div class="size-circle size-n">n</div></div>
                        <div><p>54.5</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>17.8</p></div>
                        <div><div class="size-circle size-o">0</div></div>
                        <div><p>55.7</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>18.2</p></div>
                        <div><div class="size-circle size-p">p</div></div>
                        <div><p>57.1</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>18.5</p></div>
                        <div><div class="size-circle size-q">q</div></div>
                        <div><p>58.2</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>18.9</p></div>
                        <div><div class="size-circle size-r">r</div></div>
                        <div><p>59.3</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>19.4</p></div>
                        <div><div class="size-circle size-s">s</div></div>
                        <div><p>60.9</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>19.8</p></div>
                        <div><div class="size-circle size-t">t</div></div>
                        <div><p>62.3</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>20.2</p></div>
                        <div><div class="size-circle size-u">u</div></div>
                        <div><p>63.4</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>20.7</p></div>
                        <div><div class="size-circle size-v">v</div></div>
                        <div><p>63.9</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>21.1</p></div>
                        <div><div class="size-circle size-w">w</div></div>
                        <div><p>66.2</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>21.5</p></div>
                        <div><div class="size-circle size-x">x</div></div>
                        <div><p>67.5</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>21.9</p></div>
                        <div><div class="size-circle size-y">y</div></div>
                        <div><p>68.7</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>22.3</p></div>
                        <div><div class="size-circle size-z">z</div></div>
                        <div><p>70.1</p></div>
                    </div>
                </div>
                <div class="select-counter-name">UK/ AUSTRALIA</div>
                </div>
              <div class="tab" id="tab4" >
           

                <div class="g-size-chart">
                    <div class="g-size-head">
                        <div class="size-heading">INTERNAL DIAMETER (MM)</div>
                        <div class="size-heading size-before">SIZE</div>
                        <div class="size-heading">CIRCUMFERENCE (MM)</div>
                    </div>
                    <div class="g-size-detail">
                        <div class="internal-mm"><p>15.3</p></div>
                        <div class="size-mm"><div class="size-circle">8</div></div>
                        <div class="internal-mm"><p>47.9</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>15.7</p></div>
                        <div><div class="size-circle size-j">9</div></div>
                        <div><p>49.3</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>16.1</p></div>
                        <div><div class="size-circle size-k">10</div></div>
                        <div><p>50.6</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>16.5</p></div>
                        <div><div class="size-circle size-l">11</div></div>
                        <div><p>51.8</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>16.9</p></div>
                        <div><div class="size-circle size-m">13</div></div>
                        <div><p>53.1</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>17.4</p></div>
                        <div><div class="size-circle size-n">14</div></div>
                        <div><p>54.5</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>17.8</p></div>
                        <div><div class="size-circle size-o">15</div></div>
                        <div><p>55.7</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>18.2</p></div>
                        <div><div class="size-circle size-p">16</div></div>
                        <div><p>57.1</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>18.5</p></div>
                        <div><div class="size-circle size-q">17</div></div>
                        <div><p>58.2</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>18.9</p></div>
                        <div><div class="size-circle size-r">18</div></div>
                        <div><p>59.3</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>19.4</p></div>
                        <div><div class="size-circle size-s">19</div></div>
                        <div><p>60.9</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>19.8</p></div>
                        <div><div class="size-circle size-t">20</div></div>
                        <div><p>62.3</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>20.2</p></div>
                        <div><div class="size-circle size-u">22</div></div>
                        <div><p>63.4</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>20.7</p></div>
                        <div><div class="size-circle size-v">23</div></div>
                        <div><p>63.9</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>21.1</p></div>
                        <div><div class="size-circle size-w">24</div></div>
                        <div><p>66.2</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>21.5</p></div>
                        <div><div class="size-circle size-x">25</div></div>
                        <div><p>67.5</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>21.9</p></div>
                        <div><div class="size-circle size-y">26</div></div>
                        <div><p>68.7</p></div>
                    </div>
                    <div class="g-size-detail">
                        <div><p>22.3</p></div>
                        <div><div class="size-circle size-z">27</div></div>
                        <div><p>70.1</p></div>
                    </div>
                </div>
                <div class="select-counter-name japan-t">JAPAN/CHINA</div>
                </div>
            </div>
          
          <div class="ring-left-part grid__item ">

              <h6>MEASURE YOU FINGER</h6>
              <ul>
                  <li><strong>Step 1:</strong> Take either a length of string or floss and wrap this around your ring finger. At the place where it overlaps, mark the point with a pen.</li>
                  <li><strong>Step 2:</strong> Unwrap it from your finger and lie it flat beside a ruler or measuring tape. This will give you circumference of your finger in millimeters.</li>
                  <li><strong>Step 3:</strong> Use the below chart to determine your ring size.</li>
                  <li><strong>Tip:</strong> Make sure you do not pull the thread or string too tightly, as it can be stretchy and then it may seem that you need a bigger ring size than you actually require.</li>
              </ul>
            <h6>MEASURE EXISTING RING WITH A CHART</h6>
                  <ul>
                      <li><strong>Step 1:</strong> Select an existing ring that fits the desired finger.</li>
                      <li><strong>Step 2:</strong> Put a ring on our chart, just on your screen. These are true-to-size.</li>
                      <li><strong>Tip:</strong> make sure you compare the inside circumference, not the outer part of the ring.</li>
                </ul>
            <h6>MEASURE EXISTING RING WITH TAPE</h6>
            <ul>
              <li><strong>Step 1:</strong> Select an existing ring that fits the desired finger.</li>
              <li><strong>Step 2:</strong> Measure the internal diameter of the ring (in mm).</li>
              <li><strong>Step 3:</strong> Use the below chart to determine your ring size.</li>
            </ul>
            </div>
          
        </div>
    </div>
</div>
