<style>
  
  body {
    overflow-x: hidden
  }
  
  .ggp-fullwidth {
  	width: 100%;
  }
  
  .ggp-fullwidth-inner {
  	width: 100%;
    height: 600px;
    background: #ccc;
    background: url('https://cdn.shopify.com/s/files/1/0026/2599/4801/files/25A5E374-0ACB-4D9B-B986-FD7FC0534B75_auto_x2_0aa17c73-446f-4c79-9b81-bf9a20a18efd.jpg?v=1606318809') center center no-repeat;
    background-size: cover;
  }
  
  .ggp-padding-width {
  	padding: 0 40px;
    width: 100%;
  }
  
  .ggp-describer {
	margin-top: 40px;
    text-align: center;
  }
  
  .ggp-pic-sm {
    width: 100%;
    height: 400px;
/*     background: #ccc; */
    margin-top: 40px;
  }
  
  .ggp-menu {
  	margin-top: 40px;
    list-style-type: none;
  }
  
  .ggp-menu li {
/*   	font-weight: 600; */
  }
  
  .ggp-menu.fixed {
  	position: fixed;
    top: 80px
  }
  
  .ggp-right {
  	position: relative;
    width: 400px;
    display: none;
  }
  
  .ggp-wrapper {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .product-holder {
  	display: flex;
    margin: 150px 0;
  }
  
  .product-description-price {
  	float: left;
  }
  
  .product-description-price.__toright {
  	float: right;
  }
  
  .product-img {
/*   	width: 50%; */
/*     display: flex; */
  }
  
  .product-description {
  	width: 50%;
  }
  
  .product-img img {
/* 	width: 80%; */
/*     margin: 0 auto; */
    max-height: 350px;
  }
  
  .product-description-price,
  .product-description--heading {
  	font-weight: bold;
    margin-bottom: 35px;
  }
  
  .product-description-divider {
  	height: 3px;
    background: #181818;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .product-description-btn {
    float: left;
    border: 2px solid #181818;
    margin-left: 50px;
    padding: 5px 70px;
    margin-top: -10px;
  }
  
  .product-description-btn.__toright {
    float: right;
    margin-right: 50px;
  }
  
  .__img-m {
    display: none;
  }
  
  .product-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .product-wrapper {
  	width: 25%;
    margin: 0 50px;
  }
  
  .product-heading {
    margin-top: 10px;
  	text-align: center;
  }
  
  .shop-all a {
    display: block;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    background: #181818;
    color: #fff;
    padding: 15px;
    margin-top: 20px;
    border: 1px solid #181818;
  }
  
  .shop-all a:hover {
  	background: none;
    color: #181818;
  }
  
  @media(max-width: 950px) {
    
    .product-row {
      display: block;
      margin: 0;
    }
    
    
    .product-wrapper {
      width: 100%;
      margin: 0;
      margin-top: 50px;
    }
    
    .ggp-fullwidth-inner {
      height: 400px;
      background: url('https://cdn.shopify.com/s/files/1/0026/2599/4801/files/2_auto_x2_57276792-b301-4642-8bbb-bf5a3866f442.jpg?v=1606388757') top center no-repeat;
      background-size: 100%;
    }
    
    .__mob-mt-20 {
      margin-top: 20px;
    }
    
    .ggp-describer,
    .product-description {
      padding: 0 20px
    }
    
    .product-description-price.__toright,
    .product-description-btn.__toright {
      float: none;
      display: block
    }
    
    .product-grid-item {width: 100%;}
    .ggp-right {display: none;}
    .ggp-pic-sm {background-size: 100%; height: 100px}
/*     .ggp-fullwidth-inner {height: 180px} */
    .ggp-pic-sm-gc {background-size: cover;height: 300px;}
    
    .product-holder {
      width: 100%;
      display: block;
    }
    
    .product-img,
    .product-img img,
    .product-description {
      width: 100%;
    }
    
    .product-img img {
      height: auto;
      width: auto;
      margin: 0 auto;
      display: block;
    }
    
    #statement {
      padding: 0;
    }
    
    .product-description-price {
      width: 100%;
      text-align: center;
      float: none;
    }
    
    .product-description-btn {
      float: none;
      margin: 0 auto;
      display: block;
      width: 100%;
      padding: 0;
      text-align: center;
    }
    
    .__img-m-h {
      display: none;
    }
    
    .__img-m {
      display: block;
    }
    

  }

</style>
<script>
$(window).bind('scroll', function () {
    if ($(window).scrollTop() > 550) {
        $('.ggp-menu').addClass('fixed');
    } else {
        $('.ggp-menu').removeClass('fixed');
    }
});
</script>


<div class="ggp-wrapper">

    <div class="ggp-padding-width">
      <div class="ggp-describer">
        <p style='font-family: "Prospectus Pro S",serif;font-size: 1.85rem !important;'>ONE SIZE EXCLUSIVES</p>
        <p>Discover exclusive rings made in a single copy.<br>Find an unique piece of jewelry for your collection.</p>
      </div>
      
      <div class="product-row">
        <div class="product-wrapper">
          <div class="product-img">
            <a href="https://germankabirski.com/collections/exclusives">
              <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/main6.jpg?v=1608038323">
            </a>
          </div>
          <div class="product-heading">Size 6</div>
          <div class="shop-all">
            <a href="https://germankabirski.com/collections/exclusives" target="__blank">SHOP ALL</a>
          </div>
        </div>
        
        <div class="product-wrapper">
          <div class="product-img">
            <a href="https://germankabirski.com/collections/exclusives-1">
              <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/main6_5.jpg?v=1608038323">
            </a>
          </div>
          <div class="product-heading">Size 6.5</div>
          <div class="shop-all">
            <a href="https://germankabirski.com/collections/exclusives-1" target="__blank">SHOP ALL</a>
          </div>
        </div>
        
        <div class="product-wrapper">
          <div class="product-img">
            <a href="https://germankabirski.com/collections/exclusives-2">
              <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/main7.jpg?v=1608038324">
            </a>
          </div>
          <div class="product-heading">Size 7</div>
          <div class="shop-all">
            <a href="https://germankabirski.com/collections/exclusives-2" target="__blank">SHOP ALL</a>
          </div>
        </div>
      </div>
      
      <div class="product-row">
        <div class="product-wrapper">
          <div class="product-img">
            <a href="https://germankabirski.com/collections/exclusives-3">
              <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/main7_5.jpg?v=1608038324">
            </a>
          </div>
          <div class="product-heading">Size 7.5</div>
          <div class="shop-all">
            <a href="https://germankabirski.com/collections/exclusives-3" target="__blank">SHOP ALL</a>
          </div>
        </div>
        
        <div class="product-wrapper">
          <div class="product-img">
            <a href="https://germankabirski.com/collections/exclusives-4">
              <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/main8.jpg?v=1608038323">
            </a>
          </div>
          <div class="product-heading">Size 8</div>
          <div class="shop-all">
            <a href="https://germankabirski.com/collections/exclusives-4" target="__blank">SHOP ALL</a>
          </div>
        </div>
        
        <div class="product-wrapper">
          <div class="product-img">
            <a href="https://germankabirski.com/collections/exclusives-5">
              <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/main8_5.jpg?v=1608038324">
            </a>
          </div>
          <div class="product-heading">Size 8.5</div>
          <div class="shop-all">
            <a href="https://germankabirski.com/collections/exclusives-5" target="__blank">SHOP ALL</a>
          </div>
        </div>
      </div>
      
</div>

</div>