{% section 'page-template' %}
{% if page.handle == 'sign-up'%}
    <style>
 
h1.f--heading.font-size--xxxl.line-height--8.wd--font-size--xxxxl.wd--line-height--11.m0 {
    display: none;
}
 
 </style>

{% endif %}
<script>
  function addEventListenerStamped(el, eventName, handler) { 
   if (el.addEventListener) { el.addEventListener(eventName, handler); }
   else { el.attachEvent('on' + eventName, function () { handler.call(el); }); } 
}

// Example
// Listening for reviews widget loaded event
addEventListenerStamped(document, 'stamped:reviews:loaded', function(e) {
 jQuery('.stamped-summary-actions-newreview').click();
});

</script>
  
  