<section class="page {{ global__section_with_padding_class }} color--{{ section_color }}-text bg--{{ section_color }}-background">

   <div class="max-site-width px2 lg--up--px3">
     {% section 'page-materials' %}

  </div>

</section>