<style>
  
  body {
    overflow-x: hidden
  }
  .ggp-fullwidth {
  	width: 100%;
  }

  .ggp-fullwidth-inner {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  /*.ggp-fullwidth-inner {*/
  /*	width: 100%;*/
  /*  height: 600px;*/
  /*  background: #ccc;*/
  /*  background: url('https://cdn.shopify.com/s/files/1/0026/2599/4801/files/25A5E374-0ACB-4D9B-B986-FD7FC0534B75_auto_x2_0aa17c73-446f-4c79-9b81-bf9a20a18efd.jpg?v=1606318809') center center no-repeat;*/
  /*  background-size: cover;*/
  /*}*/
  {% comment %}.img-01{
  width: 100%;
  height: 600px;
  background: #ccc;
  background: url('https://cdn.shopify.com/s/files/1/0026/2599/4801/files/IMG_1315-min.JPG?v=1611585620') center center no-repeat;
  background-size: cover;
  }
  .img-02{
  width: 100%;
  height: 600px;
  background: #ccc;
  background: url('https://cdn.shopify.com/s/files/1/0026/2599/4801/files/IMG_1313-min.JPG?v=1611585620') center center no-repeat;
  background-size: cover;
  }
  .img-03{
  width: 100%;
  height: 600px;
  background: #ccc;
  background: url('https://cdn.shopify.com/s/files/1/0026/2599/4801/files/IMG_1314-min.JPG?v=1611585620') center center no-repeat;
  background-size: cover;
  }
  .img-04{
  width: 100%;
  height: 600px;
  background: #ccc;
  background: url('https://cdn.shopify.com/s/files/1/0026/2599/4801/files/IMG_1316-min.JPG?v=1611585620') center center no-repeat;
  background-size: cover;
  }
  .img-05{
  width: 100%;
  height: 600px;
  background: #ccc;
  background: url('https://cdn.shopify.com/s/files/1/0026/2599/4801/files/IMG_1317-min.JPG?v=1611585620') center center no-repeat;
  background-size: cover;
  }{% endcomment %}
  .ggp-padding-width {
  	padding:40px 40px 0 40px;
  }
  
  .ggp-describer {
	margin-top: 40px;
  }
  
  .ggp-pic-sm {
    width: 100%;
    height: 400px;
/*     background: #ccc; */
    margin-top: 40px;
  }
  
  .ggp-menu {
  	margin-top: 40px;
    list-style-type: none;
  }
  
  .ggp-menu li {
/*   	font-weight: 600; */
  }
  
  .ggp-menu.fixed {
  	position: fixed;
    top: 80px
  }
  
  .ggp-right {
  	position: relative;
    width: 400px;
    display: none;
  }
  
  .ggp-wrapper {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .product-holder {
  	display: flex;
    margin:4rem 0;
  }
  
  .product-description-price {
  	float: left;
  }
  
  .product-description-price.__toright {
  	float: right;
  }
  .product-holder .__img-m-h{
    justify-content: flex-end;
  }
  .product-holder .__img-m-h img{
    margin:0;
  }
  .product-img {
  	width: 50%;
    display: flex;
    justify-content: flex-start;
  }
  
  .product-description {
  	width: 50%;
  }
  
  .product-img img {
 	/*width: 80%;*/
    margin: 0;
    /*max-height: 350px;*/
  }
  
  .product-description-price,
  .ggp-header,
  .product-description--heading {
  	font-weight: bold;
    margin:1rem 0;
  }
  
  .product-description-divider {
  	height: 3px;
    background: #181818;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .product-description-btn {
    text-align:center;
    width: 200px;
    max-width: 300px;
    color: #f7f3ef;
    background-color: #181818;
    text-transform: uppercase;
    transition:.3s;
    float: left;
    border: 2px solid #181818;
    margin-left: 0;
    padding: 11px 11px;
    margin-top: 4rem;
    font-size: 18px;
  }

 .product-description-btn:hover, .product-description-btn:focus {
    background-color: #f7f3ef;
    color: #181818;
    border: 2px solid #181818;
    transition:.3s;
  }
  
  /*.product-description-btn.__toright {*/
  /*  float: right;*/
  /*  margin-right: 50px;*/
  /*}*/
  
  .__img-m {
    display: none;
  }
  .img-mobile{display:none;}
  @media(max-width: 950px) {
    .img-mobile{
      display:block;
    }
    .img-desktop {
      display:none;
    }
    /*.ggp-fullwidth-inner {*/
    /*  height: 400px;*/
    /*  background: url('https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Mobile-min_a99c4d34-8cf3-4e05-a876-07677433c214.JPG?v=1611592985') top center no-repeat;*/
    /*  background-size: 100%;*/
    /*}*/
    
    .__mob-mt-20 {
      margin-top: 20px;
    }
    
    /*.ggp-describer,*/
    /*.product-description {*/
    /*  padding: 0 20px*/
    /*}*/
    .ggp-padding-width{
      padding:20px;
    }

    
    .product-description-price.__toright,
    .product-description-btn.__toright {
      float: none;
      display: block
    }
    
    .product-grid-item {width: 100%;}
    .ggp-right {display: none;}
    .ggp-pic-sm {background-size: 100%; height: 100px}
/*     .ggp-fullwidth-inner {height: 180px} */
    .ggp-pic-sm-gc {background-size: cover;height: 300px;}
    
    .product-holder {
      width: 100%;
      display: block;
    }
    
    .product-img,
    .product-img img,
    .product-description {
      width: 100%;
    }
    .product-img img{
      max-height:350px;
    }
      /*  .product-img img {
          height: auto;
          width: auto;
          margin: 0 auto;
          display: block;
        }*/
    
    /*#statement {*/
    /*  padding:40px 40px 0 40px;*/
    /*}*/
    
    .product-description-price {
      width: 100%;
      text-align: center;
      float: none;
    }
    
    .product-description-btn {
      float: none;
      margin: 0 auto;
      display: block;
      width: 100%;
      padding: 10px 20px;
      text-align: center;
      margin-top: 2rem;
    }
    
    .__img-m-h {
      display: none;
    }
    
    .__img-m {
      display: block;
    }
    

  }

</style>
<script>
$(window).bind('scroll', function () {
    if ($(window).scrollTop() > 550) {
        $('.ggp-menu').addClass('fixed');
    } else {
        $('.ggp-menu').removeClass('fixed');
    }
});
</script>
{% comment %}<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/css/splide.min.css">{% endcomment %}
{% comment %}<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>{% endcomment %}
{% comment %}{% endcomment %}

<div class="ggp-fullwidth">
  <div class="ggp-fullwidth-inner">
    <img class="img-desktop" src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/banner-rouge-Desktop2-min.JPG?v=1611773756" alt="">
    <img class="img-mobile" src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/banner-rouge-Mobile_-min_1.jpg?v=1611773910" alt="">
  </div>
</div>


{% comment %}<div class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide img-01">
        <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/IMG_1315-min.JPG?v=1611585620" alt="">
      </li>
      <li class="splide__slide img-02">
        <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/IMG_1313-min.JPG?v=1611585620" alt="">
      </li>
      <li class="splide__slide img-03">
        <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/IMG_1314-min.JPG?v=1611585620" alt="">
      </li>
      <li class="splide__slide img-04">
        <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/IMG_1316-min.JPG?v=1611585620" alt="">
      </li>
      <li class="splide__slide img-05">
        <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/IMG_1317-min.JPG?v=1611585620" alt="">
      </li>
    </ul>
  </div>
</div>
{% endcomment %}
{% comment %}<script>{% endcomment %}
  {% comment %}new Splide( '.splide' ).mount();{% endcomment %}
{% comment %}</script>{% endcomment %}


<div class="ggp-wrapper">
  <div class="ggp-right">
    <ul class="ggp-menu">
      <li><a href="{{ page.url }}#statement">Statement</a></li>
      <li><a href="{{ page.url }}#delycate">Delicate</a></li>
      <li><a href="{{ page.url }}#halloween">Halloween</a></li>
      <li><a href="{{ page.url }}#christmas">Christmas</a></li>
      <li><a href="{{ page.url }}#under150">Under $150</a></li>
      <li><a href="{{ page.url }}#giftcard">Gift card</a></li>
    </ul>
  </div>
  <div class="ggp-left">
    <div id="statement" class="ggp-padding-width">
      <div class="ggp-describer">
        Processed landscapes, processed faces, processed bodies.
        This is all for social media. And real, rough love is for life - like The Rough Love Collection.
        Contemplating? Contemplate!
      </div>
      
      <div class="product-holder">
        <div class="product-img">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/1-min.png?v=1611583701">
        </div>
        <div class="product-description">
          <div class="product-description--heading">Kalene Quartz Brush and Sapphire Pendant</div>
          <div class="product-description--text">
            Look into the depths of the raw universe.
            What will you find there? What you will find is all yours. 18K gold, sapphire, diamond, quartz.
            A little bit of everything, but together — the whole world.


          </div>
          {% comment %}<div class="product-description-divider"></div>{% endcomment %}
          {% comment %}<div class="product-description-price">$2,050</div>{% endcomment %}
          <a class="product-description-btn" href="https://germankabirski.com/collections/all/products/ecg30001-kalene-sapphire-and-ruby-pendant">SEE DETAILS</a>
        </div>
      </div>
      
      <div class="product-holder">
        <div class="product-img __img-m">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/2-min.png?v=1611583700">
        </div>
        <div class="product-description">
          <div class="product-description--heading"> Ianthe Amethyst Pendant</div>
          <div class="product-description--text">
            A virgin named Ianthe in Ovid's Metamorphoses was transformed into a man.
            And in Homer's poetic hymn to Demeter,
            Ianthe was a nymph under Persephone when Hades brought winter to our world.
            In another story, after Ianthe's death, she transformed into flowers - forever beautiful,
            and always changing the world.
          </div>
          {% comment %}<div class="product-description-divider"></div>{% endcomment %}
          {% comment %}<div class="product-description-price __toright">$1,210</div>{% endcomment %}
          <a class="product-description-btn __toright" href="https://germankabirski.com/collections/all/products/ec30010-ianthe-amethyst-pendant">SEE DETAILS</a>
        </div>
        <div class="product-img __img-m-h">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/2-min.png?v=1611583700">
        </div>
      </div>
      
      <div class="product-holder">
        <div class="product-img">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/3-min.png?v=1611583700">
        </div>
        <div class="product-description">
          <div class="product-description--heading">Myrn Amethyst and Sapphire Pendant</div>
          <div class="product-description--text">
            If underground magma could leave a piece of fire not blackened by the surrounding world on earth,
            but loved by it... then it would look like this.
            Like a woman's burning soul. Yellow Sapphire and Rough Amethyst.

          </div>
          {% comment %}<div class="product-description-divider"></div>{% endcomment %}
          {% comment %}<div class="product-description-price">$1,050</div>{% endcomment %}
          <a class="product-description-btn" href="https://germankabirski.com/collections/pendants/products/ec30076-myrn-amethyst-and-sapphire-pendant">SEE DETAILS</a>
        </div>
      </div>
      
      <div class="product-holder">
        <div class="product-img __img-m">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/4-2-min.png?v=1611583700">
        </div>
        <div class="product-description">
          <div class="product-description--heading">Coresen Slice Ruby Pendant</div>
          <div class="product-description--text">
            Time leaves its trace on each of us,
            but even it will not be able to bury the bright colors of our Self under its weight.
            Flashes of slice rubies, and drops of sapphires on the gold of our long journey will always lead us higher and higher.
            No matter what.
          </div>
          {% comment %}<div class="product-description-divider"></div>{% endcomment %}
          {% comment %}<div class="product-description-price __toright">$1,050</div>{% endcomment %}
          <a class="product-description-btn __toright" href="https://germankabirski.com/collections/pendants/products/ec30002-coresen-slice-ruby-pendant">SEE DETAILS</a>
        </div>
        <div class="product-img __img-m-h">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/4-2-min.png?v=1611583700">
        </div>
      </div>
      
      <div class="product-holder">
        <div class="product-img">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/6-2-min.png?v=1611583596">
        </div>
        <div class="product-description">
          <div class="product-description--heading">Elin Amethyst Ring</div>
          <div class="product-description--text">
            This is the heart, this is the eye of man,
            this is the smoldering coal a moment before its amethyst flame leaps out with its thirst into the sky,
            splitting the silver and black rhodium of the fire to see the earth from above. This is the human will.
          </div>
          {% comment %}<div class="product-description-divider"></div>{% endcomment %}
          {% comment %}<div class="product-description-price">$1,050</div>{% endcomment %}
          <a class="product-description-btn" href="https://germankabirski.com/collections/all/products/hm10165-elin-amethyst-ring?variant=31896035524681">SEE DETAILS</a>
        </div>
      </div>
      
      <div class="product-holder">
        <div class="product-img __img-m">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/5-min.png?v=1611583597">
        </div>
        <div class="product-description">
          <div class="product-description--heading __mob-mt-20">Adina Quartz Ring</div>
          <div class="product-description--text">
            As much as the sky seems bigger than the sun,
            our body seems bigger than our consciousness.
            But the beauty of them is that the consciousness fills the body with light,
            giving it all its size. It is the same with sapphire and quartz.
          </div>
          {% comment %}<div class="product-description-divider"></div>{% endcomment %}
          {% comment %}<div class="product-description-price __toright">$1,050</div>{% endcomment %}
          <a class="product-description-btn __toright" href="https://germankabirski.com/collections/all/products/hm10164-adina-quartz-ring?variant=31896036048969">SEE DETAILS</a>
        </div>
        <div class="product-img __img-m-h">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/5-min.png?v=1611583597">
        </div>
      </div>
      <div class="product-holder">
        <div class="product-img">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/8-min.png?v=1611583596">
        </div>
        <div class="product-description">
          <div class="product-description--heading __mob-mt-20">Serisa Lemon Quartz Ring</div>
          <div class="product-description--text">
            There is a beast inside each of us. Or a bird. It firmly holds your Lemon Quartz,
            takes care of the raw power of the hunter's gaze and rushes to the attack,
            breaking through the darkness and returning to himself again.
            Into the silence of your power. Into the silence of your darkness.
          </div>
          {% comment %}<div class="product-description-divider"></div>{% endcomment %}
          {% comment %}<div class="product-description-price">$1,000</div>{% endcomment %}
          <a class="product-description-btn" href="https://germankabirski.com/collections/special/products/k102022-serisa-lemon-quartz-ring">SEE DETAILS</a>
        </div>
      </div>
      
      <div class="product-holder">
        <div class="product-img __img-m">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/7-min.png?v=1611583597">
        </div>
        <div class="product-description">
          <div class="product-description--heading __mob-mt-20">Egena Peridot Ring</div>
          <div class="product-description--text">
            Evening Emerald", Rough Peridot burns like a guiding candle in the window for those souls that are lost in the dark.
            His call is gold, and he is genuine and pure in his strife.
            Like a green light for a dreamer on the other side. And just as inevitable.
          </div>
          {% comment %}<div class="product-description-divider"></div>{% endcomment %}
          {% comment %}<div class="product-description-price __toright">$1,000</div>{% endcomment %}
          <a class="product-description-btn __toright" href="https://germankabirski.com/collections/all/products/hm10079-egena-peridot-ring?variant=31895993385033">SEE DETAILS</a>
        </div>
        <div class="product-img __img-m-h">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/7-min.png?v=1611583597">
        </div>
      </div>
      
      <div class="product-holder">
        <div class="product-img">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/9-min.png?v=1611583596">
        </div>
        <div class="product-description">
          <div class="product-description--heading"> Theana Amethyst Ring</div>
          <div class="product-description--text">
            The thought is large and material. In the colors of the cosmos and the fabric of absolute amethyst,
            each person turns into an adventure within himself, in order to embrace the whole. Raw. Big. Present. Owned.
          </div>
          {% comment %}<div class="product-description-divider"></div>{% endcomment %}
          {% comment %}<div class="product-description-price">$950</div>{% endcomment %}
          <a class="product-description-btn" href="https://germankabirski.com/collections/rings/products/ec10266-theana-amethyst-ring">SEE DETAILS</a>
        </div>
      </div>
      
      {% comment %}<div class="product-holder">
        <div class="product-img __img-m">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/10_2.png?v=1605801271">
        </div>
        <div class="product-description">
          <div class="product-description--heading">Ianthe Amethyst Pendant</div>
          <div class="product-description--text">That is the name of one of the 3000 Oceanids, by the way. The Children of the Ocean and Thetis. It was often mentioned in the world literature. By Byron, for instance, or by Percy B. Shelley - the husband of Mary Shelley the famous author of "Frankenstein: or, The Modern Prometheus" novel. It might have been an ocean wave that distorted the black rhodium, or it might be forcibly tightened by a strap between a large purple amethyst and a tiny blue sapphire dot. Just like Gothic literature goes. </div>
          {% comment %}<div class="product-description-divider"></div>{% endcomment %}
          {% comment %}<div class="product-description-price __toright">$950</div>{% endcomment %}
          <a class="product-description-btn __toright" href="https://germankabirski.com/collections/all/products/ec30010-ianthe-amethyst-pendant">shop all</a>
        </div>
        <div class="product-img __img-m-h">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/10_2.png?v=1605801271">
        </div>
      </div>{% endcomment %}
      
      
</div>
