{% layout none %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Review Form</title>
    <meta name="viewport" content="width=device-width" />

    <style type="text/css">
@import url({{font_family_url}});
p, h1, h2, h3 {
font-family: {{font_family}} !important;
}
* {
	box-sizing: border-box;
}
body {
	width: 600px;
	max-width: 600px;
	margin: auto;
	padding: 0;
  	color: {{text_color}} !important;
	background: {{background_color}} !important;
	font-family: {{font_family}} !important;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
p, h1, h2, h3, h4, h5 {
color: {{text_color}} !important;
}
.hide {
	display: none;
}
body, td, input, textarea, select {
font-family: {{font_family}} !important;
}
td {
  font-family: {{font_family}};
	border-bottom: none;
	padding-top: 0;
	padding-bottom: 0;
     vertical-align: top;
}
h2, p {
	line-height: 23px;
	margin-top: 1em !important;
	margin-bottom: 1em !important;
}
h2 {
	font-size:18px;
	margin-top: 3em !important;
	line-height: 25px !important;
}
h3 {
margin-bottom:1em !important;
margin-top:1em !important;
}
input[type="text"] {
	width: 100% !important;
}

.responsive-table {
	width:500px;
}
td img {
	display: inline;
}
a, a:visited, .ii a[href] {
  color: {{link_color}} !important;
	text-decoration: none;
}
a:hover, .ii a[href]:hover {
	text-decoration: underline;
}

span.preheader {
	display: none !important;
}

	.text-center { text-align:center; }
	.text-right { text-align:right; }
	.text-left { text-align:left; }
	.text-justify { text-align:justify; }

@media only screen and (max-device-width: 480px) {
html, body, .responsive-table {
  min-width:100%;
  width:100%;
}

.table {
	font-size: 19px;
}
h2 {
    font-size: 20px !important;
	margin-top:1em !important;
}
h2, p {
    line-height: 30px;
}
.stars {
	font-size: 25px !important;
}
button[type="submit"] {
    font-size: 22px !important;
    margin-bottom: 50px !important;
}
}
    </style>


</head>

<body style="min-width: 100%">
    <table style="display:none !important; visibility:hidden; mso-hide:all; font-size:1px; color:#ffffff; line-height:1px; max-height:0px; max-width:0px; opacity:0; overflow:hidden;"><tr><td style="display:none !important; visibility:hidden; mso-hide:all; font-size:1px; color:#ffffff; line-height:1px; max-height:0px; max-width:0px; opacity:0; overflow:hidden;">##messagePreheader##</td></tr></table>


    <table style="width: 100%; height: 100%; margin: 0 !important; text-align:center;background:{{background_color}};" border="0" cellspacing="0" cellpadding="0" bgcolor="{{background_color}}" align="center">

        <tr>
            <td align="center" style="padding: 0px 15px;">


                <p style="line-height:12px;text-align:center;">
                    <strong style="color: {{text_color}} !important;font-size:10px;">{{label_trouble_with_form}}</strong>
                    <a href="{{review_url}}" target="_blank" style="color: {{link_color}};font-size:10px;">{{label_review_online_link_text}}</a>
                </p>

                <table id="table" class="table responsive-table" align="center" background="{{background_color}}" style="background: {{background_color}};margin:auto;width:500px;" border="0" cellspacing="20" cellpadding="0">
                    <tr>
                        <td width="500" style="width:500px;background:{{background_color}};">
                            <div> {{content}} </div>
                            <!--[if !mso]><!-- -->
<form action="https://stamped.io/api/ReviewSubmission?guid=##guid##&shop=##shopId##" method="get" name="rateForm" style="mso-hide:all;">
    <table style="mso-hide:all;" class="hideOutlook table">
        <tr>
            <td style="text-align: center;letter-spacing: 2px;line-height: 40px;"> <span style="padding:0;white-space: nowrap;"> <label for="rating5" style=""> <input type="radio" name="ratingIndicator" value="5" id="rating5" required="" checked=""> <span style="font-size:19px; line-height:23px; color:##starColor##" class="stars">★★★★★</span> </label>
                </span> <span style="padding:0;white-space: nowrap;"> <label for="rating4" style=""> <input type="radio" name="ratingIndicator" value="4" id="rating4"> <span style="font-size:17px; line-height:23px; color:##starColor##" class="stars">★★★★</span> </label>
                </span> <span style="padding:0;white-space: nowrap;"> <label for="rating3" style=""> <input type="radio" name="ratingIndicator" value="3" id="rating3"> <span style="font-size:17px; line-height:23px; color:##starColor##" class="stars">★★★</span> </label>
                </span> <span style="padding:0;white-space: nowrap;"> <label for="rating2" style=""> <input type="radio" name="ratingIndicator" value="2" id="rating2"> <span style="font-size:17px; line-height:23px; color:##starColor##" class="stars">★★</span> </label>
                </span> <span style="padding:0;white-space: nowrap;"> <label for="rating1" style=""> <input type="radio" name="ratingIndicator" value="1" id="rating1"> <span style="font-size:17px; line-height:23px; color:##starColor##" class="stars">★</span> </label>
                </span>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="color: ##textColor## !important;"> <br> ##labelTitleOfReview## </td>
        </tr>
        <tr>
            <td colspan="3">
                <ul style="margin:0;padding:0;"> <input type="text" name="reviewTitle" ##rtl## required style="font-size: 1em; padding-left: 3px; min-height: 30px; width: 99%; border: solid 1px #bababa; font-weight: lighter; font-family: inherit;"> </ul>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="color: ##textColor## !important;"> <br> ##labelCommentOfReview## </td>
        </tr>
        <tr>
            <td colspan="3">
                <ul style="margin:0;padding:0;"> <textarea name="reviewMessage" required ##rtl## rows="5" cols="75" style="font-size: 1em; padding-left: 3px; min-height: 60px; width: 99%; border: solid 1px #bababa; font-weight: lighter; font-family: inherit;"></textarea> <br />
                    <p class="red">##reviewMessageError##</p>
                </ul> <br />
                <div>##customForm##</div>
<
                <div class="##hideLabelReviewAnonymously##"> <br /> <input id="reviewAnonymously" type="checkbox" name="reviewAnonymously" value="true" /> <label for="reviewAnonymously" style="display:initial; font-weight:normal;color: ##textColor## !important;">##labelReviewAnonymously##</label> <br /><br /> </div>
            </td>
        </tr>
    </table> <input type="hidden" name="guid" value="##guid##"> <input type="hidden" name="shop" value="##shopId##">
    <table width="100%" style="mso-hide:all;width:100%;" class="table hideOutlook">
        <tbody style="display: block;">
            <tr style="display: block;">
                <td valign="top" align="center" style="display: block;"> <input type="submit" value="##labelPublishReviewButton##" style="background-color: ##submitBackgroundColor##; color: ##submitColor##; background-image: -webkit-linear-gradient(top, rgba(3,3,3,0.15) 0%, rgba(255,255,255,0.08) 100%); backgrowund-image: -moz-linear-gradient(top,rgba(3,3,3,0.15) 0%, rgba(255,255,255,0.08) 100%); background-image: -ms-linear-gradient(top,rgba(3,3,3,0.15) 0%, rgba(255,255,255,0.08) 100%); background-image: -o-linear-gradient(top,rgba(3,3,3,0.15) 0%, rgba(255,255,255,0.08) 100%); background-image: linear-gradient(to top,rgba(3,3,3,0.15) 0%, rgba(255,255,255,0.08) 100%); padding: 9px 22px; height: initial; font-size: 16px; border:1px solid #777;border-radius: 4px; margin:auto;" ##disabledbutton##> </td>
            </tr>
        </tbody>
    </table>
</form>
<!--<![endif]-->
##outlookButton##
                            {% assign found = false %}
                            {% for product in order.products %}
                            {% if product.title != order.featured_product_title %}
                            {% assign found = true %}
                            {% endif %}
                            {% endfor %}

                            {% if found == true %}
                            <div align="center">
                                <h2 style="color: {{text_color}} !important;text-align: center;">{{label_title_multiple_products}}</h2>
                                <div style="color: {{text_color}} !important;">
                                    <table width="500" class="responsive-table">
                                        <tbody>

                                            {% for product in order.products %}
                                            {% if product.title != order.featured_product_title %}
                                            <tr>
                                                <td width="50%" style="text-align:center;"><img src="{{product.image_url}}" width="120" style="max-width:120px;" alt="{{product.title}}"></td>
                                                <td align="left" valign="center">
                                                    <span style="font-size:13px;"> {{product.title}} </span> <br>
                                                    <br>
                                                    <table style="float:left;">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding:0;margin:0;text-align:right;font-size: 12px;background-color: {{ submit_background_color }}; padding: 8px 15px; height: initial; border-radius: 4px; margin: 0px; -webkit-appearance: none; -moz-appearance: none; appearance: none;">
                                                                    <div style="color:{{submit_color}};">
                                                                        <a href="{{product.url}}#stamped-main-widget" style="text-decoration:none; font-weight: normal; color: {{submit_color}} !important; ">
                                                                            <span style="color:{{submit_color}};">{{label_write_review}}</span>
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}

                                        </tbody>

                                    </table>
                                </div>
                            </div>
                            {% endif %}

                            {% if order.recommendations != empty %}
                            <div>
                                <div style="position:relative; background:{{background_color}}; max-width:600px; text-align:center; margin: auto;" align="center">
                                    <br>
                                    <h2 style="color: #444444 !important;text-align: center;">{{label_title_recommended_products}}</h2>
                                    <table width="500" style="width:500px;" class="responsive-table">
                                        <tbody>
                                            <tr>
                                                {% for product in order.recommendations %}
                                                <td align="center" style="text-align:center;" valign="middle" width="160"><a href="{{product.url}}" style="color:{{link_color}}"><img src="{{product.image_url}}" width="160" alt="{{product.title}}" /></a></td>
                                                {% endfor %}
                                            </tr>
                                            <tr>
                                                {% for product in order.recommendations %}
                                                <td align="center" style="text-align:center;" valign="top"><a href="{{product.url}}" style="color: {{link_color}} !important; display: block; font-size:14px; margin-top: 10px;">{{product.title}}</a></td>
                                                {% endfor %}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {% endif %}

                            <br />

                            <div class="{{hide_online}}">
                                <div align="center" style="text-align:center; background:{{background_color}}; max-width:600px;">
                                    <br />
                                    <strong style="color: {{text_color}} !important;">{{label_trouble_with_form}}</strong><br>
                                    <a href="{{review_url}}" target="_blank" style="color: {{link_color}};">{{label_review_online_link_text}}</a><br>
                                    <br>
                                    <div class="##hideLabelOrderDetails##">
                                        <strong style="color: {{text_color}} !important;">{{label_order_information}}</strong> <br />
                                        <a href="{{order_status_url}}" target="_blank" style="color: {{link_color}};">{{label_order_information_link_text}} {{order.number}}</a>
                                    </div>
                                </div>
                            </div>


                            <div align="center" style="background:{{background_color}};color: {{text_color}} !important;">
                                <div style="margin: auto;">
                                    <br />
                                    <br />
                                    <p style="text-align: center;">
                                        {% if shop.facebook_url != null and shop.facebook_url != "" %}
                                        <a href="{{shop.facebook_url}}" target="_blank" style="text-decoration:none;">
                                            <img src="https://stamped.io/images/facebook_icon{{grey_scale_icon}}.png" width="50" alt="Facebook">
                                        </a>
                                        &nbsp;&nbsp;
                                        {% endif %}

                                        {% if shop.instagram_url != null and shop.instagram_url != "" %}
                                        <a href="{{shop.instagram_url}}" target="_blank" style="text-decoration:none;">
                                            <img src="https://stamped.io/images/instagram_icon{{grey_scale_icon}}.png" width="50" alt="Instagram">
                                        </a>
                                        &nbsp;&nbsp;
                                        {% endif %}

                                        {% if shop.twitter_url != null and shop.twitter_url != "" %}
                                        <a href="{{shop.twitter_url}}" target="_blank" style="text-decoration:none;">
                                            <img src="https://stamped.io/images/twitter_icon{{grey_scale_icon}}.png" width="50" alt="Twitter">
                                        </a>
                                        &nbsp;&nbsp;
                                        {% endif %}

                                        {% if shop.pinterest_url != null and shop.pinterest_url != "" %}
                                        <a href="{{shop.pinterest_url}}" target="_blank" style="text-decoration:none;">
                                            <img src="https://stamped.io/images/pinterest_icon{{grey_scale_icon}}.png" width="50" alt="Pinterest">
                                        </a>
                                        &nbsp;&nbsp;
                                        {% endif %}

                                        {% if shop.youtube_url != null and shop.youtube_url != "" %}
                                        <a href="{{shop.youtube_url}}" target="_blank" style="text-decoration:none;">
                                            <img src="https://stamped.io/images/youtube_icon{{grey_scale_icon}}.png" width="50" alt="Youtube">
                                        </a>
                                        {% endif %}
                                    </p>
                                    <br />
                                </div>
                            </div>



                            <br />
                            <div class="{{hide_online}}">
                                <div style="color:#ccc !important;max-width:600px;" align="center"><a href="https://stamped.io/unsubscribe?email={{customer.email}}&guid={{guid}}" target="_blank" style="color:#ccc !important;">{{label_unsubscribe_text}} {{label_unsubscribe_link_text}}</a></div>
                                <br />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>