<style>
  .shop-page-wrapper{
    width:60%;
    margin: 4% auto;
  }
  .ggp-fullwidth {
    width: 100%;
  }
  .ggp-fullwidth-inner {
    width: 100%;
    height: 500px;
    background: #ccc;
    background: url('https://cdn.shopify.com/s/files/1/0026/2599/4801/files/K104088-K106065-HM10099-10152021-03-_1_2.png?v=1640343170') center center no-repeat;
    background-size: cover;
    display:grid;
    align-items:center;
  }

  .banner_text{
    color: #fff;
    font-family: Brawler;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 48px;
    margin-left: 4%;
    text-align: center;
    width: 50%;
  }
  .head{
    margin:5rem 8rem;
  }
  .head .heading-text{
    font-size:24px!important;
    font-weight: 400;
    text-align:center;
  }
  .how{
    font-size:24px;
    font-weight: 400;
    text-align:center;
  }
  .describe{
    text-align:center;
  }
  .tips{
    display: flex;
    flex-direction: row;
    margin:5rem 0;
  }
  .tips > div{
       width: 100%;
    margin:0 1rem;
  }
  .shop-page-wrapper .tips .Tip:before{
    left:10%;
  }
  .shop-page-wrapper .tips .Tip.first:before{
    content: '1';
  }
  .shop-page-wrapper .tips .Tip.second:before{
    content: '2';
  }
  .shop-page-wrapper .tips .Tip.third:before{
    content: '3';
  }
  .questions{
    text-align:center;
  }
  .questions .dev_question p{
    cursor:pointer;
  }
  @media(max-width: 650px) {
    .shop-page-wrapper{
      width:80%;
    }
    .head{
      margin:2rem 0;
    }
    .banner_text{
      width:100%;
      margin:0;
      font-size: 36px;
    }
    .banner_text-container{
      padding: 40% 0 0 0;
    }
    .ggp-fullwidth-inner {
      height: 400px;
      background: url('https://cdn.shopify.com/s/files/1/0026/2599/4801/files/K104088-K106065-HM10099-10152021-03-_1_3.png?v=1640343169') top center no-repeat;
      background-size: 100%;
    }
    .tips{
      flex-wrap: wrap;
    }
    .tips > div{
      margin:1rem 0;
    }
  }
</style>
<div class="ggp-fullwidth">
  <div class="ggp-fullwidth-inner">
    <div class="banner_text-container">
      <h1 class="banner_text">BUY NOW, <br>PAY LATER WITH</h1>
    </div>

  </div>
</div>

<div class="shop-page-wrapper">

<div class="head">
  <h2 class="heading-text">
    NOW, WHEN YOU CHOOSE SHOP PAY AT CHECKOUT, YOU CAN SPLIT YOUR PURCHASE INTO 4 EQUAL, 0% INTEREST INSTALLMENT PAYMENTS—WITH NO ADDITIONAL, HIDDEN, OR LATE FEES.*
  </h2>
</div>

<div class="content">
    <p class="how">HOW IT WORKS</p>
    <p class="describe">
      Your first payment will either be due at checkout or 2 weeks after your purchase. The next 3 remaining installments will be automatically charged to your card saved on Shop Pay every 2 weeks. And don’t worry, you’ll get an email reminder before each payment to keep you in the know.
    </p>
    <div class="tips">
      <div class="Tip first">
        <p>add items to your shopping bag</p>
      </div>
      <div class="Tip second">
        <p>check out with</p>
        <img src="{{ 'shop-pay.svg' | asset_url }}" alt="">
      </div>
      <div class="Tip third">
        <p>
          choose to pay
          in 4 installments
        </p>
      </div>
    </div>

    <div class="questions">
      <div class="dev_question">
        <p><strong>+ WHAT IS THE OPTION TO PAY IN INSLALLMENTS ON SHOP PAY?</strong></p>
        <div class="dev_answer">
          <p>
            When checking out with Shop Pay, you now have the option to pay now or later.
            Paying in installments on Shop Pay allows you to split your purchase amount into
            4 equal, biweekly installment payments—with 0% interest, no hidden or late fees, and no impact on your credit score.*
            In some instances, your first payment is due when you make your purchase; otherwise, your first payment is due 2 weeks after your purchase.
          </p>
        </div>
      </div>
      <div class="dev_question">
        <p><strong>+ WHICH PAYMENT METHODS ARE ACCEPTED IF I USE THE OPTION TO PAY IN INSTALLMENTS ON SHOP PAY?</strong></p>
        <div class="dev_answer">
          <p>
            The installments option on Shop Pay is available on debit and credit cards.
          </p>
        </div>
      </div>
      <div class="dev_question">
        <p><strong>+ ARE THERE LATE FEES?</strong></p>
        <div class="dev_answer">
          <p>
            No, there are no late fees if you miss a scheduled payment.
          </p>
        </div>
      </div>
      <div class="dev_question">
        <p><strong>+ WHAT IF I MAKE A RETURN ON A PURCHASE MADE THROUGH INSTALLMENTS WITH SHOP PAY?</strong></p>
        <div class="dev_answer">
          <p>
            If we process a refund, the refunded amount will be returned to your original payment method within 3-10 business days, and your balance will
            be updated.<br/>

            If your refund is less than your total purchase balance, it might not lower your next payment. Instead, you can expect fewer payments, a smaller final payment, or both.<br/>

            If your refund is more than your purchase balance, the difference will be returned to your original payment method within 3-10 business days.
          </p>
        </div>
      </div>

    </div>

  </div>
</div>



