<style>
  .pa-loader {
    position: fixed;
    background: rgba(255, 255, 255, 0.6);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .pa-loader .pa-spinner {
    width: 52px;
    height: 52px;
    border: 4px solid #cccccc;
    border-radius: 50%;
    animation: pa-spin 460ms infinite linear;
    -o-animation: pa-spin 460ms infinite linear;
    -ms-animation: pa-spin 460ms infinite linear;
    -webkit-animation: pa-spin 460ms infinite linear;
    -moz-animation: pa-spin 460ms infinite linear;
    border-color: #555555 #cccccc;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -26px;
    margin-top: -26px;
  }
  .pa-loader .title-text {
    position: absolute;
    text-align: center !important;
    top: 56%;
    width: 100%;
  }
  @keyframes pa-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes pa-spin {
    from {
      -o-transform: rotate(0deg);
    }
    to {
      -o-transform: rotate(360deg);
    }
  }
  @-ms-keyframes pa-spin {
    from {
      -ms-transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes pa-spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-moz-keyframes pa-spin {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }
</style>
<div class="rte max-site-width px2 lg--up--px3">
  <div
    id="wk_bidding_details"
    cust="{{ customer.id }}"
    page="{{ page.handle }}"
    style="min-height: 280px"
  ></div>
</div>
<div class="pa-loader">
  <div class="pa-spinner"></div>
  <div class="title-text">Please Wait...</div>
</div>

