<style>
  
  body {
    overflow-x: hidden
  }
  
  .ggp-fullwidth {
  	width: 100%;
  }
  
  .ggp-fullwidth-inner {
  	width: 100%;
    height: 500px;
    background: #ccc;
    background: url('https://cdn.shopify.com/s/files/1/0026/2599/4801/files/DSCF9677_1.png?v=1637748204') center center no-repeat;
    background-size: cover;
    display:grid;
    align-items:center;
  }

  .banner_text{
    font-family: Brawler;
    font-weight: 400;
    text-transform: uppercase;
    font-size:52px;
    margin-left:4%;
  }
  .ggp-padding-width {
  	padding: 0 40px;
  }
  
  .ggp-describer {
	margin-top: 40px;
  }
  
  .ggp-pic-sm {
    width: 100%;
    height: 400px;
/*     background: #ccc; */
    margin-top: 40px;
  }
  
  .ggp-menu {
  	margin-top: 40px;
    list-style-type: none;
  }
  
  .ggp-menu li {
/*   	font-weight: 600; */
  }
  
  .ggp-menu.fixed {
  	position: fixed;
    top: 80px
  }
  
  .ggp-right {
  	position: relative;
    width: 400px;
    display: none;
  }
  
  .ggp-wrapper {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .product-holder {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0;
    align-items: center;
    justify-content: space-between;
  }
  .product-holder.text--right {

  }
  .product-holder.text--left {

  }

  .product-holder:first-child{
    margin:0 0;
  }
  
  .product-description-price {
  	float: left;
    font-size:28px;
    text-align:center;
    font-weight: 500;

  }
  
  .product-description-price.__toright {
  	float: right;
  }
  .product-image-container{
    width:50%;
  }
  .product-img {
  	width: 100%;
  }
  
  .product-description {
  	width: 37%;
  }
  .product-description-bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
  }
  
  .product-img img {
/* 	width: 80%; */
    margin: 0 auto;
  }

  .product-description--heading {
  	font-weight: bold;
    margin-bottom: 35px;
  }
  .product-description--text{
    margin-bottom:2rem;
  }
  .product-description-divider {
  	height: 3px;
    background: #181818;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .product-description-btn {
    float: left;
    background-color:  #181818;
    color:#f7f3ef;
    padding: 5px 40px;
    line-height: 35px;
    text-align: center;

  }
  
  .product-description-btn.__toright {
    float: right;
    margin-right: 50px;
  }
  
  .__img-m {
    display: none;
  }
  .bottom-text-container{
    text-align: center;
    margin: 4rem 0 2rem 0;
  }
  .bottom-text-container p {
    font-weight: 700;
    font-size: 26px!important;
  }
  @media(max-width: 950px) {
    .banner_text-container{
      display:none;
    }
    .ggp-fullwidth-inner {
      height: 400px;
      background: url('https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Frame_9.png?v=1637320376') top center no-repeat;
      background-size: 100%;
    }
    
    .__mob-mt-20 {
      margin-top: 20px;
    }
    
    .ggp-describer,
    .product-description {
      padding: 0 20px
    }
    
    .product-description-price.__toright,
    .product-description-btn.__toright {
      float: none;
      display: block
    }
    
    .product-grid-item {width: 100%;}
    .ggp-right {display: none;}
    .ggp-pic-sm {background-size: 100%; height: 100px}
/*     .ggp-fullwidth-inner {height: 180px} */
    .ggp-pic-sm-gc {background-size: cover;height: 300px;}
    
    .product-holder {
      width: 100%;
      display: flex;
    }
    
    .product-img,
    .product-image-container,
    .product-img img,
    .product-description {
      width: 100%;
    }
    
    .product-img img {
      height: auto;
      width: auto;
      margin: 0 auto;
      display: block;
    }
    .product-image-container{
      margin-bottom:2rem;
    }
    .product-holder.text--left .product-description{
      order:2;
    }
    .product-holder.text--left .product-image-container{
      order:1;
    }
    #statement {
      padding: 0;
    }
    
    .product-description-price {
      width: 90%;
      text-align:right;
      float: none;
    }
    
    .product-description-btn {
      float: none;
      margin: 0 auto;
      display: block;
      width: 80%;
      padding: 0;
      text-align: center;
    }
    .bottom-text-container p{
      font-size:18px!important;
    }
    
    .__img-m-h {
      display: none;
    }
    
    .__img-m {
      display: block;
    }
    

  }

</style>

<div class="ggp-fullwidth">
  <div class="ggp-fullwidth-inner">
    <div class="banner_text-container">
      <h1 class="banner_text">German’s pick</h1>
    </div>

  </div>
</div>

<div class="ggp-wrapper">

  <div id="statement" class="ggp-padding-width">

    <div class="product-holder text--right">
        <div class="product-image-container">
          <div class="product-img">
            <picture>
              <source class="desktop" media="(min-width:465px)" srcset="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_46.png?v=1637580193">
              <source class="mobile"  media="(max-width:465px)" srcset="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_46.png?v=1637320248">
              <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_46.png?v=1637580193" alt="Flowers" style="width:100%;">
            </picture>
          </div>
        </div>

          <div class="product-description">
            <div class="product-description--text">
              A fluid silver pendant that has been crafted from a rich purple amethyst.
              A line of jewels trails along the center with a piercing definition that is both raw and forceful.
              Black rhodium creates a hypnotic dark embrace for this jewel.
            </div>
            <div class="product-description-bottom">
              <div class="product-description-price">- $2,050</div>
              <a class="product-description-btn" href="/products/ec30128-lys-amethyst-pendant">SEE DETAILS</a>
            </div>

          </div>
        </div>
    <div class="product-holder text--left">
      <div class="product-description">
          <div class="product-description--text">
            A black rhodium necklace that harnesses true mystery and expression.
            Dynamic shape and form are crafted in a cyclical shape to capture a series of rough spinels,
            amethysts and orange sapphires. They cluster together in colorful abundance.
          </div>
          <div class="product-description-bottom">
            <div class="product-description-price">- $1,240</div>
            <a class="product-description-btn" href="/collections/all/products/ec50035-liki-spinel-necklace">SEE DETAILS</a>
          </div>

        </div>
      <div class="product-image-container">
        <div class="product-img">
          <picture>
            <source class="desktop" media="(min-width:465px)" srcset="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_47.png?v=1637320249">
            <source class="mobile"  media="(max-width:465px)" srcset="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_57_e5e395b5-9cce-417c-9964-52941d6a33a1.png?v=1637583756">
            <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_47.png?v=1637320249" alt="Flowers" style="width:100%;">
          </picture>
        </div>
      </div>

    </div>
    <div class="product-holder text--right">
      <div class="product-image-container">
        <div class="product-img">
          <picture>
            <source class="desktop" media="(min-width:465px)" srcset="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_48.png?v=1637320249">
            <source class="mobile"  media="(max-width:465px)" srcset="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_58.png?v=1637321162">
            <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_48.png?v=1637320249" alt="Flowers" style="width:100%;">
          </picture>
        </div>
      </div>

      <div class="product-description">
        <div class="product-description--text">
          Rough volcanic texture is married with raw spinel gemstones.
          Gleaming gold tendrils snake their path around the jewels offering a gilded eternal frame.
          Black rhodium has been harnessed to create a necklace of organic beauty.
        </div>
        <div class="product-description-bottom">
          <div class="product-description-price">- $1,110</div>
          <a class="product-description-btn" href="/collections/all/products/ec50037-evo-spinel-necklace">SEE DETAILS</a>
        </div>

      </div>
    </div>
    <div class="product-holder text--left">
      <div class="product-description">
        <div class="product-description--text">
          A glimmering gold bangle with abundant yellow decadence.
          Its central yellow sapphire has within it all the glory and vivacity of sunlight
          and it pours it forth in a circular expression of beauty and natural organic grace.
        </div>
        <div class="product-description-bottom">
          <div class="product-description-price">- $1,160</div>
          <a class="product-description-btn" href="/collections/all/products/ec40054-maris-sapphire-bangle">SEE DETAILS</a>
        </div>

      </div>
      <div class="product-image-container">
        <div class="product-img">
          <picture>
            <source class="desktop" media="(min-width:465px)" srcset="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_49_1.png?v=1637320249">
            <source class="mobile"  media="(max-width:465px)" srcset="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_59.png?v=1637321162">
            <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_49_1.png?v=1637320249" alt="Flowers" style="width:100%;">
          </picture>
        </div>
      </div>

    </div>
    <div class="product-holder text--right">
      <div class="product-image-container">
        <div class="product-img">
          <picture>
            <source class="desktop" media="(min-width:465px)" srcset="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_50.png?v=1637320249">
            <source class="mobile"  media="(max-width:465px)" srcset="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_60.png?v=1637321162">
            <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_50.png?v=1637320249" alt="Flowers" style="width:100%;">
          </picture>
        </div>
      </div>

      <div class="product-description">
        <div class="product-description--text">
          A large citrine gemstone with bright warm light emanates from the centre of this black rhodium ring.
          A special yellow sapphire sits on the side with raw beauty and natural form.
          Trimming around the edge is a line of black spinel gemstones.
        </div>
        <div class="product-description-bottom">
          <div class="product-description-price">- $860</div>
          <a class="product-description-btn" href="/collections/all/products/ec10247-akana-citrine-and-yellow-sapphire-and-black-spinel-ring">SEE DETAILS</a>
        </div>

      </div>
    </div>
    <div class="product-holder text--left">
      <div class="product-description">
        <div class="product-description--text">
          Natural pleats and folds in the metallic black rhodium encase a teardrop purple amethyst.
          Striking dots of pretty blue sapphire add to a pendant that will create a dazzlingly feminine effect.
          Black rhodium lines snake around to complete the design.
        </div>
        <div class="product-description-bottom">
          <div class="product-description-price">- $1,1020</div>
          <a class="product-description-btn" href="/collections/all/products/ec30010-ianthe-amethyst-pendant">SEE DETAILS</a>
        </div>

      </div>
      <div class="product-image-container">
        <div class="product-img">
          <picture>
            <source class="desktop" media="(min-width:465px)" srcset="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_51_1.png?v=1637320249">
            <source class="mobile"  media="(max-width:465px)" srcset="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_61.png?v=1637321162">
            <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_51_1.png?v=1637320249" alt="Flowers" style="width:100%;">
          </picture>
        </div>
      </div>

    </div>
    <div class="product-holder text--right">
      <div class="product-image-container">
        <div class="product-img">
          <picture>
            <source class="desktop" media="(min-width:465px)" srcset="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_46_1.png?v=1637750079">
            <source class="mobile"  media="(max-width:465px)" srcset="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_49_1_05664079-1f5c-4a21-ba97-2458cfd7713f.png?v=1637749344">
            <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_46_1.png?v=1637750079" alt="Flowers" style="width:100%;">
          </picture>
        </div>
      </div>

      <div class="product-description">
        <div class="product-description--text">
          A circular natural form this pendant is crafted from black rhodium.
          It is perforated with glittering rough rubies and has a trim of black spinels around its central feature.
          The surface offers both texture and light in abundance.
        </div>
        <div class="product-description-bottom">
          <div class="product-description-price">- $1,1020</div>
          <a class="product-description-btn" href="/collections/all/products/ec30058-mirel-ruby-and-black-spinel-pendant">SEE DETAILS</a>
        </div>

      </div>
    </div>
    <div class="product-holder text--left">
      <div class="product-description">
        <div class="product-description--text">
          Curving naturally with grooved undulations on its white rhodium surface this bangle offers a commentary on the natural
          state of beauty. Dotted with stunning mixed tourmalines they create a spark of color on their precious metal surface.
        </div>
        <div class="product-description-bottom">
          <div class="product-description-price">- $1,160</div>
          <a class="product-description-btn" href="/collections/all/products/ec40039-alvie-tourmaline-bangle">SEE DETAILS</a>
        </div>

      </div>
      <div class="product-image-container">
        <div class="product-img">
          <picture>
            <source class="desktop" media="(min-width:465px)" srcset="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_53.png?v=1637576714">
            <source class="mobile"  media="(max-width:465px)" srcset="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_63_1.png?v=1637321162">
            <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_53.png?v=1637576714" alt="Flowers" style="width:100%;">
          </picture>
        </div>
      </div>

    </div>
    <div class="product-holder text--right">
      <div class="product-image-container">
        <div class="product-img">
          <picture>
            <source class="desktop" media="(min-width:465px)" srcset="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_47_b652f51f-078e-4b5e-b856-1a346fb977ed.png?v=1637749344">
            <source class="mobile"  media="(max-width:465px)" srcset="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_48_5b610c70-0ff4-4efc-9465-3d2c678dacd9.png?v=1637749344">
            <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_47_b652f51f-078e-4b5e-b856-1a346fb977ed.png?v=1637749344" alt="Flowers" style="width:100%;">
          </picture>
        </div>
      </div>

      <div class="product-description">
        <div class="product-description--text">
          Snaking with dramatic confidence this white rhodium necklace creates visual impact.
          Perforated with green tourmalines which create colorful contrast agains the precious metal it has an organic and fluid beauty all its own.
        </div>
        <div class="product-description-bottom">
          <div class="product-description-price">- $860</div>
          <a class="product-description-btn" href="/collections/all/products/ec50016-meltia-green-tourmaline-necklace">SEE DETAILS</a>
        </div>

      </div>
    </div>
    <div class="product-holder text--left">
      <div class="product-description">
        <div class="product-description--text">
          A barrel shaped white rhodium ring that is both structured and revealing.
          Yellow and green sapphires push through thier light with a powerful vivacity that is truly enchanting.
          Lines of wreath like precious metal blend together to hold these treasures close.
        </div>
        <div class="product-description-bottom">
          <div class="product-description-price">- $820</div>
          <a class="product-description-btn" href="/collections/all/products/ec10640-cressa-sapphire-ring">SEE DETAILS</a>
        </div>

      </div>
      <div class="product-image-container">
        <div class="product-img">
          <picture>
            <source class="desktop" media="(min-width:465px)" srcset="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_55.png?v=1637320249">
            <source class="mobile"  media="(max-width:465px)" srcset="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_65.png?v=1637321162">
            <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_55.png?v=1637320249" alt="Flowers" style="width:100%;">
          </picture>
        </div>
      </div>

    </div>

    <div class="bottom-text-container">
      <p>
        SPEND $700 – GET $110 GIFT CARD<br/>
        SPEND $1000 – GET $150 GIFT CARD<br/>
        SPEND MORE THAN $2000 – GET $200 GIFT CARD
      </p>
    </div>

  </div>

</div>