<style>
  .ggp-fullwidth {
  	width: 100%;
  }
  .img-desktop{
    width:100%;
    display:block;
  }
  .img-mobile{
    display:none;
  }
  .ggp-pic-sm-statement,
  .ggp-pic-sm-delicate,
  .ggp-pic-sm-gold-plating,
  .ggp-pic-sm-halloween,
  .ggp-pic-sm-xmas,
  .ggp-pic-sm-under,
  .ggp-pic-sm-gc {
    background-size: 100%;
  }
  .ggp-padding-width {
  	padding: 0 40px;
  }
  .ggp-describer {
	margin-top: 40px;
  }
  .ggp-pic-sm {
    width: 100%;
    height: 100%;
    margin-top: 40px;
  }
  ul{
    margin:0;
    padding: 0;
  }
  .ggp-menu {
  	margin-top: 40px;
    list-style-type: none;
  }
  .ggp-menu
  .active::after{
    display: block;
    content: "";
    height:2px;
    background:black;
    width: 60%;
  }
  .ggp-menu li {
/*   	font-weight: 600; */
  }
  .ggp-menu.fixed
  {
  	position: fixed;
    top: 80px
  }

  .ggp-wrapper
  {
    display: block;
    max-width: 1800px;
  }
  .ggp-pic-sm-gc-container
  {
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 100%;
  }
  .shop-section{
    margin-top:4rem;
  }
  .shop-section--header{
    font-family: Brawler;
    font-size: 24px!important;
    font-weight: 400;
    text-align: center;
  }
  .absolute-button {

    display: inline-block;
    margin-bottom:4rem;
    width: 200px;
    background: none;
    border: 1px solid #000;
    color: #000;
    position:absolute;
    bottom:0;
    right:5%;
  }
  .image-text
  {

    min-width: 35%;
    width: 354px;
    position:absolute;
    bottom:0;
    left:5%;
    display:inline-block;
    text-align: center;
    padding-bottom: 4rem;
    color: #000000;
  }
  /*
  @media only screen and (max-device-width: 480px) {*/
  /*  !* styles for mobile browsers smaller than 480px; (iPhone) *!*/
  /*}*/
  /*@media only screen and (device-width: 768px) {*/
  /*  !* default iPad screens *!*/
  /*}*/
  /*!* different techniques for iPad screening *!*/
  /*@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {*/
  /*  !* For portrait layouts only *!*/
  /*}
  */
  .product-grid-item img{
    width:100%;
  }
  @media(max-width: 460px)  {
   .grid .product-grid-item {width: 100%;}
  }

  /*@media only screen and (min-width:460px) and (max-width: 950px)  {*/
  /*  !* For portrait layouts only *!*/
  /*  .sm--one-half {width: 50%;}*/
  /*}*/

  @media(max-width: 950px)
  {

    .ggp-right {display: none;}
    .ggp-pic-sm {background-size: 100%; height: 100%}
    .ggp-pic-sm-gc {background-size: cover;height: 100%;}
    .px2{
      padding: 0;
    }
    .img-desktop{
      display:none;
    }
    .img-mobile{
      display:block;
    }
    .absolute-button {
      display: none;
      margin-bottom: 2rem;
      left: 0;
      width: 150px;
    }
    .image-text {
      display: none;
      top: 25px;
      padding: 0;
      font-size: 11px;
      width: 213px;
      min-width: 50%;
      text-align: center;
    }
  }
  .section-top{
    margin:6rem 0;
  }

  .border-btn {
    margin:0 auto;
    border: 1px solid #000;
    color: #000;
  }
</style>

<style>
  /*styles from press*/
  .grid-2 {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .g-blog-section-head h2{
    font-weight: 700;
    font-family: Roboto;
    font-size:24px!important;
    text-transform: capitalize;

  }
  .grid-2 .g-s-img {
    width:100%;
    padding:0;
  }
  .grid-2 > .g-s-img div{
    padding:0!important;
  }
  .g-s-img img{
    padding:0!important;
  }
  .g-blog-img .g-s-img div{
    padding:2px;
  }
  .g-blog-section-head {
    width:80%;
  }
  .g-blog-section-head p{
      width: 100%;
    font-size: 20px!important;
  }
  @media(min-width: 1100px) {
    .g-blog-section-head {
      width:520px;
    }
  }
  @media(max-width: 950px) {
    .blog-grid{
      grid-template-columns: repeat(1, 1fr );
    }
    .g-blog-section-head .button-block{
      margin-bottom:0;
    }
  }
  .blog-f-img{
    position:relative;
  }
  .header-title {
    position:absolute;
    left:128px;
    top:35%;
  }
  .header-title h3{
    font-family: "Prospectus Pro S";
    font-weight: 400;
    font-size:35px;
  }
  .button-block{
    width: 60%;
    margin: 3rem auto;
  }
  .button-block a{
   display:block;
  }
  .line{
    height:1px;
    max-width:60%;
    margin:0 auto;
    background: #000;
  }
  .big-image img{
    width:100%;
  }
  .square-img{
    margin:1rem 0;
  }
  .blog-grid_container{
    font-family: Roboto;
    font-size:18px;
    display:grid;
    grid-row-gap: 2rem;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-template-rows:auto;
    margin:2rem auto;
  }
  .blog-grid_container .default-content {
    display: grid;
    align-items: center;
    justify-items: center;
  }


  .btn-border{
    background: #f7f3ef;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #000;
    padding: 11px 20px 8px;
    font-size: 16px;
  }
  @media(max-width: 520px) {

    .default-content{
      padding:0 20px;
    }
    .blog-grid_container{
      max-width:100%;
    }
    .g-blog-section-head {
      width: 100%;
    }
  }
  /*for iphone 5*/
  @media(max-width: 360px) {
    .ggp-padding-width {
      padding: 0 10px;
    }
  }
</style>


<div class="ggp-fullwidth">
  <div class="ggp-fullwidth-inner">
    <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_40-min.jpg?v=1623447737" class="img-mobile" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Group_38-min.jpg?v=1623447737" alt="" class="img-desktop">
  </div>
</div>

<div class="ggp-wrapper">

  <div class="ggp-left">
    <div class="section-top ggp-padding-width">
      <div class="text-block">
        <p>
          The pursuit of knowledge makes us who we are – something important with a devilishness inside. Just like a collection of men's jewelry.
        </p>
        <p>
          They are so important...only at first glance.
        </p>
      </div>
      <a class="btn p1 block btn-max caps border-btn" href="/collections/special-selection-for-men">SHOP THE COLLECTION</a>
    </div>
    <div class="first-block ggp-padding-width">
      <div class="blog-grid_container mini-version ">
        <div class="big-image left">
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/188985310_114624450697271_157495481794519799_n_1_-min.jpg?v=1623419506">
        </div>
        <div class="default-content">
          <div class="g-blog-section-head">
            <h2> Fisara Sapphire Ring</h2>
            <p>
              Handcrafted with a pretty latticework of precious metal this stunning ring has an essence of magic.
              Scattered along its curves are glistening blue sapphires.
              They twinkle with depth and majesty beneath their delicate cage of sinewed shapes.
            </p>
            <div class="button-block" >
              <a href="/products/hm10001-fisara-sapphire-ring" class="btn btn-border">see details</a>
            </div>

          </div>
        </div>

      </div>

      <div style="margin-top: 0" class="grid grid--uniform sm--grid--half-gutter mtn3 lg--up--mtn4">


        {% assign product = all_products['k100380-nicasia-peridot-ring'] %}
        <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
          <a class="t--list-and-grid relative" href="{{ product.url }}">
            <div class="relative">
              <div class="resp-img-wrapper">
                <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
              </div>

              <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
              <div style="font-size: 16px;">{{ product.price | money  }}</div>
            </div>
          </a>
        </div>
        {% assign product = all_products['k104097-althea-blue-topaz-ring'] %}
        <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
          <a class="t--list-and-grid relative" href="{{ product.url }}">
            <div class="relative">
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
              <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
              <div style="font-size: 16px;">{{ product.price | money  }}</div>
            </div>
          </a>
        </div>
        {% assign product = all_products['hm10001-fisara-sapphire-ring'] %}
        <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
          <a class="t--list-and-grid relative" href="{{ product.url }}">
            <div class="relative">
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
              <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
              <div style="font-size: 16px;">{{ product.price | money  }}</div>
            </div>
          </a>
        </div>
        {% assign product = all_products['k100017-perpetua-sapphire-ring'] %}
        <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
          <a class="t--list-and-grid relative" href="{{ product.url }}">
            <div class="relative">
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
              <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
              <div style="font-size: 16px;">{{ product.price | money  }}</div>
            </div>
          </a>
        </div>

      </div>

    </div>
    <div class="second-block ggp-padding-width">
      <div class="blog-grid_container mini-version ">
        <div class="default-content">
          <div class="g-blog-section-head">
            <h2> Sind Blue Sapphire Ring</h2>
            <p>
              Liquid light seems to pour forth from this black rhodium ring.
              Pleats and folds arrange themselves in a dramatic poem of mystical form.
              They capture movement and passion at its height.
              A twinkling blue sapphire adds to this esctatic symphony with its depth of colour and gorgeous tone.
            </p>
            <div class="button-block" >
              <a href="/products/k104097-althea-blue-topaz-ring" class="btn btn-border">see details</a>
            </div>

          </div>
        </div>
        <div class="big-image right">
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/175940890_816527959240070_908607405726578533_n_1-min.jpg?v=1623419506">
        </div>

      </div>

      <div style="margin-top: 0" class="grid grid--uniform sm--grid--half-gutter mtn3 lg--up--mtn4">
        {% assign product = all_products['k104161-nedrila-sapphire-ring'] %}
        <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
          <a class="t--list-and-grid relative" href="{{ product.url }}">
            <div class="relative">
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
              <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
              <div style="font-size: 16px;">{{ product.price | money  }}</div>
            </div>
          </a>
        </div>
        {% assign product = all_products['k104189-pentiama-sapphire-ring'] %}
        <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
          <a class="t--list-and-grid relative" href="{{ product.url }}">
            <div class="relative">
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
              <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
              <div style="font-size: 16px;">{{ product.price | money  }}</div>
            </div>
          </a>
        </div>
        {% assign product = all_products['k105340-arbiana-peridot-ring'] %}
        <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
          <a class="t--list-and-grid relative" href="{{ product.url }}">
            <div class="relative">
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
              <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
              <div style="font-size: 16px;">{{ product.price | money  }}</div>
            </div>
          </a>
        </div>
        {% assign product = all_products['k104165-arumis-amethyst-ring'] %}
        <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
          <a class="t--list-and-grid relative" href="{{ product.url }}">
            <div class="relative">
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
              <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
              <div style="font-size: 16px;">{{ product.price | money  }}</div>
            </div>
          </a>
        </div>

      </div>

    </div>
    <div class="third-block ggp-padding-width">
      <div class="blog-grid_container mini-version ">
        <div class="big-image left">
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/176612397_294114518943824_8198054340519589143_n-min.jpg?v=1623419506">
        </div>
        <div class="default-content">
          <div class="g-blog-section-head">
            <h2>  Nicasia Peridot Ring</h2>
            <p>
              A shining network of black rhodium lines interconnect at the apex of this sumptuous ring.
              A natural triangle shaped peridot is edge with brilliant gold to offset its beautiful color.
              There is a true majesty and grandeur to this piece of treasure.
            </p>
            <div class="button-block" >
              <a href="products/k100380-nicasia-peridot-ring" class="btn btn-border">see details</a>
            </div>

          </div>
        </div>

      </div>

      <div style="margin-top: 0" class="grid grid--uniform sm--grid--half-gutter mtn3 lg--up--mtn4">


        {% assign product = all_products['k100883-corinthia-blue-topaz-ring'] %}
        <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
          <a class="t--list-and-grid relative" href="{{ product.url }}">
            <div class="relative">
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
              <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
              <div style="font-size: 16px;">{{ product.price | money  }}</div>
            </div>
          </a>
        </div>
        {% assign product = all_products['k104111-naqua-blue-topaz-ring'] %}
        <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
          <a class="t--list-and-grid relative" href="{{ product.url }}">
            <div class="relative">
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
              <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
              <div style="font-size: 16px;">{{ product.price | money  }}</div>
            </div>
          </a>
        </div>
        {% assign product = all_products['k101081-phaedra-citrine-ring'] %}
        <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
          <a class="t--list-and-grid relative" href="{{ product.url }}">
            <div class="relative">
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
              <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
              <div style="font-size: 16px;">{{ product.price | money  }}</div>
            </div>
          </a>
        </div>
        {% assign product = all_products['k104243-invidia-peridot-ring'] %}
        <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
          <a class="t--list-and-grid relative" href="{{ product.url }}">
            <div class="relative">
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
              <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
              <div style="font-size: 16px;">{{ product.price | money  }}</div>
            </div>
          </a>
        </div>

      </div>

    </div>
    <div class="fourth-block ggp-padding-width">
      <div class="blog-grid_container mini-version ">
        <div class="default-content">
          <div class="g-blog-section-head">
            <h2>Invidia Peridot Ring</h2>
            <p>
              Freeform and fluid this ring captivates and catches the eye.
              A shining peridot gemstone at the centre offers all the beauties of the earth for the taking.
              The conflict between precious metal as it envelops the gemstone generates dazzling charm.
            </p>
            <div class="button-block" >
              <a href="/products/k104243-invidia-peridot-ring" class="btn btn-border">see details</a>
            </div>

          </div>
        </div>
        <div class="big-image right">
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/180304702_1223044024817481_7917438541133265577_n-min.jpg?v=1623419507">
        </div>

      </div>

      <div class="shop-section">
        <h2 class="shop-section--header">SHOP THE COLLECTION</h2>

        <div style="margin-top: 0" class="grid grid--uniform sm--grid--half-gutter mtn3 lg--up--mtn4">
          {% assign i = 0 %}
          {% for product in collections.special-selection-for-men.products limit: 50 %}
            {% assign i = i | plus: 1 %}
            {% if i <= 32 %}

              <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
                <a class="t--list-and-grid relative" href="{{ product.url }}">
                  <div class="relative">
                    <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
                    <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
                    <div style="font-size: 16px;">{{ product.price | money  }}</div>
                  </div>
                </a>
              </div>
            {% endif %}
          {% endfor %}

        </div>
      </div>


    </div>

  </div>
</div>


<script>
  $(window).bind('scroll', function () {
    if ($(window).scrollTop() > 550) {
      $('.ggp-menu').addClass('fixed');
    } else {
      $('.ggp-menu').removeClass('fixed');
    }
  })

  // Add active class to the current button (highlight it)
  function activeMenuItem() {
    var header = document.querySelector(".ggp-menu");
    var btns = header.querySelector(".nav-item");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
  }

  activeMenuItem()


</script>

