<style>
  
  body {
    overflow-x: hidden
  }
  
  .ggp-fullwidth {
  	width: 100%;
  }
  
  .ggp-fullwidth-inner {
  	width: 100%;
    height: 600px;
    background: #ccc;
    background: url('https://cdn.shopify.com/s/files/1/0026/2599/4801/files/25A5E374-0ACB-4D9B-B986-FD7FC0534B75_auto_x2_0aa17c73-446f-4c79-9b81-bf9a20a18efd.jpg?v=1606318809') center center no-repeat;
    background-size: cover;
  }
  
  .ggp-padding-width {
  	padding: 0 40px;
  }
  
  .ggp-describer {
	margin-top: 40px;
  }
  
  .ggp-pic-sm {
    width: 100%;
    height: 400px;
/*     background: #ccc; */
    margin-top: 40px;
  }
  
  .ggp-menu {
  	margin-top: 40px;
    list-style-type: none;
  }
  
  .ggp-menu li {
/*   	font-weight: 600; */
  }
  
  .ggp-menu.fixed {
  	position: fixed;
    top: 80px
  }
  
  .ggp-right {
  	position: relative;
    width: 400px;
    display: none;
  }
  
  .ggp-wrapper {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .product-holder {
  	display: flex;
    margin: 150px 0;
  }
  
  .product-description-price {
  	float: left;
  }
  
  .product-description-price.__toright {
  	float: right;
  }
  
  .product-img {
  	width: 50%;
    display: flex;
  }
  
  .product-description {
  	width: 50%;
  }
  
  .product-img img {
/* 	width: 80%; */
    margin: 0 auto;
    max-height: 350px;
  }
  
  .product-description-price,
  .product-description--heading {
  	font-weight: bold;
    margin-bottom: 35px;
  }
  
  .product-description-divider {
  	height: 3px;
    background: #181818;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .product-description-btn {
    float: left;
    border: 2px solid #181818;
    margin-left: 50px;
    padding: 5px 70px;
    margin-top: -10px;
  }
  
  .product-description-btn.__toright {
    float: right;
    margin-right: 50px;
  }
  
  .__img-m {
    display: none;
  }
  
  @media(max-width: 950px) {
    .ggp-fullwidth-inner {
      height: 400px;
      background: url('https://cdn.shopify.com/s/files/1/0026/2599/4801/files/2_auto_x2_57276792-b301-4642-8bbb-bf5a3866f442.jpg?v=1606388757') top center no-repeat;
      background-size: 100%;
    }
    
    .__mob-mt-20 {
      margin-top: 20px;
    }
    
    .ggp-describer,
    .product-description {
      padding: 0 20px
    }
    
    .product-description-price.__toright,
    .product-description-btn.__toright {
      float: none;
      display: block
    }
    
    .product-grid-item {width: 100%;}
    .ggp-right {display: none;}
    .ggp-pic-sm {background-size: 100%; height: 100px}
/*     .ggp-fullwidth-inner {height: 180px} */
    .ggp-pic-sm-gc {background-size: cover;height: 300px;}
    
    .product-holder {
      width: 100%;
      display: block;
    }
    
    .product-img,
    .product-img img,
    .product-description {
      width: 100%;
    }
    
    .product-img img {
      height: auto;
      width: auto;
      margin: 0 auto;
      display: block;
    }
    
    #statement {
      padding: 0;
    }
    
    .product-description-price {
      width: 100%;
      text-align: center;
      float: none;
    }
    
    .product-description-btn {
      float: none;
      margin: 0 auto;
      display: block;
      width: 100%;
      padding: 0;
      text-align: center;
    }
    
    .__img-m-h {
      display: none;
    }
    
    .__img-m {
      display: block;
    }
    

  }

</style>
<script>
$(window).bind('scroll', function () {
    if ($(window).scrollTop() > 550) {
        $('.ggp-menu').addClass('fixed');
    } else {
        $('.ggp-menu').removeClass('fixed');
    }
});
</script>

<div class="ggp-fullwidth">
  <div class="ggp-fullwidth-inner">
  </div>
</div>

<div class="ggp-wrapper">
  <div class="ggp-right">
    <ul class="ggp-menu">
      <li><a href="{{ page.url }}#statement">Statement</a></li>
      <li><a href="{{ page.url }}#delycate">Delicate</a></li>
      <li><a href="{{ page.url }}#halloween">Halloween</a></li>
      <li><a href="{{ page.url }}#christmas">Christmas</a></li>
      <li><a href="{{ page.url }}#under150">Under $150</a></li>
      <li><a href="{{ page.url }}#giftcard">Gift card</a></li>
    </ul>
  </div>
  <div class="ggp-left">
    <div id="statement" class="ggp-padding-width">
      <div class="ggp-describer">These pieces of jewelry look nothing alike. Even the combination of materials feels quite alien at first. But just look at them! They are somehow together. They are the ones who define their own limits. They are so different! Just like you.</div>
      
      <div class="product-holder">
        <div class="product-img">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/1_710218e4-2af4-42b9-9385-a021c78cc027.png?v=1605602268">
        </div>
        <div class="product-description">
          <div class="product-description--heading">Kalene Quartz Brush and Sapphire Pendant</div>
          <div class="product-description--text">Made of 18-Karat gold. 90% of which will not be seen by anybody except for your own chest, due to the fact that they are all placed on the backside of the pendant. While on the front, there is an incredible cosmic Diamond encased in a ring of tiny sapphires. </div>
          <div class="product-description-divider"></div>
          <div class="product-description-price">$2,050</div>
          <a class="product-description-btn" href="https://germankabirski.com/collections/all/products/ecg30001-kalene-sapphire-and-ruby-pendant">SEE DETAILS</a>
        </div>
      </div>
      
      <div class="product-holder">
        <div class="product-img __img-m">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/2_c08526dd-666a-4635-b201-4a49c5713dcf.png?v=1605607211">
        </div>
        <div class="product-description">
          <div class="product-description--heading">Pion Tourmaline Bangle</div>
          <div class="product-description--text">The bangle is fully covered with tourmaline gemstones. If only rhodium were softer, one could easily wrap it around their neck like a scarf. Unfortunately, rhodium is very strong, however, quite useful. It can reflect electromagnetic rays of the visible part of the spectrum. Moreover, those tourmaline gemstones on it shine with different colours. That makes it practical all over.</div>
          <div class="product-description-divider"></div>
          <div class="product-description-price __toright">$1,210</div>
          <a class="product-description-btn __toright" href="https://germankabirski.com/collections/all/products/ec40045-pion-tourmaline-bangle">SEE DETAILS</a>
        </div>
        <div class="product-img __img-m-h">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/2_c08526dd-666a-4635-b201-4a49c5713dcf.png?v=1605607211">
        </div>
      </div>
      
      <div class="product-holder">
        <div class="product-img">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/3_dbca2d14-f7cd-429b-8a26-ce1e264fdbd9.png?v=1605607231">
        </div>
        <div class="product-description">
          <div class="product-description--heading">Arral Tsavorite and Spinal Bangle</div>
          <div class="product-description--text">There was a singer from Belgium, Blanche Arral with a coloratura soprano. She had a very high-pitched voice resembling a quick flute or a violin. Similar to that, little green tsavorite gemstones are quickly scattered across the black rhodium of the bangle. The sparkling black spinel jewels are encircled to make the vocal part pristine.</div>
          <div class="product-description-divider"></div>
          <div class="product-description-price">$1,050</div>
          <a class="product-description-btn" href="https://germankabirski.com/collections/all/products/ec40052-arral-tsavorite-and-spinel-bangle">SEE DETAILS</a>
        </div>
      </div>
      
      <div class="product-holder">
        <div class="product-img __img-m">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/4_235303a4-9800-487f-aae7-07a7d94bf16e.png?v=1605607251">
        </div>
        <div class="product-description">
          <div class="product-description--heading">Vida Quartz and Sapphire Necklace</div>
          <div class="product-description--text">Three yellow sapphires on the top a a quartz rough in the middle. And all of it is quite literally dripping in gold! Just imagine it flow down the quartz, creates three sapphire drops and turns into a chain. Now turn the necklace over and put it around your neck. Imagine no more. It's time to wear it. </div>
          <div class="product-description-divider"></div>
          <div class="product-description-price __toright">$1,050</div>
          <a class="product-description-btn __toright" href="https://germankabirski.com/collections/all/products/ec50024-vida-quartz-and-sapphire-necklace">SEE DETAILS</a>
        </div>
        <div class="product-img __img-m-h">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/4_235303a4-9800-487f-aae7-07a7d94bf16e.png?v=1605607251">
        </div>
      </div>
      
      <div class="product-holder">
        <div class="product-img">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/5.png?v=1605801270">
        </div>
        <div class="product-description">
          <div class="product-description--heading">Erlyan Garnet Bangle</div>
          <div class="product-description--text">Unique Black Rhodium and sparkles of gold keep a whole crowd of little children within this bangle. How come, you may ask? It is said that according to Chinese beliefs if one eats the seeds of garnet at their wedding they multiply their offspring. But be warned! Do not chew the Garnet out of the bangle! These are not seeds. </div>
          <div class="product-description-divider"></div>
          <div class="product-description-price">$1,050</div>
          <a class="product-description-btn" href="https://germankabirski.com/collections/all/products/ec40023-erlyan-garnet-bangle">SEE DETAILS</a>
        </div>
      </div>
      
      <div class="product-holder">
        <div class="product-img __img-m">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/6.png?v=1605801270">
        </div>
        <div class="product-description">
          <div class="product-description--heading __mob-mt-20">Aerwyn Fancy Sapphire Pendant</div>
          <div class="product-description--text">What a celebration! Just read the details. There's no point describing all of that here using some fancy words. There's gold and silver, Sapphire rough and the one not so rough. There's Black Anthracite all over. A complete mosaic of everything one could possibly imagine. For you, highly enthusiastic ones.</div>
          <div class="product-description-divider"></div>
          <div class="product-description-price __toright">$1,050</div>
          <a class="product-description-btn __toright" href="https://germankabirski.com/collections/all/products/ec30028-aerwyn-mixed-sapphire-pendant">SEE DETAILS</a>
        </div>
        <div class="product-img __img-m-h">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/6.png?v=1605801270">
        </div>
      </div>
      
      <div class="product-holder">
        <div class="product-img">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/7.png?v=1605801270">
        </div>
        <div class="product-description">
          <div class="product-description--heading __mob-mt-20">Cair Sapphire Bangle</div>
          <div class="product-description--text">You are under arrest and have the right to remain silent, even if you are eager to say "I want one". 925 sterling silver, sapphires and soft and elegant lines which will make these bangles become one with you for indeed a long time.</div>
          <div class="product-description-divider"></div>
          <div class="product-description-price">$1,000</div>
          <a class="product-description-btn" href="https://germankabirski.com/products/ec40053-cair-sapphire-bangle">SEE DETAILS</a>
        </div>
      </div>
      
      <div class="product-holder">
        <div class="product-img __img-m">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/8.png?v=1605801270">
        </div>
        <div class="product-description">
          <div class="product-description--heading __mob-mt-20">Alvie Tourmaline Bangle</div>
          <div class="product-description--text">The sky above lake Loch Alvie in Inverness, Scotland looks quite similar, being reflected in it's waters. It seems to be covered with White Rhodium, but from time to time green, yellow and red tourmalines, as tiny little fish rise from the deep, breaking up the surface. I could just keep on comparing this bangle with them circles on the water forever. Or maybe I won't.</div>
          <div class="product-description-divider"></div>
          <div class="product-description-price __toright">$1,000</div>
          <a class="product-description-btn __toright" href="https://germankabirski.com/collections/all/products/ec40039-alvie-tourmaline-bangle">SEE DETAILS</a>
        </div>
        <div class="product-img __img-m-h">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/8.png?v=1605801270">
        </div>
      </div>
      
      <div class="product-holder">
        <div class="product-img">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/9.png?v=1605801270">
        </div>
        <div class="product-description">
          <div class="product-description--heading">Myne Quartz and Zircon Bangle</div>
          <div class="product-description--text">Who crumpled this bangle? Oh, i see. It's a complete piece, it was meant to be like this. It's just like you and me. Quartz Rough and White Zircon merge with the top coat of White Rhodium creating an impression that this bangle was carver from the rock just like that. But who knows. Maybe it is what really happened. </div>
          <div class="product-description-divider"></div>
          <div class="product-description-price">$950</div>
          <a class="product-description-btn" href="https://germankabirski.com/collections/all/products/ec40051-myne-quartz-and-zircon-bangle">SEE DETAILS</a>
        </div>
      </div>
      
      <div class="product-holder">
        <div class="product-img __img-m">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/10_2.png?v=1605801271">
        </div>
        <div class="product-description">
          <div class="product-description--heading">Ianthe Amethyst Pendant</div>
          <div class="product-description--text">That is the name of one of the 3000 Oceanids, by the way. The Children of the Ocean and Thetis. It was often mentioned in the world literature. By Byron, for instance, or by Percy B. Shelley - the husband of Mary Shelley the famous author of "Frankenstein: or, The Modern Prometheus" novel. It might have been an ocean wave that distorted the black rhodium, or it might be forcibly tightened by a strap between a large purple amethyst and a tiny blue sapphire dot. Just like Gothic literature goes. </div>
          <div class="product-description-divider"></div>
          <div class="product-description-price __toright">$950</div>
          <a class="product-description-btn __toright" href="https://germankabirski.com/collections/all/products/ec30010-ianthe-amethyst-pendant">SEE DETAILS</a>
        </div>
        <div class="product-img __img-m-h">
        	<img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/10_2.png?v=1605801271">
        </div>
      </div>
      
      
</div>

