<style>
  .pa-loader {
    position: fixed;
    background: rgba(255, 255, 255, 0.6);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .pa-loader .pa-spinner {
    width: 52px;
    height: 52px;
    border: 4px solid #cccccc;
    border-radius: 50%;
    animation: pa-spin 460ms infinite linear;
    -o-animation: pa-spin 460ms infinite linear;
    -ms-animation: pa-spin 460ms infinite linear;
    -webkit-animation: pa-spin 460ms infinite linear;
    -moz-animation: pa-spin 460ms infinite linear;
    border-color: #555555 #cccccc;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -26px;
    margin-top: -26px;
  }
  .pa-loader .title-text {
    position: absolute;
    text-align: center !important;
    top: 56%;
    width: 100%;
  }

  @keyframes pa-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes pa-spin {
    from {
      -o-transform: rotate(0deg);
    }
    to {
      -o-transform: rotate(360deg);
    }
  }
  @-ms-keyframes pa-spin {
    from {
      -ms-transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes pa-spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-moz-keyframes pa-spin {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }
  .banner_containner {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .describer{
    margin: 4rem auto;
    text-align: center;
    width: 60%;
  }
  .text-heading{
    font-family: Brawler;
    font-size:24px;
    margin:2rem 0;
  }
  .text-desc{
    margin-bottom:2rem;
  }
  .border-btn {
    margin:0 auto;
    border: 1px solid #000;
    color: #000;
  }
  #products-on-auction #paTabs{
    display:none;
  }
  .pa-timer{
    border:none!important;
  }
  #products-on-auction .max-width-152{
    max-width:100%;
  }
  #products-on-auction .wkcol-xs-6{
    width: 40%;
  }


  @media(max-width: 950px) {
    #products-on-auction .wkcol-xs-6{
      width:100%;
    }
    .text-heading{
      margin:0 0 2rem 0;
    }
    .banner{
      padding-top:6rem;
    }
    .describer{
      margin:2rem auto;
      width:100%;
    }
    .img-mobile{
      display:block;
    }
    .img-desktop {
      display:none;
    }
  }
</style>

<div class="banner">
  <div class="banner_containner">
    <img class="img-desktop" src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/1440_1.jpg?v=1627645319" alt="">
    <img class="img-mobile" src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/mobile-800.jpg?v=1627658055" alt="">
  </div>
</div>
<div class="wrapper max-site-width px2 lg--up--px3">
  <div class="describer">
    <h3 class="text-heading">July Birthstone Auction from the Master</h3>
    <div class="text-desc">
      <p>
        The first auction in the history of German Kabirski opens with jewelry with ruby, the stone that protects all those born in July.
      </p>
      <p>
        These pieces crafted from ruby will appear in your life once...or forever. Birthed straight from German's gnarled, caring hands,
        each particularly unique product will either go to you, or to another. This is the law of the auction.
      </p>
    </div>
    <div class="button-block">
      <a class="btn p1 block btn-max caps border-btn" href="/account/login">CREATE ACCOUNT</a>
    </div>

  </div>
  <div class="rte">
    <div
            id="products_on_auction"
            cust="{{ customer.id }}"
            page="{{ page.handle }}"
    ></div>
  </div>
  <div class="pa-loader">
    <div class="pa-spinner"></div>
    <div class="title-text">Please Wait...</div>
  </div>
</div>

