<style>
  .ggp-fullwidth {
  	width: 100%;
  }
  .img-desktop{
    display:block;
  }
  .img-mobile{
    display:none;
  }
  .ggp-pic-sm-statement,
  .ggp-pic-sm-delicate,
  .ggp-pic-sm-gold-plating,
  .ggp-pic-sm-halloween,
  .ggp-pic-sm-xmas,
  .ggp-pic-sm-under,
  .ggp-pic-sm-gc {
    background-size: 100%;
  }

  .ggp-padding-width {
  	padding: 0 40px;
  }

  .ggp-describer {
	margin-top: 40px;
  }

  .ggp-pic-sm {
    width: 100%;
    height: 100%;
    margin-top: 40px;
  }
  ul{
    margin:0;
    padding: 0;
  }
  .ggp-menu {
  	margin-top: 40px;
    list-style-type: none;
  }
  .ggp-menu
  .active::after{
    display: block;
    content: "";
    height:2px;
    background:black;
    width: 60%;
  }
  .ggp-menu li {
/*   	font-weight: 600; */
  }
  .ggp-menu.fixed
  {
  	position: fixed;
    top: 80px
  }
  .ggp-right
  {
  	position: relative;
    width: 400px;
  }
  .ggp-wrapper
  {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
  }
  .ggp-pic-sm-gc-container
  {
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 100%;
  }
  .absolute-button {

    display: inline-block;
    margin-bottom:4rem;
    width: 200px;
    background: none;
    border: 1px solid #000;
    color: #000;
    position:absolute;
    bottom:0;
    right:5%;
  }
  .image-text
  {
    min-width: 35%;
    width: 354px;
    position:absolute;
    bottom:0;
    left:5%;
    display:inline-block;
    text-align: center;
    padding-bottom: 4rem;
    color: #000000;
  }
  /*
  @media only screen and (max-device-width: 480px) {*/
  /*  !* styles for mobile browsers smaller than 480px; (iPhone) *!*/
  /*}*/
  /*@media only screen and (device-width: 768px) {*/
  /*  !* default iPad screens *!*/
  /*}*/
  /*!* different techniques for iPad screening *!*/
  /*@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {*/
  /*  !* For portrait layouts only *!*/
  /*}
  */
  @media(max-width: 460px)  {
   .grid .product-grid-item {width: 100%;}
  }
  /*@media only screen and (min-width:460px) and (max-width: 950px)  {*/
  /*  !* For portrait layouts only *!*/
  /*  .sm--one-half {width: 50%;}*/
  /*}*/

  @media(max-width: 950px)
  {
    .ggp-right {display: none;}
    .ggp-pic-sm {background-size: 100%; height: 100%}
    .ggp-pic-sm-gc {background-size: cover;height: 100%;}
    .px2{
      padding: 0;
    }
    .img-desktop{
      display:none;
    }
    .img-mobile{
      display:block;
    }
    .absolute-button {
      display: none;
      margin-bottom: 2rem;
      left: 0;
      width: 150px;
    }
    .image-text {
      display: none;
      top: 25px;
      padding: 0;
      font-size: 11px;
      width: 213px;
      min-width: 50%;
      text-align: center;
    }
  }
</style>


<div class="ggp-fullwidth">
  <div class="ggp-fullwidth-inner">
    <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Gift_guide_mobile-min.png?v=1611137730" class="img-mobile" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Gift_guide_-min.png?v=1611137730" alt="" class="img-desktop">
  </div>
</div>

<div class="ggp-wrapper">
  <div class="ggp-right">
    <ul class="ggp-menu">
      <li><a class="nav-item active" href="{{ page.url }}#statement">Statement</a></li>
      <li><a class="nav-item" href="{{ page.url }}#delycate">Delicate</a></li>
      {% comment %}<li><a href="{{ page.url }}#halloween">Halloween</a></li>{% endcomment %}
      <li><a class="nav-item" href="{{ page.url }}#christmas">Gold plating </a></li>
      <li><a class="nav-item" href="{{ page.url }}#under150">Under $150</a></li>
      <li><a class="nav-item" href="{{ page.url }}#giftcard">Gift card</a></li>
    </ul>
  </div>
  <div class="ggp-left">
    <div id="statement" class="ggp-padding-width" >
      <div class="ggp-describer">Our Gift Guide has been created to help you discover the perfect jewelry gift you are searching for. Our jewelry is crafted from rough precious stones and gem metals. Every item is unique. A true gift.</div>
      <a href="https://germankabirski.com/collections/style-statement/">
        <div class="ggp-pic-sm ggp-pic-sm-statement">
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Statement_mobile-min.png?v=1611138818" class="img-mobile" alt="">
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Statement-min.png?v=1611138818" alt="" class="img-desktop">
        </div>
      </a>

      <div class="ggp-describer ">Our Statement Collection is for self-made women. Here you will find the perfect gift for those who wish to make an impact. Emphasise their uniqueness. Bold. Daring. Vivacious.</div>
      <div style="margin-top: 0" class="grid grid--uniform sm--grid--half-gutter mtn3 lg--up--mtn4">
        {% assign i = 0 %}
        {% for product in collections.style-statement.products limit: 8 %}
              {% assign i = i | plus: 1 %}
              {% if i <= 7 %}
                <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
                  <a class="t--list-and-grid relative" href="{{ product.url }}">
                    <div class="relative">
                      <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
                      <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
                      <div style="font-size: 16px;">{{ product.price | money  }}</div>
                    </div>
                  </a>
                </div>
              {% endif %}
        {% endfor %}

        {% assign product = all_products['ec10530-610-amethyst-ring'] %}
        <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
          <a class="t--list-and-grid relative" href="{{ product.url }}">
            <div class="relative">
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
              <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
              <div style="font-size: 16px;">{{ product.price | money  }}</div>
            </div>
          </a>
        </div>

      </div>
      <div>
        <a style="display: block; margin: 0 auto; margin-top: 40px" class="btn border--none bg--tertiary-text p1 block btn-max caps" href=" https://germankabirski.com/collections/style-statement/" tabindex="0">Shop all</a>
      </div>
    </div>
    
    <div id="delycate" class="ggp-padding-width">
      <a href="https://germankabirski.com/collections/style-delicate/">
        <div class="ggp-pic-sm ggp-pic-sm-delicate">
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Delicate_2_mobile.png?v=1611141680" class="img-mobile" alt="">
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Delicate_2.png?v=1611139347" alt="" class="img-desktop">
        </div>
      </a>

      <div class="ggp-describer">Delve into our Delicate Collection. For women who exude subtlety and elegance. Jewelry designed with a touch of unique refinement with a hint of a rich inner world.</div>

        <div style="margin-top: 0" class="grid grid--uniform sm--grid--half-gutter mtn3 lg--up--mtn4">

        {% assign i = 0 %}
        {% for product in collections.style-delicate.products limit: 50 %}

              {% assign i = i | plus: 1 %}
              {% if i <= 8 %}
                <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
                  <a class="t--list-and-grid relative" href="{{ product.url }}">
                    <div class="relative">
                      <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />    
                      <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
                      <div style="font-size: 16px;">{{ product.price | money  }}</div>
                    </div>
                  </a>
                </div>
              {% endif %}

        {% endfor %}

      </div>
      <div>
        <a style="display: block; margin: 0 auto; margin-top: 40px" class="btn border--none bg--tertiary-text p1 block btn-max caps" href="https://germankabirski.com/collections/style-delicate/" tabindex="0">Shop all</a>
      </div>
    </div>

   {% comment %} <div id="halloween" class="ggp-padding-width">
      <div class="ggp-pic-sm ggp-pic-sm-halloween"></div>
      <div class="ggp-describer">Legend says that on All Hallows Eve, the Otherworld is closer than ever. In our Halloween Collection, you will find jewelry gifts for women who wish to create a spellbinding look. </div>
      <div style="margin-top: 0" class="grid grid--uniform sm--grid--half-gutter mtn3 lg--up--mtn4">
        
        	{% assign product = all_products['k207002-pecusla-earrings'] %}
            <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
              <a class="t--list-and-grid relative" href="{{ product.url }}">
                <div class="relative">
                  <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />    
                  <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
                  <div style="font-size: 16px;">{{ product.price | money  }}</div>
                </div>
              </a>
            </div>
        
        	{% assign product = all_products['k106011-paradisa-ruby-ring'] %}
            <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
              <a class="t--list-and-grid relative" href="{{ product.url }}">
                <div class="relative">
                  <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />    
                  <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
                  <div style="font-size: 16px;">{{ product.price | money  }}</div>
                </div>
              </a>
            </div>
        
        	{% assign product = all_products['k207001-calvina-amethyst-earrings'] %}
            <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
              <a class="t--list-and-grid relative" href="{{ product.url }}">
                <div class="relative">
                  <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />    
                  <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
                  <div style="font-size: 16px;">{{ product.price | money  }}</div>
                </div>
              </a>
            </div>
        
        	{% assign product = all_products['k205348-arden-blue-topaz-earrings'] %}
            <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
              <a class="t--list-and-grid relative" href="{{ product.url }}">
                <div class="relative">
                  <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />    
                  <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
                  <div style="font-size: 16px;">{{ product.price | money  }}</div>
                </div>
              </a>
            </div>
        
        	{% assign product = all_products['k205339-nabila-amethyst-earrings'] %}
            <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
              <a class="t--list-and-grid relative" href="{{ product.url }}">
                <div class="relative">
                  <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />    
                  <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
                  <div style="font-size: 16px;">{{ product.price | money  }}</div>
                </div>
              </a>
            </div>
        
        	{% assign product = all_products['k206005-visus-garnet-earrings'] %}
            <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
              <a class="t--list-and-grid relative" href="{{ product.url }}">
                <div class="relative">
                  <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />    
                  <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
                  <div style="font-size: 16px;">{{ product.price | money  }}</div>
                </div>
              </a>
            </div>
        
        	{% assign product = all_products['k105340-arbiana-peridot-ring'] %}
            <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
              <a class="t--list-and-grid relative" href="{{ product.url }}">
                <div class="relative">
                  <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />    
                  <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
                  <div style="font-size: 16px;">{{ product.price | money  }}</div>
                </div>
              </a>
            </div>
        
        	{% assign product = all_products['hm31017-cb-austia-chrysoberyl-pendant'] %}
            <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
              <a class="t--list-and-grid relative" href="{{ product.url }}">
                <div class="relative">
                  <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />    
                  <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
                  <div style="font-size: 16px;">{{ product.price | money  }}</div>
                </div>
              </a>
            </div>

      </div>
      <div>
        <a style="display: block; margin: 0 auto; margin-top: 40px" class="btn border--none bg--tertiary-text p1 block btn-max caps" href="https://germankabirski.com/search?q=Black+Anthracite" tabindex="0">Shop all</a>
      </div>
    </div>{% endcomment %}
    
    <div id="christmas" class="ggp-padding-width">
      <a href="https://germankabirski.com/collections/gold-plating-1">
        <div class="ggp-pic-sm ggp-pic-sm-xmas">
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/gold_plating_GG-min.jpg?v=1618490664" class="img-mobile" alt="">
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/gold_plating_GG-min.jpg?v=1618490664" alt="" class="img-desktop">
        </div>
      </a>

      <div class="ggp-describer">Give her some glittering jewelry to capture the spirit of Christmas. Show your love, commitment and friendship with a gift of 18 carat gold. </div>
      <div style="margin-top: 0" class="grid grid--uniform sm--grid--half-gutter mtn3 lg--up--mtn4">
          {% assign i = 0 %}

        {% for product  in collections.gold-plating-1.products   limit: 8  %}

                    {% assign i = i | plus: 1 %}
                    {% if i <= 8 %}
                      <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
                        <a class="t--list-and-grid relative" href="{{ product.url }}">
                          <div class="relative">
                            <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
                            <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
                            <div style="font-size: 16px;">{{ product.price | money  }}</div>
                          </div>
                        </a>
                      </div>
                    {% endif %}

            {% endfor %}
{% comment %}        {% assign product = all_products['k104184-otthild-blue-topaz-ring'] %}
        <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
          <a class="t--list-and-grid relative" href="{{ product.url }}">
            <div class="relative">
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
              <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
              <div style="font-size: 16px;">{{ product.price | money  }}</div>
            </div>
          </a>
        </div>

        {% assign product = all_products['hm10006-ru-iria-ruby-ring'] %}
        <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
          <a class="t--list-and-grid relative" href="{{ product.url }}">
            <div class="relative">
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
              <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
              <div style="font-size: 16px;">{{ product.price | money  }}</div>
            </div>
          </a>
        </div>

        {% assign product = all_products['hm10006-ts-mesen-tsavorite-ring'] %}
        <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
          <a class="t--list-and-grid relative" href="{{ product.url }}">
            <div class="relative">
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
              <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
              <div style="font-size: 16px;">{{ product.price | money  }}</div>
            </div>
          </a>
        </div>

        {% assign product = all_products['k104108-caritas-garnet-ring'] %}
        <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
          <a class="t--list-and-grid relative" href="{{ product.url }}">
            <div class="relative">
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
              <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
              <div style="font-size: 16px;">{{ product.price | money  }}</div>
            </div>
          </a>
        </div>

        {% assign product = all_products['k104219-edenia-peridot-ring '] %}
        <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
          <a class="t--list-and-grid relative" href="{{ product.url }}">
            <div class="relative">
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
              <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
              <div style="font-size: 16px;">{{ product.price | money  }}</div>
            </div>
          </a>
        </div>

        {% assign product = all_products['k206014-callesta-amethyst-earrings'] %}
        <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
          <a class="t--list-and-grid relative" href="{{ product.url }}">
            <div class="relative">
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
              <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
              <div style="font-size: 16px;">{{ product.price | money  }}</div>
            </div>
          </a>
        </div>

        {% assign product = all_products['hm10139-fs-livia-fancy-sapphire-ring'] %}
        <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
          <a class="t--list-and-grid relative" href="{{ product.url }}">
            <div class="relative">
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
              <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
              <div style="font-size: 16px;">{{ product.price | money  }}</div>
            </div>
          </a>
        </div>

        {% assign product = all_products['hm10139-lsa-livia-light-sapphire-ring'] %}
        <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
          <a class="t--list-and-grid relative" href="{{ product.url }}">
            <div class="relative">
              <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
              <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
              <div style="font-size: 16px;">{{ product.price | money  }}</div>
            </div>
          </a>
        </div>{% endcomment %}
        


      </div>
      <div>
        <a style="display: block; margin: 0 auto; margin-top: 40px" class="btn border--none bg--tertiary-text p1 block btn-max caps" href="https://germankabirski.com/collections/gold-plating-1" tabindex="0">Shop all</a>
      </div>
    </div>
    
    <div id="under150" class="ggp-padding-width">
      <a href="https://germankabirski.com/collections/under-150">

        <div class="ggp-pic-sm ggp-pic-sm-under">
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Under_150_mobile.png?v=1611141791" class="img-mobile" alt="">
          <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Under_150.png?v=1611139805" alt="" class="img-desktop">
        </div>
      </a>

      <div class="ggp-describer ">Seek for a gift that will impress her. Affordable yet truly special. Our selection of unique jewelry gifts crafted with rare precious gemstones are both beautiful and attainable. </div>
      <div style="margin-top: 0" class="grid grid--uniform sm--grid--half-gutter mtn3 lg--up--mtn4">
        
        {% assign i = 0 %}
        {% for product in collections.under-150.products limit: 50 %}

                  {% assign i = i | plus: 1 %}
                  {% if i <= 8 %}
                    <div class="product-grid-item grid__item sm--one-half md--up--one-quarter mt3 lg--up--mt4">
                      <a class="t--list-and-grid relative" href="{{ product.url }}">
                        <div class="relative">
                          <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />    
                          <div style="font-weight: 600;font-size: 16px;">{{ product.title | escape  }}</div>
                          <div style="font-size: 16px;">{{ product.price | money  }}</div>
                        </div>
                      </a>
                    </div>
                {% endif %}

        {% endfor %}

      </div>
      <div>
        <a style="display: block; margin: 0 auto; margin-top: 40px" class="btn border--none bg--tertiary-text p1 block btn-max caps" href="https://germankabirski.com/collections/under-150" tabindex="0">Shop all</a>
      </div>
    </div>

      <div id="giftcard"  class="ggp-padding-width" >
          <div style="position:relative;cursor:pointer;" class="ggp-pic-sm">
             <div class="ggp-pic-sm-gc">
               <a href="https://germankabirski.com/products/german-kabirski-gift-card">
                  <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Finale_1-min.png?v=1611755463" class="img-mobile" alt="">
                  <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/Desktop-min.jpg?v=1611575016" alt="" class="img-desktop">
               </a>
                 <div class="image-text">The world is full of variety. Let her treat herself with a Gift Card. The perfect choice. </div>
                 <a  class="btn border--none bg--tertiary-text p1 block btn-max caps absolute-button " href="https://germankabirski.com/products/german-kabirski-gift-card" tabindex="0">Buy</a>

              </div>

        </div>
    </div>

  </div>
</div>


<script>
  $(window).bind('scroll', function () {
    if ($(window).scrollTop() > 550) {
      $('.ggp-menu').addClass('fixed');
    } else {
      $('.ggp-menu').removeClass('fixed');
    }
  })

  // Add active class to the current button (highlight it)
  function activeMenuItem() {
    var header = document.querySelector(".ggp-menu");
    var btns = header.querySelector(".nav-item");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
  }

  activeMenuItem()


</script>

