<!-- {% section 'page-template' %} -->

<div class="bg--primary-background">
  <div class="privacy_wrap">
 <h1 >Privacy Policy</h1>
    <div class="privacy_wrap_inner">
        <img src="https://cdn.shopify.com/s/files/1/0026/2599/4801/files/pp_480x480.png?v=1572198635">
         <p>
      German Kabirski Inc (‘German Kabirski) acknowledges that your personal concerns belong only to you. Our customers, website visitors and users (known in entirety as the ‘Users’) who utilise www.germankabirksi.com (the ‘Site’) will have protected privacy. To do this, German Kabirski goes with a range of principles in agreement with international good practice for privacy of customers and data protection. This particular Privacy Policy outlines how German Kabirski utilises and safeguards any information that you proferr when you use the Site. When you access this Site, and make use of the aspects of this Site and deliver information to German Kabirski you are legally obligated to abide by all terms and conditions in the Terms of Use and this Privacy Policy.
      </p>
      <h4 class="heading_information"> INFORMATION WE COLLECT</h4>
      <p><strong>Information provided by you:</strong> Upon registering a new account, we gather some Personal Data (this is any information that relates to a recognized or recognizable natural person), for example your name, title, telephone number, email address, billing info or other comparable information.
      </p>
      <p>
        <strong>Device Identifiers:</strong> On occasion when you reach the Site using or via an electronic device, we may collect, hold, observe and/or remotely keep either one or numerous ‘device identifiers’. These give us the opportunity to individually ID your device and are useful for enhancing the Service (this includes communicating updated features and information from the Service). A device identifier doesn’t gather or share any personally recognizable facts about you. A device identifier may be utilized together with personally identifiable information.
      </p><p>
      <strong>Analytics:</strong> Upon accessing our Site, we may gather information (sometimes directly or with the use of third party services) which log and use cookies, which are occasionally equated with Personal Information. We then make use of information like this to observe and examine the use and general interest in the Service. See our passage on ‘Service Providers’ for extra information regarding this.
      </p><p>
      <strong>Log data:</strong> Usually with many website or technological services that are transmitted via Internet connection, our servers will automatically gather information when you reach or use our Site and keep a record of it in logged files.This logged information might be inclusive of the Internet Protocol (IP) address, the address of the website page that was reached before using the Site, the purchases made by you, the items you viewed, what type of browser you have as well as your browser settings, the time and date that you reached the Site, information about configuration of browser/plugins, as well as cookie data and language preference.
      </p><p>
      <strong>Cookie Information:</strong> Defined as a section of text that is memorized by a User’s web browser, they help the browser when it is remembering passwords, preferences and orders when a website is visited. We will use cookies and other comparable technologies like pixel tags as well as web beacons within our Site that will assist us in gathering particular user data about you (for example your preferences and items in your shopping card), which might then transform into Personal Data because of their link and connection directly to you. The Site might also be inclusive of cookies and comparable technologies that track from third parties, which might gather information about you through the Site and through other Site and online services. Our utilisation of cookies and technologies that are similar such as pixel tags and web beacons are usually for functional purposes, for performance of websites, to enhance how well things function within the Site and its advertisements. If you would like further information about how these technologies are used by us, you can look at the passage on ‘Service Providers’.

      </p>
      
      <h4 class="heading_information">USE OF INFORMATION</h4>
<p>German Kabirski will use details that German Kabirski gathers for the intention of achieving German Kabirski’s promises to you, in continuation of our valid interests in managing our Site and business and/or when you have agreed to such use. This is the legal base for the foe use of your Personal Information. More particularly, German Kabirksi uses Personal Information:
</p><p>
      <strong>To provide, update, maintain and protect our Site and business.</strong> Including the use of Personal Information to manage the delivery of the Site, avoid or deal with service errors, technical or security problems, examine and observe usage, activities or other trends at your desire.
</p><p>
This is inclusive of Personal Information in order to manage the delivery of the Site, to avert or manage service errors, technical or security problems, examine and observe use, trends and other activities when you make a request. German Kabirski may utilize your telephone number and email address to communicate with you and send notifications (inclusive of any notifications needed by law, in place of communication by post). If you communicate with German Kabirski via email, German Kabirski may keep the contents of your messages, your email address and our replies.
</p><p>
      <strong>As required by applicable law, legal process or regulation.</strong> German Kabirski may in some circumstances be pressed for legal reasons to manage your Personal Information in order to meet the terms of a binding order. German Kabirski will only do this to the point reasonably needed by the order. 
</p><p>
      <strong>To communicate with you by responding to your requests, comments and questions.</strong> If you get in touch with German Kabirski, German Kabirski may use your Personal information to reply to you.
</p><p>
      <strong>To send emails and other communications.</strong> German Kabirski may send you technical, service or other emails or communications. German Kabirski may also get in touch with you to update you about alterations in our product lines, and other vital communiques, such as any fraud updates or security notices.
</p><p>
      <strong>For billing, account management and other administrative matters.</strong> At times we might have to get in touch with you for invoice purposes, management of your account or other comparable reasons and we will utilize accounts information to manage/administer accounts and monitor bills and payments.
</p><p>
      <strong>To investigate and help prevent security issues and abuse.</strong>
</p><p>
      <strong>For marketing purposes.</strong> German Kabirski may also use any contact info to transmit marketing messages to you. If you live in the EEA we will only do this if you have chosen to be party to be the recipient of these types of communiques. If you wish not to be the recipient of these communications, you can always use the opt-out selection and follow the guidelines in the message.
      </p>
      
      <h4 class="heading_information"> INFORMATION SHARING AND DISCLOSURE</h4>
<p>German Kabirski does not hire, transfer or trade your personal data with any other third party with the exception of providing products/services that are asked for by you with your full permission or due to the following reasons:
      </p>
       <ul class="dash-list">
<li>Credit card processing companies, shipping/delivery companies, payment service companies (for example ‘Stripe’) provider of email service or any other third party that is needed to complete a purchase order that is put on to our Site. These third parties are disallowed from using your personal data for any commercial or promotional services.
         </li><li>German Kabirski will share non-personal information for the purpose of gaining a fuller understanding of the use of the Site by Users and with an aim to improve the personal experience.
</li><li>German Kabirksi will reserve the right to reveal your personal data when required by law:
</li><li>When German Kabirski feels that disclosing information is needed to protect our rights in order to abide by a legal process.
</li><li>At any time it may be necessary to avoid, examine or act upon activities that are unlawful, suspicious or illegal that may breach the Terms of Use or as required for legal reasons.
</li><li>To a buyer or any successive owners in the situation of a merger, restructuring, divestiture, dissolution, reorganization or other sale or transfer of some or all of our assets, as it might be a going concern or if it is included in a liquidation, bankruptcy or a similar procedure, in which personal data stored by German Kabirski about German Kabirski’s users is within the assets that are transferred.
         </li></ul>
      <p>
         Information that is shared by you within comment sections, online forums or through blogging articles are available to the public and your user/handle is also visible by other Users. Information that is shared voluntarily by you to the Site is not deemed personal data and is exempt from the Privacy Policy. German Kabirski isn’t responsible for any info that you send or share that can be seen by other Users and can also be utilised to communicate to you unasked for information by other Users.
      </p><p>
German Kabirski might occasionally opt to post up personal data regarding a user for promotional or purposes of the Site, before the posting of this information, German Kabirski will get the user’s permission through email message.
      </p>
      
      <h4 class="heading_information"> RETENTION OF DATA</h4>
<p>German Kabirski will keep your Personal Information for the length of time that is needed for the reasons outlined in this Privacy Policy. We will keep and utilise your Personal Information to the length that is needed to abide by our lawful obligations (Eg: if we are asked to keep your information to abide by specific laws), to find a solution to a dispute, to follow through on our legal contracts and policies.
      </p><p>
 

German Kabirski will also keep Usage Data for internal analyzation. Usage Data is usually kept for a shorter amount of time, apart from when this information serves to improve the security or to enhance the functions of our Service, or we are lawfully expected to keep this information for a longer period of time. 
      </p>
      <h4 class="heading_information"> TRANSFER OF DATA</h4>
      <p>
Your data, including Personal Information, may be at times transferred over to (also maintained on) computer systems placed outside your province, state, country or any other government jurisdiction where the Data Protection Laws might be different from those in your area. If you live outside the USA and opt to give information to us, please know that we transfer across the information, including Personal Information, to the USA and process it there. 
      </p><p>
When you give your consent to this Privacy Policy and when it is followed by your submission of that sort of information then it will serve as your agreement to that transfer of information.
      </p><p>
German Kabirski will follow all the procedures that are suitably needed to make sure that your information is treated safely and in conjunction with this Privacy Policy and there will not be a transfer of your Personal Information to any organization or country if there are not proper guidelines in situ, this includes the security of your information and other personal data. If the foregoing is not limited, if we transfer Personal Information that originates from Switzerland or the EU to other international countries that aren’t deemed suitable under the data protection law that is deemed applicable, then we will make sure that suitable safeguarding is put into place that includes (and is not limited to) the assurance that the Service Provider is EU-US Privacy Shield compliant or that it requires them to agree to the EU Standard Contractual Clauses.
      </p>
      
      <h4 class="heading_information">YOUR DATA PROTECTION RIGHTS UNDER GENERAL DATA PROTECTION REGULATION (GDPR)</h4>
<p>
      If you live in the EEA (European Economic Area), you already have some protected data privileges. German Kabirski intends to take sensible measures to permit you to amend, correct, erase or cap the use of your Personal Information.
      </p><p>
If you want to be apprised of what Personal Information we have concerning you and if you wish it to be taken off our computer systems, do not hesitate to get in touch by making use of the contact details provided.
      </p><p>
Sometimes depending on the circumstance, we work as Data Controller, and in those situations you have protection rights detailed as follows; 
      </p>
   <ul class="dash-list">
     <li>
Requesting access to your personal data (usually termed as ‘data subject access request’). This allows you to have a copy of the Personal Data that we have secured about you in cases when we act as Data Controller and to ensure that we are properly processing it.
     </li><li><strong>Requesting an amendment of the personal data that we have about you.</strong> This will allow you to have any unfinished or mistaken information that we hold of yours to be amended, although we might need to ensure verification of the correctness of the new information that you give us.
     </li><li><strong>Requesting deletion of your personal data.</strong> This allows you to request from us full deletion or removal of personal data where there isn’t a specific reason for us to continue with its processing. You also are permitted to request that we erase or remove your personal data in places where you have fully utilised your right to object to any processing (outlined below), in cases where we might have processed your data in an unlawful manner or in cases when we are compelled to delete your personal information in order to abide by local legal restrictions. Please know that in some cases we may not always be able to follow through with your request of deletion due to specific lawful reason which you will be fully informed of, where they apply, as a response to your request.
     </li><li><strong>When you make an objection to the processing of your personal data</strong> in cases when we rely on a legitimate interest (or that of a third party) and in cases when there is an issue with your particular circumstances which compels you to object to processing on these grounds because you feel it affects your basic freedoms and fundamental rights. In addition, you have the right to make an objection in cases when we process your personal data for direct marketing reasons. Sometimes, we might exemplify that we have important legitimate reasons to process your data which overrule your freedoms and rights.
     </li><li><strong>When you request a restriction of the processing of your personal data.</strong> This allows you to request that we make a suspension in the processing of your personal data. The following situations where this would apply are; (a) when you ask us to discover the accuracy of the information; (b) when our reason for using the information is illegal but you do not wish us to delete it; (c) when you wish us to keep secure the data in cases when we need it no longer because you need it in order to establish, defend or explore a legal claim; or (d) you have made an objection to our use of your data but when we need to make verification that we have an over ruling legitimate reason to use it. 
     </li><li><strong>Requesting a transfer of your personal data to yourself or a third party.</strong> We will give to you or a specified third party, your personal data in an organized, recognizable, machine-readable format. Please know that this right will only apply to automated data that you originally gave permission for us to use or in cases where we made use of the data to engage in a contract with you. 

     </li><li><strong>The withdrawal of permission at any stage where we rely on permission to process your personal data.</strong> Although, this will not make an impact on the legalities of any processing that is carried out prior to your withdrawal of permission. If you remove your consent, we might not be in a position to offer certain services to you in this case. We will give you guidance if this is the issue at the time that you remove your permission.
     </li></ul>
      <p>
     We ask that you are aware that you must make verification of your ID prior to replying to these requests. You always have the right to make a complaint to a Data Protection Authority concerning our collection and use of your Personal Information. For more details, please do not hesitate to get in touch with a data protection authority in your area within the EEA (European Economic Area).
      </p><p>
In cases where you prefer to exert any of the rights detailed previously, please get in touch by making use of our provided contact details.
</p><p>
There is no fee for accessing your personal data (or to exert any of the other freedoms/rights). Although we might have to charge a fair fee if your request is patently based on unfounded, disproportionate or repeated reasons. Otherwise, we might make refusal of compliance with your request in circumstances such as these.
</p><p>
Particular information may be asked for from you in order to assist us in confirming your ID and making sure that you have a right to gain access to your personal data (or to exert any of the other rights). This is a measure that we take for security that makes sure personal data is not revealed to anyone who has no valid right to hold it.
</p><p>
Contact might also be made from us to request extra information relating to your request in order that we may enhance and quicken our reply to you. 
      </p>
      
      <h4 class="heading_information">CHILDREN’S PRIVACY</h4>
<p>People under the age of 18 are not addressed by our Service. We never consciously gather personally identifiable details from any person that is below the age of eighteen. If you are a guardian/parent and you know that your minor has given us personal information of theirs, please get in touch. In cases when we realize that we have gathered Personal Information from underage children with no confirmation of parental consent, we will take measures to erase that particular data from our servers. 
      </p>
      <h4 class="heading_information">PROTECTING YOUR INFORMATION</h4>
<p>German Kabirski puts in place various measures of security to upkeep the safety of your personal data. These measures are followed through during the communication/transmission of personal data and also after they have been gathered. The safety of your personal data is of the utmost importance to us. All sensitive data given to us for example information of credit cards is always fully encrypted with the use of a safe and secure layer technology (SSL).
      </p>
      <h4 class="heading_information">THIRD PARTIES</h4>
<p>Sometimes, the Site may include links to other Sites. German Kabirski is not to be held responsible or liable for any activity or content on a separate third party Site. We would appeal to you to make time to read any privacy statement of the third party Site.
      </p><p>

German Kabirski might use third party advertising agencies to track or serve advertisements on our Site and other Sites. Third party advertising agencies might use details that are non-personal in connection to your visits to this Site or their Site so that they can ensure there is advertising that you might be interested in and in order to examine the effective nature of their adverts.
      </p>
      <h4 class="heading_information">SERVICE PROVIDERS </h4>
<p>We may hire a third party company or individuals to expedite our Service (‘Service Providers’) in order that they can offer the Service in our stead, to engage in Service-related Services or to help us with making an examination of the usage of our Service.
      </p><p>
Third parties such as these will have admission to your Personal Information for the sole reason of making sure these tasks are performed in our stead and are obliged not to reveal or make use of it for any other reason. 
      </p>
      <h4 class="heading_information">EDIT OR DELETE ACCOUNT</h4>
<p>In cases when your personally identifiable data is altered, or if you wish no more to have a German Kabirski account, you are permitted to make amendments, updates, or erase/deactivate your account by altering data on your account profile page. 
      </p>
      <h4 class="heading_information">CHANGES TO PRIVACY POLICY</h4>
<p>German Kabirski may alter or make updates occasionally to this Privacy Policy with is totally under its discretion and does not require any advance warning.
      </p>
      <h4 class="heading_information">EFFECTIVE DATE</h4>
      <p>This policy was last modified 09/20/19 </p>

      <h4 class="heading_information">CONTACT INFORMATION</h4>
      <p>If you have any questions in relation to our Privacy Policy, you can contact us:</p>

<p>German Kabirski, Inc.<br>
  1720 Dan Kipper Dr,<br>
  92507 Riverside CA,<br>
  USA<br>
<a href="tel:+18333615588" target="__blank">+18333615588</a>
</p>
      
      
    </div>
</div>
</div>

<style>
  .privacy_wrap h1{font-size:40px; margin-bottom:25px; text-transform:uppercase;}
  .privacy_wrap{max-width:87.5%; margin: 0 auto; padding:35px 0;}
  .privacy_wrap_inner { column-count: 2;}
  .privacy_wrap_inner img{width:95%; margin:0 0 20px; display:block; max-width:100%; height:auto;}
  .privacy_wrap_inner h3{font-size:20px; margin-bottom:30px}
  .privacy_wrap_inner h3 a{ text-decoration:underline; color:#000}
  .privacy_wrap_inner p{font-size:16px; margin-bottom:30px;}
  .privacy_wrap_inner .list_head{margin-bottom:0}
  .privacy_wrap_inner .heading_information{font-size:20px; color:#000; display:inline-block; text-decoration:underline; margin-bottom:30px;}
  .dash-list{padding:0; margin-top:0; margin-bottom:30px;}
  .dash-list li{font-size:16px; position:relative; margin-bottom:0; padding-left:25px; display:block;}
  .dash-list li:after{content:'-'; font-size:16px; position:absolute; top:0; left:0;}
  @media screen and (max-width: 767px) {
    .privacy_wrap_inner { column-count: 1;}
    .privacy_wrap_inner img{width:100%;}
    .privacy_wrap {
    max-width: 100%;
    margin: 0 auto;
    padding: 35px 15px;
}
  }
</style>