
        {% section 'product' %}
{% section 'swatch-colors' %}




{% include 'betterrecs' %}
<style>
  @media (max-width: 767px){
main#MainContent {
    padding-top: 100px;
}
  
}
  
</style>

<script>
  var conceptName = $('#SingleOptionSelector-1 :selected').text();
  $('#metal-tone').text(conceptName);
  
  $('input[type="radio"][name="option-1"]').on('change', function() {
 
  $('#metal-tone').text(this.value);
});
</script>

{% if product.metafields.loox.num_reviews %}
<script id="looxSchemaJson" type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Product",
	"@id": {{ canonical_url | json }},
	"aggregateRating": {
		"@type": "AggregateRating",
		"ratingValue": "{{ product.metafields.loox.avg_rating }}",
		"reviewCount": "{{ product.metafields.loox.num_reviews }}"
	},
	"name": {{ product.title | json }}
}
</script>
{% endif %}


	<div id="looxReviews" data-product-id="{{product.id}}" class="loox-reviews-default">{{ product.metafields.loox.reviews }}</div>
<style>
  .resp-img-wrapper.js .resp-img, .resp-img-wrapper.js .resp-img-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
</style>
        {% comment %}
        {% include 'nosto-element' with 'productpage-nosto-1' %}

        {% include 'nosto-element' with 'productpage-nosto-2' %}

        {% include 'nosto-element' with 'productpage-nosto-3' %}{% endcomment %}


<div id="stamped-main-widget" class="stamped-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: " ? ", " % 3F" | replace: "& "," % 26"}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}"> {{ product.metafields.stamped.reviews }} </div>
