
{% include 'nosto-element' with 'searchpage-nosto-1' %}
{%- include 'global-variables' -%}
{%- assign section_color = 'primary' -%}

{% paginate search.results by 12 %}

<div class="shopify-section">
  <section class="color--{{ section_color }}-text bg--{{ section_color }}-background">
    <div class="max-site-width px2 lg--up--px3">
      <div class="grid">

        <div class="grid__item pb3">
          <h1 class="{{ global__heading_size }} bc-sf-search-result-header">
            {% include 'bc-sf-filter-skeleton', width: 2 %}
          </h1>
          <form action="/search" method="get" class="input-group search lg--up--mt3" role="search">
            <label for="search" class="hide">{{ 'general.search.submit' | t }}</label>
            <input type="search" name="q" 
              value="{{ search.terms | escape }}" 
              placeholder="{{ 'general.search.placeholder' | t }}" 
              class="py1 bg--transparent search__input input-group-field border--none border-bottom--primary-text font-size--m" 
              aria-label="{{ 'general.search.placeholder' | t }}" 
              data-search-input 
            >
            <span class="input-group-btn search-btn">
              <button type="submit" class="block font-size--sm bg--transparent color--main border--none">
                {% include 'svg', icon: 'icon-search' %}
              </button>
            </span>
          </form>
        </div>

        <div class="grid__item">
          <div id="bc-sf-filter-tree-mobile">
            {% include 'bc-sf-filter-skeleton', type: 'button' %}
          </div>
          <div id="bc-sf-filter-tree">
            {% include 'bc-sf-filter-tree-placeholder' %}
          </div>
          <div id="bc-sf-filter-tree-h">
            {% include 'bc-sf-filter-tree-placeholder-h' %}
          </div>

          <div class="grid grid--uniform mtn3" id="bc-sf-filter-products">
            {% for item in search.results %}
              {% if item.object_type == 'product' %}
                  <div class="grid__item md--dn--one-half lg--up--one-third mt3" >
                    {% assign product = item %}
                    {% include 'product-grid-item' %}
                </div>
              {% endif %}
            {% endfor %}
          </div>

          {% if paginate.pages > 1 %}
          <div class="pagination {{ global__basic_font_size }} pt4" id="bc-sf-filter-bottom-pagination">
            {% include 'pagination' %}
          </div>
          <div id="bc-sf-filter-load-more"></div>
          {% endif %}

        </div>
      </div>
    </div>
  </section>
</div>

{% endpaginate %}

<script>
  // Declare bcSfFilterConfig variable
  var bcSfFilterConfig = {
    label: {
      sorting: {% assign temp = 'collections.sorting.title' | t  %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Sorting" {% endunless %},
      sorting_best_selling: {% assign temp = 'collections.sorting.best_selling' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Best Selling" {% endunless %},
      sorting_featured: {% assign temp = 'collections.sorting.featured' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Featured" {% endunless %},
      sorting_title_ascending: {% assign temp = 'collections.sorting.az' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Alphabetically, A-Z" {% endunless %},
      sorting_title_descending: {% assign temp = 'collections.sorting.za' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Alphabetically, Z-A" {% endunless %},
      sorting_price_ascending: {% assign temp = 'collections.sorting.price_ascending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Lowest Price" {% endunless %},
      sorting_price_descending: {% assign temp = 'collections.sorting.price_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Highest Price" {% endunless %},
      sorting_date_ascending: {% assign temp = 'collections.sorting.date_ascending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Date, Old to New" {% endunless %},
      sorting_date_descending: {% assign temp = 'collections.sorting.date_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Date, New to Old" {% endunless %},
      sorting_sale_descending: {% assign temp = 'collections.sorting.sale_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "% Off" {% endunless %},
      sorting_relevance: {% assign temp = 'collections.sorting.relevance' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Relevance" {% endunless %},
      search_general_title: {% assign temp = 'product_filter_search.search_general_title' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} 'Search' {% endunless %},
      search_result_header: {% assign temp = 'product_filter_search.search_result_header' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} {% raw %}'Search Results for "{{ terms }}"'{% endraw %} {% endunless %},
      search_result_empty: {% assign temp = 'product_filter_search.search_result_empty' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} {% raw %}'Your search for "{{ terms }}"" didn\'t match any results'{% endraw %} {% endunless %},
      search_result_number: {% assign temp = 'product_filter_search.search_result_number' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} {% raw %}'Showing {{ count }} results for "{{ terms }}"'{% endraw %} {% endunless %},
      
      sold_out: {{ 'products.product.sold_out' | t | json }},
      from: {{ 'products.product.from_text_html' | t | json}},
      search_result_empty: {{ 'general.search.no_results_html' | t | json }},
      search_result_number_one: {{ 'general.search.results_with_count.one' | t | json }},
      search_result_number_other: {{ 'general.search.results_with_count.other' | t | json }},
    },
    custom: {
      products_per_page: 12,
      products_per_row_desktop: {% if section.settings.posts_per_row_desktop %} {{ section.settings.posts_per_row_desktop | json }} {% else %} 'one-quarter' {% endif %},
      products_per_row_mobile: {% if section.settings.posts_per_row_mobile %} {{ section.settings.posts_per_row_mobile | json }} {% else %} 'one-half' {% endif %},
      layout: 'grid',
      fade_in: {% if fade_in %} {{ fade_in | json }} {% else %} true {% endif %},
      col_count_desktop : {% if col_count_desktop %} {{ col_count_desktop }} {% else %} 1 {% endif %},
      section_color : 'primary',
      global__basic_font_size: {% if global__basic_font_size %} {{ global__basic_font_size | json }} {% else %} "font-size--sm line-height--4 wd--font-size--m wd--line-height--4" {% endif %},
    }
  };
</script>

<style>
  .resp-img-wrapper.js .resp-img, .resp-img-wrapper.js .resp-img-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
</style>

{% include 'nosto-element' with 'searchpage-nosto-2' %}
